[2021-12-06 01:44] brickspert commented on #1346
![image](https://user-images.githubusercontent.com/12526493/144774267-5b1809f6-6e21-4994-8f23-506911085045.png)
https://ahooks.js.org/zh-CN/hooks/table/use-antd-table#1-%E6%97%A0%E6%B3%95%E8%AF%BB%E5%8F%96%E6%88%96%E5%88%9D%E5%A7%8B%E5%8C%96%E8%87%AA%E5%AE%9A%E4%B9%89%E8%A1%A8%E5%8D%95%E7%BB%84%E4%BB%B6%E7%9A%84%E5%80%BC

[2021-12-06 01:44] #1346 closed, assigned to nobody

[2021-12-06 01:47] brickspert commented on #1341
支持的，这个自己传递给 Table 组件即可。

[code]

[2021-12-06 01:47] #1341 closed, assigned to nobody

[2021-12-06 01:55] brickspert commented on #1347
1. 命名这个，好像是有点问题，我们内部讨论下。
2. useMemorizedFn 是不需要传入 `dependencies` 的。
3. 关于 `fnRef.current = useMemo(() => fn, [fn]);` ，这行代码上面有一行注释，贴了一个 issue 地址：#728 ，这行代码确实是无意义的，但是可以避免在 devtool 模式下的异常行为。
4. 核心代码不是 useMemo 这一句，是下面的代码。

[2021-12-06 02:13] brickspert commented on #1347
命名是没有问题的，此处确实应该用 `memoized`。

https://segmentfault.com/a/1190000040464722
https://wikidiff.com/memoize/memorize

[2021-12-06 08:55] GeraltX commented on #1173
忽然想到个问题，如果把请求状态放在子组件中处理，那如果父组件是虚拟滚动的列表，那子组件的请求状态就丢失了。

[2021-12-06 10:12] benzhemin commented on #1347
Hi @brickspert 感谢您的回复.

我没有看懂这段代码的作用,
[code]

可以直接返回function作用是一样的?

[code]

或者说: useRef只是把上面的函数缓存了一下, 好像并没有其他作用.....所以我这里把它忽略了.

不知道我理解对不对

[2021-12-06 10:42] hemengke1997 opened #1349 "useUrlState在vite打包后报错"
![image](https://user-images.githubusercontent.com/49073282/144832205-b419770d-e854-4fe5-86f1-879be1653553.png)
![image](https://user-images.githubusercontent.com/49073282/144832293-ef6e2a96-0fa7-4000-ac2d-a0ece12a8459.png)

本地运行没问题，打包部署后报错，所以无法给复现...

[2021-12-06 11:05] brickspert commented on #1347
返回的函数地址需要是不可变的。 通过 useRef 缓存了函数。

[2021-12-06 11:05] #1345 closed, assigned to nobody

[2021-12-06 12:24] brickspert commented on #1349
fixed on v3.0.0-alpha.18

[2021-12-06 12:24] #1349 closed, assigned to nobody

[2021-12-06 12:25] brickspert commented on #1344
added on v3.0.0-alpha.18

[2021-12-06 12:25] #1344 closed, assigned to nobody

[2021-12-06 12:25] brickspert commented on #884
added on v3.0.0-alpha.18

[2021-12-06 12:25] #884 closed, assigned to brickspert

[2021-12-06 12:27] #1331 closed, assigned to nobody

[2021-12-06 12:28] brickspert commented on #1323
v3.0.0-alpha.18 提供了一个 `clearCache` 能力来清空缓存。

至于 refresh 是否会强制刷新，这个暂时不会添加。

[2021-12-06 12:28] #1323 closed, assigned to brickspert

[2021-12-06 12:32] #1312 closed, assigned to nobody

[2021-12-06 12:54] benzhemin commented on #1347
@brickspert 懂了, 感谢 [thumbs up]

[2021-12-06 12:54] #1347 closed, assigned to brickspert

[2021-12-06 13:33] MarkLyck opened #1350 "useUrlState broken with react-router@6.x"
When upgrading to react-router-dom v6.x I get the following error from use-url-state;

[code]

I tried both of these versions:

`"@ahooksjs/use-url-state": "2.5.11",`
`"@ahooksjs/use-url-state": "^3.0.0-alpha.4",`

I get the same error on both.

react-router-dom and react-router v6, no longer has a 'useHistory export, they changed it to 'useNavigate'

[2021-12-07 02:10] brickspert commented on #1350
Hi, you should use the newest version `v3.0.0-alpha.18` , we have support react-router v6.

[2021-12-07 03:42] heiyexing opened #1351 "可否新增一个持久化存储在IndexDB的状态管理Hook，类似useLocalStorageState"

[2021-12-07 11:50] 957651480 opened #1352 "ts 使用useusePagination 时 onChange 没有类型没有适配上"
![image](https://user-images.githubusercontent.com/10103541/145024086-80267f01-6487-4d99-a76f-12abfddc17d2.png)

TS2322: Type '(c: number, p: number) => void' is not assignable to type '(page: number, pageSize?: number | undefined) => void'.   Types of parameters 'p' and 'pageSize' are incompatible.     Type 'number | undefined' is not assignable to type 'number'.       Type 'undefined' is not ass

[2021-12-07 11:57] 957651480 commented on #1352
后面直接这样就正常了onChange:(page,pageSize)=>pagination.onChange,

[2021-12-07 17:44] MarkLyck commented on #1350
@brickspert ahh thanks, I tried that version and it seems to work in the browser now, but my test environments are now broken.

I'm using Jest with the "MemoryRouter" from react-router-dom (which used to work fine).

but the new `useUrlState` seems to be incompatible with the MemoryRouter in v6?

I tried switching one of my tests from using `MemoryRouter` to `BrowserRouter` and that passed just fi

[2021-12-08 01:40] brickspert commented on #1350
OK, I will check it

[2021-12-08 14:06] maximeroma opened #1353 "Pick only the packages you need."
Love your lib but my project need to be as light as possible. Do you have a way to publish the packages separately?

[2021-12-09 01:46] brickspert commented on #1353
Hi, You don’t need to worry about the size or others, webpack will remove the unused hooks when build (treeshaking)~

[2021-12-09 11:58] thinkingc opened #1356 "useRequest 去掉的 formatResult，如何拦截响应数据呢"
useRequest 去掉的 formatResult，如何拦截响应数据呢

[2021-12-09 12:00] brickspert commented on #1356
service 返回期望的最终数据就好了~~

[code]

[2021-12-10 01:43] thinkingc commented on #1356
useRequest 第一个参数只能是返回Promise的函数，不能是字符串、对象，或者返回对象的函数了吗？
感觉这个限制不太好，之前用的时候第一个参数很多都是直接传个对象或字符串。

升级好麻烦，而且也感觉不方便了，不想升级了。

[2021-12-10 01:49] IronKinoko commented on #1340
useInfiniteScroll 监听document滚动该怎么写，target传的是什么？
我尝试了 window , document , document.body , document.scrollingElement 都没有效果 @brickspert

[2021-12-10 02:11] thinkingc opened #1358 "3.x 版本的 useRequest 升级麻烦"
2.x 好用的地方
1. 可以在全局配置 UseRequestProvider 的 requestMethod 默认用自己的请求器，比如统一用axios，或者公司自己封装的 $http
2. 第一个参数接收 string 、 object 、 (...args) => string | object，使用上面配置的请求器很方便
3. formatData 拦截处理响应数据

3.x 不好用的地方
1. 第一个参数只能接收 (...args: TParams) => Promise<TData>，限制的很死板，虽然可以在这个函数里面定制各种功能，但变的很笨重。
2. 升级困难，需要改动每一个useRequest请求，**能否基于2.x做个兼容呢**？

[2021-12-10 02:13] brickspert commented on #1356
这种需求建议自己基于 useRequest，封装一个 Hooks~~

[2021-12-10 03:03] brickspert commented on #1358
建议基于 useRequest 封装一个自己的 Hooks，类似：

[code]

这样比较灵活。

[2021-12-10 06:50] zm8 opened #1359 "使用了缓存的 cacheKey 之后报错"
[code]
手机端报错了, 看了下是 ```cachePromise.ts``` 使用了 ```promise.finally```,   这个pollyfill 要自己加? 请问下建议?

https://github.com/alibaba/hooks/blob/8a443f5f3fbd0fd2fdd732059d9a8262493688c7/packages/hooks/src/useRequest/src/utils/cachePromise.ts

[2021-12-10 07:14] zm8 commented on #1359
ahooks 需要依赖哪些 pollyfill, 建议文档上面写下,
Map 和 Set 因为 React 本身也依赖了, 不写问题不大,
其它的是否需要补充下文档？

[2021-12-10 07:56] brickspert commented on #1359
我看下兼容性这边需要怎么搞

[2021-12-10 08:10] brickspert commented on #1358
这个我补充到文档里面，整体思路还是一些高级功能希望大家基于 useReqeust 封装来解决。

[2021-12-13 03:12] Coder-JJ opened #1375 "ready和refreshDeps同时变化时重复发起请求"
##### 版本：`3.0.0-alpha.18`

个人理解，ready和refreshDeps同时变化时，应该做联合判断

[code]

[2021-12-13 03:27] brickspert commented on #1375
看下这个讨论：https://github.com/alibaba/hooks/discussions/1291#discussioncomment-1771244

已经在 v3.0.1 修复这个问题了

[2021-12-13 03:27] #1375 closed, assigned to nobody

[2021-12-13 07:02] #1286 closed, assigned to nobody

[2021-12-13 09:29] zhangLeLer commented on #610
我也遇到这个问题, form.getFildValues是有值的, 但是在useRequest里面, formData的值为undefined

[2021-12-14 07:08] GeraltX opened #1378 "能问一下为什么 useRequest 取消了并行请求的能力吗"
如果父组件是个虚拟滚动列表，子组件中发请求，那滚动时子组件的请求状态就丢失了。

[2021-12-14 09:55] #1353 closed, assigned to nobody

[2021-12-14 09:58] brickspert commented on #610
v3.0.2 版本已经修复了这个问题啦，XDM。

[2021-12-14 09:58] #610 closed, assigned to brickspert

[2021-12-14 11:35] brickspert commented on #1378
1. 为什么取消了并行请求？

useRequest 实现并行能力复杂度太高。
我们建议将 请求和UI 封装成一个组件实现并行请求的能力。而不是把所有请求都放到父级。

2. 虚拟滚动场景，确实会有问题。这种场景建议自行管理请求状态。

o(╥﹏╥)o

[2021-12-14 11:35] #1378 closed, assigned to nobody

[2021-12-14 11:58] #1358 closed, assigned to nobody

[2021-12-14 11:58] #1356 closed, assigned to nobody

[2021-12-14 12:00] brickspert commented on #1356
Relation #1358

[2021-12-14 13:15] brickspert commented on #1340
v3.0.3 修复了这个问题，现在传递 document 就可以了。

[2021-12-14 13:15] #1340 closed, assigned to brickspert

[2021-12-14 15:30] fubd opened #1379 "useScroll 能返回函数用于控制元素滚动到特定位置吗"

[2021-12-15 01:50] brickspert commented on #1379
应该直接用 [Element.scrollTo](https://developer.mozilla.org/zh-CN/docs/Web/API/Element/scrollTo) 滚动到指定位置就可以了。

[2021-12-15 01:50] #1284 closed, assigned to nobody

[2021-12-15 09:43] transon-top opened #1380 "使用import { useAsyncEffect } from 'ahooks';报错"
`Attempted import error: 'useAsyncEffect' is not exported from 'ahooks'.`

版本:  "ahooks": "^3.0.3",

代码:
`import { useAsyncEffect } from 'ahooks';
 useAsyncEffect(async () => {
    ................
  }, []);
`

[2021-12-15 09:48] programmer-yang opened #1381 "关于useRequest的请求参数维护"
## 起因
业务开发中，存在很多请求参数维护+请求+响应数据处理的场景，如下
[code]
在业务代码很多的时候，这种自己维护请求参数的代码很多，并且在单页面多请求的场景下，请求参数维护数量也会随请求数量增加而增加
## 期望
我希望`useRequest`内部能实现请求参数托管
[code]

## 备注
useRequest3.x版本之前，我这边是基于`useRequest`做了二次封装，实现了`onChangeParams`的逻辑，最近看到3.x版本更新，我想提一个pr，但看到3.x代码改变了很多，比如`pagination`的能力都独立为单独的hook，我理解是因为`useRequest`现在是抽离为一个基础版本，提供插件能力，不同的场景基于插件能力单独实现，所以我在想我是否直接在pr中实现一个新的hook，用来实现请求参数的托管的场景，但代码量可能很少，界线划分也不是很明确，所以

[2021-12-15 09:55] #1380 closed, assigned to nobody

[2021-12-15 10:09] brickspert commented on #1350
Hello~  fixed on v3.0.4

[2021-12-15 10:09] #1350 closed, assigned to brickspert

[2021-12-15 12:03] brickspert commented on #1381
感觉集成到原生 useRequest 似乎必要性不是很大，建议自行封装 Hooks 解决。

3.x 的 useRequest 已经不再支持第一个参数是 `string` 和 `object` 了，是一个更纯粹的 Promise 管理工具。

另外你的代码是不是可以这样写？

[code]

[2021-12-15 12:21] FloaJa opened #1383 "useRequest同时调用多次runAsync, onSuccess只执行一次"
[code]
"ahooks": "^3.0.3",

[2021-12-15 12:56] brickspert commented on #1383
这是预期行为，useRequest 会进行竞态处理，只会响应最新的一次请求。

之前的请求都会被废弃，防止老的请求，最后返回，造成的数据问题。

[2021-12-16 01:42] programmer-yang commented on #1381
是的，我也觉得集成到原生 useRequest 没有必要，就是业务开发中感觉频繁的定义参数，触发参数改变，代码有些冗余
[code]
如果hook内能进行参数托管，代码会简洁很多

[2021-12-16 01:43] #1381 closed, assigned to nobody

[2021-12-16 02:07] FloaJa commented on #1383
是我陷入误区了, 不依赖`useRequest`提供的其他功能的话, 这种场景其实直接调用`queryEnum`即可

[2021-12-16 02:07] #1383 closed, assigned to nobody

[2021-12-16 11:03] kechen123 opened #1385 "typescript useMap语法报错"
"typescript": "^4.1.2",
"ahooks": "^3.0.0-alpha.18",

是我哪里设置的有问题吗

![image](https://user-images.githubusercontent.com/16396880/146359983-49903c27-b106-4c28-bba3-9567cbfab67f.png)

tsconfig.json文件
![image](https://user-images.githubusercontent.com/16396880/146360169-4abb959a-1eb8-4099-8c85-bda35943f0fe.png)

[2021-12-16 12:21] #1379 closed, assigned to nobody

[2021-12-16 12:22] #1336 closed, assigned to nobody

[2021-12-16 12:22] #1324 closed, assigned to nobody

[2021-12-16 12:59] eightHundreds commented on #1173
我想了解下在2.0中throwOnError 我全部设置为true,是不是没问题?应该不会影响到渲染而且抛出的异常内容会更精准？之前为什么考虑加这个功能？

[2021-12-16 13:06] brickspert commented on #1173
1. 不会影响到渲染而且抛出的异常内容会更精准
2. 之前对异常的处理理解有问题，想一个 run 解决问题，但是不现实。 所以 3.0 提供了 run 和 runAsync

[2021-12-16 13:40] awmleer commented on #1385
<img width="603" alt="image" src="https://user-images.githubusercontent.com/16526078/146382473-cb63f2a4-d217-48e7-b01c-fc2d60746cc4.png">

不科学啊，我试了一下是正常的

[2021-12-17 09:53] amazecc opened #1386 "useSetState 不够类型安全"
导致 useSetState 类型不安全的用例：

![image](https://user-images.githubusercontent.com/19689743/146524367-e02c57c2-a548-48f3-9409-0ab9fad5e4a2.png)

有三个问题：
1. 默认值会导致类型无法正确校验
2. Partial 会增加 undefined 类型，导致 setState 类型推到错误
3. 是否需要考虑回调函数返回 null 的情况，此时不重新渲染，保持和类组件 setState 行为类似

参考：

[code]

[2021-12-18 04:01] kechen123 commented on #1385
是啊 不知道啥情况 我试着把 ts和 ahook版本都更新到最新还是这样

[2021-12-19 05:25] rimsila commented on #1317
@brickspert  In my case above I'm not sure the root cause but I have test I see new case when useReactive contain react element or form data it cause the error
[code]
here is my reproduce https://codesandbox.io/s/condescending-pateu-rkq85?file=/App.tsx

[2021-12-19 14:20] xyhxx opened #1387 "会不会考虑新增一个可以延迟调用的timeout"
可能会以下面这种形式调用
[code]

应用场景可能会是请求完成后一个toast提示然后关闭路由，这时用户也可能会主动回退  对应的timeout也会进行clearn

[2021-12-19 22:49] fockboi-lgtm opened #1388 "[Security] Workflow node-ci.yml is using vulnerable action actions/checkout"
The workflow node-ci.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2

[2021-12-20 01:46] brickspert commented on #1387
可以通过 [useTimeout](https://ahooks.js.org/hooks/use-timeout) 来达到这样的效果。

[code]

[2021-12-20 01:46] #1387 closed, assigned to nobody

[2021-12-20 01:48] brickspert commented on #1385
同正常

[2021-12-20 09:12] brickspert commented on #875
fixed on v3.0.6~

[2021-12-20 09:12] #875 closed, assigned to brickspert

[2021-12-20 13:11] brickspert commented on #1359
v3.0.7 暂时移除了 promise.finally 的使用。

[2021-12-21 02:16] hangaoke1 opened #1392 "peerDependencies中React版本声明问题"
ahooks版本v.1.1.5中升级了react-reconciler@0.26.2，但是这个包中声明的peerDependencies是17.x，与ahooks中声明的16.x冲突，导致npm自检失败

[2021-12-21 02:23] FloaJa opened #1393 "useRequest自定义缓存, 能否支持不重新发起请求呢"
缓存对于不变的枚举列表来说太方便了, 但是项目规定要存入session, 通过自定义缓存实现后, 还是每次都要发起请求
希望: 比如`getCache`返回`null`或者`undefined`才会重新发起请求这样

[2021-12-21 02:39] brickspert commented on #1393
配置 `options.staleTime = -1` 即可

[2021-12-21 02:42] brickspert commented on #1392
ahooks v1.1.5？是不是错了。。 ahooks 现在都 v3 版本了。

ahooks 声明的是 `^16.8.6 || ^17.0`

[2021-12-21 03:01] hangaoke1 commented on #1392
不好意思，走错路了，是hox库里的问题 emmm

[2021-12-21 03:01] #1392 closed, assigned to nobody

[2021-12-21 03:10] FloaJa commented on #1393
不行诶, 自定义缓存之后`staleTime`不生效

[2021-12-21 03:26] baqihg opened #1394 "两个 useUrlState hook在合成事件里面同时 setUrlState，只会更新最后一次 setUrlState 的值"
https://codesandbox.io/s/solitary-thunder-3gs1z?file=/App.tsx

点击 click 只会改变 count2 的值

[2021-12-21 03:37] brickspert commented on #1394
暂时合并成同一个 useUrlState 用，然后我优化下代码~

[2021-12-21 03:40] brickspert commented on #1393
https://codesandbox.io/s/nice-river-vz3sq?file=/App.tsx

生效的，看下这个 demo。

[2021-12-21 06:19] fubd opened #1396 "useSelections 能否暴露出 disabled 和 setDisable"

[2021-12-21 06:31] brickspert commented on #1396
是不是可以在自己项目中处理？比如禁用的项，点击时不要触发 `select/unselect/toggle`？

或者你是希望 `selectAll/unSelectAll/toggleAll` 不要变化禁用的项？

[2021-12-21 06:42] fubd commented on #1396
@brickspert 希望 selectAll/unSelectAll/toggleAll 不要变化禁用的项。useSelections本身封装了常见的checkbox逻辑，启用禁用的控制也算是常见的checkbox逻辑。

[2021-12-21 12:22] JJunYang opened #1397 "UseRequest 支持debouncewait？"

[2021-12-21 12:22] #1397 closed, assigned to nobody

[2021-12-21 12:27] JJunYang opened #1398 "Userequest 支持debouncewait参数么？"
使用useRequest的时候，options.debounceWait无法设置，只能找到debounceInterval这个选项，跟文档说明有点出入https://ahooks.js.org/zh-CN/hooks/use-request/debounce。
![截屏2021-12-21 下午8 26 32](https://user-images.githubusercontent.com/50793382/146929869-be58e228-75b0-4f9a-8da0-4df1e9a70eca.png)

[2021-12-21 18:59] equinusocio opened #1399 "Add hook to detect focusWithin and focusOutside"
**Is your feature request related to a problem? Please describe.**
An hook to detect if focus is moved within or outside an element would be useful for accessibility, like the `:focus-within` css selector.

**Describe the solution you'd like**
DEMO:
https://react-spectrum.adobe.com/react-aria/useFocusWithin.html

EXAMPLE SRC
https://github.com/adobe/react-spectrum/blob/main/packages/%40react-aria/

[2021-12-22 01:43] brickspert commented on #1398
文档是 v3.0 版本的，你应该用的还是 v2.0 版本的奥~  2.0 还不支持 debouncewait~

[2021-12-22 01:43] #1398 closed, assigned to nobody

[2021-12-22 02:02] wwb1021925026 opened #1400 "formatResult"
请问3.0后是否已经不能用formatResult方法来处理返回回来的数据格式呢

[2021-12-22 03:34] brickspert commented on #1399
This Hooks is more used in the basic component library, and it is hardly used in the actual business code? I haven't encountered a similar scene, which requires JS to handle it.

o(╥﹏╥)o

[2021-12-22 03:35] brickspert commented on #1400
是的，需要 service 返回符合最终要求的数据格式。

![image](https://user-images.githubusercontent.com/12526493/147031230-2bb2180a-9e58-4e76-b45c-d8a8173ea6b3.png)

[2021-12-22 03:35] #1400 closed, assigned to nobody

[2021-12-22 06:57] zm8 commented on #1359
好的，下次如果使用类似兼容性的代码时，期望加强 code review，否则使用库的人容易造成生产故障。

[2021-12-22 07:48] equinusocio commented on #1399
This hook is useful when building a components library yes. For example in dialogs component, which requires to be removed from the dom/unmounted when the user navigate outside it with the keyboard.

A real example is a dropdown component, when the dropdown is open and the user navigates the items inside using the keyboard, the dropdown should close (and be unmounted) once the focus goes outside i

[2021-12-22 08:24] brickspert commented on #1399
Wow, your components are so surprised!

In my cognition, components such as DropDown are clicked outside to trigger hidden, such as the [DropDown](https://ant.design/components/dropdown/) component of ant design.

So we provide [useClickAway](https://ahooks.js.org/hooks/use-click-away) to meet such scenarios.

But it is true that blur behaviors such as `tab` also require unmount components.

But a

[2021-12-22 08:31] #1393 closed, assigned to nobody

[2021-12-22 08:41] equinusocio commented on #1399
Yes, this is for those who use fine pointers (mouse and pens), to be accessible, keyboard navigation should be covered too.

Yep we use it to handle the click outside

This is a bit sad to read, accessibility is a core value of web development, not a plus. I asked to add the same on [rooks](https://github.com/imbhargav5/rooks/issues/592) and [react-use](https://github.com/streamich/react-use/issue

[2021-12-22 08:47] awmleer commented on #1399
@equinusocio I totally agree with you. Accessibility is really something we need to concern about.

[2021-12-22 08:49] brickspert commented on #1399
OK, I will add this hooks as soon as~

[2021-12-22 10:31] PiccoloYu opened #1402 "useVirtualList 虚拟列表 list 为空数组"
![image](https://user-images.githubusercontent.com/44945137/147078589-46d1ffe3-15fe-4e8c-a24f-2bacee50c455.png)
![image](https://user-images.githubusercontent.com/44945137/147078738-8b689f3b-e35c-459e-83c4-88c74c61de79.png)
按照官网例子 敲得

[2021-12-22 11:33] PiccoloYu commented on #1402
原因是 v3的useVirtualList 必须给 固定height，max min 不行，有可替代方案吗

[2021-12-22 12:08] brickspert commented on #1402
理论上不需要固定的 height，可以提供个复现代码~~

[2021-12-22 12:09] #1386 closed, assigned to brickspert

[2021-12-22 12:09] #1359 closed, assigned to brickspert

[2021-12-22 12:26] yunsii opened #1404 "[Feature request] useKeyPress 回调传入触发的快捷键"
## 使用场景

使用单个 hook 注册多个快捷键的不同回调，回调时不能直接知道是什么快捷键触发，特别是使用组合键时。

例如：

[code]

通过一个 hook 注册了 5 个快捷键，每个快捷键对应不同的逻辑，目前是在回调里自己额外处理的。不方便分别注册实现，因为是通过注册器得到的一类快捷键定义。

[2021-12-22 12:50] Hitotsubashi opened #1405 "setUrlState与useAntdTable配合使用时，首次加载时分页组件没有选中当前页面"
想做出的效果是location.search记录current和pageSize且随着两者的变化而变化，然而发现每次刷新页面时，虽然发出请求的current和pageSize是正确的，但分页组件没有根据current选中当前页面。
https://codesandbox.io/s/lucid-dubinsky-ezrjp?file=/src/App.js:732-744

[2021-12-23 01:38] PiccoloYu commented on #1402
https://codesandbox.io/s/usevirtuallist-d4iff?file=/src/App.js

就像这个例子
originalList 给了 固定的height 它的 useVirtualList  中的 list 是能够获取到值的。
 originalList1 给了 不固定的maxHeight 它的 useVirtualList  中的 list1 获取到的都是空数组
这是 设计如此吗

[2021-12-23 02:23] brickspert commented on #1405
demo 中，从 url 上拿到的 `page.current` 等是字符串，需要自行转成 number~

[2021-12-23 02:23] #1405 closed, assigned to nobody

[2021-12-23 02:26] brickspert commented on #1402
你只给了 `max-height`，那默认高度就是 0，此时肯定是没有数据展示的。

再加个 `min-height` 就 ok 了。

https://codesandbox.io/s/usevirtuallist-forked-1f2ih?file=/src/App.js

[2021-12-23 02:31] PiccoloYu commented on #1402
哦哦 明白了

[2021-12-23 02:31] #1402 closed, assigned to brickspert

[2021-12-23 02:50] s464446877 opened #1406 "userequest的cancel无法终止promise请求"
用cancel终止请求无效，请求还在继续发送状态最终返回结果，实际发送请求用的umi-request，把请求函数放到的userequest的第一个参数上

[2021-12-23 03:04] brickspert commented on #1406
你是指调用 `cancel` 之后，`data`、`loading` 等状态依旧会更新？

还是仅仅只是网络请求没有终止？

[2021-12-23 03:09] brickspert commented on #1399
[useFocusWithin](https://ahooks.js.org/hooks/use-focus-within) is coming! you should install v3.1.0, welcome to use ahooks~

[2021-12-23 03:10] #1399 closed, assigned to nobody

[2021-12-23 03:32] s464446877 commented on #1406
仅仅网络没有终止，loading状态是对的，已经是false了

[2021-12-23 03:41] brickspert commented on #1406
那这个是预期行为，useRequest 是对 Promise 的管理，在 cancel 的时候，我们只会放弃对该次 Promise 的响应。

并没有中止 Promise 的行为。

[2021-12-23 03:43] s464446877 commented on #1406
那请教一下有什么办法阻止一下请求呢，因为有可能请求失败提示信息，但是可能已经跳转到别的页面了，突然提示一条之前页面的错误信息，这种情况有什么方法避免么

[2021-12-23 03:55] brickspert commented on #1406
参考 umi-request 的终止请求文档：https://github.com/umijs/umi-request/blob/master/README_zh-CN.md#%E9%80%9A%E8%BF%87-abortcontroller-%E6%9D%A5%E4%B8%AD%E6%AD%A2%E8%AF%B7%E6%B1%82

[2021-12-23 08:11] equinusocio commented on #1399
That's amazing. Thank you. We can finally drop both react-use and react-aria.

[2021-12-24 01:53] #1406 closed, assigned to nobody

[2021-12-24 08:01] dobble11 opened #1407 "v3 版本 useInfiniteScroll options 缺少 ready 属性"
![image](https://user-images.githubusercontent.com/23068345/147332243-70551b90-7daf-4105-a5bc-20be3cca5dc0.png)

[2021-12-24 08:03] brickspert commented on #1407
是不支持这个参数的，可自行通过 `manual=false` 和 `reload()` 实现

[2021-12-24 08:06] dobble11 commented on #1407
考虑加入吗，毕竟有改造成本

[2021-12-24 09:10] brickspert commented on #1407
暂时不会添加的哈。

[2021-12-24 09:17] milkyu commented on #613
怎么解决的？大神

[2021-12-24 10:44] milkyu commented on #613
`const {tableProps, search} = useAntdTable(getTableData, {
        defaultParams: [
            {
                current: 1,
                pageSize: 10,
            },
        ],
    });
// 刷新 第8页
tableProps.onChange({...tableProps.pagination, current: 8});
`

[2021-12-27 02:00] iamyoki opened #1408 "【BUG&建议】 useControllableValue api设计问题以及改进意见"
我前天的直播 https://www.bilibili.com/video/BV1Vm4y197SZ/ 专门讲了下自动受控钩子封装的技巧
播完后有朋友问我于老师，发生肾么事了？我说怎么回事, 给我发了几张截图。我一看！嗷！原来是ahooks有个钩子，有两个api。一个用于受控组件，一个用于非受控组件。他们说，诶...有一个说是我用ahooks的useControllableValue把代码练坏了，于老师你能不能教教我混元钩法，诶...帮助修复一下我的报错。我说可以。我说你在本地写死代码，不好用，他不服气。诶...我说小朋友，你把代码提交到github我才能帮你看代码啊，他提交不上去报403。他说你这也没用。我说我这有用，这是开源精神，传统钩子是讲开源精神的，四两拨千斤，二百多天的通宵都肝不动我这一个issue啊...吭！他非要和我试试，我说可以。诶...我一说完啪就拉代码了很快啊！然后上来

[2021-12-27 02:00] #1407 closed, assigned to nobody

[2021-12-27 03:59] brickspert commented on #1408
很感谢反馈，针对反馈，我这边建议如下：

这个确实是 bug，需要优化下代码。

这个我认为 ahooks 不需要有报错提示，因为这两个都是 ahooks 支持的属性。

能够解构props，反之useControllableValue是不能解构props的，因为它需要通过 property in obj这样的语法来判断value属性是否存在。

关于建议这几点，我是不赞同的。

1. `value in props` 和 `value !== undefined` 是两种不同的含义。
2. 现在的 Hooks 已经稳定，做不了 break change 的。
3. 关于 `valuePropName` 等自定义名字，我觉得仁者见仁吧，在写组件的时候，这种会更方便点感觉，大部分情况传递一个 `props` 就够了，只有极少的情况才需要自定义名字。

[2021-12-27 04:03] #1408 closed, assigned to nobody

[2021-12-27 04:09] iamyoki commented on #1408
@brickspert 谢谢你的回复，我先关闭此issue 因为breaking change部分不采纳，bug部分在另外开一个issue🤝

[2021-12-27 04:16] IvanZen opened #1411 "V3 usePagination的字段要求与后端提供的字段不匹配该如何处理？"

[2021-12-27 05:04] brickspert commented on #1411
`service` 转一下就好了

[code]

[2021-12-27 05:04] #1411 closed, assigned to nobody

[2021-12-27 09:07] equinusocio opened #1412 "Improved useMouse with optional ref"
Hello, I would suggest an improved version of `useMouse`, where you can pass an optional reference to get the mouse coordinates related to that reference.

This is pretty useful for animations based o cursor position.

Example:
https://github.com/streamich/react-use/blob/master/src/useMouse.ts

[2021-12-27 10:11] The-End-Hero opened #1413 "useClickAway eventName 支持数组"
useClickAway eventName 支持数组 可以批量设置event

[2021-12-28 01:42] brickspert opened #1414 "useEventEmitter emit support more params"

[2021-12-28 02:14] qiushui123 commented on #375
现在这样写不会死循环了。是被修复了吗

[2021-12-28 02:31] i5ting commented on #1414
参考 https://github.com/developit/mitt/blob/main/src/index.ts

[2021-12-28 03:27] brickspert commented on #375
3.0 应该不会有这个问题了。

[2021-12-28 07:45] Kobe-G commented on #1394
同样遇到了这个问题，我在父组件和子组件都用了useUrlState，同时在两个组件中的useEffect中都调用了setUrlState，这样父组件中的setUrlState就会把子组件的覆盖掉，我理解和这个issues应该是同样的问题，目前有什么好的解决方法吗？

[2021-12-28 11:36] brickspert commented on #1394
暂时还没有好的解决办法。

[2021-12-28 12:50] citrusjunoss opened #1415 "js-cookie 升级后不在支持Node12 以下版本"

[2021-12-29 11:57] #1413 closed, assigned to crazylxr

[2021-12-29 12:25] brickspert commented on #1413
fixed on v3.1.3

[2021-12-30 02:28] #1414 closed, assigned to crazylxr

[2021-12-30 08:19] Airkro opened #1420 "[bug] `useRequest.options.cacheKey` throw Uncaught Error when async error"
Version: v3.1.3

Example:

[code]

相关： https://github.com/alibaba/hooks/issues/757

[2021-12-31 01:50] brickspert commented on #1420
Which version are you using? v2 or v3?

The v3 version has fixed this problem.

[2021-12-31 04:05] Airkro commented on #1420
Sorry, I have mentioned that now, v3

[2021-12-31 06:07] xdlrt opened #1422 "为什么 useInfiniteScroll 需要在 onSuccess 回调中再调用一次 scrollMethod？"
https://github.com/alibaba/hooks/blob/1a67662c37aa8a18d4c612d0516e328e0ff5fad4/packages/hooks/src/useInfiniteScroll/index.tsx#L55

好奇，想了解下是为了解决什么问题

[2021-12-31 08:07] Maconzhang opened #1424 "使用 useRequest 时，多次请求，返回的内容会出现 undefined"
https://github.com/alibaba/ice/issues/3840

https://codesandbox.io/s/spring-dawn-06okc?file=/src/App.js

老问题, 在hooks 3.0 是复现, fetchKey 无效

[2021-12-31 10:19] brickspert commented on #1422
比如首次加载了 10 条，但是没有撑满一个屏幕，需要继续加载第二页数据。

[2021-12-31 10:19] #1422 closed, assigned to nobody

[2022-01-01 12:28] yyz945947732 commented on #1394
因为依赖的 react-router 的 `useLocation` 的值是异步更新的，基于此封装的函数基本都会有这个问题。

https://github.com/remix-run/react-router/blob/4f18028d06363070aa811a63801d79e2ed11f897/packages/react-router-dom/index.tsx#L146-L151

[2022-01-04 07:43] boiboif commented on #1424
3.0不是删除了fetchKey吗。。 另外3.0 run不再返回promise，使用runAsync返回promise

[2022-01-04 07:48] brickspert commented on #1424
楼上正解，3.0 升级文档见：https://ahooks.js.org/zh-CN/guide/upgrade

[2022-01-04 10:09] brickspert commented on #1420
fixed on v3.1.4

[2022-01-04 10:09] #1420 closed, assigned to nobody

[2022-01-04 11:10] #1170 closed, assigned to brickspert

[2022-01-04 11:16] #1385 closed, assigned to nobody

[2022-01-06 02:40] qinfeng0214 opened #1428 "请问在ahooks3中如何formatter返回的数据"

[2022-01-06 02:51] King5-12 opened #1429 "useHistoryTravel中引入useMemoizefFn似乎是多余的操作。"
![image](https://user-images.githubusercontent.com/48796980/148320419-6ceadadf-fcce-4ab6-8e75-4a65122e12c4.png)

useHistoryTravel的更新都会引起useMemoizefFn中fnRef对应的Memo的更新

[2022-01-06 06:41] #1429 closed, assigned to nobody

[2022-01-06 09:59] brickspert commented on #1428
![image](https://user-images.githubusercontent.com/12526493/148365137-b0585abb-a893-412d-9c26-f8ef2a2a8720.png)

[2022-01-07 02:55] qinfeng0214 commented on #1428
感谢，掘金关注您了

[2022-01-07 03:38] ZelinBu opened #1430 "ie9 中使用 useRequest 无法获取到数据"
umi 中安装 ahooks，使用 useRequest 后获取不到数据，显示为 null
ie11 和 ie10 都正常

umi 版本：3.5.20
ahooks 版本：3.0.8

[2022-01-07 03:50] #1428 closed, assigned to nobody

[2022-01-07 03:51] #1424 closed, assigned to nobody

[2022-01-07 03:53] brickspert commented on #1430
1. 查看是否有 JS 报错
2. 参考 https://www.jianshu.com/p/98318e411acc 等文章，安装兼容依赖

[2022-01-07 07:57] ZelinBu commented on #1430
已解决，感谢😊

[2022-01-07 07:57] #1430 closed, assigned to nobody

[2022-01-07 09:33] hemengke1997 opened #1431 "[BUG] useAntdTable ready 触发有问题"
## 问题描述
`useAntdTable` 在 ready = false 时依然会发起请求，`useRequest` 正常

## 复现
https://codesandbox.io/s/fervent-babycat-z1rjo?file=/App.tsx

[2022-01-07 12:07] brickspert commented on #1431
fixed on v3.1.5

[2022-01-07 12:07] #1431 closed, assigned to brickspert

[2022-01-08 06:50] hemengke1997 opened #1433 "[问题] useLocalStorage 的触发机制"
假设有 组件A， 组件B
A、B都使用了 useLocalStorage('相同的key')

目前的机制是 组件A中setLocalStorage 不会触发 B 的localStorage更新渲染

请问作者大大，这个机制能否改成 相同key的localStorage在不同组件下set后，都会触发渲染？

[2022-01-08 07:28] #1433 closed, assigned to liuyib

[2022-01-11 07:29] xdlrt opened #1435 "useInfiniteScroll 是否可以透传 useRequest 的参数？"
https://github.com/alibaba/hooks/blob/4b51607f5379609823c54fab5a7e8af436aaf879/packages/hooks/src/useInfiniteScroll/index.tsx#L31

比如 loadingDelay 在这里就用不了了

[2022-01-11 08:08] brickspert commented on #1435
目前 useInfiniteScroll 是按自己的功能需求设计的 API，和 useRequest 的出入还是挺多的，所以不会透传配置。

可以单独针对 useInfiniteScroll 提一些功能诉求， useInfiniteScroll 在什么场景下需要 loadingDelay 呢？

[2022-01-11 08:11] xdlrt commented on #1435
列表数据返回过快的时候会闪烁，也需要这个能力，比如 loading 状态是 skeleton

[2022-01-11 11:41] zhangLeLer opened #1436 "期望增加在表格复选模式下, 翻页、跨页选择的功能"

[2022-01-12 02:47] 314857493 opened #1437 "tsc打包的时候报Could not find a declaration file for module 'js-cookie'"
node_modules/ahooks/lib/useCookieState/index.d.ts:1:21 - error TS7016: Could not find a declaration file for module 'js-cookie'. '/test项目/vite-react-ts/node_modules/js-cookie/index.js' implicitly has an 'any' type.
  Try `npm i --save-dev @types/js-cookie` if it exists or add a new declaration (.d.ts) file containing `declare module 'js-cookie';`

1 import Cookies from 'js-cookie';

[2022-01-12 05:20] 314857493 commented on #1437
项目是使用vite搭建的项目 vite build时会执行`tsc && vite build` 在这个tsc的过程中会报错 但是我看lock和package.json中都有@types/js-cookie

[2022-01-12 07:46] mason-hz commented on #1109
useLockFn 做成这样会有什么问题？
[code]

[2022-01-12 13:30] tianzhich opened #1438 "[Suggestion] Remove life cycle hooks cause they violates the motivation of why React team create hooks."
Hi the ahooks team, thank you for creating this useful library. I used so many of these hooks in my works which are easy to use and understand. You saved me a lot of time.

But what confused me is why you create [life cycle hooks](https://ahooks.js.org/hooks/use-mount/). In our team,  some mate like using `useMount`. Like what they did in class components, the data fetching logic repeats in `useEf

[2022-01-12 13:53] xdlrt commented on #1435
有什么建议吗？

[2022-01-13 02:51] brickspert commented on #1437
麻烦提供下 ahooks 版本。

[2022-01-13 02:52] brickspert commented on #1436
这个状态自行维护就可以了，useAntdTable 等 Hooks 不会集成这种能力的。

[2022-01-13 02:52] #1436 closed, assigned to nobody

[2022-01-13 03:00] brickspert commented on #1109
没啥问题，就是 API 设计的取舍了~

[2022-01-13 03:01] brickspert commented on #1435
我加下这个参数。

[2022-01-13 03:01] 314857493 commented on #1437
^3.1.5

[2022-01-13 03:07] xdlrt commented on #1435
thanks 😄

[2022-01-13 03:14] brickspert commented on #1438
Technology is innocent, lifecycle functions like `useMount` and `useUnmount` are just shorthand for some specific usages of useEffect usage. In engineering projects, using shorthand is definitely more readable than not using shorthand.

Of course, when using it, you need to know what you're doing.

技术是无罪的，`useMount` 和 `useUnmount` 等 生命周期函数，只是对 useEffect 用法的一些特定用法的简写。如果在工程项目中，使用简写肯定比不使用简写具有更强的可读性。

[2022-01-13 03:32] tianzhich commented on #1438
I think they may not really know what they're doing. The `useMount` hook hides the fact that **the effect should rerun if its dependencies changed** by forcing leave its dependencies empty.

This fact is how the react hooks, especially the `useEffect` hook works. There is no need to use `useMount` if you use `useEffect` correctly(for example, use a constant value instead of a variable to empty the

[2022-01-13 03:46] brickspert commented on #1438
E...... There is no lifecycle, only generic logic encapsulation. In our project, we want to monitor some information when the component is uninstalled, so we need to write frequently

[code]

Poor readability and a lot of code. Then we simply encapsulate the logic

[code]

It's such a simple logic, not too many high-rises.

额。没有生命周期，只有通用逻辑封装。在我们的项目中，希望在组件卸载时，需要上报一些信息，那我们就需要频繁的写

[code]

可读性差，代码量多。

[2022-01-13 06:16] awmleer commented on #1438
我并不是喜欢用生命周期的思路去处理，但是在很多情况下，的确是需要写 `useEffect(() => {...}, [])`，我们暂且不去考虑要不要给他扣个生命周期的帽子，就单纯的这样一个 Hooks 的用法，肯定是没有问题的。那么，如果我觉得这种语法有些繁琐、可读性略差，想把它封装一个 custom Hook 出来，那么这个 custom Hook 应该叫啥呢？如果说叫做 `useMount` 容易误导用户用生命周期的思路去理解 Hooks，那么是不是可以考虑换个名字？

[2022-01-13 06:31] tianzhich commented on #1438
[code]

这样使用当然没有问题，前提是 `fn` 里没有可变的依赖，但这里相当于把依赖强制为空了，确实是达到了 `componentDidMount` 的效果，但我认为这样也掩盖了依赖变更，`effect` 重新执行这一事实。对于 hooks 的初学者知道这个事实是很重要的，但他们可能因为没搞懂这个事实，为了方便就直接使用 `useMount`。

[2022-01-13 06:44] brickspert commented on #1435
看了下，这里不太能直接透传 loadingDelay 参数。

因为 loading 的能力在 useInfiniteScroll 是被强依赖的，比如在滚动加载场景下，需要在 `loading=false` 时候，才会加载下一页。
如果 loading 有延迟，会导致滚动时，多次加载的问题。

这个功能需要 useInfiniteScroll 单独开发支持，而不仅仅是透传参数。

[2022-01-13 07:46] awmleer commented on #1438
![image](https://user-images.githubusercontent.com/16526078/149287323-6a8c9480-8522-456b-8e6d-628f934199e7.png)

React 官方文档上也是这么描述的啊，感觉不会有啥歧义或者误导性呀：https://reactjs.org/docs/hooks-effect.html

[2022-01-13 07:47] awmleer commented on #1438
@tianzhich 反过来想想，如果初学者就是把 `useMount` 当作 `componentDidMount` 来用的话，会出现什么问题么？

[2022-01-13 09:32] tianzhich commented on #1438
感谢提供上面的截图，但我看到后面还有一段话：

所以，如 *the props and state inside the effect will always have their initial values* 这句话提到，里面也会使用默认值，把它当做 `componentDidMount` 用也是完全 ok 的。但上面也提到有更好的解决方案去避免 effects 频繁调用（这也是我那个同事使用 `useMount` 的原因，因为他只想在 `didMount` 时调用，不知道为什么使用 `useEffect` 会频繁调用，但却没去寻求上面所说的 better solutions，去发现背后的原因）。

当然，直接去掉也是 breaking change，而且这本身确实没什么问题，我看 [react-use](https://github.com/streamich/react-use)

[2022-01-14 04:18] xdlrt commented on #1435
理解，那帮忙看看怎么排吧，从功能逻辑上来说，具备 loadingDelay 的能力应该是合适的

[2022-01-14 10:33] esclipse commented on #1118
当 name 是数组获取不到，name 是数组是 antd 新支持的特性

[2022-01-15 07:00] dvlin-dev commented on #1173
1. 请问在ahooks v3中 useRequest 取消了请求库, 您在实际开发中使用的请求库是Fetch还是自己封装的xhr或封装好的axios，umi新版本准备丢弃umi-request 使用axios，是因为fetch有什么坑吗

[2022-01-17 08:57] #1438 closed, assigned to nobody

[2022-01-19 08:36] csd998aaa opened #1443 "v3.1.7 的包好像不见了!!"
如题🥸

[2022-01-19 08:42] #1443 closed, assigned to nobody

[2022-01-19 09:28] chj-damon opened #1444 "希望useWebsocket可以透传websocket实例给options里的事件"
目前websocket里面options定义的事件的参数只是原生的参数，没有websocket实例，这时候如果想要实现类似在建立连接之后立刻往服务端发送消息的需求时，做法就比较绕：
[code]

如果可以直接把websocket实例透传给这些事件，那么实现起来就会更加清爽：
[code]

[2022-01-19 15:31] JX-Zhuang commented on #1351
@heiyexing 你在做这个feature吗。如果没有，我来做

[2022-01-20 02:26] brickspert commented on #1443
一般国内源会有延迟，需要手动同步下。

[2022-01-20 02:27] brickspert commented on #1351
你来吧~

[2022-01-20 03:11] JX-Zhuang commented on #1351
@brickspert 👌

[2022-01-20 03:20] chj-damon commented on #1444
https://github.com/alibaba/hooks/pull/1445

[2022-01-21 06:30] brickspert commented on #1444
v3.1.8

[2022-01-21 06:30] #1444 closed, assigned to nobody

[2022-01-21 06:30] brickspert commented on #1412
v3.1.8

[2022-01-21 06:30] #1412 closed, assigned to nobody

[2022-01-21 06:38] wangqi908 opened #1448 "taro中使用防抖节流会报错"
![image](https://user-images.githubusercontent.com/32876059/150478787-361caa44-5793-42ea-b474-989a3010e892.png)
![image](https://user-images.githubusercontent.com/32876059/150478809-f8ee0d6c-1e24-44bd-af57-b6d8e9e08ba5.png)

[2022-01-21 06:44] brickspert commented on #1415
fixed

[2022-01-21 06:44] #1415 closed, assigned to nobody

[2022-01-21 06:45] brickspert commented on #1448
ahooks 版本？3.x 的应该已经解决过类似的问题。

[2022-01-21 08:17] lidaylin opened #1449 "useNetwork在think pad 翼 480上不通知断线？"
实测过在该型电脑上浏览器监听offline事件没有触发。

[2022-01-21 08:20] brickspert commented on #1449
需要提供下浏览器版本，ahooks 版本。

另外就是在电脑上其它浏览器也一样不生效吗？

[2022-01-21 09:48] lidaylin commented on #1449
浏览器版本: 96.0.4664.110，ahooks:2.10.12
其他电脑没有问题，目前发现就是这个型号的电脑有问题

[2022-01-24 07:03] The-End-Hero opened #1450 "tsc 出现 resize-observer-polyfill 类型问题 typescript 4.3.2"
https://github.com/que-etc/resize-observer-polyfill/issues/80

[2022-01-24 07:12] The-End-Hero commented on #1450
https://github.com/arco-design/arco-design/issues/196

[2022-01-24 07:14] The-End-Hero commented on #1450
https://github.com/alibaba/BizCharts/issues/1409

[2022-01-24 16:53] #1450 closed, assigned to nobody

[2022-01-25 07:37] ida-fe opened #1452 "useKeyPress绑定keyFilter冲突"
复现：
使用useKeyPress绑定快捷键s和组合快捷键ctrl.s，当使用ctrl.s时，s事件也会触发
https://codesandbox.io/s/ji-chu-yong-fa-forked-xzejm?file=/App.tsx

预期：
使用ctrl.s时，只触发ctrl.s对应事件

[2022-01-25 20:34] jiahao-c commented on #1437
在`3.1.8` 版本中也遇到了这个问题，也是使用 vite。在 `pnpm add -D @types/js-cookie` 后解决，也可以通过 ` "skipLibCheck": true` 解决

[2022-01-26 02:54] 314857493 commented on #1437
ok 好使 感谢

[2022-01-26 02:54] #1437 closed, assigned to nobody

[2022-01-26 03:01] brickspert commented on #1452
目前确实会有这样的问题，在监听普通键时，没有过滤修饰键，应该修复。

[2022-01-26 03:13] brickspert commented on #1437
fixed in v3.1.9

[2022-01-26 07:01] Bian2017 opened #1453 "整个开源项目拉下来但跑不起来"
![i9Oud4sBwy](https://user-images.githubusercontent.com/28329190/151117722-6d9a08cf-36f2-48ac-a68b-69e574fb9240.png)

[2022-01-29 07:40] isaced opened #1454 "useRequest Conditional Fetching?"
`useRequest` doesn't support conditional fetching like SWR?

[code]

---

I got some error:

[code]

[2022-02-05 12:42] rimsila opened #1455 "useCountDown showing wrong count down time if user local time wrong"
useCountDown will not correct with target date if local time wrong or user broken CMOS.
example: my correct local time is 15:xx and release target time is 20:xx so it remaining count down time 3h it's correct.
but some pc with wrong local time due to broken CMOS or some reason will showing wrong count down time.
how I can solve with this ?
Thanks you

![Screen Shot 2022-02-05 at 4 34 18 PM](https:

[2022-02-08 07:09] xiaoYuanDun opened #1457 "关于 useRequest 的 usePollingPlugin 的疑问"
在设置了轮询时间，并开始轮询期间，如果更新了轮询时间，表现如下

当前表现：依然会等待上一次轮询时间结束后，才会以最新的时间开始下一次轮询
期待表现：立即停止当前轮询，并以最新时间开始下一次轮询

想知道当前这种逻辑，是刻意为之吗？如果不是，是不是可以调整为下面的逻辑，或者说加一个参数用于决定，是否需要立即应用最新轮询时间

[codesandbox-demo](https://codesandbox.io/s/agitated-bartik-638qm?file=/src/App.tsx)

[2022-02-08 07:56] kitety opened #1458 "useLocalStorageState 设置初始值的时候不会将值同步到LocalStorage"
useLocalStorageState 设置初始值的时候不会将值同步到LocalStorage（之前没有设置过这个key），只有在修改的时候才会同步。不知道是特意设置的还是存在的缺陷。

复现地址：https://190pj.csb.app/

[2022-02-11 09:59] kkxiaojun commented on #1034
没理解到，具体是怎么实现呢

[2022-02-12 07:17] brickspert commented on #1458
这个是预期行为。

参数叫 defaultValue 默认值，也就是 localstorage 里面没有数据时，使用默认值。

[2022-02-12 07:17] #1458 closed, assigned to nobody

[2022-02-12 07:30] brickspert commented on #1457
目前行为确实如你所说，等待上一次轮询结束，才会使用新的轮询时间。

最好的行为确实应该是停止当前轮询，用新的时间重新开始。

[2022-02-12 07:33] brickspert commented on #1454
You should use the `options.ready` to do like this~

[2022-02-12 07:34] brickspert commented on #1453
[code]

是不是第一个命令没有执行。

[2022-02-14 02:41] xiaoYuanDun commented on #1457
我来调整吧

[2022-02-14 09:58] image72 commented on #1433
如果useLocalStorageState 只能在同一个组件内使用，那么使用useLocalStorageState 意义不大

[2022-02-15 05:27] kobe651jp opened #1465 "关于useDrag/useDrop，在onDragEnter里不能加content吗？"
使用场景
想在两个菜单组之间，移动菜单。移动菜单进到对方的时候，让对方菜单组高亮。

但问题是，移动菜单回到自己的时候也高亮。如果在onDragEnter的参数里可以追加useDrag里的content，那么在onDragEnter里可以判断是不是在自己的菜单组。

你们的useDrag/useDrop非常简洁好用。

谢谢。

[2022-02-15 13:27] #1465 closed, assigned to nobody

[2022-02-16 02:35] #1453 closed, assigned to nobody

[2022-02-16 02:35] #1454 closed, assigned to nobody

[2022-02-16 02:44] brickspert commented on #1455
useCountdown uses the user's local time, maybe it should support server time, I will think about this feature.

[2022-02-18 02:54] brickspert opened #1467 "useKeyPress 在 firfox 下的兼容问题"
![image](https://user-images.githubusercontent.com/12526493/154608727-0e35204b-e55c-4cd6-a37f-b1cf5f684cb8.png)

编码对应兼容性问题

[2022-02-18 03:21] yunsii commented on #1467
当前已知在 firefox 下 keyCode 有如下对应关系：

equalsign: 61
dash: 173

又 `event.keyCode` 字段已被标记为 deprecated：

![image](https://user-images.githubusercontent.com/18096089/154610197-19300dcf-145f-43b2-bce5-e8b81e52fb55.png)

测试发现直接使用 `event.key` （直接对应键盘上的符号）不用考虑浏览器兼容问题了，更不用自己去定义别名了。综上，使用 `event.key.toLowerCase()` 来作为判断依据应该更直观和有效。

不过如果直接这样做的话，算是破坏性更新了，还需要考虑现有别名的兼容处理，如下：

equalsign: "="
dash: "-"

最后，思路都有了，可以的话我

[2022-02-18 03:31] yunsii commented on #1467
另外现在 useKeyPress 看起来没考虑严格模式？意思是 ctrl + shift [+ alt] + A 也能触发 ctrl + A 的回调，或许也可以加个 strict 配置。

[2022-02-18 03:32] brickspert commented on #1467
Related: #1452

[2022-02-18 03:33] brickspert commented on #1467
破坏性升级不可以的，两个问题我们这边会尽快统一处理下哈。

[2022-02-18 04:44] yunsii commented on #1467
有考虑兼容处理啊，修改对应关系为 `别名: key`，而不是 `别名: keyCode`，代码中使用 event.key 来判断就好了。这样就支持别名加 key 来定义快捷键了，例如：

`ctrl.equalsign` 和 `ctrl.=` 都是可行的。

[2022-02-23 07:23] angentle opened #1469 "在轮询中使用useFusionTable 暴漏出来的search.submit() 或者search.reset() 会出现内存溢出。"
[code]
下面是每5s轮询一次 内存检测情况：
1. 使用`search.submit`:
![search_submit内存溢出](https://user-images.githubusercontent.com/20704660/155275982-3ce13b59-7f19-4330-a106-65669780201b.png)

2. 手动请求接口更新数据就会正常
![手动请求数据_内存情况](https://user-images.githubusercontent.com/20704660/155276114-c7c12a7b-1019-4b30-b76b-63dc3858f36e.png)

希望hook开发人员处理下这个问题。避免内部变量没有被内存回收问题！

[2022-02-24 01:19] miracles1919 opened #1471 "[RFC] useIsomorphicLayoutEffect"
在 SSR 模式下，使用 useUpdateLayoutEffect 时，会出现警告，是否可以新增一个 useIsomorphicUpdateLayoutEffect

[code]

[2022-02-24 01:40] brickspert commented on #1471
建议暂时在自己项目中封装一下。

useIsomorphicUpdateLayoutEffect 放到 ahooks 后，使用量会比较少，并且会让新用户产生一些困惑。

[2022-02-24 02:01] miracles1919 commented on #1471
createUpdateEffect 这个方法是否可以从 index 暴露出来，目前引用得这样
[code]

@brickspert

[2022-02-25 06:20] kaizhou-lab opened #1475 "React native 项目中v2 升级到v3 之后，正常运行没有问题， fast refresh时会遇到原本声明的static 变量 undefined ，导致crash"

[2022-02-25 07:22] brickspert commented on #1475
能提供下具体的报错截图吗？

[2022-02-25 07:35] #1471 closed, assigned to nobody

[2022-02-25 08:34] kaizhou-lab commented on #1475
`export default class ExchangeDataProvider {

 public static websocketManager: QuotationSocketMgr`

之后在 fast refresh 时候，websocketManager 为undefined

![simulator_screenshot_BD8D1745-9F47-4784-9246-6E0EB3F8A347](https://user-images.githubusercontent.com/18323274/155682178-a31fc25c-b8a1-46de-8373-0d505f362517.png)

[2022-02-25 08:34] brickspert commented on #1475
这个看不出来是 ahooks 的报错呀，能提供个最简代码复现吗？

[2022-02-25 09:47] kaizhou-lab commented on #1475
@brickspert 错误确实不在此，谢谢

[2022-02-25 09:47] #1475 closed, assigned to nobody

[2022-02-25 13:41] yunsii commented on #1404
看了下代码，好像还不是三两下能改好的……

[2022-03-01 07:58] SuperHuangXu opened #1477 "useLongPress 增加松开时的回调"
业务中需要得到按键松开的事件。

[2022-03-01 09:37] superBigPotato opened #1479 "useRequest 源码里面关于缓存的插件 useCachePlugin 里面 trigger 没有作用"
onSuccess: (data, params) => {
      if (cacheKey) {
        // cancel subscribe, avoid trigger self
        unSubscribeRef.current?.()
        _setCache(cacheKey, {
          data,
          params,
          time: new Date().getTime()
        })
        // resubscribe
        unSubscribeRef.current = cacheSubscribe.subscribe(cacheKey, d => {
          fetchInstance.setState({ data: d })

[2022-03-01 09:43] brickspert commented on #1479
![image](https://user-images.githubusercontent.com/12526493/156144888-f6c575cf-2fc0-45a2-bc96-1181f65b68ad.png)

代码里面有相应的注释奥，避免触发自己

[2022-03-01 09:43] #1479 closed, assigned to nobody

[2022-03-01 09:54] brickspert commented on #1477
能描述具体的需求细节吗？

松开是指长按之后松开，还是点击之后松开呢？

[2022-03-02 01:50] SuperHuangXu commented on #1477
长按松开。

[2022-03-02 01:53] brickspert commented on #1477
那应该加一个 onLongPressEnd 类似名字的参数。

enEnd 太抽象了，不够形象。

[2022-03-02 03:28] SuperHuangXu commented on #1477
改成 `onLongPressEnd` 了 😊

[2022-03-03 02:53] lovesL opened #1481 "UseRequestProvider"
<img width="703" alt="image" src="https://user-images.githubusercontent.com/27960630/156487236-2cf80765-e0a4-4f97-a1b8-3c0eb21ceb41.png">
  这个API  怎么没有了呀 有其他方面的API嘛

[2022-03-03 03:44] programmer-yang opened #1482 "Document API word error"
https://ahooks.js.org/zh-CN/hooks/use-antd-table#params

pagiantion should be pagination

[2022-03-03 03:47] programmer-yang opened #1483 "defaultCurrent property in useAntdTable's defaultParams not work"
reproduce demo:
https://codesandbox.io/s/bold-wu-u6qkvg?file=/App.tsx

expect:
normal display default pagination

[2022-03-03 06:38] brickspert commented on #1483
Refer to this example：https://ahooks.js.org/hooks/use-antd-table#default-params

[2022-03-03 06:48] brickspert commented on #1481
v3 版本期望基于 useRequest 封装自己的 Hooks，来实现 UseRequestProvider 类似的公共配置的能力。

[2022-03-03 06:50] brickspert commented on #1482
I have fixed this typo error.  thx~

[2022-03-03 06:50] #1482 closed, assigned to nobody

[2022-03-03 07:22] lovesL commented on #1481
要自己实现啊？

[2022-03-03 07:47] brickspert commented on #1481
不是呀。。就是你稍微基于 useRequest 封装下.. 类似这样：

[code]

[2022-03-03 07:57] lovesL commented on #1481
明白 明白  谢谢

[2022-03-03 08:57] amile-wp commented on #1020
貌似是出现在设置了loadingdelay的情况下

[2022-03-03 09:33] #1481 closed, assigned to nobody

[2022-03-03 09:45] brickspert commented on #1477
v3.1.11

[2022-03-03 09:45] #1477 closed, assigned to nobody

[2022-03-03 22:01] xXAvoraXx opened #1484 "[useReactive] Cannot read properties of undefined (reading 'xxx')"
I am trying to use it in useReactive ant design pro component model.

![errrrr](https://user-images.githubusercontent.com/6988989/156659915-bcaba8cc-a2e1-4c55-be39-66a15082a904.png)

[2022-03-04 02:18] brickspert commented on #1484
看着是 `this.tariffs` 报错的呀，没有 `this` 对象吧~

[2022-03-04 02:36] #1452 closed, assigned to nobody

[2022-03-04 02:52] brickspert commented on #1467
这个已经修复了

[2022-03-04 03:01] yunsii commented on #1467
看了一下代码，这是不是也可能是 break changes 呢，如果有人真期望不用严格匹配呢？:joy:

[2022-03-04 03:06] brickspert commented on #1467
你说的有道理，我们加个配置。

[2022-03-04 03:22] brickspert commented on #1467
3.1.13 加了 exactMatch 参数，然后默认为 false，感谢提醒。文档待会补，库已经发布了。

[2022-03-04 06:27] #1483 closed, assigned to nobody

[2022-03-04 10:50] xXAvoraXx commented on #1484
yes 'this' doesn't occur, but that's how it's used here.
https://ahooks.js.org/hooks/use-reactive#computed-properties

[2022-03-04 12:47] zhangLeLer opened #1486 "version 3.1.13 调用文档里面useAntdTable里面的clearCache(), 无法清除所有的cache"
期望调用 clearCache(),清除所有的cache

[2022-03-04 16:12] xXAvoraXx commented on #454
Getter setter should be added for useState.
For example, where I use the state variable, if its value is empty, it should send a request to the api. However, this may cause it to send the same request more than once in duplicate components.

For example, when we normally assign a value to a state variable by request, we use the following structure.

[code]
In some cases we use the same state varia

[2022-03-04 16:17] xXAvoraXx opened #1487 "[New Idea] Getter setter should be added for useState - [useReqState]"
Getter setter should be added for useState.
For example, where I use the state variable, if its value is empty, it should send a request to the api. However, this may cause it to send the same request more than once in duplicate components.

For example, when we normally assign a value to a state variable by request, we use the following structure.

[code]
In some cases we use the same state varia

[2022-03-07 03:04] brickspert commented on #1487
[code]

like this?

[2022-03-07 03:11] brickspert commented on #1486
提供个在线复现？我测试没有问题。

[2022-03-07 03:22] brickspert commented on #1484
Can you provide an online demo?

https://codesandbox.io/s/bold-pike-bl5u2q?file=/App.tsx

[2022-03-07 09:00] xmsz opened #1493 "[QUESTION]useTable有没有办法一开始就设置table的sort值"
背景
- 我有个sort的初始值
- 然后我希望有地方可以赋值table的sort值，实现进入页面的时候就显示排序的图标
- 现在没办法显示是因为，tableProps里并没有sorter的值，或者说table里的sorter的值是不受控的，所以我不知道怎么修改

[2022-03-07 09:56] brickspert commented on #1493
参考这个 demo：https://codesandbox.io/s/red-night-u1zyhv

[2022-03-07 09:56] #1493 closed, assigned to nobody

[2022-03-07 14:10] xXAvoraXx commented on #1487
Yes it seems logical, but there is a problem that nested mapped components using the same state variable will always be forwarding the same request to the api.

If I had to create a scenario it would be like this,

**useMode**l is a **UmiJs** hook.
[code]
As a result of the scenario, there will be a problem when the components are rendering.
For example, there are 5 child components,

Because they

[2022-03-07 14:23] xXAvoraXx commented on #1484
https://codesandbox.io/s/confident-haslett-n4ml2r?file=/App.tsx

[2022-03-08 01:46] brickspert commented on #1484
https://codesandbox.io/s/intelligent-gwen-iu58ix

You need to pay attention to what `this` points to.

[code]

`state.getTariffs()`  this is state

`getTariffs` this is undefined

[2022-03-08 01:46] #1484 closed, assigned to nobody

[2022-03-08 02:29] xmsz commented on #1493
我看是通过sortOrder来实现默认显示
然后我用的是fusion好像没有这个属性

相当于如果我要实现这样的修改就需要自己维护order的感觉

[2022-03-08 08:52] laolaolulu opened #1495 "setState里面执行useRequest居然会被执行两次"
const [test, setTest] = useState(0);
 const { loading: edityytime, run: YuYueTime } = useRequest(park.order.setYuYueTime, {
    manual: true,
    onSuccess: () => {
      openUpdateModal(0);
      ref.current?.reload();
    },
  });

//触发一次
 setTest((s) => {
              console.log('edit');
              YuYueTime(updateModalVisible, value.aid, value.time);
              return 0;
            })

[2022-03-08 09:26] eightHundreds commented on #862
希望有个配置，比如`cancelBeforeRun`，能让每次run执行前都自动cancel

[2022-03-08 09:39] wkeylin opened #1496 "ahooks@3.x usePagination 支持ssr"
在ssr 模式下，服务端会先请求一页数据，然后客户端进行同构渲染，此时不需要usePagination自动执行或者useEffect中进行run, 但是usePagination 不支持默认的pagination初始化，无法将服务端已经请求的数据给usePagination, 导致在Pagination 组件中onChange时，点击任何页面都是pageNo都是1

[2022-03-08 13:25] xiexingen commented on #862
我最后的实现思路是这样，可供参考
实现一个请求管理器，然后再全局拦截器里面请求开始的时候生成一个唯一id的map，在响应拦截里面再移除掉
如果是同一个请求的，请求拦截器里面把上一次的cancel掉了

[2022-03-08 13:49] xXAvoraXx commented on #1484
I can't run the first function because it doesn't wait for data from initialState.

[code]

[2022-03-09 00:52] laolaolulu commented on #1448
真机下的错误,taro中找到的:

` Object.assign(global, {
    Array: Array,
    Date: Date,
    Error: Error,
    Function: Function,
    Math: Math,
    Object: Object,
    RegExp: RegExp,
    String: String,
    TypeError: TypeError,
    setTimeout: setTimeout,
    clearTimeout: clearTimeout,
    setInterval: setInterval,
    clearInterval: clearInterval
  });`

[2022-03-09 01:51] brickspert commented on #862
现在 useRequest 默认会废弃掉老的请求的响应，不需要做任何操作。

也就是每次调用 run，都会放弃之前发出去的请求。

[2022-03-09 02:49] brickspert commented on #1496
`usePagination ` 支持支持默认 pagination 的，参考：https://ahooks.js.org/zh-CN/hooks/use-antd-table#%E5%88%9D%E5%A7%8B%E5%8C%96%E6%95%B0%E6%8D%AE

[2022-03-09 02:51] brickspert commented on #1495
`loading` 先变成 `true` ，再变成 `false`，所以会有两次 `render`。

你需要搞清楚函数组件在什么时候会重新 `render`~

[2022-03-09 02:51] #1495 closed, assigned to nobody

[2022-03-09 02:53] brickspert commented on #1493
功能都是类似的，只是 sortOrder 的格式可能不太一样。

[2022-03-09 03:06] laolaolulu commented on #1495
并不是render导致的执行两次? 而是setTest里面执行了2次,如果我用延迟函数去执行useRequest就不会执行2次

[2022-03-09 03:09] brickspert commented on #1495
你的代码不是每次 render 都会调用 `setTest()` 么。

[2022-03-09 03:11] laolaolulu commented on #1495
不是,我的setTest是在一个按钮事件中执行

[2022-03-09 03:12] brickspert commented on #1495
建议提供一个在线复现。

你提问的代码，确实看不出来是点击执行的。。

[2022-03-09 03:14] laolaolulu commented on #1495
const [test, setTest] = useState(0);
const { loading: edityytime, run: YuYueTime } = useRequest(park.order.setYuYueTime, {
manual: true,
onSuccess: () => {
openUpdateModal(0);
ref.current?.reload();
},
});

useEffect(() => {
setTest((s) => {
console.log('edit');
YuYueTime(updateModalVisible, value.aid, value.time);
return 0;
});
},[]);

结果输出了两次 console.log('edit');

不好意思,这样描述行吗?

[2022-03-09 03:19] brickspert commented on #1495
![image](https://user-images.githubusercontent.com/12526493/157366241-ba5ee193-1317-4010-bdb3-3bffd2629edd.png)

点这里，在 codesandbox 给一个复现

[2022-03-09 05:01] laolaolulu commented on #1495
https://github.com/facebook/react/issues/24057

[2022-03-09 06:39] SH748 opened #1497 "为啥要移除掉formatResult呢？"
3.X为啥要移除掉formatResult呢？格式化的需求有问题嘛？没有问题。所以，为什么要移出掉格式化呢？这样还要去维护一个state，这多麻烦啊。

[2022-03-09 06:43] brickspert commented on #1497
Relation: https://github.com/alibaba/hooks/issues/1356#issuecomment-989787593

formatResult 会导致 useRequest 的 ts 重载，非常难维护和继承。

[2022-03-09 06:53] liuwei1025 opened #1498 "使用runAsync并行请求的问题"
看到`Fetch`的实现中使用`this.count === currentCount`判断是否是取消了请求，这样会导致`runAsync`并行请求时 只有最后一个请求可以是`fulfilled`的，之前的请求都会是`pending` 状态，感觉和直观是不相符的；且返回一直`pending`的`Promise`是否是一种内存泄漏呢？

[示例](https://codesandbox.io/s/demo-for-ahooks-forked-45ce3v?file=/src/App.js)  可以打开devTool查看打印结果

[2022-03-09 15:13] askurat commented on #1317
Same issue here: If you set a property to a React component you will get this error.

[2022-03-10 02:00] crazylxr commented on #1495
你这个demo 我看了，确实是会执行两次。不过 你这个写法是有问题的，你如果想在 test 发生变化的时候去执行 YuYueTime这个函数，你应该这样去做：
[code]

[2022-03-10 02:07] laolaolulu commented on #1495
谢谢您! react的问题;  我的实际需求是一个事件触发useRequest去读取数据,而事件闭包导致useEffect读取不到state值,所以我利用的setState里面的函数值就能读取到state;;;我尝试加了个延迟函数去执行useRequest就只会执行一次了,我也不知道是否是react的bug还是我确实不太懂hooks的基础

[2022-03-10 02:26] xiexingen commented on #862
看楼主的意思，应该是想在这个的基础上增加一个cancel的方法，可以自己去cancel，比如在组件销毁的时候调用cancel

[2022-03-10 07:38] brickspert commented on #1498
useRequest 默认是会有竞态处理的，也就是只有最后一个请求才会响应，之前的请求都会被废弃掉。

因为 Promise 是不能中止的，所以目前的方案就是「挂起」，也就是一直处于 pending 状态。 目前没有其它好的解决方案~

[2022-03-10 07:48] liuwei1025 commented on #1498
为什么需要有竞态处理呢？

[2022-03-10 07:51] brickspert commented on #1498
举个简单的例子

[code]

连续发出三个请求，那最后 `data` 是用的第几次发出去的请求结果呢？

如果有竞态，那就是用的第三个。
如果没有竞态，那就用的是最后返回的请求。这个是不可控的。

[2022-03-10 09:01] liuwei1025 commented on #1498
我觉得应该提供一种纯函数的场景，在传递了manual的场景下，返回的函数 `run` `runAsync`都可以按照纯函数的形式运行；如果你们感兴趣的话，我可以尝试提供一个PR

[2022-03-10 09:02] liuwei1025 commented on #1498
如果处理竞态的话，`run`,`runAsync`等方法感觉就完全被限制在了需要使用`data`的场景下

[2022-03-10 09:08] brickspert commented on #1498
暂时不会调整这个逻辑，属于 break change 了~~

[2022-03-10 22:11] xXAvoraXx commented on #1487
Is there any update ? @brickspert

[2022-03-11 09:40] brickspert commented on #1487
I understand what you mean, but I don't have a good solution.

There have two problem:

1.  Multiple calls, only one request is actually sent, like this

[code]
This can be resolved by useRequest **options.cacheKey**.

2. Check whether it is empty before each use.

[code]

This problem is more of an engineering problem, caused by the mechanism of useModel, not a general problem.

The useModel's mo

[2022-03-11 11:21] xXAvoraXx commented on #1487
There is no need to use useeffect, as you gave in the first example, when I call the data variable, if it is empty, it will send a request, otherwise it will fetch it from the state.

Why am I using useEffect? For example, if a page needs the state variable in the "A" model, first I have to use useEffect at the beginning of the page and say if it is empty, send the request, otherwise bring it from

[2022-03-12 06:51] #1498 closed, assigned to nobody

[2022-03-12 10:16] KeithChou opened #1501 "useDebounceEffect"
<img width="1510" alt="image" src="https://user-images.githubusercontent.com/18112461/158013983-7baa9c4d-3793-423e-98d7-7b1a3c830971.png">
请教一个问题，这里我看v3的yuan m源码使用的是useDebounceFn, 而该hook内部使用的是lodash/debounce。这里是不是少了一个maxWait最大等待时间的参数？

[2022-03-13 10:14] crazylxr commented on #1287
这个 issue 应该可以关了吧。

[2022-03-14 02:18] brickspert commented on #1501
文档是少了 maxWait，欢迎 PR

[2022-03-14 02:18] #1287 closed, assigned to nobody

[2022-03-14 04:32] SunStupic commented on #475
What's the status of this task?

[2022-03-14 07:41] fangqibin commented on #1497
我也是遇到这个问题，formatResult移除之后变的好麻烦啊，你是怎么解决了，可以贴一下代码吗

[2022-03-14 07:43] fangqibin opened #1502 "ahook跟umijs/hooks是什么关系"
ahook跟umijs/hooks是什么关系，我之前都是用umijs/hooks，文档打不开了，什么原因呢。

[2022-03-14 11:36] brickspert commented on #1502
暂时先看下 v1.x 的 md 文件吧：https://github.com/alibaba/hooks/tree/release/v1.x

[2022-03-14 11:37] brickspert commented on #1497
service 返回最终格式的数据就 OK 了吧~

[code]

[2022-03-14 11:42] brickspert commented on #475
The current version does not support suspense, we will support it later when Suspense is stable.

[2022-03-15 01:40] fangqibin commented on #1502
文档打不开，这个是强制要升级到v3吗，有时候想看一下参数，很不方便。

[2022-03-15 07:22] Leioy opened #1504 "配合babel-plugin-import使用报错：__1.useRequest is not a function at useInfiniteScroll"
umi版本：3.5.20
ahooks版本：3.1.13

[2022-03-15 09:23] mraiguo opened #1505 "useControllableState不支持函数式更新"
不支持 setState 函数参数

[2022-03-15 09:23] wikiNed opened #1506 "useRequest发起多个请求"
在一个页面里面，需要请求多种数据并且部分数据存在依赖，请问怎么使用useRequest来达到目的。

[2022-03-15 09:52] brickspert commented on #1506
假设需要先请求 A，成功后再请求 B，有两种方案：
1. 请求 A 之后，在 onSuccess 中调用 b.run 来执行 B
2. 通过配置 b.options.ready 参数来控制 B 什么时候请求

[2022-03-16 01:53] roc-an opened #1508 "各 Hooks 实现中为什么使用 useRef？"
在阅读源码过程中，发现很多 Hook 的实现，都有使用 useRef，这似乎成为了一种常用模式，但我对这种方式的目的和收益存在疑惑，特来发 Issues 请教。

比如 `useLatest` 的实现：

[code]

比如 `useUnmount` 的实现：

[code]

尤其比如 `useMemoizedFn` 的实现：

[code]

我的揣测是**减少闭包影响范围**。

拿 `useMemoizedFn` 的实现举例，如果不使用 `useRef`，而是直接 `return fn.apply(this, args);`，那么会导致闭包包含了 `useMemoizedFn` 的参数 `fn`，从而整个 `useMemoizedFn` 都无法从函数调用栈中释放。而使用 `useRef` 可以将闭包范围缩小到 `fnRef` 这个对象上，这样 `useMemoizedFn` 执行

[2022-03-16 02:01] brickspert commented on #1508
`useRef` 是为了解决闭包问题。

举个简单的例子

[code]

在上面的 demo 中，如果我们不用 ref 来记录最新函数，那肯定会造成闭包问题，打印的 `count` 永远是 0。

[2022-03-16 08:38] brickspert commented on #1504
我测试了一下，没有发现问题。我的配置为

[code]

[2022-03-17 01:54] Leioy commented on #1504
删除了babel-plugin-import的配置，看了ahooks的打包的产物应该是默认支持基于esModule的tress-shaking

[2022-03-17 02:06] roc-an commented on #1508
谢谢解答！

[2022-03-17 02:38] #1508 closed, assigned to nobody

[2022-03-17 02:39] #1504 closed, assigned to nobody

[2022-03-17 02:39] #1506 closed, assigned to nobody

[2022-03-17 02:39] #1486 closed, assigned to nobody

[2022-03-17 02:39] #1501 closed, assigned to nobody

[2022-03-17 02:39] #1497 closed, assigned to nobody

[2022-03-17 02:40] #1496 closed, assigned to nobody

[2022-03-17 07:54] hustwxw opened #1510 "useVirtualList的官方例子中，数据量超过一定限额会有加载不全的问题"
useVirtualList的官方例子中，当列表的数据量超过279619条数的时候，滚动条拉到最底部会发现数据加载不全有问题

[2022-03-17 08:22] ghost commented on #715
说实话，我觉得这个 支持 reset 很好 ，有些地方需要重复复制，重复提示复制状态， reset很实用

[2022-03-17 08:30] brickspert commented on #1510
测试了一下，在数据量超级大的时候，好像会有点问题

https://codesandbox.io/s/default-usage-forked-0bk7dq?file=/App.tsx

[2022-03-18 16:48] xXAvoraXx commented on #1487
Is there any idea or update? or development?

[2022-03-21 07:50] liuweiGL commented on #1435
自己维护一下：

[code]
![image](https://user-images.githubusercontent.com/21048878/159221788-cb5f3af9-04a8-4b08-96d8-4e2d45723566.png)

[2022-03-21 12:09] liuweiGL opened #1514 "usePagination 应该缓存 total 字段"
## 场景
假如一个接口在第 3 次调用时失败了，期望的展示效果应该是分页仍然在，仅仅是 table 展示为空数据。

## 问题
目前的 total 每次都从 result 里面重新取值，会因为某一次的请求失败而破坏分页：
[code]

## 方案
应该把请求成功的 total 缓存起来，当请求失败时使用上一次的 total 值。

[2022-03-22 01:44] brickspert commented on #1514
建议自行在业务层面处理，`usePagination` 不应该吃这种逻辑的。

[2022-03-22 01:44] #1514 closed, assigned to nobody

[2022-03-22 03:32] liuweiGL commented on #1514
这个逻辑跟业务无关吧？hook 内部如果不加这个处理，返回结果按常理来讲是错的。

[2022-03-22 06:14] brickspert commented on #1514
对于 usePagination 来说，有一个要求，就是 service 返回的数据格式必须为 `{total: number, list: any[]}`。

在使用时，应该保证任何时候 service 返回的数据结构是符合期望的。

你需要在数据结构不符合的时候，缓存 total，但不是所有人都会有这种诉求。

[2022-03-22 06:33] brickspert commented on #1487
I know what you mean, but ahooks won't provide this functionality for now.

It is recommended that you solve this problem in your own project first. When more users need this capability in the future, we will consider adding it to ahooks.

[2022-03-22 10:57] brickspert opened #1515 "useInfiniteScroll getClientHeight error"
经测试，在chrome上document.body.clientHeight会返回body的高度，导致当useInfiniteScroll传入的target为document时，会在未滚动触底的情况下自动触发handler

[2022-03-22 23:29] francois-pasquier opened #1517 "Remove cyclic dependencies from v3"
Starting with v3.0.0, cyclic dependencies have been introduced.
example commit: https://github.com/alibaba/hooks/commit/32ace8703f68f43d371bdcf9b3edece09d2b82e4
See:  `import { useRafState } from '..';`

e.g:
[code]

These add a lot of noise...

[2022-03-23 02:37] brickspert commented on #1517
Fixed on v3.1.14

[2022-03-23 02:37] #1517 closed, assigned to brickspert

[2022-03-23 06:15] zhao-huo-long commented on #1510
useVirtualList, 会计算出全部内容的总高度，但是chrome渲染高度的最大值好像是22369600px，超过这个值就会出现这个异常... 话说得多大的数据22369600px都不够用的

[2022-03-23 21:23] francois-pasquier opened #1519 "Remove remaining cyclic dependencies from v3"
Follow up to this https://github.com/alibaba/hooks/issues/1517

I am having this warning as well (after downloading version with https://github.com/alibaba/hooks/pull/1518)
[code]

[2022-03-24 02:20] brickspert commented on #1519
Commit:  https://github.com/alibaba/hooks/commit/389926af29500e65f209758faa9ae8664f415356

[2022-03-25 08:38] Kido-200 opened #1520 "useKeyPress能否添加useCapture属性"

[2022-03-25 09:15] lihongxun945 opened #1522 "[RFC] useRafInterval"
新增 `useRafInterval` ，用 `requestAnimationFrame` 代替 `setInterval` ，以实现更好的性能。
在node环境下自动降级成 `setInterval` 实现。

PR 已发：https://github.com/alibaba/hooks/pull/1521

## API
[code]

## 用法示例
[code]

[2022-03-27 02:02] crazylxr commented on #1520
useCapture 用来干啥的

[2022-03-28 02:49] brickspert commented on #1522
Released in v3.2.0!

[2022-03-28 02:49] #1522 closed, assigned to nobody

[2022-03-28 02:49] brickspert commented on #1519
Released in v3.2.0!

[2022-03-28 02:49] #1519 closed, assigned to nobody

[2022-03-28 08:20] LoveEocding opened #1523 "增加useWebSocket 新特性，可以改变websocketUrl 而不重复渲染"
### 使用场景
目前有个使用场景是，在当前页面可以切换url,目前使用useWebSocket时，会出现切换第二个实例之后，第一个会在关闭回调中继续reconnect，这样就会导致两个websocket链接不断改变状态，不断重复链接。
<img width="437" alt="image" src="https://user-images.githubusercontent.com/29218661/160356361-036fe646-a5eb-4515-a785-4f9a53523643.png">
### 需求
希望增加一个新的feature 支持这种切换场景，也保留断掉重试机制

[2022-03-28 13:55] xuqianjin opened #1524 "【V3】useRequest 取消initialData导致的开发体验问题"
不废话..直接上代码...
[code]

[code]

问题:
V3想使用initialData,必须使用结构赋值方式..这就`逼我`必须对每个解构变量重新命名.及其不优雅...有没有最佳实践?难道你们写业务也是对每个变量重新命名??

[2022-03-29 02:12] yang200258 opened #1525 "找不到“lodash”的类型定义文件。"
当使用ahooks时封装组件，father进行打包，在useDebounceFn和useThrottleFn类型检查时报错：找不到“lodash”的类型定义文件。

![image](https://user-images.githubusercontent.com/38518538/160518627-103a94e6-1d77-4dde-bfbf-352333c650dc.png)
![image](https://user-images.githubusercontent.com/38518538/160518676-f75a5e76-c1a5-4d37-8039-4f0683dc1af1.png)

[2022-03-29 06:02] yang200258 commented on #1525
已解决，三斜杠指令中，types会从node_modules/@types中寻址，
安装@types/lodash即可！

[2022-03-29 06:02] #1525 closed, assigned to nobody

[2022-03-29 06:15] brickspert commented on #1524
确实没有考虑到这个问题。

我考虑下是否加上这个配置项。

[2022-03-30 09:45] nikivdev opened #1532 "Support React 18.0"
After updating react package to 18.0 and running `npm install` get this:

[code]

[2022-03-30 09:54] brickspert commented on #1532
Released in v3.3.0! try it~

[2022-03-30 11:08] nikivdev commented on #1532
It works, thanks.

[2022-03-30 11:08] #1532 closed, assigned to nobody

[2022-03-30 13:06] huangshiqiang opened #1533 "Memoized是否拼写错误？"

[2022-03-31 01:57] brickspert commented on #1533
![image](https://user-images.githubusercontent.com/12526493/160960807-ad635c6a-6e5d-4f89-b5cf-0beaa26b08c7.png)

![image](https://user-images.githubusercontent.com/12526493/160960816-f7852cdc-3f5a-463f-ae07-c237a54b0163.png)

没有拼写错误哦~

[2022-03-31 01:57] #1533 closed, assigned to nobody

[2022-03-31 07:30] asyncguo opened #1534 "[v3]期望useRequest手动执行请求时，可以使用缓存数据"
<img width="342" alt="image" src="https://user-images.githubusercontent.com/37094714/161001207-6c1344b4-db3b-45fa-820b-d0a005e34cfc.png">

[code]

期望：
可以对搜索关键字`state`已请求过的数据进行缓存，不再进行接口请求
或者说是可以对接口请求的params进行缓存

[2022-03-31 07:37] cqhaisenbao opened #1535 "useAntdTable的search.submit入参丢失的bug"
useAntdTable的search.submit到底对参数做了什么？为什么请求发出的参数和实际Form拿到的数据比，少了一个？

[2022-03-31 08:51] cqhaisenbao commented on #1535
这是Demo代码，Form.Item里是自定义组件会出现这个bug
![企业微信截图_16487178533856](https://user-images.githubusercontent.com/69225950/161016395-99e3a2b6-129c-4e06-a8b8-6cb2bd7358b5.png)

[2022-03-31 08:58] brickspert commented on #1535
1. 可以提供个在线复现吗？官方 demo 是没有问题的。
2. `search.submit` 应该是不能接收参数的

`search.submit` 就是调用了 `form.getFiledsValue`，然后忽略了不显示的 Form 字段。

[2022-03-31 09:01] brickspert commented on #1535
自定义组件的话，参考下这个：https://github.com/alibaba/hooks/issues/496

[2022-03-31 09:09] brickspert commented on #1534
这个实现起来可能比较麻烦，可能要支持动态的 cacheKey。后面我考虑下这个能力。

[2022-03-31 09:50] cqhaisenbao commented on #1535
66666，用forwardRef把自定义组件包起来就可以了

[2022-04-01 02:21] #1535 closed, assigned to nobody

[2022-04-02 02:59] LCzxy opened #1538 "useVirtualList里的overscan属性设置为0时，第一条数据不会渲染"

[2022-04-02 05:41] cytle opened #1539 "useInfiniteScroll 返回值透出 useRequest 的 error 属性"
场景：列表请求失败时，需显示异常

[2022-04-02 08:36] angentle opened #1540 "useFusionTable 每次使用search.submit( )页码就回到第一页了"
出现场景如下，使用useFusionTable 结合搜索框和table以及pagination时，当用户翻页到第N页（非第一页）时，对table某一栏数据修改的操作，这时请求seach.submit() 自动回到第一页了。

期望结果： 对第N页的table数据进行操作，使用seach.submit() ，页面停留在第N页。

问题代码如下：
![image](https://user-images.githubusercontent.com/20704660/161374829-3567dd27-b203-40be-b826-035b3680258e.png)

[2022-04-04 12:00] gracehui88 commented on #1115
Url updated to: https://ahooks-next.surge.sh/zh-CN/guide/blog/function

[2022-04-04 13:53] hesterrk opened #1542 "[RFC] useMutationObserver"
API
[code]
Demo
[code]

[2022-04-05 04:23] devnomic commented on #475
I hope it's the time to support it as react 18 already out.

[2022-04-05 06:19] brickspert commented on #1540
这个是预期行为，在搜索条件变更后，是会重置到第一页的。

考虑：比如现在在第十页，变更了搜索条件后，可能一共只有两页，那如果还停留在第十页肯定有问题的。所以重置到第一页才是普遍场景。

[2022-04-05 06:23] brickspert commented on #1539
是否可以通过 `options.onError` 来实现？

[2022-04-05 06:25] brickspert commented on #475
I will work for it.

[2022-04-05 06:42] brickspert commented on #1542
[code]

API should like this:

1. target support `ref` or `Element`
2. options is optional

[2022-04-05 06:43] brickspert commented on #1542
Welcome your PR~

[2022-04-07 07:09] GeraltX commented on #1524
还有个问题就是，解构的话 `null` 不会被默认值覆盖的。

[code]

[2022-04-07 13:42] gaowujie2004 commented on #728
@brickspert 你好，请教一下这个问题，背后的原因是什么呢。

[2022-04-07 13:49] gaowujie2004 commented on #728
从代码上看，fnRef.current = useMemo(() => fn, [fn]);

在组件中这样调用：
useMemoizedFn( () => {  ....... } )

那么 fn 都是新的函数引用。据我所知 useMemo(callback, [...deps]) , 对于 callback 的调用是同步的。
那么 useMemo(() => fn, [fn]);   () => fn;  这个函数每一次重渲染都同步执行，实在是感觉没起多大作用哎，但就是能解决问题，哈哈。

[2022-04-10 02:18] brickspert commented on #728
背后的原因还不清楚

[2022-04-11 04:12] zhuxchen opened #1549 "useInfiniteScroll"
1. 只有初始化的时候才会触发onSuccess方法，滚动加载第二页就不会执行onSuccess，

[2022-04-11 07:26] dongliang1993 commented on #1540
不一定吧？比如有一个场景需要前端轮训后端接口，我需要每隔一段时间调用 submit 函数来查询表格数据，这个时候因为内部会重置 current ，会出现用户在【非第一页但是突然跳回第一页】的情况。
感觉重置翻页是不是有一个 setPagination 会更好一些呢？

[2022-04-12 02:06] brickspert commented on #1540
这个场景你应该用 refresh 的，而不是用 submit~

[2022-04-12 02:10] brickspert commented on #1549
我测试了没有问题的：https://codesandbox.io/s/crimson-water-0gbq5s?file=/App.tsx

如果有问题，再 reopen 哈。

[2022-04-12 02:10] #1549 closed, assigned to nobody

[2022-04-12 08:00] dongliang1993 commented on #1540
useAntdTable 、useFusionTable 没有暴露出 refresh api 出来

[2022-04-12 08:21] brickspert commented on #1540
https://ahooks.js.org/zh-CN/hooks/use-request/basic#%E5%88%B7%E6%96%B0%E9%87%8D%E5%A4%8D%E4%B8%8A%E4%B8%80%E6%AC%A1%E8%AF%B7%E6%B1%82

有的，只是是 useRequest 的 API，所以在 useAntdTable 、useFusionTable 没有单独写。

[2022-04-12 08:26] dongliang1993 commented on #1540
好的，谢谢~~

[2022-04-12 10:35] #1540 closed, assigned to nobody

[2022-04-13 06:37] Jungzl opened #1551 "feat: export metadata about all hooks"
If you can provide metadata information just like @vueuse, we can maintain a preset config to auto import ahooks

[2022-04-13 07:18] antfu commented on #1551
For the context, here is how we do it in VueUse https://unpkg.com/browse/@vueuse/metadata@8.2.5/index.json

Auto import using that metadata
https://github.com/antfu/unplugin-auto-import/blob/main/src/presets/vueuse-core.ts

[2022-04-14 09:52] qwq706040690 opened #1554 "useFormTable新安装依赖会导致查询项失效"
useFormTable重新安装node moudules会导致查询项失效

[2022-04-14 09:53] qwq706040690 commented on #1554
查询项被重置,老的node modules没问题

[2022-04-14 11:15] brickspert commented on #1554
useFormTable? 没有这个 Hooks 呀~

[2022-04-14 11:24] qwq706040690 commented on #1554
import { useFormTable } from '@umijs/hooks';

包版本 "@umijs/hooks": "^1.9.2",

[2022-04-14 11:26] qwq706040690 commented on #1554
"@umijs/hooks": "^1.9.2",umi-hooks文档页面404了,是完全弃用了吗

[2022-04-14 11:54] brickspert commented on #1554
umi-hooks 的文档是挂掉了。暂时可以在[这里](https://github.com/alibaba/hooks/blob/release/v1.x/packages/hooks/src/useFormTable/index.zh-CN.md)看文档.

然后这个库已经好久没动了，我估计是其它 antd 等库的升级导致的？最好提供一个复现，或者本地锁一下 antd 版本试试。

[2022-04-14 12:20] qwq706040690 commented on #1554
"@ant-design/pro-layout": "5.0.14",
    "@umijs/hooks": "^1.9.2",
    "@umijs/preset-react": "1.x",
    "@umijs/test": "3.1.4",
    "axios": "^0.21.1",
    "cross-env": "^7.0.3",
    "crypto-js": "^4.0.0",
    "file-saver": "^2.0.5",
    "immutability-helper": "^3.1.1",
    "js-md5": "^0.7.3",
    "lint-staged": "^10.0.7",
    "mathjs": "^9.4.4",
    "pdfobject": "^2.1.1",
    "prettier": "^1.19.1

[2022-04-14 13:12] brickspert commented on #1551
publish in v3.3.2

[2022-04-14 13:12] #1551 closed, assigned to brickspert

[2022-04-14 14:00] crazylxr commented on #1505
已经解决了，close 了

[2022-04-14 14:00] #1505 closed, assigned to crazylxr

[2022-04-14 14:52] crazylxr commented on #1510
这个是因为浏览器的最大渲染高度是有限限制的，最大是 33554398px，你可以尝试将一个元素的高度设置超过为这个数，然后再去看这个元素的计算值的高度，会回到这个值。

所以这个问题不是 useVirtualList 的问题，issue 就先 close 了。

[2022-04-14 14:52] #1510 closed, assigned to crazylxr

[2022-04-14 15:00] crazylxr commented on #1352
现在没有这个问题了，先 close 了

[2022-04-14 15:00] #1352 closed, assigned to nobody

[2022-04-15 00:04] Jungzl commented on #1551
seems like there is no new version on [npm](https://www.npmjs.com/package/ahooks)

[2022-04-15 01:48] brickspert commented on #1554
你有安装 ant design 吗？我看你依赖里面没有？

你把 ant design 版本锁住试试。

[2022-04-15 02:02] #1554 closed, assigned to nobody

[2022-04-15 02:21] qwq706040690 commented on #1554
刚看了下本地没问题的antd版本是4.18.2 ,新装的的4.19.5有问题, yarn add antd@4.18.2 解决

[2022-04-15 03:38] brickspert commented on #1551
sorry, [3.3.8](https://www.npmjs.com/package/ahooks/v/3.3.8) is work~

[2022-04-15 03:56] Jungzl commented on #1551
whoa, that's a lot patch version bump

[2022-04-15 04:10] brickspert commented on #1551
hhh, I just got a new computer and the environment is not configured properly~~

[2022-04-15 05:36] chainalert-bot opened #1557 "ChainAlert: npm package release (3.3.8) has no matching tag in this repo"
Dear [ahooks](https://npmjs.com/package/ahooks) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (3.3.8) of [ahooks](https://npmjs.com/package/ahooks) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain attacks, we would like to verify this release i

[2022-04-15 05:53] #1557 closed, assigned to nobody

[2022-04-15 09:24] daixiongsheng commented on #1542
when the target observed by instance of MutationObserver the 'observe' API need an options that must set at least one of 'attributes', 'characterData', or 'childList' to true

so API should like this:
[code]

[2022-04-15 09:25] daixiongsheng commented on #1542
Has any contributor for this ?

[2022-04-16 08:46] SoonIter commented on #1534
我的建议是从函数自记忆化下手，而不是使用useRequest
[code]

[2022-04-16 09:53] uelibaumgartner opened #1559 "useLongPress: Add option to trigger only if no significant touch/mousemove"
We have situation where we have swipe and long press functionality combined. We don't want to trigger the long press function when the user moves his finger to swipe. It would be great to have the option to not trigger the event if there was x-y movement above a certain threshold.

Would this be a viable feature for useLongPress?

P.S.: Really appreciate the library overall. It covers most common

[2022-04-17 02:46] crazylxr commented on #1559
I think it's reasonable. don't you  @brickspert

[2022-04-17 08:48] brickspert commented on #1542
I think it should have a default value, so options is optional.

@hesterrk are you working for it?

[2022-04-17 09:04] brickspert commented on #1559
Yes, we should add a config to ignore long press events when moving a specified distance.

This config is used to specify the distance.

[2022-04-19 08:42] hesterrk commented on #1542
Sure, I agree with the the feedback and will amend, and yes I am

[2022-04-19 12:27] yiescc opened #1561 "[QUESTION] useReactive包装的数组 无法被useEffect监听"
[code]
- state.list修改以后，useEffect监听不到变化

[2022-04-19 12:44] brickspert commented on #1561
你是直接类似 `state.list.push()` 操作？这种不改变数组地址，你当然监听不到变化。

你需要 `state.list = [...state.list]`，这种，改变数组地址。

[2022-04-20 01:41] yiescc commented on #1561
[code]

- 并没有监听到

[2022-04-20 03:04] taoliujun commented on #1515
如何修复这个问题呢？

[2022-04-20 03:23] yiescc opened #1562 "[QUESTION] useReactive能否提供获取非响应式源数据的能力"
- 类似于vue toRefs()的能力

[2022-04-20 03:30] taoliujun commented on #1340
不知道是否使用方式有问题，使用document后，在未滚动的情况下，无限触发dataRequest

[2022-04-20 03:56] taoliujun opened #1563 "[BUG] useInfiniteScroll的target为document，计算target的高度是有问题的"
在`~/packages/hooks/src/useInfiniteScroll/index.ts`的`scrollMethod`方法中引用了`getClientHeight`方法，该方法代码如下：

[code]

在如上代码中，在业务里body的高度自适应的场景中，返回的其实是`Math.max`中的`document.body.clientHeight`，实际在整个逻辑中，期待返回的应该是`document.documentElement.clientHeight`。

[2022-04-20 06:04] taoliujun commented on #1563
临时的愚蠢解决方法：
[code]

[2022-04-21 02:49] zjy01 opened #1566 "[BUG] useCounter 做了破坏性的变更，counterActions 是一个实时字面量对象"
useCounter
ahooks 2.x 版本的 actions 会使用 useMemo 进行包装。
ahooks 3.x 版本的 actions 直接返回了字面量对象

这是一个破坏性的变更，useEffect 依赖了该actions的话，有可能会导致系统崩溃
这个应该在 升级文档中 进行提示，或者重新进行封装。

[2022-04-22 03:56] gwl002 commented on #835
就是为了对标vue和mobx的这种写法，能直接改变值触发更新而已，不用immutable了。想同步拿setstate后的值做其他事情，就用楼上说的把setstate包在settimeout之内。

[2022-04-22 04:17] brickspert commented on #1515
参考下这里：https://github.com/alibaba/hooks/pull/1516#issuecomment-1075832893

[2022-04-22 04:22] brickspert commented on #1561
我测试了下，是没有问题的呀：https://codesandbox.io/s/new-silence-b1lg0t?file=/App.tsx

[2022-04-22 04:43] taoliujun commented on #1515
如果限定了body的高度，那么失去了以document为滚动父元素的意义，我使用了该方式：https://github.com/alibaba/hooks/issues/1563

[2022-04-22 06:00] crazylxr commented on #1566
你是什么场景会依赖 actions ？

[2022-04-22 06:26] zjy01 commented on #1566
可以不依赖，但是如果放入了deps，升级就会产生问题

[2022-04-22 07:03] zyanfly opened #1570 "强烈建议增加formatResult"
新版删除了useRequest及其他的请求类的formatResult参数，感觉使用体验下降一大截啊，总觉得在services中写逻辑是不那么优雅

[2022-04-23 08:27] brickspert commented on #1570
formatResult 会导致 ts 的复杂度乘以一万，导致在基于 useRequest  做封装的时候，ts 无法复用。

useRequest 会消费 service 返回的最终数据，我觉得挺合理的。

[2022-04-23 08:27] #1570 closed, assigned to nobody

[2022-04-23 08:43] #1561 closed, assigned to nobody

[2022-04-23 08:45] #1539 closed, assigned to nobody

[2022-04-23 08:56] brickspert commented on #1563
useInfiniteScroll  的 `target` 应该是固定高度的。

在你的代码中，`document` 和 `document.body` 的高度都不是固定的，都是会被无限撑起来。

[2022-04-25 02:39] jialulu0829 opened #1572 "组"

[2022-04-25 11:35] #1572 closed, assigned to nobody

[2022-04-25 13:47] crazylxr commented on #1566
这个我们考虑下，issue 就暂时先关了哈。

[2022-04-25 13:47] #1566 closed, assigned to nobody

[2022-04-25 14:09] taoliujun commented on #1563
对，你的说明只对了一半的。因为document的可视区域应该取document.documentElement.clientHeight，而不是Math.max(document.documentElement.clientHeight, document.body.clientHeight)

[2022-04-25 14:31] j3r0lin opened #1574 "[useRequest] 能不能加 options 控制在轮询时，不改变 loading 状态"
期望可以支持静默轮询，在轮询时不要修改loading状态，只有在手动调用run方法和初次自动加载时，才会修改 loading 状态。

[2022-04-26 01:56] brickspert commented on #1574
你这样判断是否应该静默更新，是不是就可以

[code]

[2022-04-26 02:00] j3r0lin commented on #1574
我理解的这样判断只能区分是否初次加载，后续应该 data 都有值的吧。我是只期望polling的无加载状态，但后续手动触发的run操作还是有加载状态的。实际应用场景：比如在一个列表页面中，更新了搜索条件，触发请求，还是期望有加载状态的。只有定期轮询请求时，才期望是后台静默的。类似于 ant design pro table 的轮询。

[2022-04-27 01:29] lovesL opened #1576 "useRequest"
##  版本： "ahooks": "^3.3.8"

### 问题
<img width="773" alt="image" src="https://user-images.githubusercontent.com/27960630/165419967-5af373fa-bb6a-4d44-916f-53ad44b788ae.png">

![image](https://user-images.githubusercontent.com/27960630/165420017-4e712694-deb7-4242-a325-c4b2d56a76b8.png)
咋个是 undefined 呀 专家

<img width="748" alt="image" src="https://user-images.githubusercontent.com/27960630/165420101

[2022-04-27 02:01] brickspert commented on #1576
用 `a.runAsync()`

[2022-04-27 02:01] #1576 closed, assigned to nobody

[2022-04-27 05:53] zyanfly opened #1577 "v1和v2的文档网站都挂了。"

[2022-04-28 01:23] brickspert commented on #1577
![image](https://user-images.githubusercontent.com/12526493/165657557-0f4c9c87-aa04-41cd-93e9-a77674d9d61b.png)

v2 可以访问的

[2022-04-28 03:07] guichch opened #1578 "Ready由false变为true时，第一次返回的loading是false"

[2022-04-28 03:08] zyanfly commented on #1577
<img width="1264" alt="image" src="https://user-images.githubusercontent.com/26576825/165668722-08222c2c-f174-4d69-af75-7a215efa4cd2.png">

[2022-04-28 03:08] zyanfly commented on #1577
白屏

[2022-04-29 02:59] zyanfly commented on #1577
v2的官网证书过期了

[2022-04-29 08:19] RoamingTheUniverse commented on #1577
v1 和 v2 官网都挂了，还是麻烦修复一下吧
v1 官网：
![image](https://user-images.githubusercontent.com/42606107/165908466-d17def48-56ab-4ed2-939d-3bf5606951ff.png)
v2 官网：
![image](https://user-images.githubusercontent.com/42606107/165908570-bebab9b4-9bbc-4ab1-ad86-899971bf4a35.png)

[2022-04-29 11:08] brickspert commented on #1577
不用 chrome 就能访问。我看看怎么修下。

[2022-04-29 13:23] brickspert commented on #1577
v2 的修好了：https://ahooks-v2.js.org/

贫穷让我只能用免费的静态站点服务器，免费的又不好用。唉~~

[2022-04-29 13:23] #1577 closed, assigned to nobody

[2022-05-03 04:54] yuzhanglong commented on #1562
附议

[2022-05-04 03:28] fuhaiwei opened #1581 "useStorageState 的 options 不提示 defaultValue"
https://github.com/alibaba/hooks/blob/f2f75593da46aed16b31037b799ea02711a8764d/packages/hooks/src/createUseStorageState/index.ts#L27
useStorageState 有一个 options 不含 defaultValue 的版本存在的意义是什么？
这会导致 vscode 不能提示 defaultValue
而 defaultValue 本来就是可选的
不输入不会导致任何错误

[2022-05-04 03:56] breezewish opened #1582 "useLocalStorageState with default value uses wrong signature"
Consider:

[code]

The TypeScript check failed complaining error for `v.foo`:

[code]

As you can see, v is `{foo:boolean}|undefined` instead of `{foo:boolean}`, even when default value is specified.

[2022-05-05 07:34] awmleer opened #1583 "The factory function of useCreation get called twice in React 18"
See the codesandbox below:
https://codesandbox.io/s/ahooks-usecreation-with-react-18-9qojqe

![image](https://user-images.githubusercontent.com/16526078/166879861-dcef0ab4-3876-4fad-98b8-f1bc44d51a3e.png)

`id` get logged twice and the two values are different, which seems to violate the guarantee of `useCreation`.

Environments:
React & ReactDOM 18.1.0
ahooks 3.3.10

[2022-05-05 09:02] lovesL opened #1584 "关于useEventEmitter使用"
useEventEmitter 能否在子组件通知父组件中使用，比如
<img width="892" alt="image" src="https://user-images.githubusercontent.com/27960630/166892341-bd5d32ae-3faf-4176-bf9c-2e957683e699.png">
CommonLayout是个移动端全局布局高阶组件，我想在子组件内控制是否需要显示头部或是底部，希望专家给点建议😊~

[2022-05-05 09:34] zcCodeWarehouse opened #1585 "useRequest 重复发起请求 但是参数不一样。onSuccess只触发最后一次"
但是请求是成功发出去了的，也有返回值。

[2022-05-05 09:39] zcCodeWarehouse commented on #1585
我调用两次run，传参是不一样的，请求成功发送，但是只会触发最后一次的onSuccess

[2022-05-05 10:16] zcCodeWarehouse commented on #1585
从之前的issue得知这是预期行为，那我该如何优雅的解决这个问题呢。

[2022-05-05 11:42] brickspert commented on #1585
useRequest 目前解决不了这种问题，这种场景下感觉不适合用 useRequest。

[2022-05-05 11:45] brickspert commented on #1584
可以的。

不过这种场景用全局 store（类 redux），或者 context 似乎更合适。

[2022-05-05 11:45] #1584 closed, assigned to nobody

[2022-05-05 12:07] #1585 closed, assigned to nobody

[2022-05-05 12:22] brickspert commented on #1582
和 #1581 两个问题一起在这里回答。

目前 StorageState 的 TS 类型存在一些瑕疵。

即使有 defaultValue，T 也有可能是 undefined 的，因为 defaultValue 只会在初始化的时候生效，后面还是可以删除，并且设置为 `undefined` 的。

[2022-05-05 13:22] breezewish commented on #1582
@brickspert 从 `useLocalStorageState` 这个 hook 本身视角来看，在有 `defaultValue` 情况下接受 undefined value（允许删除）可能不太合理，这意味着它不幂等? remount 和 render 情况下会有不同的 state

[2022-05-05 15:01] fuhaiwei commented on #1582
👍
#1586 应该已经修正了options的提示问题。

[2022-05-05 18:01] SoonIter commented on #1583
Remove the "React.StrictMode",then it will work well.
![image](https://user-images.githubusercontent.com/79413249/166984748-2090acc9-2006-4079-9f85-43d069a43d46.png)

[2022-05-06 02:22] brickspert commented on #1582
这里的 `defaultValue` 其实叫 `initialValue` 更合理，是一个初始化的默认值。

[2022-05-06 12:09] fuhaiwei opened #1588 "useUrlState如果State属性中有Array，可能返回string[] string undefined。"
useUrlState如果State属性中有Array，可能返回string[] string undefined。
示例链接：https://codesandbox.io/s/use-url-state-1-7cyi11?file=/App.tsx

可以考虑添加一个arrayNames的option，使得返回的state，始终为string[]
示例链接：https://codesandbox.io/s/use-url-state-2-k9l8i1?file=/App.tsx

[2022-05-07 14:42] hchlq opened #1589 "The internal error of the update function was not handled in useSetState"
[code]

[2022-05-07 14:45] hchlq commented on #1589
[demo link](https://codesandbox.io/s/quirky-liskov-xjbbo3?file=/src/App.js)

[2022-05-08 05:44] crazylxr commented on #1589
You should catch it yourself。The setState of react is the same as the useSetState of ahooks。

[2022-05-08 06:10] #1589 closed, assigned to nobody

[2022-05-08 06:16] crazylxr commented on #1588
你是想表达 state 类型可能是 string[] string undefined？

[2022-05-08 09:06] birdycn opened #1594 "useEventListener能否监听dom数组"
[code]

[2022-05-08 09:07] birdycn commented on #1594
希望能够监听某个父元素下的所有img标签的点击事件

[2022-05-08 12:12] hchlq commented on #1594
我觉得监听父元素就好了，通过事件委托即可
可以看一下这个例子哈
[demo](https://codesandbox.io/s/divine-cdn-x7m9mf?file=/src/App.js)

[2022-05-08 16:56] hchlq opened #1598 "[RFC] useDeepCompareLayoutEffect"
用法： useLayoutEffect 一致，但依赖项通过 [lodash isEqual](https://lodash.com/docs/4.17.15#isEqual) 进行深比较。
场景：用于执行时机比较早的useLayoutEffect，并且对依赖项进行深比较
## API
[code]

## Demo

[code]

[2022-05-09 02:05] brickspert commented on #1598
没问题的，代码完全参考 https://ahooks.js.org/hooks/use-deep-compare-effect 即可

[2022-05-09 02:18] brickspert commented on #1594
正解 +10086

[2022-05-09 02:18] #1594 closed, assigned to nobody

[2022-05-09 05:56] fuhaiwei commented on #1588
@crazylxr 是的
这有点不方便使用

[2022-05-09 06:43] lovesL opened #1600 "useResquest防抖"
"ahooks": "2.10.12",

![image](https://user-images.githubusercontent.com/27960630/167353943-718ad67a-85af-4389-aac4-e8c3b734a5d4.png)
![image](https://user-images.githubusercontent.com/27960630/167354370-43685ab4-2d3d-42b8-85c7-0f6d64d524eb.png)
  咋整。。。

[2022-05-09 08:24] lovesL commented on #1600
场景：i输入框输入值加防抖调接口。问题是
<img width="755" alt="image" src="https://user-images.githubusercontent.com/27960630/167369935-d04e41a9-931d-47f6-a19e-3b45bd0437c8.png">
接口调了 但是我拿不到接口的值

[2022-05-09 08:35] hchlq commented on #1600
这样设计感觉不好，提供一个建议
[code]

[2022-05-09 08:42] lovesL commented on #1600
。。。data
![image](https://user-images.githubusercontent.com/27960630/167373088-667aee08-3caa-4b55-9ced-53059732d9fb.png)

[2022-05-09 08:43] lovesL commented on #1600
我只要加了 debounceInterval: 500,  data就拿不到值

[2022-05-09 08:44] hchlq commented on #1600
是不是useEffect的依赖项不对呢

[2022-05-09 08:49] lovesL commented on #1600
不是  我确实没拿到值

cosnt data = await a.run();  和  const { data, loading, run } = useRequest(getEmail  这两个的data  得的值有什么区别吗

[2022-05-09 09:02] hchlq commented on #1600
不是防抖节流的话是一样的，我这边模拟是没有问题的.
可以看下这个例子
[code]

[2022-05-09 09:15] lovesL commented on #1600
const a = useRequest(getTowerList,{ manual:true});
  const b = useRequest(getPackage, { manual: true });
大佬 但是我又多useRequest  不能解构 const { data, loading, run } 呀

[2022-05-09 09:19] lovesL commented on #1600
我解决了 谢谢大佬

[2022-05-09 09:19] #1600 closed, assigned to nobody

[2022-05-09 09:20] SukkaW opened #1602 "[Bug Report] Avoid reading and writing `ref.current` during the rendering phase"
Although the current React documentation doesn't mention it, according to [the React beta documentation](https://beta.reactjs.org/apis/useref):

[2022-05-09 10:02] hchlq commented on #1602
I think you're right. But in some scenes, ahooks  needs to use the features of React.useRef to achieve them.

I think the most important reason for using useRef instead of useState is:
the reference value of useRef remains unchanged in the update state of the component, which is very effective in getting the latest value in the closure of some functions, which cannot be done in useState or useRedu

[2022-05-09 12:50] crazylxr commented on #1588
我们有考虑过这个问题，但是这个 ts 推导有点难，我们还没有找到合适的方法，但是你的建议加一个参数我认为这是为了 ts 类型才加的，不是特别合适的，毕竟 ts 只是一个类型，并不是逻辑，为了它去增加 API 我认为是不合适的。

可以继续讨论还有没有其他的方案

[2022-05-09 12:55] crazylxr commented on #1578
麻烦详细描述一下问题呢。

[2022-05-09 13:38] fuhaiwei commented on #1588
@crazylxr
不是因为TypeScript类型才加的，可以看上面第一个代码示例。
传入单个元素的数组，会返回string，这样 array.includes()都没法调用了。

setState({ types: [] })
返回：{ }
预期：{ types: [] }

setState({ types: [1] })
返回：{ types: "1" }
预期：{ types: ["1"] }

setState({ types: [1, 2] })
返回：{ types: ["1", "2"] }
预期：{ types: ["1", "2"] }

[2022-05-09 23:41] wangxingkai commented on #1588
@brickspert @crazylxr

哦，我懂了，这里说的是Hook输出的state和原始输入的state不一致的问题:

这里我们传入的`types` 始终是数组（大于一个元素的数组，一个元素的数组，空数组），而我们期待在返回的state里，`types`仍然应该是数组。

但第2和第3个用例中`types`的类型变成了"单个元素的字符串"和"undefined"。

[code]

还没看代码，感觉是输入的原始state被`query-string`在flatten params到query string的过程给消化掉了。

我们在使用这个Hook的时候，应该是期待输入输出一致的，Hook的工作是把输入的state同步到URL。

---

另外，我发现，如果设置了初始state，setState空数组并不能覆盖初始值，个人觉得这不是预期的行为:

[code]

[2022-05-10 02:03] fuhaiwei commented on #1588
@wangxingkai

其实应该期待，只会返回string[]，而不是number[]。
但传入有number[]默认值的情况下，有可能返回number[]，string[]。
也许文档应该明确，只能传入string，string[]类型的数据

[2022-05-10 02:15] brickspert commented on #1588
可以通过 `options.parseOptions` 和 `options.stringifyOptions` 来控制 url 参数的转换逻辑，可以满足你的需求。

https://ahooks.js.org/zh-CN/hooks/use-url-state#options

[2022-05-10 02:16] brickspert commented on #1588
目前的输入输出就是通过 `query-string` 默认值来处理的，需要其它格式的，传递配置就好了~

[2022-05-10 02:24] brickspert commented on #1602
We'll take this seriously in our React 18 revamp, thank you for your feedback!

[2022-05-10 02:34] wangxingkai commented on #1588
@fuhaiwei

哦，我说的并不是返回string或者number的区别。我主要是说，我觉得空数组应该可以覆盖掉初始值

[2022-05-10 02:44] wangxingkai commented on #1588
`arrayFormat`  设置成其他显式用array的类型，可以解决“单元素数组”的情况 `setState({ types: [1] })`，但是"空数组“情况`setState({ types: [] })`仍然会返回`undefined`

https://github.com/sindresorhus/query-string#arrayformat
新版本的`query-string` 有个 `colon-list-separator` 格式，不知道是否能解决"空数组”情况

[2022-05-10 07:57] MarksJin opened #1606 "useVirtualList 数据抖动"
使用 useVirtualList 按照官网的案例，滚动时列数据会剧烈滚动

![DF79F30F-8618-4036-8D66-CAF110C8178D](https://user-images.githubusercontent.com/16314366/167578378-8a4a6859-d3ed-453d-b71d-74fd7ec156f8.png)

https://user-images.githubusercontent.com/16314366/167578256-1321465b-cd34-40a1-a562-437e8b588d53.mp4

[2022-05-10 09:19] joriewong commented on #728
[code]

[2022-05-10 11:21] brickspert commented on #1606
复现不了：https://codesandbox.io/s/ijpcvt?file=/App.tsx

[2022-05-12 11:56] brickspert commented on #1606
无法复现，暂时关了哈。

[2022-05-12 13:05] asyncguo opened #1615 "[feature] useTimeout 是否可以考虑 return timer"
期望 `useTimeout` 返回 `timer`，方便调用者可以手动取消定时器

[code]

[2022-05-12 13:07] hchlq commented on #1615
我觉得可以加一个取消定时器的返回函数，你觉得呢 @brickspert

[2022-05-12 13:53] brickspert commented on #1615
1. 这里如果把 `delay` 改成 `undefined` 就可以暂停当前的 timer
2. 增加一个 clear 函数也可以。 @hchlq

[2022-05-12 14:09] hchlq commented on #1615
如果把 `delay` 改成 `undefined` 确实可以，不过我觉得增加一个clear函数更好一点
原因是：
1. 如果要更改 `delay` 为 `undefined` ，调用者需要维护一个state去更改，感觉不是很有必要
2. 返回一个clear函数更加符合直觉，调用者直接调用清理定时器即可

[2022-05-13 01:37] 269378737 opened #1618 "useRequest为甚么会发起两次http请求？"
新建了一个空白项目，放入了官网的实例代码（更改了请求代码），结果执行时在浏览器调试工具中看到调用了两次http请求，这是什么原因呢？报错可忽略，跨域引起的。

![image](https://user-images.githubusercontent.com/10287779/168193814-f8c0b132-ac0f-4ed0-8da4-197431adc779.png)

![image](https://user-images.githubusercontent.com/10287779/168194059-a154d76f-bd01-47d6-8a4c-d626fb0d739e.png)

[2022-05-13 01:54] crazylxr commented on #1618
react 版本是 18 吗？

[2022-05-13 01:58] crazylxr commented on #1615
同意第二点，第一点不一定，因为取消的时候往往是依赖于其他的 state 去取消的，大多数情况是不需要多声明一个状态的。

不过最终建议还是 加一个 clear。

[2022-05-13 02:16] 269378737 commented on #1618
是的，另外vite是2.9.9

[2022-05-13 03:24] erweixin commented on #1618
参考：https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html#updates-to-strict-mode
React 18 将在开发模式下模拟卸载和重新安装组件
应该是这个原因

[2022-05-13 05:10] 269378737 commented on #1618
谢谢，看样子是这个原因，打包后在生产环境就请求一次了。

[2022-05-13 05:10] #1618 closed, assigned to nobody

[2022-05-13 06:12] #1583 closed, assigned to nobody

[2022-05-13 06:13] awmleer commented on #1583
Found out that this is an expected behavior of StrictMode and there is no way to bypass it, even the `useCreation` Hook.

[2022-05-13 14:40] goSunadeod opened #1624 "useRequest 中 使用refreshDeps 还支持竞态吗"
useRequest 中 使用refreshDeps 还支持竞态吗   我看文档中 是没有展示的

[2022-05-14 10:07] #1624 closed, assigned to nobody

[2022-05-15 07:09] bobfw opened #1628 "react 18 useEffect 执行两次的问题"
在react 18中开启严格模式，useEffect 会被执行两次，同样useMount之类也会执行两次，这是一次破坏性更新，不是bug，但是确实会出问题，ahook是否有计划提供在react18 严格模式优雅的 useEffect 方案

https://github.com/reactwg/react-18/discussions/19

[2022-05-15 08:57] brickspert commented on #1628
正在改造中，但是严格模式 useEffect/useMount 执行两次是不可避免的。

[2022-05-15 09:16] brickspert commented on #1602
https://zhuanlan.zhihu.com/p/514751791

[2022-05-15 09:16] #1602 closed, assigned to brickspert

[2022-05-15 09:16] #1582 closed, assigned to nobody

[2022-05-15 09:16] #1581 closed, assigned to nobody

[2022-05-16 02:31] li-jia-nan opened #1631 "3.3.10升级到3.3.11，在服务端渲染中会报window is undefined"
3.3.10升级到3.3.11，在服务端渲染中会报window is undefined，回退到3.3.10报错消失

[2022-05-16 02:34] brickspert commented on #1631
能贴下具体的报错地方吗

[2022-05-16 02:36] u3u commented on #1631
https://github.com/alibaba/hooks/blob/c907c7bb0f463db124ddbcc3c83706868277bd27/packages/hooks/src/utils/canUseDom.ts#L4

这里只能用 `typeof window !== 'undefined'`

[2022-05-16 02:37] hchlq commented on #1631
我了解了，之前typeof 有个暂存性死区 @brickspert ，目前在服务器访问，导致的报错

[2022-05-16 02:47] li-jia-nan commented on #1631
[hooks/packages/hooks/src/utils/canUseDom.ts](https://github.com/alibaba/hooks/blob/c907c7bb0f463db124ddbcc3c83706868277bd27/packages/hooks/src/utils/canUseDom.ts#L4)

[2022-05-16 03:01] #1631 closed, assigned to nobody

[2022-05-16 03:05] brickspert commented on #1631
ahooks@3.3.12

[2022-05-17 02:00] guichch commented on #1578
刚进入页面时请求一个接口，但是ready是false，所以不会立即请求。过一段时间之后ready变为true，此时会发起请求，请求的过程中会返回三次结果，理想的状态是前两次loading返回true，最后一次返回false。但是第一次返回的结果loading是false

[2022-05-17 10:00] LukerSpringtree commented on #1502
ahook 新版本;
umijs/hooks 老版本;

[2022-05-17 10:03] fangqibin commented on #1502
我看版本不太兼容啊

[2022-05-17 13:38] crazylxr commented on #1502
大版本不兼容不是很正常么，umijs/hooks 是 ahooks 1 了，现在 ahooks 已经到 3 了

[2022-05-17 13:40] crazylxr commented on #1578
有可复现的 demo 吗？

[2022-05-19 12:31] cwtuan commented on #1006
[code]
`changePageSize` will overwrite the `pageSize` value.

Workaround:
[code]

[2022-05-20 14:14] undefined9999 opened #1634 "useRequest在开启轮询的时候在onError中不能通过提供的cancel取消轮询，在http状态码非200的时候取消不了轮询"

[2022-05-20 14:21] #1634 closed, assigned to nobody

[2022-05-20 17:18] equinusocio opened #1635 "SSR issue with useMouse"
I'm using the `useMouse` hook inside a component, within NextJS. but I get the `document is not defined` error on page load. My code is very basic:

[code]

This happens only when page change/reload. Not with hotreload.

[2022-05-20 23:36] ningliaoyuan commented on #787
umi这个封装太恶心了，包个了data层...

[2022-05-21 09:11] hchlq commented on #1635
Thank you for your feedback. We have found the problem and fixed it as soon as possible

[2022-05-21 10:00] #1635 closed, assigned to nobody

[2022-05-21 10:09] brickspert commented on #1635
ahooks@3.3.13

[2022-05-21 12:37] chinyifei commented on #571
你设置的默认值字段，要在form表单的form.itm里面有对应的name值才可以。

[2022-05-23 01:44] #1598 closed, assigned to nobody

[2022-05-23 07:07] babycannotsay opened #1638 "useRequest提供第三个参数plugins Demo"
useRequest提供了第三个参数plugins，但是没有对应的demo和example，网上也搜不到对应的用法，能否提供一下并给出使用场景呢，谢谢。

[2022-05-23 08:05] babycannotsay commented on #1638
官方源码中封装useRequest时使用了plugins

[2022-05-23 08:05] #1638 closed, assigned to nobody

[2022-05-23 11:40] #1502 closed, assigned to nobody

[2022-05-25 15:57] RaindropSaber commented on #1628
useEffect 不能把它当作生命周期来看。

但是 useMount 的定位是把它是等价成 componentDidMount 来做的吧。

[code]

那这样改是不是可以避免两次执行。

[2022-05-26 03:39] hansonfang commented on #1433
有好的解决方案了不

[2022-05-27 08:19] cl1107 opened #1641 "useClickAway判断不对"
复现链接：https://codesandbox.io/s/ahooks-clickaway-bug-v5t3zp?file=/src/App.js

这是使用react-use时的效果
https://user-images.githubusercontent.com/21985353/170660093-99cc3097-0ad9-45fa-866e-f8ab404aaf7a.mov

这是使用ahooks时的效果
https://user-images.githubusercontent.com/21985353/170660185-3abb028c-d082-4c59-8fda-46993ebbfd5a.mov

[2022-05-28 06:13] hchlq commented on #1641
感谢你的反馈，排查的情况是这样的：
1. 我们默认是监听 `document` 上的 `click` 事件，因为阻止了冒泡，所以导致没有触发 clickAway 回调函数
2. react-use 默认是监听 `document` 上的 `mousedown` 和 `touchstart` 事件，所以阻止冒泡也不会影响 clickAway 回调函数的触发

[2022-05-28 06:14] hchlq commented on #1641
我们可能需要讨论下是否要针对这一情况处理呢 @brickspert @crazylxr
我的想法是这样的：
1. 因为我们需要监听顶层元素通过事件委托的方式看是否点击了目标元素之外，从而调用回调函数，在这一情况下阻止了冒泡，不触发回调感觉也有点合理
2. 如果采用 `mousedown` 或者 `touchstart` 事件，我们就能兼容开发者在 `click` 下阻止冒泡，因为大多数情况下用 `click` 多于  `mousedown` 或者 `touchstart` 事件

各有一些优点和缺点，需要讨论看一下哈

@cl1107 欢迎提出你的想法💡

[2022-05-28 06:53] hchlq commented on #1641
上面的情况是在 react17 之后的，react17 之后，事件默认绑定在了根元素 `#root` 上，所以阻止冒泡直接不触发 `document` 上的 `click` 事件。

在 react17 以前，react 默认绑定事件在 `document` 上，即使阻止了冒泡也还是会触发 `document` 上的 `click` 事件。
在这个例子中，所以无论怎么点击 `CodeSandbox文字` 都不会显示 `foobar`。因为点击触发更新，重新渲染，`visible` 变为 true，此时调用 clickAway 回调函数，始终获取到最新的 `visible` ，即为 true，又将 `visible` 变为 false。

**这个情况下我认为 ahooks 是合理的，因为 `CodeSandbox文字` 是在 `foobar` 之外的，也触发了 clickAway 事件，`

[2022-05-28 07:20] cl1107 commented on #1641
我感觉改成mousedown和touchstart的效果更符合预期，点击第二个CodeSandbox文字，对于第一个CodeSandbox而言就是clickAway了，应该是要触发第一个的clickAway的回调函数的

[2022-05-28 07:31] hchlq commented on #1641
是的，不过默认如果改成了 `mousedown` 的话，有一个缺点就是在 `mousedown` 阻止冒泡的话和现在的 `click` 一样有问题的，只是说 `mousedown` 可能用的稍微少一点，所以默认事件建议改成 `mousedown`

[2022-05-29 09:50] #1615 closed, assigned to nobody

[2022-05-30 09:02] AnathanPham commented on #728
讲道理，这个方法也不太行。
我觉得不使用并发模式的前提下，用当前版本的`useMemoizedFn `很香。

`useLayoutEffect`是 RFC给出的例子的实现。

 #### useEvent潜在的问题？
我的评论 https://github.com/reactjs/rfcs/pull/220#issuecomment-1140807623
 子组件 useLayoutEffect 无法获取最新的 方法。
 子组件的 useLayoutEffect 发生在 父组件 之前。如果在子组件的 useLayoutEffect 中执行 useEvent的返回的方法，将会访问旧的值。
想到这里，我觉得既然我们没有使用并发模式，那么用 useMemoizedFn 也没什么毛病甚至更好。

[2022-05-30 12:04] pule-dpr commented on #1606
@brickspert react18.1.0 可以复现

[2022-05-30 12:08] pule-dpr commented on #1606
@brickspert  https://codesandbox.io/s/default-usage-forked-xidyxw?file=/index.tsx  往下滚动一点就可以，区别时用的`root.render()`

[2022-05-30 15:39] 1qazsy opened #1643 "type.Ts中的TData是哪里来的"
TParms 是继承的，那TData 哪里来的呢，求大佬解释下

<sub>Sent from <a href="https://apps.apple.com/cn/app/id1314212521">PPHub</a></sub>

[2022-05-31 04:31] hchlq commented on #1643
能详细点描述问题么
指的是 `function useRequest<TData, TParams extends any[]>` 吗

[2022-05-31 07:20] undefined9999 opened #1645 "useRequest开启轮询模式时，希望支持设置retryCount"
使用场景：登录平台后会使用useRequest注册一个接口轮询函数且manual设置为true，希望在轮询的接口报错后进行重试，达到重试次数之后停止轮询

[2022-05-31 13:12] #1559 closed, assigned to crazylxr

[2022-06-02 03:20] Easy-Martin opened #1648 "@brickspert https://codesandbox.io/s/default-usage-forked-xidyxw?file=/index.tsx 往下滚动一点就可以，区别时用的`root.render()`"
@brickspert  [codesandbox](https://codesandbox.io/s/default-usage-forked-9466sb?file=/index.tsx)  往下滚动一点就可以，区别时用的`root.render()`

_Originally posted by @pule-dpr in https://github.com/alibaba/hooks/issues/1606#issuecomment-1141077828_

[2022-06-02 07:24] Easy-Martin commented on #1648
页面内容高度发生变化引起滚动条跳动的问题。浏览器会自动触发scroll事件，调整滚动条的位置，让滚动条不胡乱跳动 懒加载的时候由于不断更新列表项内部的高度，因此就会使浏览器自动触发滚动事件，而滚动事件又触发懒加载的更新，形成死循环，造成自动滚动的问题。在父元素中添加样式`overflow-anchor:none`就正常了。

[2022-06-02 07:25] #1648 closed, assigned to nobody

[2022-06-02 07:31] Easy-Martin commented on #1606
页面内容高度发生变化引起滚动条跳动的问题。浏览器会自动触发`onscroll`事件，调整滚动条的位置，让滚动条不乱跳动 ;
懒加载的时候由于不断更新列表项内部的高度，因此就会使浏览器自动触发滚动事件，而滚动事件又触发懒加载的更新，形成死循环，造成自动滚动的问题。在父元素中添加样式`overflow-anchor:none`就正常了。不知道为啥只有`react18`，`root.render()`方式才会有问题

[2022-06-03 08:15] okejminja opened #1649 "useClickAway doesn't work if Ref is in shadow root"
useClickAway hook adds the addEventListener to the document instead of the shadow root. Because of this, the hook doesn't work as expected and triggers the callback even if you click on the Ref element.

[2022-06-05 07:18] taoliujun opened #1652 "useInfiniteScroll在切换tab场景下执行两次的问题"
有一个业务场景是tab切换后请求接口，所以在useInfiniteScroll中设置了`reloadDeps`。造成一个问题如下：

1. 切换第一个tab，返回了一些数据，且nextId: 12
2. 切换第二个tab，返回了一些数据，且nextId: null
3. 紧接着，又自动请求了接口，并且请求参数为 nextId: 12

打断点发现，是scroll监听事件执行的时候，finalData和noMore仍然是上一个声明周期中的值。这有极大几率发生，取决于`setFinalData`的执行效率如何。

[2022-06-06 02:04] crazylxr commented on #1652
麻烦放一个 demo 呢

[2022-06-06 03:46] Kehao33 opened #1653 "使用useRequest请求的data为undefined"
后端response的结果：
{
 xxxx,
 result: [{xxx:xxx}]
}

前端请求为：
const Page = () => {
   const {loading,data} = useRequest(() => myRequest(), {
    defaultParams: [{}],
    onSuccess(result) {console.log(result); // undefined}
  });
  // 然而我使用
 myRequest().then(res => console.log(res)); // 可以得到result，这是为啥？
   console.log(data); // undfined？
  return 页面内容;
}

[2022-06-06 03:52] whace opened #1654 "usePagination 第一次渲染组件时，render了3次"

[2022-06-06 07:12] Kehao33 commented on #1653
已解决，是因为对 useRequest 进行了进一步封装的原因（对response的结果进行了 处理导致的）

[2022-06-06 07:12] #1653 closed, assigned to nobody

[2022-06-06 11:55] hyy-dev opened #1655 "useAntdTable的refreshDeps更新时引发form的reset重置"
感觉此处应该用form的submit比较合理，在查询表格中，refreshDeps(比如标签页状态tab)变更应当只触发表格的数据更新，而不应引发查询表单的数据变更。

[2022-06-06 12:07] #1655 closed, assigned to nobody

[2022-06-06 12:07] brickspert commented on #1654
正常行为。

初始化->开始请求 loading=true -> 请求结束 loading=false

[2022-06-06 12:07] #1654 closed, assigned to nobody

[2022-06-09 02:37] fangzhengjin opened #1658 "之前的loadMore现在有没有替代方案"
之前的loadMore现在有没有替代方案呀?
全局的字典下拉都用到了, 新版直接吧这个移除了....

[2022-06-09 08:04] undefined9999 opened #1661 "useRequest开启轮询模式，在标签页不可见或者浏览器最小化一段时间后就停止轮询，标签页重新激活后依旧不轮询"
useRequest开启轮询模式，在标签页不可见或者浏览器最小化一段时间后就会停止轮询，标签页重新激活后依旧不轮询，这种有什么解决办法么？useInterval也会出现这种情况

[2022-06-09 08:18] undefined9999 commented on #1661
是否考虑将setInterval和setTimeout的执行放到Web Worker中来避免这种问题？

[2022-06-09 16:30] hchlq commented on #1658
@fangzhengjin 能详细描述下问题不～，是 `useInfiniteScroll` 吗，还是啥问题呢

[2022-06-09 16:40] hchlq commented on #1661
一段时间后大概是多少呢，我这边试了一下好像不会停止轮询，是不可见或最小化时间不够吗
触发的时间不符合预期是有的，因为这是浏览器下对 `setInterval` 和 `setTimeout` 的一个“优化”，执行回调的时机会变得慢一些

[2022-06-10 02:09] undefined9999 commented on #1661
![image](https://user-images.githubusercontent.com/35595635/172976154-3b280138-d218-4a14-ab6f-cd73e447aecd.png)
我这边25分钟左右就停了，浏览器最小化，电脑没有睡眠，网络也没有波动，请求也没有报错

[2022-06-10 04:10] hchlq commented on #1661
试了一下的确有点问题，这个要不要看一下呢 @brickspert @crazylxr @awmleer

[2022-06-10 04:27] hchlq commented on #1661
@undefined9999 目前暂时还未考虑加入 Web Work 解决这个问题，主要有两个原因：

1. `ahooks` 不仅仅是在浏览器下，在服务端也会用到
2. 有一些其他的解决方案，可以监听屏幕聚焦，然后重新触发执行就好了

这边建议你通过「监听屏幕聚焦，然后重新触发」这一方案解决哈

[2022-06-10 05:13] undefined9999 commented on #1661
@hchlq 感谢大佬耐心解答。目前是通过使用useDocumentVisibility在窗口激活的时候调用refresh这一方案解决的。但是我理解类似checkStatus这种的轮询即使在窗口非激活态时也是需要不间断执行的（除业务所需主动停止外），那是不是可以考虑将web work或者其他的方法做成可配置的，来满足web端和node端的不同使用方式呢

[2022-06-10 05:21] hchlq commented on #1661
我们先看下这种方式的改动成本怎么样，再决定要不要改哈。好像社区上其他的 lib 类似的问题也没能很好的解决

[2022-06-10 05:23] undefined9999 commented on #1661
收到，感谢大佬耐心回复

[2022-06-10 05:28] hchlq commented on #1661
有想法欢迎提 PR 哈

[2022-06-10 06:33] fangzhengjin commented on #1658
对对对, 是这个, 原来改名拆出来了, 但是这个没有防抖诶, 我们是用useInfiniteScroll作下拉可查询字典, 用户输入的时候需要做防抖

[2022-06-10 07:55] hchlq commented on #1658
你的意思是下拉做防抖吗，还是用户输入的时候做防抖呢。能提供一个 demo 吗
用户输入做防抖的话，用防抖函数包裹 `loadMore` 就好了呀

[2022-06-11 05:31] hchlq commented on #1661
看了一下实现，引入 web worker 后可能导致覆盖全局 setTimeout 和 setInterval 的污染，暂不考虑加入，先关掉该 issue 哈

[2022-06-11 05:31] #1661 closed, assigned to hchlq

[2022-06-12 08:52] crazylxr commented on #1643
多天没有更多的信息，先关闭了

[2022-06-12 08:52] #1643 closed, assigned to nobody

[2022-06-13 03:27] fangzhengjin commented on #1658
恩恩, 还有个建议哈, reload函数能不能加个入参? 比如用户发起搜索的时候可通过reload将入参带入到请求参数

[2022-06-13 07:51] zyanfly opened #1667 "useAntdTable refreshDeps 改变我想要重置form，有实现方案么？"
如题，我的table还依赖一个tab数据，作为refreshDeps，而我每次切换tab，我希望能重置table的筛选表单form，现在是form的数据会保留只有手动reset才可以重置。

[2022-06-13 09:32] tobemaster56 opened #1668 "useSize 在获取宽高带有小数点的元素时，会四舍五入"
复现链接：https://codesandbox.io/s/usesize-bug-7wtvtx

获取元素的 clientHeight，clientWidth，是会四舍五入的，如果需要原始的精确度，可以考虑 getBoundingClientRect() 这个 api

[2022-06-13 14:28] crazylxr commented on #1658
你这种情况用 reloadDeps 就可以了吧。

[2022-06-13 14:39] crazylxr opened #1669 "针对实验性的 hook 打个标签"

[2022-06-13 14:54] #1669 closed, assigned to crazylxr

[2022-06-14 01:57] crazylxr commented on #1562
暂时是不会提供了，这个  hook 未来甚至可能会移除，不太建议用

[2022-06-14 01:59] yiescc commented on #1562
为什么会移除?

[2022-06-14 08:04] crazylxr commented on #1562
可能哈，还不确定，因为这个 hook 太不 react 了，不太建议用。

你是什么场景要用到响应式，而不是直接 setState ？

[2022-06-14 08:06] yiescc commented on #1562
操作数组的时候，方便赋值

[2022-06-14 08:13] crazylxr commented on #1562
有实际的 例子么，发出来看一下，我看看不用 这个 hook ，有没有更好的方式。

[2022-06-14 08:27] yiescc commented on #1562
就是数组的增删改查，每次都要拷贝一份，层级深的话就很麻烦
[code]

[2022-06-14 15:19] hchlq commented on #1668
感谢反馈～
感觉这个可以考虑下，你们觉得呢 @brickspert @crazylxr

[2022-06-15 01:14] puchenhui opened #1674 "useAntdTable的form里如果是下拉多选框，数据返回异常"

[2022-06-15 01:37] brickspert commented on #1674
https://ahooks-v2.js.org/zh-CN/hooks/table/use-antd-table#faq

应该是类似这个问题吧？

如果不是的话，建议提供个复现。

[2022-06-15 01:39] brickspert commented on #1668
https://github.com/alibaba/hooks/pull/1303

之前有一个类似的 PR，可以看一下讨论。

可以支持，但是要考虑性能和向下兼容性。 cc @crazylxr

[2022-06-15 02:01] puchenhui commented on #1674
不是的。
https://codesandbox.io/s/lb2jr9?file=/App.tsx
这个是官方的demo，只需要在`select`组件的参数里加上   `mode="multiple"`  就可以复现出来

[2022-06-16 02:11] crazylxr commented on #1658
@fangzhengjin 你看哈 reloadDeps 能满足你的需求吗？

[2022-06-16 03:48] jackenl commented on #1347
Hi, @brickspert
[code]
这一段代码改为以下实现：
[code]
这样是否也能实现返回函数地址不变

[2022-06-16 14:52] crazylxr commented on #1674
怎么异常了呢，我试了一下没看出问题

[2022-06-16 14:54] crazylxr commented on #1645
v3.5.0  已经支持了哈

[2022-06-16 14:54] #1645 closed, assigned to nobody

[2022-06-16 15:17] undefined9999 commented on #1645
感谢大佬

[2022-06-17 01:42] fangzhengjin commented on #1658
可以可以 谢谢了

[2022-06-17 01:42] #1658 closed, assigned to nobody

[2022-06-17 02:50] puchenhui commented on #1674
如果设置的是多选，传参的时候，首先，多选的内容不会变为list，而是单个传参；其次，会在参数后面加[]

[2022-06-17 03:39] hasnum-stack opened #1677 "useInfiniteScroll无限滚动reloadDeps属性与滚动条"
无限滚动useInfiniteScroll
如果滚动条在最底下时触发reloadDeps,会一直加载到没有数据,
设计如此 还是说要滚动条到顶,然后获取第一页比较好
是否需要在 reloadDeps 时加一个scrollTop = 0
或者加一个 effectLayout

[2022-06-19 08:50] hchlq commented on #1677
感谢反馈～

麻烦你这边能否组织一下你的问题呢，逻辑有点非，没太理解 😂

能提供一个复现 demo 会更好，更加容易理解哈

[2022-06-19 08:59] hchlq commented on #1677
因为 `reloadDeps` 改变了就会重新加载数据，可以自己控制调用 `loadMore` 就好了

这句没太懂，具体说下你的问题哈

[2022-06-19 09:06] hchlq commented on #1668
向下兼容性是比较麻烦点的，改动的话可能会对之前版本的使用者有点困难，具体讨论改动可以在 #1303 讨论哈

[2022-06-19 09:06] #1668 closed, assigned to nobody

[2022-06-20 01:34] dadanliu opened #1684 "关于 use-request 源码的问题"
**片段1 useRequestImplement.ts**
![image](https://user-images.githubusercontent.com/78400194/174510253-e3baaf16-91de-452a-b225-6b61ab097570.png)
**片段2 Fetch.ts**
![image](https://user-images.githubusercontent.com/78400194/174510190-71800f72-c38f-4e06-9c2c-c188487cd371.png)
这个 serviceRef 是怎么挂在 fetchInstance 上的 没太明白，可以说下嘛

[2022-06-20 01:55] hasnum-stack commented on #1677
因为 `reloadDeps` 改变了就会重新加载数据, 所以如果滚动条在最底边的时候, 触发了reloadDeps, 就会多次调用service

[2022-06-20 02:25] cwjTerrace opened #1685 "feat: useStateCallback"
让useState拥有class组件this.setState()的能力，考虑出一个这样的hook吗。

### Usage
[code]
### Declaration
[code]

[2022-06-20 02:59] #1684 closed, assigned to nobody

[2022-06-20 03:00] dadanliu commented on #1684
查了一下 ts简写..

[2022-06-20 04:05] crazylxr commented on #566
同 react

[2022-06-20 04:05] #566 closed, assigned to brickspert

[2022-06-20 04:13] crazylxr commented on #990
@MrHeer 能 参考 #758 完整的提一下 你的 RFC 吗，你现在这个太不完善了，不好评估

[2022-06-20 04:37] hchlq commented on #1677
你是说这个边界需要处理是吗，我觉得这个给使用者自己控制调用 `loadMore` 就好了，不一定需要交给 `ahooks` 这边去控制，

如果场景是一定要在滚动条到底部依赖项变化，建议是自己控制依赖项，然后自己调用 `loadMore` 即可，不一定要依赖

`reloadDeps` 哈

那和和下面这些描述有啥关系吗

[2022-06-20 07:36] hasnum-stack commented on #1677
@hchlq 大佬方便wx聊下不哈哈

[2022-06-20 11:24] li-jia-nan opened #1688 "升级到v3.5.0部署失败"
![QQ20220620-190824](https://user-images.githubusercontent.com/49217418/174590785-3aadc793-b588-4fc6-a8cc-eb76443bcb94.png)

开始是v2版本，可以成功部署

升级到v3.5.0，跑 gitlab 的流水线，在 npm install 的时候就会报错连接超时，试了很多次都不行（但是本地是没问题的）

然后回退到v3.4.1，可以成功部署

试了其它几个小版本也都没问题，就是v3.5.0不能部署

[2022-06-20 11:54] crazylxr commented on #1628
这是 react 的规则，我们不应该去破坏。

[2022-06-20 12:02] brickspert commented on #1685
暂时不考虑这个 Hooks，不符合 React Hooks 的理念。

放在 useEffect 里面来处理更 OK ~

[2022-06-20 12:02] #1685 closed, assigned to nobody

[2022-06-20 13:55] crazylxr commented on #1688
有按照下面报错的提示操作过吗？

[2022-06-20 14:06] li-jia-nan commented on #1688
试过了，一样的报错

[2022-06-20 14:10] crazylxr commented on #1674
![image](https://user-images.githubusercontent.com/16161407/174619971-121b0c87-eef4-4a10-9423-3d512bab5c9a.png)
@puchenhui 我这里是正常的呀，就是官方的 demo 改的，你那里如果还有问题的话提供一个完整的 demo 呢

[2022-06-20 14:43] crazylxr commented on #1578
现在是符合期望的哈，没有啥问题

1. ready 变化的时候，执行了一次 rerender，loading=false
2. useEffect 监听到 ready 变化，开始执行，loading=true
3. 执行完，loading=false

[2022-06-20 14:43] #1578 closed, assigned to nobody

[2022-06-20 14:46] crazylxr commented on #1449
这个问题我们没办法复现，很久也没有其他的用户反馈，你再关注下，如果还有类似的情况，咱们再一起解决一下，issue 先关闭了哈，需要的时候再 reopen。

[2022-06-20 14:46] #1449 closed, assigned to nobody

[2022-06-21 01:41] puchenhui commented on #1674
非常感谢你，我刚在demo中测试是好的。但好奇怪，当时我在项目中用的时候，当下拉是多选情况下，数据是 data[]:1, data[]:2. 这样的，当时为了赶进度，就没用useAntdTable的这个方法。有可能是我版本号的问题吧，等下次了我在项目中再试试。

[2022-06-21 01:47] MrHeer commented on #990
@crazylxr 我加了一个例子，还有两个截图

[2022-06-21 03:27] crazylxr commented on #1674
好的哈，那这个 issue 就关闭了哈

[2022-06-21 03:27] #1674 closed, assigned to nobody

[2022-06-21 03:38] Xuan-Yu-San opened #1691 "useRequest自定义缓存, 能否支持异步getCache"
像是钉钉缓存相关的JSAPI，或者ahooks官网说的IndexDB，都不是在当前宏事件里可以返回结果的。所以希望getCache可以支持异步函数。
<img width="911" alt="截屏2022-06-21 上午11 37 11" src="https://user-images.githubusercontent.com/54540276/174711079-5280db35-3ee4-48d7-a2f5-5966fd8f9cbb.png">

[2022-06-21 07:22] RaindropSaber commented on #1628
但我理解，useMount就只应该执行一次，这和react的规则无关。
只是要在react的规则下，实现一个useMount。

[2022-06-21 07:35] li-jia-nan commented on #1688
<img width="804" alt="QQ20220621-153346@2x" src="https://user-images.githubusercontent.com/49217418/174742577-cf3a1e18-a70e-4aae-b6f3-24d88adb364d.png">

解决了，把ci里面的镜像指向cnpm就可以正常部署了

不知道还有没有更好的办法，欢迎讨论

[2022-06-21 07:35] #1688 closed, assigned to nobody

[2022-06-21 10:13] diydyq opened #1694 "useInterval() 里用到了 clearTimeout() ?"
https://github.com/alibaba/hooks/blob/master/packages/hooks/src/useInterval/index.ts

[2022-06-22 01:57] hchlq commented on #1694
神奇的是竟然可以暂停，怪不得测试和文档都没问题 😂

[2022-06-22 02:47] miracles1919 commented on #1694
看了下 [mdn](https://developer.mozilla.org/zh-CN/docs/Web/API/setTimeout)
![image](https://user-images.githubusercontent.com/22469543/174932534-b798eb26-cada-4343-845d-82a4b8266c55.png)

[2022-06-22 05:35] li-jia-nan commented on #1694
学到了学到了

[2022-06-22 06:29] Jack-luo1208 opened #1700 "对表格操作后，怎样才能不重置回第一页"
![image](https://user-images.githubusercontent.com/65880030/174958468-8897febf-06d3-4283-85ef-bdaea8a0c0d2.png)

[2022-06-22 07:06] frontlich opened #1701 "[RFC] useRequest pollingCondition"
给useRequest的轮询增加一个pollingCondition属性，用于判断轮询是否需要继续

API
[code]

Demo
[code]

[2022-06-22 07:17] coder-lcn commented on #1694
优秀，哈哈

[2022-06-22 07:20] coder-lcn commented on #1700
具体是什么操作呢？可以请提供最小重现嘛。

[2022-06-22 07:31] zhaomenglu opened #1703 "jest tests failed"
<img width="827" alt="image" src="https://user-images.githubusercontent.com/39189837/174970168-18a445c7-872e-43ae-90f2-5e9bd89737f9.png">
@ahooksjs/use-url-state  -> 3.5.0
react-router -> 6.3.0

[2022-06-22 07:33] Jack-luo1208 commented on #1700
比如我点击超额告警后会执行submit方法，但是我想保留在这个页面

[2022-06-22 07:36] coder-lcn commented on #1700
这个应该是属于业务问题了，和 `hooks`这个库无关。你可以仔细看看代码，为什么 submit 后，会回到第一页。先捋清楚这个问题。最好还是提供一个最小的重现，这样沟通成本和解决问题的效率都高哦。

[2022-06-22 07:37] 14glwu commented on #1250
同样遇到这个问题，感觉能否补充在文档呢？

[2022-06-22 07:40] 14glwu commented on #1641
遇到类似问题，useClickAway 绑定的元素（假设为Parent）中的子元素(假设为Child1)如果销毁了，并且产生了其他的子元素(假设为Child2)，点击Child2也会触发useClickAway。
导致现在只能修改监听事件或者阻止子元素冒泡

[2022-06-22 07:47] gqbre commented on #1667
你们两个问题是不是相反的 https://github.com/alibaba/hooks/issues/1655

[2022-06-22 08:25] crazylxr commented on #1703
@zhaomenglu 放个可复现的 demo 呢

[2022-06-22 09:51] coder-lcn commented on #1538
已经解决了？咋不 close 掉呀

[2022-06-22 11:17] zhaomenglu commented on #1703
react文件：
import React from 'react';
import useUrlState from '@ahooksjs/use-url-state';

const TestUseUrlState = () => {
  const [ urlState, setUrlState ] = useUrlState<any>({});
  const toggleState = () => {
    const newState: any = {};
    if (urlState.id) {
      newState.id = undefined;
    } else {
      newState.id = '123'
    }
    setUrlState(newState);
  }
  return (
    <div>
      <butt

[2022-06-22 11:46] crazylxr commented on #1703
我的意思是放一个 可运行的 demo，比如放到  codesandbox 上

[2022-06-22 12:01] brickspert commented on #1700
有个 `refresh` 的，可以调用后不重置到第一页。

[2022-06-22 12:01] #1700 closed, assigned to nobody

[2022-06-22 12:10] crazylxr commented on #1701
通过 ready 字段不能解决吗？

[2022-06-22 12:47] 18872297546 opened #1706 "使用useWebsocket，主机断电后调用disconnect后客户端没有正常断开"
大佬们好，你们这个库太牛了，但是我在使用的时候遇到一个小问题，还请大佬帮忙指导指导。

  在当ws的主机断电以后，客户端调用disconnect时，readyState的状态不会改变。当再次连接主机时，调用连接后触发onClose的回调，导致连接断开，使用场景如下：
定义的地方：
[code]

调用的地方：
[code]

感谢大佬们~

[2022-06-22 13:24] #1694 closed, assigned to hchlq

[2022-06-22 13:59] crazylxr commented on #1538
还没呢！pr 见 #1548

[2022-06-22 14:03] crazylxr commented on #1562
对于层级深的 数组或者对象的话，建议用 immer 这样的 immutable 库来解决会更容易一点哦

[2022-06-22 14:06] crazylxr commented on #971
@zjy01 v3 里的 ready 能满足你的需求不？

[2022-06-22 14:08] crazylxr commented on #526
@brickspert 现在这个是不是可以关了，现在我看都已经支持上面说的功能了

[2022-06-22 14:12] #526 closed, assigned to ttys026

[2022-06-22 14:17] crazylxr commented on #670
感谢建议，目前看来 usePagination  和 useInfiniteScroll 已经可以满足你说的需求了，就先关了哈

[2022-06-22 14:17] #670 closed, assigned to brickspert

[2022-06-22 14:19] #674 closed, assigned to brickspert

[2022-06-22 14:23] crazylxr commented on #862
v3 是有了 cancel 的方法可以取消的哈，但是取消的是 run 这个动作，而不能真正的取消请求是否发出去，如果你的请求库是用的 fetch ，发起的请求是没有办法取消的，axios 之前可以取消因为之前用的 xhr 做的，xhr 是可以取消的。

[2022-06-22 14:23] #862 closed, assigned to brickspert

[2022-06-22 14:32] #1487 closed, assigned to nobody

[2022-06-23 01:53] frontlich commented on #1701
通过ready字段控制，需要我在组件里使用一个state来给ready赋值，感觉有点麻烦

[2022-06-23 03:12] zhaomenglu commented on #1703
https://codesandbox.io/s/3losw7?file=/src/Test.js

[2022-06-23 11:08] hchlq commented on #1703
你放的 demo 这个和 Jest Test 没关系呀，是你这边的使用问题哈，具体可以看下图：

<img width="1128" alt="image" src="https://user-images.githubusercontent.com/60802048/175285240-9c0fb03b-905b-442a-8254-3e8b88f3f7fd.png">

[2022-06-23 11:09] hchlq commented on #1703
你都没有使用 `react-router` ，所以报错了，内部用的 `useLocation` 是依赖外层的 `<Router></Router>` 的

[2022-06-23 11:31] hchlq commented on #1706
是不是你这边调用不正确呢，我这里复现是没问题的，具体可以看下这个 demo，你这边能放一个复现的 demo 会更好哈

https://codesandbox.io/s/nervous-yalow-3y5jss

[2022-06-24 00:51] 18872297546 commented on #1706
感谢大佬回复~

我这边的业务场景有点特殊，webSocket的主机是用ESP32芯片做的的一个硬件，我是直接把硬件断电了，然后前端这边没有收到心跳便调用disconnect（大约需要11s左右才能收到onClose的事件），在onClose触发之前，我再次将硬件开机联网，前端连上以后，会触发上一次的onClose导致第二次连接的断开，使用的场景大概和上面代码里面的差不多。

使用的时候还发现一个问题，当我调用disconnect以后readyState还是1，但是webSocketIns.readyState会变成2。

对了，我是用的ahooks的版本是^2.8.1

[2022-06-24 01:55] crazylxr commented on #1574
@j3r0lin 由于改一个 option 对代码影响比较大，会破坏以前的一些结构，最终解决用加一个 是否正在轮询的状态来满足这个场景，可以持续关注一下

[2022-06-24 02:34] hchlq commented on #1706
因为你的场景有点特殊，你这边能提供下可复现的 demo 吗，方便我们排查 （不考虑硬件部分，主要是前端这边的不符合预期的情况）

[2022-06-24 02:49] 18872297546 commented on #1706
前端这边的代码就是和上面一样的~
你们那边会遇到webSocket主机直接断电的情况么，如果是主机直接断电的话，我再调用disconnect，客户端的onClose可以监听到么

demo 的话可以就用大佬发的那个：
https://codesandbox.io/s/nervous-yalow-3y5jss

ws建立以后，直接给主机断电，然后调用disconnect~

我改一下您发给我的demo哈~

[2022-06-24 03:15] hchlq commented on #1706
这边也是监听 websocket.onclose 事件的，如果没调用 onClose 的话，有两个原因：

1. 客户端没有接收到 websocket 的 close 事件
2. 组件已经卸载了

你这边看下是不是这两个情况的一种，调试看下就好了～

你用原生的 websocket 实现和 useWebsocket 调试比对下

[2022-06-24 03:23] 18872297546 commented on #1706
好的，谢谢大佬~

下面是我刚刚调试用的代码，打印的日志附在后面的，应该是您说的第一种情况，刚调用disconnect的时候客户端没有收到close事件，但是过一段事件可能有个断开连接的超时触发了close事件，导致我第二次连接失败

我再用原生的调试一下看看
[code]

打印的log是这样的
![image](https://user-images.githubusercontent.com/47687886/175455371-1a646e49-f191-4a3f-b7e5-e5b8b01471da.png)

[2022-06-24 03:37] hchlq commented on #1706
会不会和你这边的硬件有关系呢，硬件断电了网也会断了是吗，这块不太了解，断电之后发生了啥

你应该有一个 server 服务器，接收到硬件这边的信息，然后断开连接的吧

[2022-06-24 03:44] 18872297546 commented on #1706
`ws://172.28.142.150:8266` 这个就是硬件 server 的地址，硬件断电以后这个 server 就没了，我是前端和硬件直接连接的~

[2022-06-24 03:47] hchlq commented on #1706
会不会是 server 没有触发 onclose，这个可能你这边得看一下，硬件这边的 websocket 日志能看到吗

[2022-06-24 03:56] zhaomenglu commented on #1703
啊，那我是封装了一个搜索的组件用到了，jest测试就是测试这个组件，组件里是没有Router标签，emmm，Router标签是写在项目里的。那就jest就是没法通过的，要是想通过就要加个Router标签么

[2022-06-24 03:59] #1703 closed, assigned to nobody

[2022-06-24 04:04] 18872297546 commented on #1706
断电以后硬件直接就关机了~看不到相关的日志~

用原生的也会有这种问题，这是日志

![image](https://user-images.githubusercontent.com/47687886/175460128-9caa57d4-0d99-4223-8ff7-35a74b816f3b.png)

[2022-06-24 04:06] crazylxr commented on #1351
@JX-Zhuang 你做了么，我没看到 pr 呢

[2022-06-24 04:40] hchlq commented on #1706
原生的也有问题的话，你这边自己排查下哈～，跟 ahooks 应该没关系

[2022-06-24 04:52] hchlq commented on #1706
这边先关掉这个 issue 了哈～

[2022-06-24 04:52] #1706 closed, assigned to nobody

[2022-06-24 06:08] 18872297546 commented on #1706
对啦~还有这个问题，调用disconnect以后原生的 readyState 会变成2，但是useWbeSocket返回的 readyState  不会变成2

[2022-06-24 08:34] coder-lcn commented on #1677
这种我最近碰巧遇到了，何库无关吧。我自己的做法就是请求完后把 scrollTop 往上调一调就好了

[2022-06-24 13:15] hchlq commented on #1706
因为 readyState === 2 代表的是 closing (正在关闭的状态)，因为是监听 ws 事件去更改状态的，可能这个状态变化更新太快了导

致的没来得及显示而已，其实影响不大哈，只是一个过渡状态而已

[2022-06-25 10:32] GpingFeng commented on #1574
这个我来处理一下吧。 @crazylxr

[2022-06-26 04:15] cbingrui commented on #1606
添加`overflow-anchor:none`没有明显跳动，但细看，从25后面开始的数字每滚动切换一个，数字都会抖动几十毫秒后才恢复正常。在`react18`，`root.render()`能重现
<img width="546" alt="image" src="https://user-images.githubusercontent.com/8628260/175799135-969e74f4-9d5a-49a7-9753-758743156f31.png">

[2022-06-26 08:53] oney opened #1715 "[RFC] usePromise"
# Problem

目前在React中使用异步的Promise时，大部分开发者都没有考虑到Promise需要cleanup。
例如以下[这个例子](https://maxrozen.com/race-conditions-fetching-data-react-with-useeffect)：
[code]
包含了race condition和memory leak两个问题。
自己处理的解决方案可以是手写`let cleanup = false;`或定义`AbortController()`，但都挺繁琐的。
并且如果是在Event handler中呼叫Promise的话，没有很简单的方式可以cleanup（要动用到useRef）
[code]
# Solution
## API
[code]
## Demo
[code]
把fetch promise用`usePromise`包住，并正确

[2022-06-26 12:13] miracles1919 commented on #1715
1、处理 promise 的 hook 已经有了，可以看下 `useRequest`
2、`useRequest`支持依赖刷新，内部有一个 ref 变量记录最新的 promise，所以能解决 race condition 的问题
3、promise 执行完会释放内存的.. 应该不用担心 promise 引发的内存泄漏吧 ..
4、看代码实现上用了 `AbortController`，[MDN](https://developer.mozilla.org/zh-CN/docs/Web/API/AbortController) 上说这还是一个实验中的功能，兼容性也不好

[2022-06-26 19:46] oney commented on #1715
啊。。。useRequest基本上实现了我这个usePromise的功能，那应该是不需要了。

[2022-06-26 19:46] #1715 closed, assigned to nobody

[2022-06-27 02:41] Hitotsubashi opened #1717 "useAntdTable 可否新增配置，让其不会在首次渲染后立即发出请求"

[2022-06-27 03:35] zjfresh commented on #1717
https://ahooks.js.org/zh-CN/hooks/use-request/basic#%E6%89%8B%E5%8A%A8%E8%A7%A6%E5%8F%91

[2022-06-28 10:21] hchlq commented on #1677
好久没更新了，先关掉了哈

[2022-06-28 10:21] #1677 closed, assigned to hchlq

[2022-06-28 10:30] crazylxr commented on #1701
感谢你的提案，见 #1705 讨论，这个功能暂时不加了哈。

[2022-06-28 10:30] #1701 closed, assigned to nobody

[2022-06-29 01:55] crazylxr commented on #1628
为啥 useMount 就应该只执行一次呢，componentDidMount 也会执行两次

[2022-06-29 06:20] adguy360 opened #1725 "useUrlState to use react-router-dom instead of react-router"
Hi Team,

Could you please update `useUrlState` to use `react-router-dom` instead of `react-router` please? [here](https://github.com/alibaba/hooks/blob/master/packages/use-url-state/src/index.ts#L6)
This is both the recommended approach by the `react-router` package but also causing consumptions issues for micro frontends consuming `useUrlState` when under a shared `react-router-dom` instance.

I

[2022-06-29 07:28] brickspert commented on #1725
`react-router-dom` only work on web.

but `react-router`  can work on react-native~

[2022-06-29 11:58] matanassa commented on #1725
@brickspert in our case, we use ModuleFederation to share dependencies. and we are sharing and using `react-router-dom`.

Our remotes depend on our Router that is used from `react-router-dom`, but when they try to use this package, it fails for them since you use `react-router` and the internal context/state is not the same.

Can you please advice on why we can't have both?

[2022-06-30 08:05] coder-lcn commented on #1606
似乎是性能问题 @MarksJin ，你的电脑配置是啥？我观察了一下，当 `wrapper.style.marginTop` 开始为非 0 的值时，就开始卡或者抖动了

[2022-06-30 11:24] ClenLu opened #1726 "【bug】React18 useVirtualList 会无限循环"
复现步骤
1 umi4 项目
2 使用 useVirtualList 案例什么都不动的情况下 鼠标快速往下滚动  会无限循环下去

[2022-06-30 11:27] crazylxr commented on #1726
有在线的 demo 么？

[2022-06-30 13:10] ClenLu commented on #1726
不好意思。 和 #1606 重复了。同样的问题

[2022-06-30 13:43] crazylxr commented on #1726
那这个就先关了哈，关注另外一个就行

[2022-06-30 13:43] #1726 closed, assigned to nobody

[2022-07-01 05:54] frontlich opened #1727 "希望useCountdown增加一个参数"
`useCountdown`现在存在两个问题

1. 内部计算剩余时间的 `calcLeft` 函数，采用的是 new Date().getTime()，不是服务器时间，可能会产生倒计时不准的问题
2. 如果想做验证码或者确认按钮的倒计时，还得计算出targetDate，不方便

希望增加一个参数 `leftTime`，即剩余时间毫秒数，这样可以解决以上两个问题
1. 通过 targetDate - timeStamp(服务器返回的时间戳) 计算出剩余时间可解决
2. 如果想倒计时60s，直接传leftTime: 60 * 1000 即可

[2022-07-01 06:13] yfs-2000 commented on #1606
只有react 18 会发生这个问题  在react17上面是好的   希望可以给出原因  困扰了我很久

[2022-07-01 06:19] yfs-2000 commented on #1606
而且你们将key删除  这个现象神奇的消失了

[2022-07-01 08:37] 8696 opened #1729 "【V3 useVirtualList 】bug"
**useVirtualList** 中源码部分，option.itemHeight 为一个函数时，这个index应为reduce函数中的**i**。

<img width="1120" alt="image" src="https://user-images.githubusercontent.com/45660895/176856789-6543ad00-35ee-4dc9-8fda-ac0b441efe0f.png">

这样在使用时option.itemHeight回调中才正确

<img width="611" alt="image" src="https://user-images.githubusercontent.com/45660895/176857819-50f33c3c-a053-4753-b2de-8f9bd4022eb7.png">

[2022-07-02 20:34] li-jia-nan commented on #1727
@crazylxr 大佬看下这个，我可以提个pr，但是感觉好像没啥必要，倒计时不准的原因应该不是 `new Date().getTime()` 吧，而是 `setInterval`，把 `calcLeft` 换成 `leftTime` 依然无法解决不准的问题

[2022-07-03 09:46] hchlq commented on #1727
确认两个问题：

1.  返回服务器时间是时间戳吗
2. 倒计时不准指的是有延迟还是啥呢

[2022-07-03 09:55] hchlq commented on #1727
其实感觉没必要增加一个参数的，**主要关注的是倒计时不准的问题**

第一个问题：

如果服务器返回的是时间戳，可以参考官网案例的 [配置项动态变化](https://ahooks.js.org/zh-CN/hooks/use-count-down#%E5%A4%87%E6%B3%A8) 进行更改

第二个问题：

我觉得其实没必要，通过把目标时间这个参数聚合到了 `targetDate` 中，`targetDate` 相当于支持多个写法，是一个底层设计，

不应该为了写法简便去更改 api 接口，如果想使用更加简洁的，可以自己封装一些 util 函数

[2022-07-04 02:01] frontlich commented on #1727
[code]

如果用户本地时间异常，由new Date().getTime()计算剩余时间，则这个函数返回的left值不准
比如：用户本地时间是 2022-07-04 18:00:00，服务器时间是 2022-07-04 12:00:00，targetDate是2022-07-04 18:00:00，则倒计时直接结束了，实际上还差6个小时

[2022-07-04 07:40] aatoe opened #1734 "useAntdTable 不支持分页"
[code]

当我们写了onChange，就会导致底部的分页无法切换！怎么切换 current 都是 1

onChange 方法一定要写，因为需要监听字段排序！所以我觉得 ahooks 这点需要优化

[2022-07-04 08:28] youjiaqi421 commented on #728
这个产生了 什么问题吗

[2022-07-04 08:29] youjiaqi421 commented on #728
这个产生了什么问题吗？我复现了半天，没搞出来 ， 我现在用的版本是concurrent模式

[2022-07-04 09:38] youjiaqi421 commented on #728
我觉得可能是 ref赋值时机搞出来的这个问题

[2022-07-04 12:02] crazylxr commented on #1562
结论就是暂时不会考虑哈，issue 先关了，有需要再重新打开。

[2022-07-04 12:02] #1562 closed, assigned to nobody

[2022-07-04 17:26] hchlq commented on #1727
的确可能存在这个问题～

@brickspert @crazylxr 看下要不要处理呢～

[2022-07-04 21:54] #1649 closed, assigned to nobody

[2022-07-05 04:14] brickspert commented on #1734
你是不是需要调用一下 `tableProps.onChange` ？

[2022-07-05 04:22] brickspert commented on #1727
我觉得加一个 leftTime OK 的~

[2022-07-05 05:22] hchlq commented on #1727
@li-jia-nan PR Welcome !

[2022-07-05 05:25] #1729 closed, assigned to nobody

[2022-07-05 05:56] li-jia-nan commented on #1727
有一个问题，增加了新的参数之后，如果同时传了leftTime和targetDate，那么哪个优先级更高呢？

[2022-07-05 05:58] hchlq commented on #1727
需要兼容之前的版本，后面新增的以 `leftTime` 为主

[2022-07-05 08:40] coconilu opened #1738 "useEvent"
我想添加一个useEvent shimming：

[code]

[2022-07-05 09:23] miracles1919 commented on #1738
已经有 `useMemoizedFn` 了

[2022-07-05 12:20] lynn1286 opened #1739 "ahooks 可以精确导入吗？"
我在nextjs 中使用 ahooks ，但是发现nextjs 中无法做到精确Tree Shake ， 例如： 比如在 Page A 使用了 useSetState 方法，在 Page B 使用了 useDebounceFn 方法，由于都是使用 import {} from 'ahooks' 导入，导致在 Page A 加载时也会去加载 Page B 的 useDebounceFn 方法， 我不确定这个是不是个问题所在，但是打包出来的首次加载size特别庞大，我试着将项目中的 lodash 修改成import { merge } from 'lodash-es' 到 import merge from 'lodash-es/merge'， 打包后确实有所降低，所以我想试着修改下 ahooks 的导入方式，但是发现不可行

[2022-07-05 15:59] coconilu commented on #1738
感谢！

[2022-07-05 15:59] #1738 closed, assigned to nobody

[2022-07-06 02:04] xiaocode337317439 commented on #1495
<React.StrictMode> 这个标签会在dev环境下 useEffect 执行两次，这是react用来检查 hooks是潜在警告，正式环境不会生效

[2022-07-06 12:34] hchlq commented on #1739
可以通过 `import useRequest from 'ahooks/es/useRequest'` 的方式导入，这种方式导入也没解决吗

项目下是配置了 `sideEffect: false` 的，看下 build 出来的产物还会打包进去么

[2022-07-07 07:27] KangXinzhi opened #1741 "useFullscreen方法中遇到一个问题"
我在实际项目中调用enterFullscreen全屏后进入另外的页面。页面路由跳转会导致useFullscreen的状态刷新，返回isFullScreen默认为false，这时候在另外的页面调用exitFullscreen退出全屏方法，源码中会被拦截掉，导致无法退出全屏。个人认为exitFullscreen的方法中并不太需要判断state这个限制。

[2022-07-07 07:31] KangXinzhi commented on #1741
我的解决方法是在项目里面额外封装一个 useFullscreen 的hooks，在其中改写了exitFull方法,去掉了state的判断逻辑。
[code]
想提一个pr，大佬帮忙看看有没有这个必要。

[2022-07-07 10:34] ladyruo opened #1742 "useCounter不能把value设置成‘’，不然就报这个错误"
<img width="533" alt="image" src="https://user-images.githubusercontent.com/28803604/177753765-ce149114-1246-49c4-8e34-3131befe6af2.png">
<img width="660" alt="image" src="https://user-images.githubusercontent.com/28803604/177754072-2159a713-e3eb-47c9-8da5-aa85ac3be197.png">

[2022-07-07 10:34] ladyruo commented on #1742
@muescha @tony @shiny @popomore

[2022-07-07 12:00] brickspert commented on #1742
要求是 `number` 类型呀

[2022-07-07 14:05] sunshineLixun opened #1743 "useClipboard"
新增一个粘贴板hook。

##  API

[code]

## Demo

[code]

[2022-07-07 15:25] miracles1919 commented on #1743
有过讨论了 #715 #580

[2022-07-07 19:28] Dav3rs opened #1745 "[RFC] useLoading"
Hook to track the loading state of async functions.

[code]

Example:

[code]
Other Example:

[code]

A posible implementation could look like this:
[code]

[2022-07-07 22:53] sunshineLixun commented on #1743
栓Q

[2022-07-07 22:53] #1743 closed, assigned to nobody

[2022-07-08 01:25] miracles1919 commented on #1741
我觉得 `isFullScreen` 的初始状态用 `Boolean(screenfull.isFullscreen)` 是不是更好 ？

[2022-07-08 01:29] miracles1919 commented on #1745
what's the difference with [useRequest](https://ahooks.js.org/hooks/use-request/index)

[2022-07-08 01:53] hchlq commented on #1741
页面路由跳转会导致原来的状态消失吗，不会的吧～

能给个复现 demo 不

[2022-07-08 02:08] miracles1919 commented on #1741
[code]

[code]

类似这样的结构

1. 访问 child1，设置全屏
2. 跳转 child2，此时 child2 中 useFullscreen 的 `isFullscreen` 为 false（默认值，但还是全屏中）

[2022-07-08 03:43] Lantianyou opened #1746 "Bug in docs: dependencies in CodeSandbox did not include ahooks."
![image](https://user-images.githubusercontent.com/37259750/177912621-37a2fe41-b712-4256-8bd7-c17eb185d117.png)

[2022-07-08 03:46] Lantianyou opened #1747 "Bug in docs: dependencies in CodeSandbox did not include ahooks."
![image](https://user-images.githubusercontent.com/37259750/177912621-37a2fe41-b712-4256-8bd7-c17eb185d117.png)

[2022-07-08 03:48] miracles1919 commented on #1746
#1735 这里临时处理了 下个版本应该就好了

[2022-07-08 06:52] crazylxr commented on #1747
我看是个 重复的 issue ，这个就关闭了

[2022-07-08 06:52] #1747 closed, assigned to nobody

[2022-07-08 13:57] Dav3rs commented on #1745
useLoading is not for data fetching, but for traking the loading state of any async function, the returned function can be hooked again in the component tree level. Like this:

[code]

[2022-07-09 02:23] Dav3rs commented on #1745
Currently using this approach, because it stucked loading forever on errors.

[code]

[2022-07-09 05:58] miracles1919 commented on #1745
useRequest is not only for data fetching, but also can track the loading state of any async function

[code]

useRequest manages the status of `loading`, `error`,  users can handle different situations according to the status

[code]

[2022-07-10 06:22] CHOYSEN opened #1750 "useRequest 预请求"
假设有一个书籍列表页，点击书名就会进入到书籍的详情页。我想在列表页利用 `cacheKey` 做一个预加载，当鼠标移到具体书名的时候就发起请求，这样当用户真正点击进去发起请求时 cacheKey 与列表页请求的 cacheKey 相同。但以目前的方式想要实现我只能想到这样，是我错过了什么吗？

[code]

如果有一个这样 API 我觉得会比较优雅？

[code]

参考：https://tanstack.com/query/v4/docs/guides/prefetching

[2022-07-10 15:48] hchlq commented on #1750
可以看看这个例子哈~ https://codesandbox.io/s/exciting-framework-vou0d6?file=/App.tsx

[2022-07-10 15:57] CHOYSEN commented on #1750
这里有个问题是，想要做到这样的预请求只能通过重渲染触发 `useRequest` 的 `ready` 甚至 `cacheKey` 改变，但我理解“预请求”这个行为应该不需要触发重渲染，甚至不应该是一个 hooks？可能我下面的API有点误导我修改一下

[2022-07-11 03:36] hasnum-stack commented on #1677
我也是这么做的.

[2022-07-11 03:40] hasnum-stack commented on #1677
先关吧大佬,

[2022-07-11 03:54] hchlq commented on #1750
@brickspert useRequest 的预加载好像没有内置是么，要通过 `cacheKey` 去做么

[2022-07-11 11:37] brickspert commented on #1750
现在还不支持这种动态的 cacheKey，可以考虑支持一下。

[2022-07-11 11:50] brickspert commented on #1741
我觉得应该比较合理的，可以提个 PR

[2022-07-11 12:49] Dav3rs commented on #1745
Didn't know, but it is still looking to much verbose to rename variables and the word "request" in places where maybe there are not requests. But good to know.

[2022-07-11 15:07] KangXinzhi commented on #1741
🆗，我写了一个小demo复现了一下我的问题：https://codesandbox.io/s/e6rss0
效果在: https://e6rss0.csb.app
我将useFullScreen全屏对象绑定到了document下的root身上，在首页是可以正常切换是否全屏，但是首页全屏后进入子页面后，再返回到首页，这时exitFullscreen方法已经无法使用了，因为控制台打印的 isFullScreen返回false（此时应该为true）。exitFullscreen源码中判断了一次isFullScreen，导致被拦截掉无法退出全屏。

[2022-07-12 03:41] miracles1919 commented on #1741
所以我觉得应该修改 isFullScreen 的初始值

[2022-07-12 03:41] miracles1919 commented on #1746
已经修复了

[2022-07-12 03:41] #1746 closed, assigned to nobody

[2022-07-12 07:18] fubd opened #1758 "useRequest 默认的『竞态取消』功能能否 可配置"
某些场景下，相同的接口，仅仅是参数不同。不需要自动取消其他未完成的请求。

[2022-07-12 07:28] hchlq commented on #1741
不要两个 PR 吧，讨论下关掉一个 PR，放在一个 PR 就好了～

[2022-07-12 08:10] KangXinzhi commented on #1741
确实，这样的方式更好一些，我在本地测试解决了所有的问题。大佬，可以让我来提这个PR么？很想参与下ahooks开源库的贡献(─‿─)

[2022-07-12 09:29] miracles1919 commented on #1741
ok 的，我就是看下代码效果，你来吧 ~

[2022-07-13 02:13] miracles1919 commented on #1758
这种情况并不适合用 `useRequest`

[2022-07-13 02:17] brickspert commented on #1758
是的，这种情况下不使用 useRequest 会更合理的。

[2022-07-13 02:24] sunshineLixun opened #1759 "useWebWorker"
有计划增加一个useWebWorker 的Hooks ？ 大佬们评审下 。  如果没有，可否自己PR一个。

[2022-07-13 13:59] SignDawn commented on #1758
只有一个 data ，不取消不合理吧

[2022-07-13 15:40] hchlq commented on #1759
感觉不是很有必要呢，原因有：

1. webWorker 使用场景可能不是很多
2. ahooks 不仅支持浏览器，还会支持服务端，而 web worker 只支持浏览器～

[2022-07-14 03:05] li-jia-nan opened #1761 "[RFC] add new Hook"
### 看了一下 react-use，感觉里面有一些比较有趣的 hook 可以搞过来，比如：

| hook | 功能 |
| :-: | :-: |
| **useVideo** | 播放音频，跟踪其状态，并向外暴露播放暂停调整音量等方法 |
| **useAudio** | 播放视频，跟踪其状态，并向外暴露播放暂停调整音量等方法 |
| **useFirstMount** | 是否首次渲染，类似 useMount，但是对外暴露一个布尔值 |
| **useGeolocation** | 跟踪用户设备的地址位置信息（需要用户授权） |
| **useInterval** | 定时器的钩子，与 ahooks 中的 useInterval 不同的是，可以通过将延迟设置为 null 来暂停计时 |
| **useLogger** | 可以记录生命周期的钩子，在每个生命周期打印日志 |
| **

[2022-07-14 03:06] sunshineLixun commented on #1759
ths

[2022-07-14 03:06] #1759 closed, assigned to nobody

[2022-07-14 03:18] hchlq commented on #1761
其实不太需要的哈，之前作者也讲过，ahooks 是服务于一些使用比较多的业务场景，如果 hook 过多的话，使用场景不多，可能还会增加包体积的～

另外 useInterval 现在既可以满足延迟设置为 undefined 来暂停计时，同时也可以使用返回的清理函数来暂停，只是建议使用清理函数进行～

[2022-07-14 03:21] li-jia-nan commented on #1761
🫡

[2022-07-14 15:02] zhousufa opened #1763 "changeTable这个方法咋没有了"
useAntdTable，怎么更新表格数据但是分页不变

[2022-07-15 02:07] qiushifa opened #1764 "useFocusWithin在自动聚焦的时候无效"

[2022-07-15 02:13] #1763 closed, assigned to nobody

[2022-07-15 02:48] miracles1919 commented on #1764
能提供下在线的 demo 不，例如 https://codesandbox.io/s/wr11ms

[2022-07-15 06:40] SignDawn opened #1766 "useCookieState 不是响应式的？"
例如我修改了一个同名的 cookie ,它并不影响另外一个。
 const [message, setMessage] = useCookieState('useCookieStateString');
  const [message2, setMessage2] = useCookieState('useCookieStateString');

通过 setMessage2 修改值以后，并不影响 message 的结果。

这是否有必要做个监听呢？

[2022-07-15 09:24] crazylxr commented on #1741
虽然现在这个方式确实是没问题的，但是我觉得
[code]

中的这个状态判断还是有点多余呢，用户要退出就直接退出就行了。所以除了改初始值，这个状态判断也可以删掉。

@KangXinzhi @miracles1919 你们觉得呢？

[2022-07-15 09:33] pule-dpr opened #1767 "useAntdTable中tableProps里的data为什么不能推导出类型？"

[2022-07-15 09:34] pule-dpr commented on #1767
![image](https://user-images.githubusercontent.com/73623940/179196764-915585c8-ec53-4d95-9486-c4933ebc3f4a.png)

[2022-07-15 10:05] KangXinzhi commented on #1741
我觉得这个状态判断也没什么必要，删掉没什么影响。

[2022-07-16 08:47] GpingFeng commented on #1766
具体的场景是？感觉同一个页面不需要维护两个状态（针对同一个 cookie）？

[2022-07-17 05:34] GpingFeng commented on #1767
<img width="1712" alt="image" src="https://user-images.githubusercontent.com/20135760/179385340-188958f5-a25e-4b4c-9005-241dec45f66d.png">

请问你是想推倒出这个 dataSource 的类型么？

[2022-07-17 08:06] miracles1919 commented on #1741
看下 [screenfull](https://github.com/sindresorhus/screenfull/blob/main/index.js#L96-L102) 里的 exit 方法，对 `isFullscreen` 状态也做了判断的，我觉得也可以去掉

[2022-07-18 01:58] crazylxr commented on #1741
@KangXinzhi 那你在你的那个 pr 那里去掉一下。

[2022-07-18 02:00] KangXinzhi commented on #1741
ok，已经去掉了

[2022-07-18 08:00] SignDawn commented on #1766
目前没有遇到这样的场景。
只是疑惑在不同组件或不同页面里使用同一个 cookie .

[2022-07-18 08:00] #1766 closed, assigned to nobody

[2022-07-18 08:46] pule-dpr commented on #1767
是的，原来是any[ ]

[2022-07-19 04:10] hchlq commented on #1761
先关掉了哈～

[2022-07-19 04:10] #1761 closed, assigned to nobody

[2022-07-19 10:36] #1758 closed, assigned to nobody

[2022-07-19 17:19] GrinZero opened #1770 "[RFC] useAppendRootNode"
用于往页面中插入DOM节点，因为React对于插入节点提供的传送门仍和原本的ReactTree处于同一目录，并不符合需求。通过这个hook可以往页面中插入一个全新的节点，可以用来挂载Modal、Message、ContextMenu等有一定命令式调用需求的节点。
### API
[code]
### DEMO
[code]

[2022-07-19 17:23] GrinZero opened #1771 "[RFC] useRightClickMenu / useContextMenu"
用于添加自定义右键菜单，只需要传入需要展现的菜单以及对应的容器
### API
经过一定讨论，基本形成如下的结论
[code]
### DEMO
[code]

[2022-07-20 01:55] brickspert commented on #1770
感觉这种不用 Hooks 用起来是不是更好？

使用最基础的方法来做。

[2022-07-20 03:40] shuanglei7 opened #1772 "请问能够适配rax框架吗？"

[2022-07-20 04:56] crazylxr commented on #1772
理论上除了 dom 类的，其他的应该是可以用的

[2022-07-20 06:04] #791 closed, assigned to brickspert

[2022-07-20 06:21] GrinZero commented on #1770
我感觉还是可以做一个hook的，因为要使用最基础方法做的话需要关心到`document.createElement('div')`，像我这里实现了一下：
<img width="521" alt="image" src="https://user-images.githubusercontent.com/70185413/179910718-599e0ecc-ce9e-41eb-9b4e-3bf416e84b0d.png">
里边的逻辑是在页面中确切地插入某个id为"xx"的dom节点，使用这个hook可以让使用者更少地接触来自document 的API

[2022-07-20 06:32] miracles1919 commented on #1770
做成 Hook 和做成一个工具函数相比，有什么优势吗？看起来更复杂了..

[code]

用起来也很方便

[code]

[2022-07-20 06:50] GrinZero commented on #1770
做成hook对于使用会更友好，可能我的实现上确实有某些地方比较复杂...
[code]
设计上之所以强制要求id是要求使用者对于通过hook在页面中每一个插入的dom都是清晰的，其余的render、parent、createElement都是一些拓展性设计

[2022-07-20 08:40] miracles1919 commented on #1770
这个没看出来哪里更友好了..

我举个例子，点击按钮的时候，展示 Modal

- util
[code]

- hook
[code]

很明显用 hook 的复杂度上升了

[2022-07-20 08:48] GrinZero commented on #1770
啊不，不是你这个场景的哦。我的想法是通过hook挂载的是`ModalContainer`容器，毕竟`Message、Modal`这些弹出肯定是不只一次的。

[2022-07-20 10:02] dadanliu opened #1774 "useRequest 轮询问题"
轮询的cancel 能否通过自定义的 生命周期方法抛出来；
场景：
如果在formChange 触发轮询方法，必须单独定义一个useEffect 去监听返回值，去做cancel；
如果生命周期方法抛出来，将很简洁

[2022-07-20 10:07] KangXinzhi commented on #1741
https://github.com/alibaba/hooks/pull/1755/files/8048728b3aa7c8a1aa3717135c1203a7b3c534e9#r924356319
大佬帮忙一起看看，砖家大佬给了些建议

[2022-07-20 12:52] miracles1919 commented on #1770
可以用 `ReactDOM.createPortal`

[code]

[2022-07-20 12:58] GrinZero commented on #1770
传送门仍需要声明式写在页面上
[code]

[2022-07-20 13:00] GrinZero commented on #1770
useAppendRootNode其实也可以看作usePortal

[2022-07-20 13:34] miracles1919 commented on #1770
没理解.. hook 不用么？

[2022-07-20 14:49] GrinZero commented on #1770
### NoHook
[code]

### hook
[code]

### Why Hook?
hook的作用不就是为了组件逻辑共享嘛，这里应该看得比较明白了

[2022-07-21 03:07] awmleer commented on #1770
我发现有两个问题

1. 更新/销毁/卸载不够明确（explicit）

render 函数更新时，例如从 `() => <Modal content='foo' />` 变为 `<Modal content='show' />`，看你现在的实现，实际会触发旧组件的销毁 & 新组件的重新创建，但是对用户来说，他可能并不会意识到这一点，会带来很多潜在的理解成本

2. Hook 的局限性

如果做成 Hook，那自然只能在 React 组件渲染中调用，而且还会受到各种限制（例如每次渲染的调用顺序和数量必须一致），很多时候，如果我们希望用户点击一个按钮，弹出一条 Toast，使用 Hook 的话未必是最方便的，可以写个 demo 试试看，毕竟你上面发的 demo 有点简单，并没有涉及到用户交互

[2022-07-21 07:04] GrinZero commented on #1770
OK~我今天内给一个#2的DEMO，#1的话可以调整一下：
[code]

[2022-07-21 09:02] brickspert commented on #1741
已经改好了~

[2022-07-21 09:03] #1734 closed, assigned to nobody

[2022-07-21 09:03] #1742 closed, assigned to nobody

[2022-07-21 13:29] GrinZero commented on #1770
#2的简单demo
https://codesandbox.io/s/rough-pond-durt2g

[2022-07-22 02:08] miracles1919 commented on #1770
[code]

看了下你的 demo，`useAppendRootNode` 的作用仅仅是挂载/卸载了一个 container 节点

实际 `Modal` 的挂载/卸载依赖的是 `addChild`/`removeChild` 方法

使用起来还需要借助外部的变量，是不是不太方便..?

[2022-07-22 02:26] awmleer commented on #1770
1. 如果用户没有调用过 `useAppendRootNode()`，这时调用 `message.success()` 会发生什么？
2. 如果用户在多个组件内调用了 `useAppendRootNode()`，这时再调用 `message.success()` 会发生什么？
3.  如果用户调用了 `useAppendRootNode()` 返回的 `destroy()` 方法，这时再调用 `message.success()` 会发生什么？

这三种情况都蛮影响开发体验的

[2022-07-22 03:17] GrinZero commented on #1770
我觉得关注重心现在放到了Message的实现...我这里在Message的实现我感觉还是有些问题...
这是我的实际使用：
<img width="622" alt="image" src="https://user-images.githubusercontent.com/70185413/180355215-9fb7bdfb-f259-4210-82ef-6f1995cc8cd9.png">
我主要是做了个`useRightClickMenu`用来快速接入右键菜单

[2022-07-22 03:35] dadanliu opened #1775 "useRequest 轮询问题"
轮询是否也能增加一个最大轮询次数呢

[2022-07-22 03:44] #1775 closed, assigned to nobody

[2022-07-22 03:44] dadanliu commented on #1774
轮询是否也能增加一个最大轮询次数呢？

[2022-07-22 03:45] dadanliu commented on #1774
是否接受PR

[2022-07-22 04:19] awmleer commented on #1770
我来总结一下吧～

1. 如果是在 React 组件内使用，那更推荐使用 portal，而不是直接 ReactDOM.render，这种情况情况下，这个 Hook 的意义不大
2. 如果是在非 React 组件的环境下使用，那就完全不能使用这个 Hook 了

所以这个 RFC 先关闭掉了，不过后续如果有更新的话，可以继续在这里讨论

[2022-07-22 04:19] #1770 closed, assigned to nobody

[2022-07-22 04:38] GrinZero commented on #1770
我不是很认可你的总结#1...portal的作用是能够表面上渲染在一个地方，实际上渲染到了另一个地方。但是这里缺失了两个地方
1. 使用Portal你必定需要做一个渲染的流程，你需要把组件放进`render`中
2. 你需要通过原生的方式挂载一个节点或者直接写死一个节点在index.html中

[2022-07-22 06:13] awmleer commented on #1770
从你上面提供过的例子和文字描述来看，似乎都可以通过 portal 来实现，而且并不会增加代码复杂度，所以并没有很好的说明什么场景下为什么一定需要这个 Hook

如果可以的话，要不你再发一个具体的 demo，能够证明 useAppendRootNode 的**必要性**？

[2022-07-22 07:28] miracles1919 commented on #1774
这是啥意思.. 能举个例子不

[2022-07-22 08:27] hemengke1997 opened #1776 "[RFC] useResetState"
# 功能
跟 `React.useState` 基本一致，但是返回一个可以重置state初始值的方法

[code]

同理，`useSetState` 也可以加此功能

解决痛点：`resetState` 在业务场景中很常见，可是开发者不得不写一份初始值，在代码维护性上也不太好

[2022-07-22 09:21] #1727 closed, assigned to nobody

[2022-07-23 01:46] hchlq commented on #1776
感觉不是很有必要增加这个 hook 呢，可以在 useSetState 的基础上扩展～

[2022-07-23 08:14] GpingFeng commented on #1771
这里的设计是否可以不传入菜单以及对应的容器。
参考这篇[文章](https://www.pluralsight.com/guides/how-to-create-a-right-click-menu-using-react)返回值可以设计为：

xPos, yPos, showMenu。

[2022-07-23 08:18] GpingFeng commented on #1776
@hchlq 确实感觉可以支持这个功能，类似 antd 中 form 表单支持 reset 的功能。在 useSetState 中的话，咱们直接返回多一个 function。resetState?

[2022-07-23 08:22] hchlq commented on #1776
我觉得是可以的， @brickspert @crazylxr 你们觉得呢

[2022-07-23 09:33] GrinZero commented on #1771
我认为你说的有道理，这是改造之后的useRightClickMenu
[code]

1.  返回xPos,yPos确实不错，也应该返回详细点，这里对应前两个number
2.  原版的容器意义并不是很大，所以我改造了一下，现在传入容器是可以将监听`contextmenu`注册在对应容器上，不传的话默认绑定body。如图，某些iwiki只有左侧目录右键会弹出自定义菜单
![image](https://user-images.githubusercontent.com/70185413/180598129-d32bfe6d-fa0a-48d1-b00f-81927ef93ba1.png)
3. 关于不传入菜单，其实我的思路和该文章的简单区别是，他这边只做了获取pageX，pageY，而我还做了一个额外事情是对于弹出层应该弹出位置的计算。即如果使用该文章的组件会发现，在最右侧、最下方都会存在

[2022-07-24 00:05] #1764 closed, assigned to nobody

[2022-07-24 03:45] GpingFeng commented on #1771
这个 overflow 不是很理解。假如是控制菜单的展示位置，感觉我们自动帮它处理了就可以了「也就是你提到的解决不传入 menu 的文图」，估计就是 auto？还有其他的模式代表什么含义呢？

[2022-07-24 03:50] GrinZero commented on #1771
- overflow==="auto"
auto的情况下，会进行边界情况处理，保证菜单显示位置不超出容器。
- overflow==="visible"
visible，有些场景我们不需要做边界计算，比如上边这个左侧目录右键的案例中，我们应当允许超出这个容器，否则菜单的显示是不符合预期的。

[2022-07-24 04:02] GpingFeng commented on #1771
我理解我们这个边界处理应该是针对页面的吧？不应该针对容器？
另外这个 DOM 的入参设计需要符合 ahooks 的[处理规范](https://ahooks.gitee.io/zh-CN/guide/dom) 哈。

[2022-07-24 04:27] GrinZero commented on #1771
你说的有道理，边界处理确实不应该针对容器，调整了一下，现在同时也支持了ref：
[code]
那么现在overflow去掉了，弹窗将依据页面高宽进行边界处理

[2022-07-24 04:32] GpingFeng commented on #1771
@brickspert @crazylxr
大佬们怎么看，我个人觉得这个场景可以支持一下？

[2022-07-24 07:13] #1285 closed, assigned to nobody

[2022-07-24 10:19] crazylxr commented on #1776
+1，我觉得可以的

[2022-07-24 10:21] crazylxr commented on #1772
没有其他问题，就先 close 了

[2022-07-24 10:21] #1772 closed, assigned to nobody

[2022-07-24 10:22] crazylxr commented on #1739
@lynn1286 先按照 @hchlq 的方式试一下哈，issue 先 close 了，有问题再重新 open

[2022-07-24 10:22] #1739 closed, assigned to nobody

[2022-07-25 03:24] li-jia-nan commented on #1771
![1111](https://user-images.githubusercontent.com/49217418/180692999-a2c42128-351c-4375-ae6e-171d62c5a535.png)
![2222](https://user-images.githubusercontent.com/49217418/180693027-0d7eed9b-056c-41c2-bfe8-88374695dd45.png)

简单实现了一下，大佬们看看我这个思路对不对

[2022-07-25 04:24] GrinZero commented on #1771
待确定下来我提个PR吧...你这是按照文章做的目测

[2022-07-25 04:26] brickspert commented on #1776
感觉直接加一个 useResetState Hook 好了，在 useSetState 中增加倒是显得不伦不类了，因为 useSetState 的 API 是和 useState 保持一致的。

[2022-07-25 04:28] li-jia-nan commented on #1771
OK，你来吧，我学习一下

[2022-07-25 05:25] dadanliu commented on #1774
满足异步轮询查询全量数据的场景；
[code]
@miracles1919

[2022-07-25 05:28] liaojunhao commented on #1331
umi哪里去写这个`<Router history={history}>
      <Route component={App} />
    </Router>`

[2022-07-25 05:42] hemengke1997 commented on #1776
`useState` ==> `useResetState`
`useSetState`  ==> `useResetSetState`
`reset` 的功能本身是在 `state` 类的hook上扩展的，为了保持API一致性，我认为在与 `state` 相关的hook中都加一个 "选项控制返回 or 直接返回" `reset `

[2022-07-25 06:00] crazylxr commented on #1776
赞同

[2022-07-25 06:01] brickspert commented on #1776
别，建议先加一个 useResetState 试试。

PS：Hooks 的能力组合是另外一个问题。比如 useSetState 和 useCookieState 组合等等。

[2022-07-25 06:06] hemengke1997 commented on #1776
好的，谢谢各位的回复
这个feature由维护团队来做吗，还是说我提个pr？

[2022-07-25 06:10] crazylxr commented on #1776
可以直接提 pr 的哈。

[2022-07-25 06:24] xmsz opened #1779 "[QUESTION]useFusionTable的formData能否拿的是field.getValues()"
背景
[code]
如果我只用Form.Item声明了b，那么formData是拿不到a的值

https://github.com/alibaba/hooks/blob/master/packages/hooks/src/useFusionTable/fusionAdapter.ts#L6

因为field.getNames()是不包含a的

然后我的场景是，有些默认值可能暂时不需要被修改，所以不会用form.Item声明，但同时又希望formData能直接用到

[2022-07-25 08:25] miracles1919 commented on #1774
目前已经有了"轮询错误重试次数"，这个"轮询次数"包不包含错误重试次数呢？感觉这是一个有争议的地方

@dadanliu

[2022-07-25 08:51] miracles1919 commented on #1779
我试了下，能拿到呀 https://codesandbox.io/s/bold-dawn-de6rgc?file=/App.tsx

[2022-07-25 09:05] hemengke1997 commented on #1776
请问 `pnpm start` 时报错
[code]

项目启动需要什么node环境呢，我现在是 16.14.2

[2022-07-25 09:29] brickspert commented on #1776
有没有执行 pnpm init

[2022-07-25 09:31] hemengke1997 commented on #1776
执行了 `init` 的，成功安装依赖和打包。就是 `start` 的时候会报错

[2022-07-25 09:47] crazylxr commented on #1776
这个问题我好像遇到过，是 npm 源的问题，让我想一下。

[2022-07-25 09:58] GeSnowBoy opened #1780 "ready再次为false时,仍然会触发请求"
## 问题描述

## 希望结果

## 展示链接

[点击跳转CodeSandbox](https://codesandbox.io/s/read-username-forked-0heuk0?file=/App.tsx)

##  修改理由
*  如果`ready` 为 `false` 仍然可以发送请求,那么这个配置就毫无意义,而且极易引发bug,需要用户在 `ready` 处 写一遍判断,发送请求的时候还需在写一遍判断, 没有任何意义. 为何不在请求前加下判断呢? 那么这个 `ready` 就没有任何意义了
* `ready` 再次变成 `false`的时候,  主动触发 `run` 不会发送请求, 但是 `refreshDeps`的变化却能引发请求,所以两种截然不同的表现让人很难理解
*  `ready` 为 `false`还能发送请求这个在阅读理解上让人难以接受

![image

[2022-07-25 10:02] crazylxr commented on #1776
@hemengke1997 pnpm-lock.yaml 文件有点问题，我重新 push 一个 lock 文件，你再重新 pull 一下，然后执行一下 `pnpm run clean`，然后再 `pnpm install` 一下 应该就可以了

[2022-07-25 10:07] GeSnowBoy commented on #1578
https://github.com/alibaba/hooks/issues/1780

[2022-07-25 10:15] GeSnowBoy commented on #1780
3.0.0-alpha.14 版本上好像已经修复了 我用的版本太低了

[2022-07-25 11:02] xmsz commented on #1779
你的例子里，Form.Item 没有设置name

[code]

[2022-07-25 11:51] miracles1919 commented on #1779
这个需求不太符合目前的设计，Form 的字段是支持隐藏的，隐藏后就不该读取到了

具体可以看下官网 ”简易表单/复杂表单“ 切换的例子

[2022-07-25 12:18] miracles1919 commented on #768
用 `useRequest` 应该就可以了

[code]

[2022-07-25 13:15] crazylxr commented on #1780
那就关了哈

[2022-07-25 13:15] #1780 closed, assigned to nobody

[2022-07-25 16:00] dadanliu commented on #1774
是否应该限定“次数只与错误的关联“呢？还是说默认关联错误，支持自定义会不会从设计的角度来说更友好
1. 简单增加一个最大轮询次数
2. 默认次数只包括错误重试关联，支持拓展或替换成其他的关联，比如请求成功但在某种返回状态的时候。
@miracles1919

[2022-07-25 16:02] dadanliu commented on #1774
还有在onSuccess 中抛出 cancel polling 的方法，这个有考虑么。当一个页面有很多异步轮询的异步逻辑，没有这种支持很容易让逻辑走向混乱。
@miracles1919

[2022-07-26 01:33] xmsz commented on #1779
好吧 我现在只能

[code]

或者直接在service里调用field.getValues()

[2022-07-26 01:47] miracles1919 commented on #768
这个 issue 我先关了 ~

[2022-07-26 01:47] #768 closed, assigned to nobody

[2022-07-26 02:15] miracles1919 commented on #1774
那不就是 `pollingErrorRetryCount`

目前的设计用户可以自己选择 `cancel` 的时机，可以自己做关联的

不太理解这句话，现在 cancel 方法不是暴露出来了么 ..？

[code]
---

增加“最大轮询次数”，会带来一系列需要考虑的地方

例如：
- 包不包含错误重试次数
- 最大轮询和错误重试哪个优先级高

感觉会增加整体的复杂度

@dadanliu

[2022-07-26 06:14] miracles1919 commented on #1779
嗯，先自行处理吧，这个 issue 我先关了，后面有问题可以继续讨论 ~

[2022-07-26 06:14] #1779 closed, assigned to nobody

[2022-07-26 10:43] pangxzi opened #1782 "useDynamicList 按照antd中使用树形数据 ，展开时会报错"
按照antd使用树形数据，展开会报错
![image](https://user-images.githubusercontent.com/52907799/180987730-a0f9a6f2-4ce6-447b-a556-014baa201db9.png)

![image](https://user-images.githubusercontent.com/52907799/180987505-67b7128b-9a00-495c-8e60-aae5a8e4ee6d.png)

[2022-07-26 11:28] miracles1919 commented on #1782
能提供下在线的 demo 不，例如 https://codesandbox.io/s/wr11ms

[2022-07-26 12:15] pangxzi commented on #1782
https://codesandbox.io/s/chuan-ru-dom-yuan-su-forked-r3uq0r?file=/App.tsx

[2022-07-26 13:45] dadanliu commented on #1774
cancel 能放在，自定义的生命周期钩子中，比用户单独定义hooks去处理更简洁，
比如多次调用一个轮询请求，第一次可以根据上一次的空值和这一次的有值判断是否cancel，
但如果是第二次就需要去做 diff。

1.判断是否和第一次相同，两个分支去判断。
2.相同表示请求到了新的数据还是说上次的数据没有改变，又多了两个分支去判断；
3. 不同还需要判断是请求成功的结果还是请求失败的结果，再次多了两个分支去判断；

但其实我只需要在自定义的生命周期中，在请求成功时走对应的生命周期勾子，一个链式的调用；
而不是自定义一堆 hook，去处理这种分叉，跟上某个内部的生命周期勾子的调用时机；

@miracles1919

[2022-07-26 16:04] miracles1919 commented on #1774
这个我一直不太理解.. cancel 不是暴露出来了么？想在哪调用就在哪调用啊

[code]

@dadanliu 要不你写个 demo ，看看真正的场景... 不然 get 不到你真实的痛点

[2022-07-27 03:12] miracles1919 commented on #1782
看起来是 antd 的使用问题

可以看下 antd form 的规则 [https://github.com/react-component/field-form/pull/111](https://github.com/react-component/field-form/pull/111)

[2022-07-27 05:33] miracles1919 commented on #1782
这个 issue 我先关了哈，有问题可以继续讨论 ~

[2022-07-27 05:33] #1782 closed, assigned to nobody

[2022-07-27 09:09] #1542 closed, assigned to nobody

[2022-07-27 15:54] zxxvGW opened #1785 "类型“Parameters<T>”必须具有返回迭代器的 "[Symbol.iterator]()" 方法。"
https://github.com/alibaba/hooks/blob/0278f9b9390625bf181f039205b2b34d94ee3836/packages/hooks/src/useDebounceFn/index.ts#L25
![image](https://user-images.githubusercontent.com/51041769/181294874-f83e0734-8dd2-4303-96be-ee9159aada35.png)

不知道为啥下载源码下来不会TS报错，用的TS版本不对？（"typescript": "^4.6.4"）
![image](https://user-images.githubusercontent.com/51041769/181295013-2934d4ef-be8d-425f-aef8-1db6428e58de.png

[2022-07-27 15:58] zxxvGW commented on #1785
最后打包出来的文件，也是通过apply调用的
![image](https://user-images.githubusercontent.com/51041769/181293804-8f3b3baf-2bd3-4316-8fe2-72e653ea8fa8.png)

[2022-07-28 01:38] crazylxr commented on #1741
3.6.2 已经修复了

[2022-07-28 01:38] #1741 closed, assigned to nobody

[2022-07-28 03:22] li-jia-nan commented on #1767
@crazylxr 来关issue了

[2022-07-28 10:50] li-jia-nan commented on #1351
@crazylxr @brickspert 有人在跟进吗？要不我来试一下？

[2022-07-28 14:15] crazylxr commented on #1767
3.6.2 已经发布。

[2022-07-28 14:15] #1767 closed, assigned to nobody

[2022-07-28 14:16] crazylxr commented on #1351
好呀

[2022-07-29 02:50] dadanliu opened #1786 "pnpm build 遇到的问题"
![image](https://user-images.githubusercontent.com/78400194/181672469-3136c9ea-e960-469d-b724-3cc99caba03b.png)
拉下来起项目，貌似是走 gulpfile.js 报的处理typescript 报的错，这个是什么问题哦

[2022-07-29 03:08] icy9596 opened #1787 "关于useRequest的轮询功能，pollingWhenHidden=false时发起请求时机的一点疑问。"
在 pollingWhenHidden=false 的场景下，目前的轮询的实现逻辑是：
当上一次请求结束之后，检查当前的页面是否是可见的，页面可见->发起请求，页面不可见->订阅页面可见事件，触发事件时立即请求。

这似乎存在一个小问题，在以下场景中：
假如上一次请求结束之后，页面是可见状态，然后开启定时器，在到定时器到期时间之前用户切到了别的标签页，原来的页面变成不可见，等定时器时间到了之后请求还是会发出，感觉好像和pollingWhenHidden=false的效果不太对，理想情况应该是不会发出这个请求。

是否可以这样调整：
当上次请求结束之后，直接开启定时器，定时器的时间到了之后走再原来的判断逻辑：页面可见->请求，页面不可见->订阅事件。

代码调整如下：
[code]

[2022-07-29 06:07] li-jia-nan commented on #1351
<img width="448" alt="QQ20220729-140532@2x" src="https://user-images.githubusercontent.com/49217418/181693637-badf0829-5c29-4c18-b775-4bedfbfa5e57.png">

大概过了一下思路，最后的返回值大概是这样，可以吗？
@brickspert @crazylxr

[2022-07-30 02:24] SignDawn commented on #1351
这个有必要吗？ indexDB 的存储是异步的。
原生的 api 用的还是回调方法，可能你改变了数据，indexDB 里面并没有及时更新

[2022-07-30 03:07] li-jia-nan commented on #1351
确实是这样的，需要在 .then 里面才能拿到结果，我单独开一个issue讨论一下这个吧

[2022-07-30 03:29] li-jia-nan opened #1789 "[RFC] 新增一个持久化存储在IndexDB的状态管理Hook，类似 useLocalStorageState"
- #1351

### 基于上面的 issue，这里单独开一个 RFC issue 讨论一下：

### 目前大概实现了一下，返回值长这样：

<img width="448" alt="QQ20220729-140532@2x" src="https://user-images.githubusercontent.com/49217418/181693637-badf0829-5c29-4c18-b775-4bedfbfa5e57.png">

![动画3](https://user-images.githubusercontent.com/49217418/181870801-86bd485f-2208-410c-90fc-380a781e5e60.gif)

### 需要讨论的是：

#### 1. 不同于其它hook，这里所有方法都是异步的，需要在 .then 里面才能执行回调，

[2022-07-30 08:41] kongmoumou commented on #728
@brickspert
查了下资料，react devtool inspect 组件时会进行 shallow render，并且替换所有 hooks 为 mock hooks（用来获取 hook 信息，参考 [bvaughn 评论](https://github.com/facebook/react/issues/20394#:~:text=Now%20if%20DevTools%20runs%20your%20component%20to%20inspect%20it%2C%20the%20ref_count%20ref%20will%20be%20mutated%20(and%20stay%20mutated)%20to%20close%20over%20the%20stubbed%20out%20useState%20hook%2C%20which%20is%20why%20it%2

[2022-07-30 15:40] #1786 closed, assigned to nobody

[2022-07-30 15:41] dadanliu commented on #1786
pnpm 版本问题

[2022-07-30 18:22] dadanliu commented on #1774
https://codesandbox.io/s/dreamy-kalam-rg9dfg?file=/src/App.jsx:1824-1871
@miracles1919 大概是这个意思

[2022-07-31 11:20] hchlq commented on #1785
不太理解这里是表达啥呢...

报错是在哪复现的？，源码没报这个 TS 错误的～

[2022-07-31 11:57] zxxvGW commented on #1785
可能和使用ts的版本有关，看这里。https://codesandbox.io/s/agitated-bird-72hjm7?file=/src/hooks/index.ts

[2022-07-31 12:48] hchlq commented on #1785
代码我升级到 4.7.2 还是没有复现这个问题，不知道 codesandbox 咋编译的，可以先不用管这个问题哈

另外，只要改成 `type noop = (...args: any[]) => any;` 就可以解决了

[2022-07-31 12:48] #1785 closed, assigned to nobody

[2022-07-31 12:50] hchlq commented on #1787
能提供修改前后的 demo 吗，给个 codesandbox 最好哈

[2022-08-01 02:31] icy9596 commented on #1787
大概是这个情况：

https://codesandbox.io/s/reverent-sun-xd0n66?file=/src/App.js

[2022-08-01 02:35] miracles1919 commented on #1786
总结一下：
- pnpm 7.1.9 ✅
- pnpm > 7.1.9 ❎
- ts > 3.9 ❎

[2022-08-01 07:33] mushan0x0 opened #1791 "babel-plugin-import配置ahooks按需加载后createUpdateEffect报错"
会报错找不到createUpdateEffect
![image](https://user-images.githubusercontent.com/29084441/182096689-cfcb29ee-20cb-4b54-bc94-fdb41feddb40.png)
![image](https://user-images.githubusercontent.com/29084441/182096725-b7673710-8007-47f3-864e-0f3e40e1868a.png)

[2022-08-01 13:07] miracles1919 commented on #1791
能提供下复现的包么 👀

[2022-08-01 13:47] mushan0x0 commented on #1791
[v115zc 2.zip](https://github.com/alibaba/hooks/files/9234383/v115zc.2.zip) @miracles1919

[2022-08-02 04:07] miracles1919 commented on #1791
确实有这个问题，在 pr 里回你了哈

[2022-08-02 04:46] hchlq commented on #1787
@brickspert 大龙哥你觉得呢

[2022-08-03 01:48] #1791 closed, assigned to nobody

[2022-08-03 02:20] brickspert commented on #1787
应该没啥问题，可以提个 PR，Thanks♪(･ω･)ﾉ

[2022-08-03 08:39] miracles1919 commented on #1774
[code]
这是你的代码

其实如果用 ref 记录成功的次数，就不需要额外的 hook

[code]

另外，最大轮询次数感觉不是很有必要，用 ref 的话很方便处理，暂时就不考虑加了

这个 pr 我先关了哈~ 有问题可以继续讨论

[2022-08-03 08:39] #1774 closed, assigned to nobody

[2022-08-03 08:54] icy9596 commented on #1787
感谢，已提。

[2022-08-03 14:28] dadanliu commented on #1774
[code]
老哥 这个cancel 没抛出来，没法直接调 @miracles1919
如果cancel 可以在自定义的生命周期里面调用确实方便很多

[2022-08-04 06:41] #1776 closed, assigned to nobody

[2022-08-04 06:44] miracles1919 commented on #1774
<img width="906" alt="image" src="https://user-images.githubusercontent.com/22469543/182780796-7b438c36-4a12-4123-ae22-a4aba5b28927.png">

cancel 不是暴露出来了么 ？

<img width="650" alt="image" src="https://user-images.githubusercontent.com/22469543/182781017-13f50fbb-67a9-4e79-aa1c-b38b88aac646.png">

在你的 demo 也用到了

[2022-08-04 07:04] li-jia-nan commented on #1750
我尝试一下

[2022-08-04 09:13] crazylxr commented on #1787
3.7.0 已发布

[2022-08-04 09:13] #1787 closed, assigned to nobody

[2022-08-04 11:27] dadanliu commented on #1774
是的 不过这样还要自己加一个ref 再加一个useEffect
@miracles1919

[2022-08-05 05:51] miracles1919 commented on #1774
如果只是**轮训次数**的判断，一个 ref 就够了，上面提供过好几次代码了

[2022-08-05 07:01] at86 opened #1798 "useVirtualList new param of `listChgSignal`"
[code]

[code]
add new param `listChgSignal`, put `listChgSignal` beside of `list` , a large `list` for performance not statefull, need `listChgSignal` tell list change.

[2022-08-05 08:11] zjy01 commented on #971
`manual: true`模式下，ready能满足我的需求

[2022-08-05 08:11] #971 closed, assigned to nobody

[2022-08-06 02:22] miracles1919 commented on #1798
https://github.com/alibaba/hooks/blob/master/packages/hooks/src/useVirtualList/index.ts#L105-L109

list change with a shallow copy, so `[list, listChgSignal]` is equivalent to `[list]`

It's not need to add new param

[2022-08-08 10:03] darkdx opened #1800 "🐛[Bug] useCountdown返回值与文档不一致"
![image](https://user-images.githubusercontent.com/88136242/183392849-71b59e5e-a7b4-47be-9ab9-d1986ff06072.png)
![image](https://user-images.githubusercontent.com/88136242/183393074-6b0a0315-60e7-4267-821f-ff412fd9722a.png)
问题描述： 返回结果与文档不一致，少个参数

[2022-08-08 11:19] li-jia-nan commented on #1800
唉？是官方文档吗？为什么你的文档跟我的文档不一样？

[2022-08-08 12:16] #1798 closed, assigned to nobody

[2022-08-08 19:10] medmin opened #1801 "useSetState 不能获取到最新的state"
最小可复现的code: https://codesandbox.io/s/intelligent-drake-rbe918

[code]

上面这个code，永远是先打印出来+1之前的count的值，而不是+1之后的值

请问怎样才能让count打印出最新的count值？

[2022-08-08 21:13] #1801 closed, assigned to nobody

[2022-08-09 01:42] darkdx commented on #1800
https://ahooks.gitee.io/ahooks-v2/zh-CN/hooks/state/use-count-down 这个文档

[2022-08-09 01:44] #1800 closed, assigned to nobody

[2022-08-09 01:44] darkdx commented on #1800
已解决，最新文档 https://ahooks.js.org/zh-CN/hooks/use-count-down

[2022-08-09 01:46] li-jia-nan commented on #1800
这是v2的文档，你安装的应该是v3

[2022-08-09 01:47] darkdx commented on #1800
对的，已发现问题，感谢回复！🙏🏻

[2022-08-09 03:07] zm8 opened #1803 "[功能支持] useRequest 是否支持类似一个 isFetching 的属性"
特别是使用 useRequest 的 pollingInterval 属性的时候,
如果代码里面直接写 ``` if(loading) return null``` 那么体验不太好。
虽然有一些其他解决方案，但是觉得不够优美。
是否支持一个 isFetching 的属性，或者有其他办法?

问题场景:
[code]

hack 解决的方案:
[code]

[2022-08-09 09:47] miracles1919 commented on #1803
isFetching 不就是 loading 么...

`loading && !data` 这样判断应该就能满足你的要求了

[2022-08-10 04:32] zm8 commented on #1803
嗯呢，我看了官网 "缓存 & SWR" 的例子有这么写的，除非服务端返回的 data 为 undefined 会有问题，通常是没有问题的。

[2022-08-10 06:47] ClenLu commented on #1606
这个问题怎么样了？？

[2022-08-10 07:47] miracles1919 commented on #1803
那这个 pr 我关了哈

[2022-08-10 07:47] #1803 closed, assigned to nobody

[2022-08-10 13:37] crazylxr commented on #1606
@hchlq @miracles1919 你们这问题可以复现吗？

[2022-08-11 01:02] Easy-Martin commented on #1606
@hchlq 仅在React18下，通过`ReactDOMClient.createRoot(ele).render`方式出现 [codesandbox](https://codesandbox.io/s/default-usage-forked-9466sb?file=/index.tsx) 复现，列表往下面滚

[2022-08-11 02:44] crazylxr commented on #1606
好的，感谢。这个 demo 可以复现

[2022-08-11 07:06] JX-Zhuang commented on #1351
没有做，没有必要用hooks

[2022-08-12 01:04] huadream commented on #1524
请求加回，就因为这个问题，只好用回v2。

[2022-08-12 09:50] cuiaiguanggh opened #1809 "希望能抛出一个请求之前的回调"
能否加一个请求之前的回调函数，这样可以在发起请求之前做一些逻辑

[2022-08-12 14:38] miracles1919 commented on #1809
可以设置成手动的，在逻辑处理完成后，调用 `run/runAsync`

[2022-08-15 01:48] cuiaiguanggh commented on #1809
手动方式确实可以，但是语法风格就不一样了不是？

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: github-actions[bot] ***@***.***>
发送时间: Monday, August 15, 2022 9:47:30 AM
收件人: alibaba/hooks ***@***.***>
抄送: Afterain ***@***.***>; Author ***@***.***>
主题: Re: [alibaba/hooks] 希望能抛出一个请求之前的回调 (Issue #1809)

Hi, cuiaiguanggh.

It seems that this issue is a bit vague and lacks some necessary info

[2022-08-15 02:01] crazylxr commented on #1809
那你可以自己写在 service 里，像这样
[code]

[2022-08-15 02:03] cuiaiguanggh commented on #1809
这个没用暴露出api啊

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: lxr ***@***.***>
发送时间: Monday, August 15, 2022 10:01:55 AM
收件人: alibaba/hooks ***@***.***>
抄送: Afterain ***@***.***>; Author ***@***.***>
主题: Re: [alibaba/hooks] 希望能抛出一个请求之前的回调 (Issue #1809)

那你可以自己写在 service 里，像这样

useRequest(() => {

  // 请求之前的逻辑。

 // 发起请求的 code

})

―
Reply to this email directly, view

[2022-08-15 02:05] brickspert commented on #1809
![image](https://user-images.githubusercontent.com/12526493/184565597-f35ce55a-880a-4760-bccf-6a33a21009ce.png)

有个 onBefore 参数的

[2022-08-15 02:07] cuiaiguanggh commented on #1809
真的吗我看看，我就说这不应该没用的

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: 砖家 ***@***.***>
发送时间: Monday, August 15, 2022 10:05:21 AM
收件人: alibaba/hooks ***@***.***>
抄送: Afterain ***@***.***>; Author ***@***.***>
主题: Re: [alibaba/hooks] 希望能抛出一个请求之前的回调 (Issue #1809)

[image]<https://user-images.githubusercontent.com/12526493/184565597-f35ce55a-880a-4760-bccf-6a33a21009ce.png>

[2022-08-15 02:09] cuiaiguanggh commented on #1809
我知道了，我用的是ice封装了一层的request  它把这个去掉了

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: 崔 爱广 ***@***.***>
发送时间: Monday, August 15, 2022 10:07:07 AM
收件人: alibaba/hooks ***@***.***>; alibaba/hooks ***@***.***>
抄送: Author ***@***.***>
主题: Re: [alibaba/hooks] 希望能抛出一个请求之前的回调 (Issue #1809)

真的吗我看看，我就说这不应该没用的

获取 Outlook for iOS<https://aka.ms/o0ukef>
_________________________

[2022-08-15 02:13] cuiaiguanggh commented on #1809
也不是  是老的版本没有

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: 崔 爱广 ***@***.***>
发送时间: Monday, August 15, 2022 10:09:20 AM
收件人: alibaba/hooks ***@***.***>; alibaba/hooks ***@***.***>
抄送: Author ***@***.***>
主题: Re: [alibaba/hooks] 希望能抛出一个请求之前的回调 (Issue #1809)

我知道了，我用的是ice封装了一层的request  它把这个去掉了

获取 Outlook for iOS<https://aka.ms/o0ukef>
______________________________

[2022-08-15 02:39] crazylxr commented on #1809
好的，那 close 了

[2022-08-15 02:39] #1809 closed, assigned to nobody

[2022-08-15 02:59] cuiaiguanggh commented on #1809
好的

[2022-08-15 03:01] cuiaiguanggh opened #1813 "3.0 initialData和formatResult应该怎么设置？"
接口请求之前有个默认的数据，如何赋值给data？比如我的页面的默认数据是[],而不是null，undefined。

[2022-08-15 03:20] #1813 closed, assigned to nobody

[2022-08-15 10:12] Omelettesheep opened #1814 "useRequest关于cache"
我看目前的cache只缓存同个接口请求的最后一条数据？
能支持同个接口，不同传参的数据也能同时缓存的能力吗

[2022-08-15 10:44] dadazhouRenee commented on #728
那为啥 useInterval 中 fn 不需要用useMemo包呢

[2022-08-16 02:42] songrunyu926 opened #1817 "useWebSocket的onOpen问题"
在调用onOpen方法时，使用sendMessage失败  发现在onOpen中readyState   状态还是 connecting  0的状态

[2022-08-16 11:32] crazylxr commented on #1817
有 demo 么？

[2022-08-16 13:49] Superman-wc opened #1818 "3.7.0 useDrag data 闭包问题， data更新后， useDrop得到的还是旧的数据"
useDrag({index:number},  ref, {});

useDrag 里边 useEffectWithTarget(effect, deps, target);

其中的deps为[]; 导致effect中的onDragStart里边 event.dataTransfer.setData('custom', JSON.stringify(data)); 的data始终都是初始的数据

ahooks version 3.7.0

[2022-08-17 00:00] wangjs-jacky commented on #1255
我估计他们是想说 new Counter 这一句会执行，也就是 Counter 里头的constructor 会被执行，但是这种计算即使执行了，也不会赋值到 current，所以你写的案例永远不变。而用了 useCreation 可以节省这部分计算，感觉有点像 useMemo 和 useRef 的结合体。useMemo 将new Counter 的结果缓存，然后交给 ref 去缓存结果。

[2022-08-17 01:44] crazylxr commented on #1818
能直接放个 codesandbox 的demo 么

[2022-08-17 03:13] Superman-wc commented on #1818
https://codesandbox.io/s/ji-chu-yong-fa-forked-b76nl5?file=/App.tsx

codesandbox 例子

[2022-08-17 03:35] H-Sven opened #1819 "useMutationObserver 不存在"
在"ahooks": "^3.1.9"版本中， useMutationObserver似乎被移除了？

报错
[code]

[2022-08-17 03:36] H-Sven commented on #1819
但是你们官方文档上面还有这个hooks

[2022-08-17 03:48] pangxzi opened #1820 "useDynamicList使用antd的Table的scroll后，拖拽会报错"
https://codesandbox.io/s/ke-tuo-zhuai-de-dong-tai-biao-ge-forked-bwwd3g?file=/App.tsx

[2022-08-17 05:57] hchlq commented on #1819
useMutationObserver 是最近才有的 hook，3.1.9 版本是没有的～

[2022-08-18 01:39] crazylxr commented on #1819
useMutationObserver 是 3.6.2 发布的，你看下你的  ahooks 版本是多少

[2022-08-18 05:45] #1819 closed, assigned to nobody

[2022-08-18 07:53] miracles1919 commented on #1820
我试了下，没有报错... 有一堆 antd 的 warnning，感觉是 Table 的用法问题？

[2022-08-18 07:57] pangxzi commented on #1820
你向上拖一下，list就会多出来一项

[2022-08-19 04:05] watsonhaw5566 commented on #833
您使用这个的具体是怎么操作的。

[2022-08-19 07:22] miracles1919 commented on #1820
看了下问题出在这里

[code]

以你的 demo 举例，list 长度为 4，item 下标为 0 - 3

- 存在 `scroll` prop 时移动 item 3 至 item 2 ，onDragEnd 方法里 `oldIndex: 4, newIndex: 3`，而 move 方法会移动 old/new item，此时 list 就会 +1（`list[4] = undefined`）
- 去掉 `scroll` prop ，移动 item 3 至 item 2，onDragEnd 方法里 `oldIndex: 3, newIndex: 2`，表现符合预期

所以看起来是组件的问题（或者使用问题？），跟 useDynamicList 没有关系

[2022-08-19 07:37] pangxzi commented on #1820
还有个问题，就是列表超过一个屏幕，拖拽的时候页面不会随着鼠标往下移动，这个是ReactDragListView这个组件的问题？

[2022-08-19 14:37] miracles1919 commented on #1820
应该是的

[2022-08-21 14:05] #1820 closed, assigned to nobody

[2022-08-23 05:34] liuzhaowei55 opened #1824 "如何通过 useRequest 发送网络请求？"
文档翻来覆去找没有看到如何直接传递 host、path、params 等参数，是需要自己通过 axios 等库构建 Promise 然后放在 useRequest 中使用吗？看到有其他 issue 中有提到可以直接传入 fetch 的参数来发送请求，尝试了一下又 type error，能提供一个直接发送网络请求的例子吗？

[2022-08-23 06:36] aloniacode opened #1826 "useRequest的取消请求"
能否在useRequest的onBefore中进行请求的取消？
主要是想把参数的判断放在onBefore中，但是useRequest中使用cancel()和return都无效。

[2022-08-23 07:42] li-jia-nan commented on #1824
[code]

[2022-08-23 09:04] liuzhaowei55 commented on #1824
OK，这样一眼就能看明白了，希望可以更新在文档中。

[2022-08-23 11:06] #1588 closed, assigned to nobody

[2022-08-24 01:34] miracles1919 commented on #1824
useRequest 里的第一个例子不就是么...

![image](https://user-images.githubusercontent.com/22469543/186298045-344c53cc-544a-460d-a26f-662b538b42cb.png)

[2022-08-24 01:44] miracles1919 commented on #1826
onBefore 里可以用 cancel 的

[2022-08-24 01:54] aloniacode commented on #1826
[code]
取消不了，还是会发送的

[2022-08-24 03:00] aloniacode commented on #1524
确实，多个命名冲突就比较麻烦

[2022-08-24 03:17] kongmoumou opened #1827 "useRequest 轮询重启"
当前 useRequest 轮询在 pollingInterval 由 0 变成其他值时不会启动轮询，需要手动 refresh 一次才能启动轮询，符合预期么？

看了下源码里只有停止轮询的逻辑，没有重启逻辑，是否需要添加 🤣 @crazylxr

[code]

PS: 另外两家 react-query 跟 swr 都支持轮询重启～

[2022-08-24 03:51] xiaoliangpan opened #1828 "use-infinite-scroll: 在回调的钩子中拿不到，全量的数据，能不能增加一个钩子，来取全量数据"
<img width="727" alt="image" src="https://user-images.githubusercontent.com/13153085/186324344-ecb2d18d-dfbb-4bb2-b040-5b5c561cfc43.png">
类似上面的代码，在回调的钩子拿到全量数据，

现在获取方式：
不然外部组件获取全量数据需要使用useEffect(() => {

},[data]) 增加周期时长，不太友好

[2022-08-24 07:26] nuonuonuonuoyan opened #1829 "useInterval clear后，如何重启？"
useInterval clear后，如何重启？

[2022-08-24 08:09] kongmoumou commented on #1829
根据源码，更新 delay 即可

[code]

[2022-08-24 11:43] mushan0x0 opened #1832 "[RFC] useGlobalState 全局状态"
# useGlobalState

React Hook 实现一个**全局状态**的功能，不同页面不同组件使用同一个状态。[Preview →](https://codesandbox.io/s/dumi-demo-forked-73u0pv?file=/demo.tsx)

https://user-images.githubusercontent.com/29084441/186406656-d0f1a7fd-0402-4bf6-ac8c-d16122b5eb24.mp4

## Usage

#### 1.先为全局状态设置一个唯一`key`，或者还可以设置一个初始值

[code]
##### 或者二次封装一个`useGlobalStep`

[code]

#### 2.在其他组件或者页面引入`useGlobalState`并使用相同的`key`

[code]

##### 或者

[2022-08-24 12:09] mushan0x0 commented on #1832
@brickspert 有什么意见不

[2022-08-24 12:26] szachy113 opened #1833 "How can I contribute to the page?"
Hi guys, just a quick question. How do I access the actual source code of a page? I'd like to contribute (namely, fix some bug). How can I do that?

Thanks in advance! 🙏🏻

[2022-08-24 13:21] liuzhaowei55 commented on #1824
![image](https://user-images.githubusercontent.com/1835787/186428458-fa49cdb4-b3e3-4b65-bda2-dc8db44dd3db.png)

这应该算是知识诅咒吧，第一次看到文档我的理解 useRequest 是用来替换掉 axios，Fetch 这些的，现在了解这个 hook 的应用场景了。

[2022-08-24 13:33] crazylxr commented on #1833
You can read this article： https://opensource.com/article/19/7/create-pull-request-github

[2022-08-24 14:26] szachy113 commented on #1833
@crazylxr Yes, sir. I know how to create a PR. However, what I don't know is how to contribute specifically to the [page](https://ahooks.js.org/) itself. I don't see any of the components in the source code 🙂

[2022-08-25 01:36] miracles1919 commented on #1833
docs/index.en-US.md

[2022-08-25 01:48] crazylxr commented on #1829
@nuonuonuonuoyan nu  解决你的问题了不？

[2022-08-25 01:51] miracles1919 commented on #1826
这是预期行为... cancel 只是放弃对本次请求的响应，并不会终止本次请求

useRequest 只是对 Promise 的管理，不会去终止 Promise 的

[2022-08-25 02:37] aloniacode commented on #1826
这样的话，官方文档的说明描述多少有点误导人。。。
![image](https://user-images.githubusercontent.com/55039022/186561644-d1c1af5e-e7e5-4756-a7df-f35b3658896c.png)

[2022-08-25 03:29] jk4235 commented on #1827
+1 由0变成其他值不会重启比较迷惑

[2022-08-25 06:44] mushan0x0 commented on #1832
@awmleer

[2022-08-25 07:22] miracles1919 commented on #1826
嗯嗯 我们更新下文档

[2022-08-25 10:49] brickspert commented on #1833
1. First, you should start the project in you local.

[code]

2. Then, you should search the keyword. The code for the page is here `/packages/hooks/src/**/index.en-US.md`

[2022-08-25 10:51] li-jia-nan commented on #1824
@crazylxr close

[2022-08-25 10:52] brickspert commented on #1832
关于全局状态管理，我们建议使用 [hox](https://github.com/umijs/hox)，ahooks 里不建议加这个 Hooks

[2022-08-25 10:52] brickspert commented on #1832
感谢 RFC 哈！

[2022-08-25 10:53] mushan0x0 commented on #1832
@brickspert 这个不一样，你看下里面的源码呢 https://codesandbox.io/s/dumi-demo-forked-73u0pv?file=/useGlobalState.tsx

[2022-08-25 10:57] mushan0x0 commented on #1832
这个是用批量更新实现的全局状态，不是用的context

[2022-08-25 10:58] brickspert commented on #1828
你 use-infinite-scroll 是哪里的代码呀。。我看不是 ahooks useInfiniteScroll 代码呀。

[2022-08-25 11:03] #1824 closed, assigned to nobody

[2022-08-25 11:12] brickspert commented on #1827
这个确实是个 BUG，需要修复一下。

[2022-08-25 11:40] hchlq commented on #1832
实现是用全局的一个 globalStates 去管理，相当于脱离了 React 的范围之外了，这样好么？

[2022-08-25 11:42] hchlq commented on #1832
那我用 Context 去管理岂不是更好么，感觉不到优势在哪呢

[2022-08-25 11:43] mushan0x0 commented on #1832
可以实现组件卸载可以清除globalStates里面存的内容，优势在于不需要provider，useContext，createContext @hchlq

[2022-08-25 11:46] hchlq commented on #1832
我的意思不是 ”组件卸载可以清除里面存的内容“。如果是 React 18 之后的，该如何考虑，状态管理是不建议脱离 React 的范围的

而且 createContext 我也可以封装，使用也很方便呀

[2022-08-25 11:47] mushan0x0 commented on #1832
我以为你考虑的是内存泄漏的问题，你可以举例说明可能会有什么问题吗 @hchlq

[2022-08-25 11:49] mushan0x0 commented on #1832
createContext 容易被滥用，开发者可能会往里面放很多东西，useGlobalState设计跟useState是一样的，可以防止这一点

[2022-08-25 11:52] hchlq commented on #1832
没有特别好的举例，但是状态尽量不要脱离 React 的范围～

[2022-08-25 11:52] hchlq commented on #1832
滥用是相对而言的，团队中通过一些开发原则就可以避免了

[2022-08-25 11:53] mushan0x0 commented on #1832
但是这样也没有脱离react范围，实际设置状态和读取状态都是react的useState

[2022-08-25 11:58] hchlq commented on #1832
但是你会间接额外的维护状态和更新函数呀，我觉得不是特别有必要，看下 @brickspert 怎么说～

[2022-08-25 12:54] miracles1919 commented on #1832
你的 demo 看起来比较简单，怎么处理多个数据呢

比如有 Global-A、 Global-B、Global-C，看起来得这样..?

[code]

[2022-08-25 12:55] mushan0x0 commented on #1832
@miracles1919 是的，它跟useState一样，只不过多了个key

[2022-08-25 13:03] tolerance-go opened #1837 "runAsync 是否可以由用户决定是不是继续执行注册过的 onSuccess 等"

[2022-08-25 13:46] #1837 closed, assigned to nobody

[2022-08-25 14:09] Pulset commented on #1538
我把可视区域展示的list数量方法改了，应该可以解决这个问题和1548里的那个问题

[2022-08-25 15:30] li-jia-nan commented on #1827
我来试试

[2022-08-25 19:11] szachy113 commented on #1833
I don't think we understand each other well. I'd like to work on that particular site: https://ahooks.js.org. Not on docs, not on hooks, but rather -- on the site itself. Is this even possible since it's all "powered by dumi"? 🤔

[2022-08-26 01:39] ysh199882 commented on #1833
Do you mean to join this organization?

[2022-08-26 04:23] miracles1919 commented on #1832
那感觉实用性不是很大啊... 真实的场景下往往是需要聚合多组数据的，个人觉得没有必要加在 ahooks 里

关于全局状态管理，我们推荐使用 [hox](https://github.com/umijs/hox)

[2022-08-26 05:36] mushan0x0 commented on #1832
多个数据组合也可以这样用，useState可以怎么用，它就可以怎么用
[code]

[2022-08-26 05:58] mushan0x0 commented on #1832
@miracles1919 组合使用的例子我加了，你看看

[2022-08-26 08:01] xiaoliangpan commented on #1828
在你的代码基础上改了，能获得我想说的效果，但是真正的实现，比较尊重你们的实现规范。

[2022-08-27 01:59] awmleer commented on #1832
我有个小问题，如果在多个组件中都调用了 `useGlobalState`，`key` 是同一个，但是 `initialValue` 值不一样，这种情况感觉还挺有问题的？

[code]

[2022-08-27 02:23] mushan0x0 commented on #1832
key重复是不好避免的问题，但是像useLocalStorage这些都是用的key，大家普遍在用一般不会遇到什么问题。初始值只会在第一个使用到的地方才会生效，这个容易让用户困惑，但是可以加一些警告说初始值没有生效来避免

[2022-08-27 04:37] Coloey opened #1845 "[RFC]useSyncCallBack"
react在合成事件中改变状态时，为了减少render次数会收集所有状态变化到队列中，最后做一次变更，因此和setState处在同一个宏任务中的操作无法立即得到最新的状态，用useSyncCallBack，将需要得到最新状态的操作放到useCallBack回调函数中执行，可以在render后得到的状态是最新的
### API
[code]

### Demo

[code]
### useSyncCallBack:

[code]
[code]

[2022-08-27 07:22] hchlq commented on #1845
那我这样写岂不是更好吗，用这个 syncCallback，我还得调用一次，更加麻烦了

[code]

[2022-08-27 14:20] szachy113 commented on #1833
@ysh199882 Nope.

[2022-08-29 01:26] miracles1919 commented on #1832
这么说的话... useLocalStorage 完全能代替啊

[2022-08-29 02:05] mushan0x0 commented on #1832
useLocalStorage不会更新所有用到的地方啊....你看看例子呢。而且有全局状态需求的地方并不一定有存储local storage的需求啊

[2022-08-29 09:09] brickspert commented on #1832
我的结论是，这个 Hook 只适合简单的项目，稍微复杂的项目还是要引入正儿八经的状态库的。

[2022-08-29 09:11] brickspert commented on #1833
Maybe you are finding [dumi](https://d.umijs.org/)?

[2022-08-29 09:29] brickspert commented on #1827
这个我重新思考了一下，目前的实现应该是没有问题的。

`pollingInterval` 自己是不会自动触发 service 执行的，它只会控制在一次执行之后，需不需要进行下一次请求。

所以在 `pollingInterval=0` 的时候，一次请求完，不会继续请求。
在 `pollingInterval>0` 的时候，一次请求完，会继续请求。

结论是：`pollingInterval` 不会自己触发执行，只会控制一次执行完后，要不要进行下一次执行。需要自己用 `run` 来触发执行。

[2022-08-29 09:37] mushan0x0 commented on #1832
很早期我就有在大大小小的项目使用了，目前没什么问题，甚至有很多好处。这个就是使用很简单，如果项目是需要靠使用门槛来限制全局状态的使用，用别的状态库也是可以的。

[2022-08-29 10:05] miracles1919 commented on #1832
用 key 这个方案，设计上就是有缺陷的，例如 https://github.com/alibaba/hooks/issues/1832#issuecomment-1229097767 写的 demo，没有办法解决重复 key 的问题

设计上的问题，需要人为的方式避免（比如警告？），肯定是不合理的，一旦项目规模或者团队规模起来了，就是在给他们埋坑

这个就在你的项目中自己维护吧

[2022-08-29 10:23] mushan0x0 commented on #1832
useLocalStorage难道大型项目里面不能用吗，用了useLocalStorage就是在埋坑吗

[2022-08-29 11:02] #1789 closed, assigned to nobody

[2022-08-30 00:53] miracles1919 commented on #1832
如果 useLocalStorage 用于**全局状态**，那确实是在埋坑...

[2022-08-30 01:27] SnowingFox opened #1846 "[RFC] add new package @ahooks/common"
展开讨论一下这个https://github.com/alibaba/hooks/issues/1761 issue @hchlq @li-jia-nan

对于这种不常用的hook，但肯定会有人有需求的hook，我建议采用monorepo的架构，新增一个`@ahooks/common`的包，让用户按需引入，这种做法可以很好的规避ahooks不想主包体积过大的考量

目前在vue社区有一个hook库就采用了上诉做法，像[vueuse](https://github.com/vueuse/vueuse/tree/main/packages)，他们并不是一股脑的把hook丢进主包，而是分包，比如说对数学计算有需求的用户可以下载`@vueuse/math`这个包，对rxjs有需求的用户可以下载`@vueuse/rxjs`这个包

将不同场景的hook分在不同的包，如此做法我觉得可以更方便用户去使

[2022-08-30 01:42] #1827 closed, assigned to liuyib, li-jia-nan

[2022-08-30 02:30] mushan0x0 commented on #1832
你的全局状态概念还是传统的里面乱七八糟放很多东西，这种情况全局状态不好管理，但这个全局状态就只是一个状态了，副作用没那么大。

比如一个暗色主题切换，主题色切换，第一直觉就会让人用这个工具，他们本身就是一个状态而已。

[2022-08-30 02:33] mushan0x0 commented on #1832
而且这样状态颗粒度低，性能也好优化，避免了传统全局状态里面放的东西太多，带来的不必要的渲染

[2022-08-30 03:09] kongmoumou commented on #1827
好吧，那现在 0->1 只能手动触发请求了 🤔

[2022-08-30 03:20] jk4235 commented on #1827
useInterval可以通过更新 delay 重启,这里 pollingInterval 又无法重启,总感觉不太一致

那还不如用useInterval自己封装下(我现在也是这么做的

在业务层面 重启轮询 应该还是一个挺常见的需求,特别是和一些表格封装在一起

[2022-08-30 03:50] miracles1919 commented on #1832
1、我上面说的是这个 Hook 作为**全局状态**，设计上的**弊端**
- 用 key 管理状态，多人协作容易出现覆盖的问题
- 调用 `useGlobalState` 需要传入 `initialValue`，会导致状态的不可预测

结合起来就是 https://github.com/alibaba/hooks/issues/1832#issuecomment-1229097767 这个例子，使用 Foo 组件的时候 Count 是 1，使用 Bar 组件的时候 Count 变成了 2，反而会增加**复杂性**

2、对于全局状态的数据规模，如果复杂度比较低，比如一个主题色切换，那使用传统的状态管理**一样**有这些优点
"状态颗粒度低、性能也好优化、避免带来的不必要的渲染"

但是反过来，如果全局状态有一定的复杂度，用 `useGlobalState` 反而不好管理了

所以，这个

[2022-08-30 03:50] #1832 closed, assigned to nobody

[2022-08-30 03:56] kongmoumou commented on #1827
如果确定不重启感觉还是文档里说明一下吧 😂 @brickspert

[2022-08-30 04:38] hchlq commented on #1845
感谢 PR，暂不考虑这个 hook 哈

[2022-08-30 04:38] #1845 closed, assigned to nobody

[2022-08-30 04:39] #1828 closed, assigned to nobody

[2022-08-30 04:41] hchlq commented on #1846
其实这个可以考虑一下的哈，cc @brickspert @crazylxr

[2022-08-30 06:04] mushan0x0 commented on #1832
一般使用都是会二次封装比如例子[useGlobalStep](https://codesandbox.io/s/dumi-demo-forked-73u0pv?file=/basic-use.tsx:81-94)，因为没人想重复去写key和初始值还有类型，复杂例子我也写了的[useGlobalABC](https://codesandbox.io/s/dumi-demo-forked-73u0pv?file=/combination-use.tsx:246-258)，我个人觉得很多人被redux、dva给教化了，没有需求制造需求，简单的反而是异类了

[2022-08-30 07:44] miracles1919 opened #1850 "codesandbox 报错问题"
有些 demo 在 codesandbox 下会报错

![image](https://user-images.githubusercontent.com/22469543/187379333-499cae3f-5d5b-4325-98bc-5a00e14cd019.png)

排查了下是 dumi 的问题，等 dumi 发版

https://github.com/umijs/dumi/pull/1174

[2022-08-30 10:16] liuyingyyx opened #1851 "In useMemorizedFn, cannot pick updated state from a custom hook"
Hook
[code]

Comp1
[code]

Comp2
[code]

Neither Comp1 nor Comp2 can get the latest value of s.

[2022-08-30 10:39] orzhtml opened #1852 "useLatest 这个应用场景"
useLatest 这个应用场景不是特别能理解为什么要用它，因为 useRef的作用应该是没问题的

[2022-08-30 14:25] li-jia-nan commented on #1846
commented

[2022-08-30 14:46] crazylxr commented on #1846
ahooks 是支持 tree shaking 的，基本上不会由于 ahooks 导致性能瓶颈。

另外咱们现在就是 monorepo 的架构，现在就是发的两个包。

我觉得等以后发 V4 的时候再考虑吧。

[2022-08-30 15:02] crazylxr commented on #1852
https://github.com/alibaba/hooks/blob/master/packages/hooks/src/useLatest/index.ts  你可以看一下源码，其实就是 useRef 的封装，只是相比写 useRef，写法更简单一点，更语义化一点。

[2022-08-31 01:50] songrunyu926 commented on #1817
// 在onOpen方法中直接使用sendMessage会有问题 加上定时就好了

[code]

[2022-08-31 03:20] orzhtml commented on #1852
useRef 不会因为渲染而改变内部的.current 的值，但是用 useLatest 的话就会在渲染的时候就会被重新赋最新值，所以不明白什么样的场景用到时时保持最新值（不是为了抬杠，因为在项目中用了后发现有问题，才来讨论下）

[2022-08-31 06:57] li-jia-nan commented on #1826
@crazylxr close

[2022-08-31 08:40] JustForLucky opened #1853 "【源码困惑】useRequest/Fetch.ts中Fetch类中定义的「runAsync」方法"
困惑：源码中runAsync里使用的state在何处声明的？类方法中可以直接使用实例的属性么？或者在构建的时候，增加了哪些特殊配置？
![useRequest_fetch_runAsync](https://user-images.githubusercontent.com/12389643/187637974-b05841db-7021-46e3-8bbe-49c8342c0991.png)

[2022-08-31 09:04] li-jia-nan commented on #1853
state是剩余参数，不是一个具体的变量，这里只是命名为state，你可以命名aaa、bbb，这里代表的是 plugins 数组里面的内容

[2022-08-31 09:18] JustForLucky commented on #1853
明白啦～感谢

[2022-08-31 09:18] #1853 closed, assigned to nobody

[2022-08-31 09:31] chenyjam opened #1854 "useTextSelection从指定区域外划词至区域内会把区域外的文字也识别了"
![image](https://user-images.githubusercontent.com/24648575/187647246-a580698b-00ae-4783-bf57-52462b8e2ef9.png)

[2022-08-31 14:01] #1826 closed, assigned to nobody

[2022-08-31 14:47] li-jia-nan commented on #1854
好像是会这样，我来尝试修一下

[2022-08-31 15:11] SnowingFox commented on #1846
坐等大佬们的消息

[2022-09-01 01:54] brickspert commented on #1846
不常用的 Hooks，我暂时不建议放进来，会给用户造成选择恐惧症。

[2022-09-01 01:57] SnowingFox commented on #1846
若是这样，用户想用一些hook就得手动封装，参考隔壁react-use封装的很齐全

[2022-09-01 01:57] brickspert commented on #1852
你可以看下在 ahooks 源码中大量使用了 useLatest 来包装用户输入的函数，就是为了永远能调用到最新的函数，避免调用到旧的函数。

[2022-09-01 02:06] brickspert commented on #1851
This demo work fine：https://codesandbox.io/s/ji-chu-yong-fa-forked-23jlmj?file=/App.tsx

Can you provide an online demo？

[2022-09-01 02:07] brickspert commented on #1832
我现在一直用 hox，很简单的一个状态管理库。

[2022-09-01 02:29] li-jia-nan commented on #1854
这里有一个问题，界定文字是否在dom元素之内，有两个标准：

- 视觉上文字在dom元素之内，html层级不一定符合
- html结构上文字在dom元素之内，视觉上不一定符合

我们判断时应该以哪个为准呢？

[2022-09-01 15:28] chenyjam commented on #1854
以html结构上文字在dom元素之内更合适一点

[2022-09-02 02:22] brickspert commented on #1854
目前判断标准是：如果鼠标释放的地方，在指定元素之内，则认为符合要求，会取用户选择的所有问题。

目前看，可能解决办法有两个：
1. 如果鼠标点击的时候，不在指定元素内，则放弃本次。（可能是个 break change）
2. 选择完成后，遍历所有元素，看看是不是在指定元素之内。

[2022-09-02 07:08] Lizhooh commented on #1570
不能基于 infer 反推么？

[2022-09-02 07:51] #1818 closed, assigned to hchlq

[2022-09-02 09:34] tolerance-go opened #1856 "useUrlState ts 返回类型是不是应该 -?"
![image](https://user-images.githubusercontent.com/37258382/188110041-a396efe9-bd35-4fff-a2dc-2910e603b1e1.png)

如果设置了默认值，属性应该必定存在，如果 setQuery({ activeTabKey: undefined }) 了，我测试了一下，不会改变 query 的值，只是清空了 url 上的 searchParams

还有一个问题是，query keyVal 的类型为什么是 any，一般 set 的时候也不会改变类型吧，还少了检查

![image](https://user-images.githubusercontent.com/37258382/188110654-403e28ea-57d8-4f9c-a386-0b9f53ba769b.png)

![imag

[2022-09-02 09:40] conorzhong opened #1857 "useDebounceFn 参数为 async 函数，其中 throw 后无法在 run 时 catch"
https://codesandbox.io/s/usedebouncefn-async-report-wurwux?file=/App.tsx

ant-design/pro-components#5845

[2022-09-02 15:41] kyoonart opened #1858 "[RFC] useModal"
函数式打开弹窗，方便快捷,使用弹窗时无需再声明visible
API
[code]
Demo
[code]

[2022-09-03 02:06] miracles1919 commented on #1857
lodash 的 debounce 就是这样的

[code]

`useDebounceFn` 只是对 lodash 的 debounce 做了一层封装，建议在 fn 处手动捕获

[code]

[2022-09-03 02:28] miracles1919 commented on #1858
这个 hook 和 Modal 非常耦合，比较依赖 Modal 的实现，感觉不太有通用性

而且看你这个 Demo，仅仅是做了 visible 的切换，这个用 `useToggle` 更简单

[code]

BTW，Modal 这样的组件，用指令式会更简单，`Modal.show(...)`

[2022-09-03 05:18] conorzhong commented on #1857
好的，谢谢
lodash issue 中也有一些解决方法
例如这个
[code]
或者可以搞个 useDebounceAsyncFn

[2022-09-03 14:52] kongmoumou opened #1859 "useRequest 缓存没重置 error"
复现地址: https://zrnbsx.csb.app/

点击 tab 1 -> tab 3 -> tab 2 会一直卡在 error，原因是返回缓存数据没有重置 error @brickspert @miracles1919

[code]

[2022-09-03 17:05] chenyjam commented on #1854
从使用角度看第二种方法更好了，毕竟使用的时候是指定了区域的，返回区域内选择的文字也很合理

[2022-09-04 03:10] cgfeel opened #1861 "useMap获取总数`size`有问题"
直接拿官方示例代码做演示：
https://codesandbox.io/s/strange-glade-yxohu5?file=/App.tsx

 - 通过`api`提供的`set`方法的`add`，`map`数据增加，但是每次`map.size`数量少1
 - 通过`map`的方法`push`，每次`map.set`，数据增加，但不会更新`map`数据

原因：官方提供的接口是异步的，而且没有提供获取`set`后`map`总数的方法

期待的效果：
 - `set`后能实现map数据更新，并且可以拿到`map`的`size`

[2022-09-04 07:56] hchlq commented on #1861
我觉得这个不是问题，因为 useMap 就是用 useState 实现的，set 最终会调用 useState 的更新函数进行更新，肯定不能同步拿到数据的～

就好像你更新完 useState 之后就想立即拿到新的数据一样

[code]

[2022-09-04 08:32] cgfeel commented on #1861
好的，感谢，已知道如何获取

[2022-09-04 08:33] #1861 closed, assigned to nobody

[2022-09-04 08:35] hchlq commented on #1858
不建议 +1，因为 ahooks 中的 hook 是通用的，这样会很耦合，建议在自己的业务代码内自己封装这样的 hook 哈

[2022-09-04 08:45] hchlq commented on #1857
暂时不考虑哈，感觉在 debounce 函数自己 catch 就好了～

[2022-09-05 04:07] #1858 closed, assigned to nobody

[2022-09-05 04:07] #1857 closed, assigned to nobody

[2022-09-05 08:20] AttackXiaoJinJin opened #1864 "不想让usePagination的refreshDeps改变时重置到第一页"
请问能不能给一个option让用户选择：https://github.com/alibaba/hooks/blob/master/packages/hooks/src/usePagination/index.ts#:~:text=%7D%5D%2C-,refreshDepsAction,-%3A%20()

[code]

[2022-09-06 06:58] zjfresh opened #1866 "React 18 可中断 mount 导致 useRequest 有 cacheKey 时更新报错"
问题：

页面组件异步加载时，在挂载过程触发了其他高优先级任务(如下图鼠标滑到上面的tab触发 hover)，打断当前的 mount 过程

![react18可中断mount导致ahooks更新bug](https://user-images.githubusercontent.com/28496323/188542092-a3183967-3060-43d1-867d-04357a41e249.gif)

![image](https://user-images.githubusercontent.com/28496323/188556483-c37626bf-c828-4925-9bf3-e04204b6a5ed.png)

![image](https://user-images.githubusercontent.com/28496323/188567988-0984e470-e

[2022-09-06 07:48] miracles1919 commented on #1864
你可以用 `refresh` 或者 `run`(usePagination 支持 useRequest 的 所有 API)

[2022-09-06 07:53] zjfresh commented on #1866
考虑给 useUpdate 做容错？试了下用 mountedRef 来判断可以避免
![image](https://user-images.githubusercontent.com/28496323/188578647-fbedfa0b-e2ba-4662-b751-9eb354e1a24b.png)

![image](https://user-images.githubusercontent.com/28496323/188578735-9c7d8da8-1a75-4b34-aed6-b09d7f03898e.png)

[2022-09-06 08:47] wmy94827 opened #1867 "useToggle defautValue 文案问题"
![image](https://user-images.githubusercontent.com/25683492/188590525-dc76c1f6-f15b-45fb-9200-d75539b04549.png)

[2022-09-06 08:49] liangchaofei opened #1868 "[RFC] useStateRealtime"
# useStateRealtime

对 useState 进行增强，第三个返回值增加了一个 get 方法，可以在设置 setState 后立即在其他地方获取到这个值。

**核心特性**

* 获取 state 实时值

## 作用说明
- 比如在用户 setState 操作后立即发起请求时，如果读取 state 值，是未被修改的，显然不满足我们的需要。
- 在react的理念中render是纯的，state只与渲染有关，可以有其它的副作用需要取到最新的state，可以使用useEffect+useRef在每次视图更新后更新state最新值，如果你需要在setState->视图更新触发useEffect这段时间也能取到最新值，那么你就可以使用useStateRealtime

## 代码演示

::: react
[code]
:::

## API

[code]

### 参数

[2022-09-06 08:54] #1868 closed, assigned to nobody

[2022-09-06 09:06] liangchaofei opened #1869 "[RFC] useNumber"
# useNumber

管理 number 类型状态的 hook。

## 代码演示

### 增减、设置、重置的能力

### 代码演示
::: react
[code]

## API

[code]

### 参数

| 参数         | 说明                 | 类型   | 默认值 |
| ------------ | -------------------- | ------ | ------ |
| initialValue | 可选项，默认的状态值 | number | 0      |
| min          | 可选项，限制的最小值 | number | -      |
| max          | 可选项，限制的最大值 | number | -      |

### 返回值

| 参数  | 说明         | 类型

[2022-09-06 09:08] #1869 closed, assigned to nobody

[2022-09-06 09:18] miracles1919 commented on #1867
@wmy94827 有兴趣来个 PR 么？

[2022-09-06 09:34] #1867 closed, assigned to nobody

[2022-09-06 09:59] liangchaofei opened #1871 "[RFC] usePortal"
# usePortal

用于方便使用 createPortal 的 hook，可用于创建模态框、消息通知等。
提示：`usePortal`只确保把元素挂载到指定节点，不添加额外样式，如出现元素未展示情况请检查 z-index 等样式是否正确设置。

## API

[code]

### 参数

| 参数       | 说明                               | 类型         | 默认值 |
| ---------- | ---------------------------------- | ------------ | ------ |
| el         | 挂载的 DOM 元素，若使用 ref 可不传 | T \| () => T | -      |
| default    | 是否默认打开

[2022-09-06 11:19] #1871 closed, assigned to nobody

[2022-09-07 01:37] #1852 closed, assigned to nobody

[2022-09-07 01:38] crazylxr commented on #1846
这个后面再说哈，现在暂时不搞。先 close 了

[2022-09-07 01:38] #1846 closed, assigned to nobody

[2022-09-07 02:34] AttackXiaoJinJin commented on #1864
你意思是不把字段放进refreshDeps，而是在该字段更新时，手动去refresh/run吗？也是一种解决方法。但字段一多，可能就麻烦些，后面遇到这种情况再提吧。

先close了

[2022-09-07 02:34] #1864 closed, assigned to nobody

[2022-09-07 11:35] brickspert commented on #1866
1. 你说的 React18 可中断机制，确实会有问题，这个我们也在规划处理，有兴趣可以一起来讨论
2. 没太明白 useUpdate 为什么要处理，useUpdate 没有使用 ref，为什么会有问题呢？

[2022-09-07 11:39] #1851 closed, assigned to nobody

[2022-09-07 15:43] zjfresh commented on #1866
这个 issue 的问题主要不是 useUpdate 引起的

而我是觉得既然 React 存在 render/update 可中断的的情况，那么 useUpdate 作为一个对外的 hook，也应该考虑对这种情况的兼容

保证 update() 执行是在被中断的情况下，是否应该有容错呢？因为这种在 unmount 的 Component 中进行更新产生了报错是 React 的渲染机制导致的，不是用户的不规范编码导致的

这个可以讨论看下，我也不确定这种报错是否可以算作是用户的编码不规范导致的，ahook useUpdate 不作容错，让 React 正常报错

搞了个 [Demo](https://github.com/zjfresh/ahooks-use-update) 试了下直接在 Component 内使用是没事，但放在另一个 hook 内的复杂场景是会出错的，如上面的 useRe

[2022-09-08 13:50] #1859 closed, assigned to nobody

[2022-09-08 13:52] brickspert commented on #1866
这个报错是正常的，React18 已经解释过，这个报错是可以忽略的。 看下这个：https://github.com/brickspert/blog/issues/47

[2022-09-09 03:39] zjfresh commented on #1866
[brickspert/blog#47](https://github.com/brickspert/blog/issues/47) 这个链接与上面的问题在给出的处理结果上可能是一致的(允许在 unmounted 的组件 setState)

但具体可能还是不太一样，官方说的是 mount 后 unmount 引起 setState，上面的是 mount 中断后重新 mount 引起的第一个已经没意义的 mount fiber 中的 setState，像提到的以后允许在 umounted 的组件可以正常 setState，但这种未正常 mount 的组件我觉得应该不在这个范围吧

而上面提到的报错可能还是会令人感到困惑，毕竟那个只是告警都作了移除以避免误导，而这个错误还是在 React@18.2.0 中

<img width="794" alt="image" src="https://

[2022-09-14 01:46] crazylxr commented on #1856
第一个问题：设置了默认值 属性也不一定存在的哈，这个query 是跟 url 上同步的，如果 url 上把参数删了呢？

第二个问题：你可以看下这个 hook ，有 options 这个参数，是支持对 参数自定义 query-string，那么这个类型的类型除了默认值，还可能 query-string 的类型一样，这里我们暂时还没有想到合适的办法，如果你能解的话，欢迎 pr

[2022-09-15 02:18] NelsonYong commented on #1814
感觉并行用的不多都被删除了，更何况是并行缓存

[2022-09-15 08:13] KMNowak opened #1877 "[RFC] useMeasures"
# useMeasures
## Description
I'd like to introduce quite commonly used in other libraries of that type functionality of gathering target element relative measurement properties. It is similar to `useSize`, but it differs in the source of truth and returns more target element properties.

- `useSize` uses `target` and returns `clientHeight` and `clientWidth` only
- `useMeasures`  uses `contentRect`

[2022-09-15 10:46] eakl opened #1880 "useResize + useEventListener not working"
Code Sandbox : https://codesandbox.io/s/usesize-with-debounce-event-gwb0rs?file=/src/Graph.tsx

Steps to reproduce
1. Open the Preview in a new Tab
2. Open the browser console
3. Resize the window

Here is the main code that seems not working

[code]

The `run` function is not executed

Full code
[code]

[2022-09-15 13:32] eakl commented on #1880
Sorry. The question doesn't make sense

[2022-09-15 13:32] #1880 closed, assigned to nobody

[2022-09-15 21:23] szachy113 commented on #1833
No one will answer, I suppose ☹️

[2022-09-16 01:13] crazylxr commented on #1833
It's not that we're here to help you, but we don't know what you want

[2022-09-16 01:18] crazylxr commented on #1856
@tolerance-go 你还有其他的问题不？没有的话 issue 暂时 close 了

[2022-09-16 01:18] #1856 closed, assigned to nobody

[2022-09-16 01:37] #1833 closed, assigned to nobody

[2022-09-16 08:04] wildfrontend opened #1881 "useResponsive 在 nextjs 運作不正常"
我試過 useResponsive 不能在 nextjs 環境 resize，只有第一次render有數值，螢幕縮放沒反應
p.s 如果要在 nextjs.運行，那 configResponsive 寫在 _app.tsx 嗎?

[code]

[2022-09-16 08:26] wildfrontend commented on #1881
看來是[isBrowser](https://github.com/alibaba/hooks/blob/26a703d2d7cdcab62641cb3c45dac11715befe49/packages/hooks/src/useResponsive/index.ts#L62)的問題，這個能移除嗎

[2022-09-16 11:26] wildfrontend commented on #1881
我看了一下 code 我想 應該是不太需要用到 configureResponsive

configureResponsive 改用變數的方式傳進去
[useResponsive ](https://github.com/alibaba/hooks/blob/26a703d2d7cdcab62641cb3c45dac11715befe49/packages/hooks/src/useResponsive/index.ts#L52) , 開發者自己定義變數自己要用到 就import 進 useResponsive，這樣應該彈性很多

[code]

[2022-09-17 01:06] wildfrontend commented on #1881
https://usehooks-ts.com/react-hook/use-media-query

我想 還能考慮多一個用 window.matchMedia的 hook來做判斷，我使用過，這個判斷方式也還蠻不錯的

[2022-09-17 03:26] SignDawn opened #1882 "useKeyPress指定target时如何支持更多event?"
### Discussed in https://github.com/alibaba/hooks/discussions/1878

<div type='discussions-op-text'>

<sup>Originally posted by **xmsz** September 15, 2022</sup>
背景
- 我想在div.a里触发回调
- 但是发现触发不了
- 必须操作div.a里的input才能触发？

还是因为我是在弹窗(dialog)里触发
我发现useFocusWithin也不行，但是useHover可以
</div>

[2022-09-18 07:20] li-jia-nan commented on #1750
@brickspert @hchlq @crazylxr  我有一个思路，现在不是有一个 cacheKey 的缓存功能吗？是不是可以利用这个功能实现预请求？在需要预请求的时候调用缓存功能，但是不返回结果，这个思路可以吗？

[2022-09-19 03:39] hchlq commented on #1882
看了下 Discussed，这个还有啥问题吗

<img width="716" alt="image" src="https://user-images.githubusercontent.com/60802048/190945978-7e750a57-b1b9-4f07-88d1-94f248490de3.png">

[2022-09-19 06:38] ADZG opened #1885 "next.js useVirtualList list undefined"
直接贴了官网的例子
![image](https://user-images.githubusercontent.com/44188873/190961707-e28685c9-6069-462a-8ba4-22387496903b.png)
![image](https://user-images.githubusercontent.com/44188873/190961737-b5b7221d-9ab1-469c-b2b1-4925d1dce80a.png)

[2022-09-19 06:39] ADZG commented on #1885
3.7.1

[2022-09-19 06:40] ADZG commented on #1885
next 12.3.0

[2022-09-19 07:06] #1866 closed, assigned to nobody

[2022-09-19 07:53] hchlq commented on #1885
可以提供一个在线 demo 吗，比如 [codesandbox](https://codesandbox.io/)

[2022-09-19 07:59] hchlq commented on #1881
Q1：

A: 不能移除，因为这个 hook 只支持浏览器（ 因为没用过 next.js， 顺便问一下，next.js 判断是 false 吗 ）

----------------------

Q2:

A:  如果有很好的想法，欢迎 PR

[2022-09-19 08:00] hchlq commented on #1881
可以提供一个在线 demo 吗

[2022-09-20 01:25] crazylxr commented on #1877
My suggestion is to extend useSize,，api like：`const { width, height, contentRect } = useSize()`，rename useSize and API while waiting for v4

[2022-09-21 10:11] H-Sven opened #1886 "官方文档上的useLongPress 移动阈值配置无效， 示例demo也无效"
[useLongPress](https://ahooks.js.org/zh-CN/hooks/use-long-press/)

真机上也不生效， 版本"ahooks": "^3.7.1"

[2022-09-22 03:20] miracles1919 commented on #1886
我试了下是可以的，能提供个复现的录屏么

[2022-09-22 10:17] xiaofuliang commented on #1741
@KangXinzhi 请问怎么解决的，3.7.1还是有这样的问题

[2022-09-26 13:44] dadanliu opened #1890 "关于babel"
为什么没用 babel-preset-env里自带的transform-async-to-generator plugin，而是选择了 transform-async-to-promises plugin呢？有什么说法么

[2022-09-27 03:54] fengluhome opened #1891 "useRequest 如何拿到接口响应的HTTP Head 信息"
有些业务场景需要到响应的接口 http 表头信息， 请问如何实现？

[2022-09-27 08:03] ouqin-live opened #1892 "useRequest能设置超时时间吗？"
如题↑

[2022-09-27 13:34] crazylxr commented on #1892
没有，一般超时时间后端设置比较合适。

[2022-09-27 13:34] #1892 closed, assigned to nobody

[2022-09-27 13:35] brickspert commented on #1892
这个一般是你用的请求库设置，比如 axios 等是支持这个超时时间设置的。

[2022-09-27 13:39] crazylxr commented on #1891
在你的 service 里面去拿哈，而不是通过 useRequest 去拿哦。

[code]
这个第一个参数里面的这个 service， 想办法去拿

[2022-09-27 13:44] crazylxr commented on #1892
基于 fetch 的都没办法设置超时，没办法中断，axios 基于 [XMLHttpRequests](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest) 的，可以中断才能搞。

[2022-09-27 13:56] crazylxr commented on #1890
我觉得应该用自带的应该也可以吧。 @brickspert 你还记得之前为啥这样搞不

[2022-09-27 14:03] #1628 closed, assigned to nobody

[2022-09-28 02:18] brickspert commented on #1890
没什么说法。。。就是随便选了一个用。

[2022-09-28 02:18] #1890 closed, assigned to nobody

[2022-09-28 02:28] brickspert commented on #1891
你可以理解 useRequest 第一个参数 service 是 promise，至于 promise 返回啥，其实是你自己控制的。

[2022-09-28 02:28] #1891 closed, assigned to nobody

[2022-09-28 05:30] WuHuSa opened #1894 "求教：useRequest 时序能否保证？"
求教：useRequest 时序能否保证？
2.9.0 版本
假如 100ms 内前后发出两次请求，能否保证后发的接口返回数据一定不会被前发的覆盖？（入参不同）

[2022-09-29 01:42] crazylxr commented on #1894
需要用户自己去串行请求，useRequest 目前无法保证

[2022-09-29 01:42] #1894 closed, assigned to nobody

[2022-09-29 13:07] youngBrain1893 opened #1897 "useAntdTable 导出的 search.submit 方法是否可支持参数传递，或者对外暴露 usePagination 返回的 run 方法"
### 问题描述
按照当前 useAntdTable 实现，Table onChange 事件只能使用内部导出的 [onTableChange](https://github.com/alibaba/hooks/blob/master/packages/hooks/src/useAntdTable/index.tsx#L166) 才能保持 pageSize, current 的值正确（依赖 usePagination.run 方法调用的入参）

某些场景下可能希望自定义 Table 的 onChange 事件来自定义翻页网络请求的发起（可能都不在 onChange 方法内完成）
目前仅有的手动触发网络请求的口子为 `const { search: { submit } } = useAntdTable()` 中的 submit 方法（底层调用 _submit => usePaginatio

[2022-09-29 19:56] SpadarShut opened #1898 "Create ES6 build without inlined helpers for async-await, iterators, rest-spread etc"
Currently every hook's code contains transpiled helpers like `__awaiter`, `__generator`, `__assign`, `__rest`, `__read` and others, which can amout to more code than hook itself.

It would be great to not include them by default or have another build target as browser support for async-await, iterators, rest-spread etc in browsers which support es6 imports is very good nowadays.

[2022-10-01 12:20] brickspert commented on #1894
第一次响应会被废弃的，useRequest 只会处理第二次返回的结果的。

[2022-10-03 15:45] keyus opened #1899 "[useRequest] loading first time state always return true when use ready and set loadingDelay values in options"
look :
Example code of using the ahooks website

[code]

[2022-10-05 09:15] #1850 closed, assigned to miracles1919

[2022-10-05 13:54] Zsnd opened #1901 "[useRequest]表单重置后 error 状态不变，导致无法清除警告提示"
![image](https://user-images.githubusercontent.com/1267379/194076823-9e5a3d32-5c6a-4dcb-a40a-a1360d765a63.png)

[code]
用 cancel 也不行，请问如何处理？

[2022-10-07 05:58] mrcaidev commented on #1641
遇到类似问题。

如果在 Modal 上使用 `useClickAway` 的话：

- 监听 `click` 导致 Modal 根本打不开。（打开那一下点击也被算作了 "clickAway"，于是 Modal 马上被关闭）
- 监听 `mousedown` 则一切正常。

复现链接：[useClickAway for modals](https://stackblitz.com/edit/react-ts-j7a5xn?file=App.tsx)

[2022-10-07 09:16] ArturKustyaev opened #1902 "[useUrlState] Loosing state property in useLocation"
After using the useUrlState, the state property in the uselocation hook is lost

[2022-10-08 02:38] crazylxr commented on #1902
Please provide a demo that can be reproduced

[2022-10-08 02:39] crazylxr commented on #1898
Can you provide PR to help solve this problem？

[2022-10-08 02:44] crazylxr commented on #1901
请提供可以在线可以复现的 demo，例如 codesandbox

[2022-10-08 07:30] SpadarShut commented on #1898
I've tried to investigate this but am stuck at running the project locally. Here's what I see in console after running `pnpm run init`:

[code]
Tried running `pnpm install` in the root dir and in `packages/hooks`, it didn't help.

@crazylxr Can you help with overcoming this obstacle?

[2022-10-08 09:49] LaamGinghong commented on #1899
got the same issue too

[2022-10-09 07:42] miracles1919 commented on #1898
@SpadarShut The problem may be the [version of pnpm](https://github.com/alibaba/hooks/blob/master/package.json#L80), please try with the `pnpm@7.1.9`

[2022-10-09 07:43] #1886 closed, assigned to nobody

[2022-10-09 07:43] #1882 closed, assigned to nobody

[2022-10-09 13:12] ArturKustyaev commented on #1902
I'm using the useLocation hook from the react-router-dom library to store the breadcrumb information I need in the hook's state property. When using the useLocation and useUrlState hooks in the same component, all information from state is erased and becomes undefined.

[2022-10-09 14:40] wuyanwen opened #1904 "运行hooks源码，执行pnpm run init，报这个错"
![lALPJu1c21jitr3NAn7NBbA_1456_638](https://user-images.githubusercontent.com/7331663/194762933-98949c39-b333-4ffc-92e6-b374bd10619d.png)

pnpm版本是最新的7.13.3

[2022-10-09 19:38] SpadarShut commented on #1898
@miracles1919 With pnpm 7.1.9 I get another error:
[code]

[2022-10-10 02:12] miracles1919 commented on #1904
之前也遇到过， https://github.com/alibaba/hooks/issues/1786#issuecomment-1200620307

很有可能是 [pnpm 的版本问题](https://github.com/alibaba/hooks/blob/master/package.json#L80), 用 `pnpm@7.1.9` 试试

[2022-10-10 02:25] miracles1919 commented on #1898
@SpadarShut https://github.com/nodejs/node/issues/40455

You could try switching to v16, or set `NODE_OPTIONS=--openssl-legacy-provider`

Reference https://github.com/webpack/webpack/issues/14532

[2022-10-10 08:37] crazylxr commented on #1902
Please provide a demo that can be reproduced online, such as codesanbox

[2022-10-10 09:10] cyndra0 opened #1905 "[useVirtualList] 在 React18 中滚动列表会导致无限滚动"
reproduce: https://codesandbox.io/s/default-usage-forked-pbnyje?file=/App.tsx

上面的 sandbox 是将默认实例中的 React 版本升级到 ^18 创建而来。复现的方式是使用鼠标滚轮快速来回滚动若干次，就会出现抖动的现象，如下图所示。
![chrome-capture-2022-9-10](https://user-images.githubusercontent.com/44607044/194832899-6dafb2a3-3e7a-4325-a85e-cdbfbf4e62be.gif)

[2022-10-10 09:31] #1905 closed, assigned to nobody

[2022-10-10 10:05] james70s commented on #1356
[code]

[2022-10-10 10:54] KangXinzhi opened #1906 "文字超出修复"

[2022-10-10 10:55] KangXinzhi commented on #1906
![image](https://user-images.githubusercontent.com/50164727/194850736-75b4384e-7ebc-471f-8e45-dc81ffa37327.png)

[2022-10-11 01:53] crazylxr commented on #1906
欢迎 pr

[2022-10-11 02:07] KangXinzhi commented on #1906
提pr了，但是ci挂了，Node CI / build (16.x) (pull_request) ，这个有影响么？

[2022-10-11 02:20] crazylxr commented on #1906
有，我来看下

[2022-10-11 02:50] miracles1919 commented on #1904
这个问题我知道了，@types/react-router 版本和 ts 版本不适配，目前 ahooks 的 ts 版本是 3.x，@types/react-router v5.1.19 之后就是 ts 4.9 了

[2022-10-11 07:05] Kido-200 commented on #1520
捕获阶段调用
比如react-view这组件库自己支持键盘事件，他在捕获阶段调用，还用了stoppropogation，导致我用useKeyPress的事件会触发不了

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "alibaba/hooks"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年3月27日(

[2022-10-11 07:29] zed76r opened #1910 "useResponsive在cra的项目里如果文件没有import React无法正常工作"
项目是cra创建的，使用时发现只有第一次渲染有效，翻了下文档没有明确说明，但是追加`import React from 'react'`以后就能正常获取到窗口的变化了。

[code]

[2022-10-11 09:32] crazylxr commented on #1520
感觉可以，欢迎 pr

[2022-10-11 09:34] crazylxr commented on #1910
来个在线 demo 看下呢，理论上不会出现这种情况

[2022-10-12 01:57] zed76r commented on #1910
[my-app.tar.gz](https://github.com/alibaba/hooks/files/9760824/my-app.tar.gz)

这个demo我这里更奇怪了，加了import React也不行。

![屏幕截图 2022-10-12 095203](https://user-images.githubusercontent.com/7886856/195231128-91d4e119-49b0-421d-9fde-8214f6826acd.png)

[2022-10-12 06:28] meixiang474 opened #1913 "useRefreshOnWindowFocusPlugin存在bug"
<img width="741" alt="image" src="https://user-images.githubusercontent.com/59130116/195265342-864e99f6-c4c0-4fcf-9e36-491b3b12401f.png">
这里组件卸载时会调用两次stopSubscirbe。
<img width="413" alt="image" src="https://user-images.githubusercontent.com/59130116/195265613-e5bb9524-19db-495e-b304-bf36db8b9a0c.png">
其中第二次stopSubscribe时，其listener在listeners中已经不存在，所以获取的索引是-1，但是listeners的长度不为0的话, listeners.splice(-1

[2022-10-12 08:28] xuqianjin opened #1914 "useRequest在SSR下设置cacheKey会导致node内存溢出"
内存泄漏的位置[useCachePlugin](https://github.com/alibaba/hooks/blob/master/packages/hooks/src/useRequest/src/plugins/useCachePlugin.ts#L56)

泄漏原因是,在SSR端并不会调用`useUnmount`去删除[cacheSubscribe/listeners](https://github.com/alibaba/hooks/blob/master/packages/hooks/src/useRequest/src/utils/cacheSubscribe.ts#L18),导致`listeners`一直在push新的监听函数

[2022-10-12 19:12] cgfeel opened #1915 "`useRequest`不打算在轮训失败上限后增加一个`onOver`吗？"
需求：轮训10次，成功`cancel`取消轮训，失败`pollingErrorRetryCount`上限轮训次数，需要捕获失败并结束轮训发送通知。

目前只能解决`pollingErrorRetryCount`上限结束轮训，如果要在最后一次捕获通知就需要考虑额外的办法。
这是我目前的解决办法，演示链接：
https://codesandbox.io/s/du-qu-yong-hu-ming-cheng-forked-cxhp4k?file=/App.tsx:403-425

很不好，我是通过`onError`，将参数轮训次数递增，达到上限次数捕获错误，这样就要给请求方法增加一个额外参数

---

建议增加一个类似`onOver`的方法，在最后一次失败轮训的时候能够调用这个方法，类似`onFinally`

[2022-10-13 02:19] hchlq commented on #1913
看着逻辑是是有点问题，有具体的产生 bug 的 demo 示例吗

[2022-10-13 02:55] meixiang474 commented on #1913
https://github.com/meixiang474/use-request-bug-demo 这个例子中当子组件销毁后，由于执行了两次stopSubscribe导致父组件中useRequest的listener也被移除，从而父组件中的useRequest丧失了refreshOnWindowFocus的能力。

[2022-10-13 02:57] hchlq commented on #1913
可以把 demo 转到 codesandbox 哈

[2022-10-13 03:17] meixiang474 commented on #1913
https://codesandbox.io/s/blissful-johnson-pyh792?file=/src/index.js

[2022-10-13 03:34] hchlq commented on #1915
感觉可以增加一个钩子函数。你们觉得呢 cc @brickspert @crazylxr

[2022-10-13 05:50] crazylxr commented on #1915
我觉得可以先不加

[2022-10-13 06:37] Alt-er opened #1917 "useHistoryTravel 能限制历史记录的长度吗?"
比如 设置maxBackLength =100

当 backLength 大于 100的时候删除最前面的记录,保持backLength最多为100

[2022-10-13 07:42] crazylxr commented on #1917
你的使用场景是什么？

[2022-10-13 09:37] Alt-er commented on #1917
例如实现一个在线设计器,可能操作步骤非常的多,如果把所有的步骤都存起来会不会占用过多的内存? 虽然可以使用immer之类的库优化一下大小, 但是也有优化不到的地方, 这样长时间的操作创建变量并且GC无法回收算不算是内存泄漏了

[2022-10-13 13:42] cgfeel commented on #1915
@hchlq @crazylxr  抱歉，我提的建议有个小失误，能否给现有的方法`onSuccess`，`onError`、`onFinally`增加一个当前请求次数的参数，而不是增加一个回调方法，因为我在`onSuccess`中也需要用到请求计数，例如
[code]
或者是将`TParams`对象改为对象类型返回回来，类似：
[code]
其中`count`表示累计轮训的次数

[2022-10-13 15:06] cgfeel commented on #1915
我示范一个项目用到的轮训，大概就明白现在有多麻烦了。我们有这么一个请求，提交操作后，异步轮训获取状态，超过10次没有返回完成状态，就报告异常。如下：

[code]
其中`run`的时候除了要提供请求参数以外，还有增加一个初始参数`0`
[code]

[2022-10-14 03:46] HualiangLI opened #1918 "`Maximum update depth exceeded` occurs when using `useRequest` with `useEffect`"
Here's the [demo](https://codesandbox.io/s/userequest-with-useeffect-zcfkj4?file=/App.tsx)

My component wants to render a list of upper-case names. But it looks like using `useEffect` to generate state from `useRequest` data will case a `Maximum update depth exceeded` error.

[2022-10-14 03:52] kassyd opened #1919 "useRequest 返回类型data多了个undefined"
看了一下源码是因为Result下的data属性加了问号导致的，这样导致使用时需要在对data进行一次判空。

[2022-10-14 05:26] crazylxr commented on #1919
接口数据没返回前 data 就是 undefined ，我理解没有问题的

[2022-10-14 05:33] crazylxr commented on #1918
你这个原因是每次 render 的时候 data 的初始值 `[]` 引用都会变导致的。可以改造成这样

[code]

[2022-10-14 05:33] #1918 closed, assigned to nobody

[2022-10-14 05:33] #1919 closed, assigned to nobody

[2022-10-14 05:37] crazylxr commented on #1917
合理，来个 pr 吧。

[2022-10-14 05:48] crazylxr commented on #1915
const { pollingCount } = useRequest(getJobInfo)

如果这样返回是不是也可以满足你的需求？

[2022-10-14 05:54] crazylxr commented on #1915
之前也有 issue 说需要 是否正在轮询这样的状态，可以看下这个 [issue](https://github.com/alibaba/hooks/issues/1574)，所以我在想要不返回值里就增加一个轮询相关的对象。把轮询的状态和轮询的次数都返回回来，api 大概像这样。

[code]

polling 的定义像这样

|  属性   | 描述  |  类型 |
|  ----  | ----  |  ---- |
| pollingCouter | 轮询次数 | number |
| isPolling  |  是否处于轮询中  | boolean |

[2022-10-14 10:53] Alt-er commented on #1917
源码跑不起来 = =

<img width="561" alt="image" src="https://user-images.githubusercontent.com/18004903/195830310-12e6989f-1ada-4ff5-8090-42d0f63a1552.png">

[2022-10-14 12:44] Alt-er commented on #1917
有人说需要使用这个版本 pnpm@7.1.9  测试发现还是不行

<img width="1255" alt="image" src="https://user-images.githubusercontent.com/18004903/195849921-b5a5eb9c-36ac-4c37-86e1-a6641652ad86.png">

[2022-10-15 11:27] crazylxr commented on #1917
这个问题我这两个处理一下，稍等一下

[2022-10-16 14:03] crazylxr commented on #1917
已解决了哈，可以重新拉一下 master 代码

[2022-10-16 14:03] crazylxr commented on #1904
已解决了哈，可以重新拉一下 master 代码

[2022-10-16 14:03] #1904 closed, assigned to nobody

[2022-10-17 03:56] Alt-er commented on #1917
已提交

[2022-10-17 09:31] KONY128 opened #1922 "`useWebSocket` is not available in React 18 Strict Mode"
# `useWebSocket` is not available in React 18 Strict Mode

## Environment

- React: v18.2.0
- React Dom: v18.2.0

## Description

The hook `useWebSocket` is not available in React 18 Strict Mode:

- The `onOpen` and other callback functions provided in parameter `options` are not invoked;
- The `latestMessage` and `readyState` returned by `useWebSocket` hook are not updated.

In React 17 Strict Mo

[2022-10-18 05:14] crazylxr commented on #1817
麻烦给一个在线运行的 demo 呢，比如 codesandbox

[2022-10-18 09:14] #1913 closed, assigned to nobody

[2022-10-18 09:16] crazylxr commented on #1902
The issue is closed first and can be opened again when you provide demo

[2022-10-18 09:16] #1902 closed, assigned to nobody

[2022-10-18 09:18] crazylxr commented on #1898
Did you solve your problem?  @SpadarShut

[2022-10-18 09:28] #1717 closed, assigned to nobody

[2022-10-18 09:31] crazylxr commented on #1667
对，各个业务述求都不太一样，手动处理一下我觉得问题也很简单的。

[2022-10-18 09:31] #1667 closed, assigned to nobody

[2022-10-18 09:32] crazylxr commented on #1469
你可以放一个在线的 demo 么

[2022-10-18 09:52] crazylxr commented on #1917
3.7.2 已发布

[2022-10-18 09:52] #1917 closed, assigned to nobody

[2022-10-18 10:23] SpadarShut commented on #1898
I found how to fix the problem.

Howewer, I have some questions:
- what should be the browserslist value of supported browsers for the ESM build? Is [defaults](https://browsersl.ist/#q=defaults) ok?
- Can we skip transpiling [async-await](https://browsersl.ist/#q=defaults+and+async-functions)?

[2022-10-18 18:49] Godguns opened #1926 "useRequest参数service传入异常的时候是否应当如其他hook一般返回错误信息"
![(2L DK7U)J3ARWDCJ9@%GU1](https://user-images.githubusercontent.com/46049685/196518203-16ee47af-04fd-448b-a6fc-5d02f98942eb.png)

[2022-10-19 02:29] Flcwl opened #1927 "Remove the unnecessary logic in useUnmountedRef hook"

[2022-10-19 06:54] hchlq commented on #1910
@ZedG2 这个 React 18 严格模式导致的一个 bug，可以先关闭 StrictMode ~

[2022-10-19 12:00] hchlq commented on #1927
提 PR 就好，没必要跟这个 issue 了哈

[2022-10-19 12:00] #1927 closed, assigned to nobody

[2022-10-19 12:02] hchlq commented on #1926
感觉这个暂不考虑哈，细节点太多了

[2022-10-19 12:02] #1926 closed, assigned to nobody

[2022-10-20 01:36] medmin opened #1930 "typo? useMemoizedFn => useMemorizedFn"
memorize: https://www.merriam-webster.com/dictionary/memorize

[2022-10-20 05:47] liangchaofei opened #1931 "[RFC] useLazyImg"
# useLazyImg

用于管理图片懒加载的 hook。

## API

[code]

### 参数

| 参数 | 说明     | 类型 |
|------|----------|------|
| src | 图片的地址 | string \| (() => string)|
| srcOptions | src 相关的配置 | srcOptions|
| options | IntersectionObserver 监听配置，同 useInView | IntersectionObserverInit |

### srcOptions

| 参数 | 说明     | 类型 |
|------|----------|------|
| loadingSrc | 加载中图片地址 | string \| (() => string) |
| fallbackSrc | 原图加

[2022-10-20 05:55] crazylxr commented on #1930
Refer to the  https://wikidiff.com/memoize/memorize, useMemoizedFn is right

[2022-10-20 05:55] #1930 closed, assigned to nobody

[2022-10-20 08:48] bjtqti opened #1932 "useDrag和useDrop和antd下拉组件或日历组件一起用时白屏"
https://codesandbox.io/s/ji-chu-yong-fa-forked-mm9cr8
重现方式一：
1.将box1拖放到第二行，点下select,随便选一个值 2.将box1拖回第一行，再点select，可以看到下拉框白屏
重现方式二：
1. 点一下select date, 随便选一个日期， 2. 把box1拖到第二行，再点select date
总结： 只要先点了antd组件，然后再拖一次，回头再点select组件，反复几次必出现问题
code:

import React, { useRef, useState } from "react";
import { useDrop, useDrag, useSetState } from "ahooks";
import { Select, DatePicker } from "antd";
import "antd/