[2019-06-29 13:00] afc163 opened #1 "和 react-use rehooks 的差异是？"
- https://github.com/streamich/react-use
- https://github.com/rehooks

何不直接依赖这些库，再加上我们自己特有的东西，避免重复造轮子。

[2019-06-30 07:29] brickspert commented on #1
是不会重复造轮子的，周会讨论的也是沉淀别人没有的 hooks。
和这些库的关系，也是依赖它们。

[2019-06-30 11:37] afc163 commented on #1
useTitle 基本上就是重复的。

[2019-06-30 14:11] brickspert commented on #1
@afc163  是的，这个是抄的 react-use 的，先尝试把架子搭起来，测试发布流程跑通。接下来这个 useTitle 应该会删掉的。😋

[2019-07-11 06:23] JIACHENG9 opened #5 "antd 相关是否一起来开发 sunflower ?"
sunflower 都是 antd 相关的 react-hooks

## 1. sunflower

useFormTable

https://ant-design.github.io/sunflower/docs-hooks-sunflower-antd-form-table

[code]

## 2. https://github.com/umijs/hooks/pull/4

useAntdTable

[code]

[2019-07-15 12:23] ttys026 opened #6 "useAsync"
根据之前尽龙的需求：
![image](https://user-images.githubusercontent.com/19804057/61215577-e9457e00-a73d-11e9-8ffb-30053dd54989.png)
有的 service 会被封装成函数。useAPI 不适用的情况

目前初步的想法是用 useAsync 代替，dummyCode：
![carbon](https://user-images.githubusercontent.com/19804057/61215059-493b2500-a73c-11e9-9b2f-683ab6b603d9.png)

useAsync 接受三个参数：
func: 一个 async function，用于被执行。
dependencies?: 依赖数组，在依赖改变是，会重新执行函数(当 initExecute 为

[2019-07-15 12:37] brickspert commented on #6
initExecute 可以扩展下

[code]

[2019-07-16 02:25] brickspert opened #7 "useLoadMore"
适用于在同一个列表中，点击加载更多，或者上拉加载更多的应用场景。

**我们假设，在加载更多场景中，一般是 page 一直是 1，而 pageSize 不断变大**

[code]

**输入**

* loadData 一个 Promise 函数，接收参数为总的 pageSize
* deps 依赖数组，如果变化后，则触发 reload
* options
   - filterData 一个处理 loadData 返回数据的函数，我们需要通过这个函数，拿到总的 total, 以便知道是否还需要加载更多
   - initPageSize 第一页需要加载的数据数量，默认为 10
   - peerPageSize 加载更多时，每次加载更多的页数，默认等于 initPageSize
   - ref 滚动区域的 dom 节点，如果有 ref，在滚动到底部时，会自动触发 loadMore

[2019-07-16 02:28] brickspert commented on #7
有个问题：
在这个场景中，我们是假设在 加载更多 场景中，都是 page 不变，pageSize 一直变大。 好像不是非常合理。
但是使用其它方式如何避免数据重复的问题呢？

[2019-07-16 02:28] brickspert opened #8 "useInput"
Todo

[2019-07-16 02:28] brickspert opened #9 "useSearch"
适用于边输入边查询的场景。内置了 防抖控制，请求时序控制，加载状态 等逻辑。

![image](https://user-images.githubusercontent.com/12526493/61294280-09417400-a808-11e9-9850-9690d8ac1a9a.png)

[code]

**输入**

* loadData 一个 Promise 函数，接收参数为搜索文本
* deps 依赖数组，如果依赖变化，则 reload

**输出**

* data loadData 返回的数据
* loading 是否正在加载

**应用场景**

[code]

[2019-07-16 02:29] #8 closed, assigned to nobody

[2019-07-16 12:30] ttys026 opened #10 "useAPI"
useAPI 跟 useAsync 实现的功能类似，相当于 useAsync 更高一层的封装。
接受四个入参：

request: request 的方法，一般业务会对 umi-request 做一层封装，例如，添加错误码，统一错误处理等。一般位于 src/util/request.ts
url: fetch 函数的第一个参数。
options: fetch 函数的第二个参数。包括 header, method 等
polling: 是否需要轮询，单位为毫秒，如果传了此参数，则会定时轮询。

返回：
[code]

[2019-07-16 12:30] brickspert commented on #9
疑问：onChange 和 value 适用于 Input 搜索。

但是 [Select](https://ant.design/components/select-cn/#components-select-demo-select-users) 是 onSearch 和 value。如何兼容两种情况呢？

[2019-07-16 13:03] brickspert opened #11 "useAntdTable"
集成了常见的 包含 精简搜索，复杂搜索，分页 等的 列表页。

### 功能
1. 包含分页能力的表格数据展示；
2. 搜索表单与表格联动；
3. 支持简单、复杂 2 种参数独立的搜索模式切换，并且能自动载入上一次表单填充数据（需要配置 id）；
4. 跳出当前页后返回时自动还原上一次的表单状态，并刷新之前的页码数据（需要配置 id）；

### 用法

[code]

#### 例子
[code]

### 参数说明

| 参数名 | 必填 | 类型 | 说明 |
| --- | --- | --- | --- |
| service  | 是 | Promise | 请求表格数据的 service 方法 |
| form | 否 | Antd.WrappedFormUtils | 搜索 From，为空时 useTable 的 search 方法也不存在 |
| id | 否 | str

[2019-07-16 13:07] brickspert commented on #11
建议 changeTable 不仅仅代理 current， 在我们的业务场景中还需要 pageSize，filters，sorter。
希望可以补全。

[2019-07-16 13:24] brickspert commented on #11
focusUpdate 不是很理解， Table 的 onChange 没有这个属性，我们需要代理一下吗？

[2019-07-17 01:24] #1 closed, assigned to nobody

[2019-07-17 01:30] brickspert commented on #11
为了保持一致，建议用法变为

[code]
* service 是 Promise 的异步函数
* deps 是可选的依赖数组，如果变化后，分页重置为 1，重新执行 service。可以兼容不需要表单的超级简单的搜索，比如仅仅有一个 select。
* options 是可选的

[2019-07-17 08:09] xc1427 commented on #9
感觉这个放在 antd 下面比较好。因为要感知 Input 的 API。

[2019-07-17 08:12] xc1427 commented on #7
我有个疑问，pageSize 这种字段非常强依赖于 API，这个怎么做到 loadMore 这个hook 不去感知？

[2019-07-17 12:59] brickspert commented on #7
@xc1427 有个 filterData，需要告诉怎么拿到 pageSize

[2019-07-22 12:07] tudou527 opened #13 "focusUpdate 不是很理解， Table 的 onChange 没有这个属性，我们需要代理一下吗？"
focusUpdate 不是很理解， Table 的 onChange 没有这个属性，我们需要代理一下吗？

_Originally posted by @brickspert in https://github.com/umijs/hooks/issues/11#issuecomment-511814339_

原来是为了解决当前分页的操作问题加的。比如 table 中有一列是 switch，状态改变后需要刷新当前页码的数据，但这种情况下 current、pageSize 都没变。用 deps 实现还不如暴露 reload 方法给用户，用来刷新数据。

[2019-07-22 12:07] #13 closed, assigned to nobody

[2019-07-22 12:07] tudou527 commented on #11
原来是为了解决当前分页的操作问题加的。比如 table 中有一列是 switch，状态改变后需要刷新当前页码的数据，但这种情况下 current、pageSize 都没变。用 deps 实现还不如暴露 table.reload 方法给用户来的直接

[2019-07-22 12:10] tudou527 commented on #11
pageSize 加了，但 filter、sorter 项目中暂时没用到，留作以后的 feature 吧（主要原因是现在还没空写 demo 测些业务中暂时用不到的这些功能）

[2019-07-22 12:11] tudou527 commented on #11
form，id 改成了必填

[2019-07-24 07:59] Deturium opened #14 "useAPI 的两个问题"
## useAPI 讨论

在我看来 useAPI 现在的设计和实现有两个问题：

### 与  `axios`  强耦合

在绝大部分业务中，request 库都是有自己封装的，可能用的是 `fetch` 又或者是 `umi-request` 等等，`useAPI` 作为一个基础 hook，不应该钦点用户使用 `axios`

再者，在钦点的情况下，对于请求参数也仅仅透传了 url、method、body 三者，对于复杂请求也是不够的

因此，这个 api 设计的没有可扩展性的，我实际使用中更倾向自己封装服务的 Promise 然后去使用类似 `useAsync` 的 hook

### 没有竞态处理

这里说的竞态处理不是指取消请求，而是

1. 重复请求的覆盖
2. 请求返回之前组件就没卸载

情况1经常发生于快速翻页表单一类的情况下，所需要做处理接近 `rxjs` 中的 `swit

[2019-07-24 11:08] ttys026 commented on #14
感谢建议，现在的 useAPI 确实存在比较多的问题，一开始只是业务里用到的一个代码片段，希望在写 hooks 教程的时候能在 riddle 中直接引用。没有经过慎重考虑。

之后版本的 useAPI 会基于目前的 useAsync 重写，request 的方法会由用户传入，竞态处理在 useAsync 中用了 boolean 值处理，不过当同时处理多个请求的时候，用自增的 counter 应该是更可靠的。

[2019-08-09 06:48] #14 closed, assigned to nobody

[2019-08-09 06:48] #11 closed, assigned to nobody

[2019-08-09 06:48] #10 closed, assigned to nobody

[2019-08-09 06:48] #9 closed, assigned to nobody

[2019-08-09 06:49] #7 closed, assigned to nobody

[2019-08-09 06:49] #6 closed, assigned to nobody

[2019-08-09 06:49] #5 closed, assigned to nobody

[2019-08-15 14:19] brickspert opened #27 "web 站点主题更新"
参考业内优秀案例，完成主题。

[2019-08-15 14:21] brickspert opened #28 "README.MD 完善"
默认英文，支持中文。参考社区优秀案例~

[2019-08-15 14:21] brickspert opened #29 "测试覆盖率达到 90%+"
* [x] useAPI  @tli4
* [x] useAsync @tli4
* [x] useAntdTable @awmleer
* [x] useControlledValue @luchx
* [x] useLoadMore @luchx
* [x] useSearch @luchx

[2019-08-15 14:21] brickspert opened #30 "CI 集成"

[2019-08-15 14:22] brickspert commented on #28
默认英文，支持中文。参考社区优秀案例~

[2019-08-16 14:33] brickspert opened #32 "支持 umd 打包"

[2019-08-16 14:37] brickspert commented on #28
需要包括 贡献指南，发布流程规范等

[2019-08-18 10:30] brickspert opened #34 "使用 react-use v10.6.1 的 useUpdateEffect 替换我们自己的 useUpdateEffect"

[2019-08-18 10:31] brickspert commented on #34
同时需要考虑下 useDebounce

[2019-08-18 10:32] brickspert opened #35 "完善 release"

[2019-08-18 10:59] brickspert commented on #27
建议直接做成英文的。具体可以讨论~

[2019-08-19 04:21] yutingzhao1991 commented on #28
编辑按钮和导航重合了

![image](https://user-images.githubusercontent.com/1061968/63239027-c39b1f80-c27b-11e9-8c8d-93a8a1b2f31f.png)

另外 https://umijs.github.io/hooks/ 这个显示 Page Not Found

[2019-08-19 13:21] #35 closed, assigned to nobody

[2019-08-25 03:23] #34 closed, assigned to brickspert

[2019-08-26 11:20] #32 closed, assigned to nobody

[2019-08-29 06:05] yesmeck opened #46 "建议不要依赖 regenerator-runtime"
通常的做法应该是让项目自己去加。

现在的影响是 @umijs/hooks 没法在 remax 里用，因为 regenerator-runtime 0.13 版本用了 `Function`，小程序里不支持。

[2019-08-29 07:00] brickspert commented on #46
好，收到。 之前是其他项目引用 umijs/hooks 后出错，才加了这个依赖，下个版本我们考虑删除掉，预计明天发新版本。

[2019-08-29 07:03] #30 closed, assigned to nobody

[2019-08-30 11:40] brickspert commented on #28
已经修复啦。

[2019-08-30 11:40] #28 closed, assigned to brickspert

[2019-09-06 14:43] brickspert commented on #46
已发布 v1.0.0

[2019-09-06 14:43] #46 closed, assigned to nobody

[2019-09-06 14:43] #29 closed, assigned to brickspert

[2019-09-20 05:55] DiamondYuan opened #63 "useAsync 里面添加拉取，是出于什么考虑？"

[2019-09-20 06:34] ttys026 commented on #63
这里的拉取是指轮询吗？
在中后台场景下，websocket 的使用并不普及，轮询还是一个比较常用的处理方法。比如查询一个项目的构建状态，预案执行的情况等等。所以直接在 useAsync 里内置了定时器，希望能最大程度上降低业务代码逻辑的复杂度。

[2019-09-20 08:18] DiamondYuan commented on #63
我个人认为轮训的在所有 async 请求的比例不算太高，轮训应该是一个新的 hooks。
不过现在已经写了，也不能改了。

[2019-09-20 08:18] #63 closed, assigned to nobody

[2019-09-22 04:46] DiamondYuan opened #64 "useAsync 在 onSuccess 里面操控父组件的 state 时候有警告"
[code]

[2019-09-23 03:03] DiamondYuan commented on #64
@tli4  这样改 onError 同理

[code]

[2019-09-23 03:15] DiamondYuan opened #65 "[RFC] useAsync 的 state 里面增加一个参数"
https://github.com/umijs/hooks/blob/1968b7ac6fd2ad9a5b819a0b8a351cf2ccdebaa9/src/useAsync/index.ts#L111

把请求参数存下来。

### 实际场景

列表中有10个元素，ID分别为 1-10.

[code]

上面这个 hooks，是没办法知道那个元素应该 loading 的。只能知道整体是处于 loading 状态。

[2019-09-23 03:42] ttys026 commented on #64
@DiamondYuan
应该是 onSuccess 里做了页面跳转，hooks 被卸载掉了。
加了一个针对  hooks mount 状态的判断 #66

[2019-09-23 03:54] ttys026 commented on #64
这里用 runCount 也能实现一样的效果，不需要多定义一个 ref 了，应该更合适。会修改成 runCount 的

[2019-09-23 03:54] #64 closed, assigned to ttys026

[2019-09-23 12:34] ttys026 commented on #65
不知道我理解的正确不正确，假如是编辑一列 10 行的表格，这个时候正在编辑/保存的是哪一列，应该是组件内部维护的状态，这个状态交给 useAsync 去维护并不太合适

[2019-09-23 17:39] DiamondYuan commented on #65
useAsync 在父组件中，子组件的的 loading 代表在 loading ，由父组件传递
子组件的调用父组件的 run 函数，此时父组件只知道有子组件在 loading，并不知道具体是哪个一个在 loading。如果 args 暴露出来的话，父组件只需要写 loading={item.id === args[0] and loading}

[2019-09-25 05:21] ttys026 commented on #27
see #67

[2019-09-25 05:21] #27 closed, assigned to brickspert, ttys026

[2019-09-26 08:59] brickspert commented on #65
@DiamondYuan
useAsync 返回的数据中增加一个字段 params，把当前的 params 输出？是这样的意思吗？

[2019-09-26 09:05] brickspert opened #69 "[讨论]useAsync 是否需要竞态处理"
目前 useAsync 默认开启竞态处理，在有些场景下不太合适。

比如，一个列表页有 10 条数据，每一条都有自己单独的删除，当我同时删除好几条的时候，下一次请求总是会把上一次请求废弃掉，这样是不符合预期的。

个人建议是默认不开启竞态处理，可以提供个开启的开关。

[2019-09-26 09:07] brickspert opened #70 "[action] 所有的 hooks 第二个参数变成动态的，如果是数组，认为是 deps，如果是 object，则认为是 options"

[2019-09-26 09:29] DiamondYuan commented on #65
对，就是这意思。这样在某些场景下很方便，也没有 break change。

[2019-09-26 10:26] DiamondYuan commented on #69
默认开启。否则就是 break change。原有其他项目都需要修改。

这个问题我也发现了，我觉得使用发布一个新的 hooks 会不会好一点。在 useAsync 的基础上封装一下。

我现在这个场景只出现了一次，所以在每条数据里面都写了 useAsync 。

[2019-09-26 10:56] brickspert commented on #65
好，我们支持一下。

[2019-09-26 10:59] brickspert commented on #69
新建一个 Hooks 不是很好。

[2019-09-26 11:43] ttys026 opened #71 "useVirtualList"
适用展示大量数据需要做虚拟列表做性能优化的场景。可以和 useLoadMore 结合，形成大量数据展示的最佳实践。

[code]

**输入**

* data 原始的全量数据，
* initialSize 初始载入条目数
* incrementalSize 每次增加条目数
* threshold 距离底部多少条时开始加载

- [ ] 待讨论是否要把 loadMore 的 asyncFunction 也传进去，触及数据底部自动 append list

**输出**

* list 需要展示的部分数据,
* containerProps 滚动容器的 props, 包含部分 style 和 onScroll 之类属性,
* getItemProps 一个函数，getItemProps(index) => itemProps, 包含 style (position，height)
* ge

[2019-09-26 11:47] ttys026 commented on #71
不一定需要自己造轮子，可以复用现在成熟的虚拟列表库

[2019-09-27 01:35] brickspert commented on #71
1. 改名为 useVirtualList
2. 参数改为 useVitrualList(data, options)， options 均是可选的，会提供默认值。

[2019-09-27 01:36] brickspert commented on #69
可以考虑增加一个 配置项，可以关掉竞态处理。

[2019-09-27 01:43] brickspert opened #72 "useAntdTable 支持 sort，filter，checkbox 等"

[2019-09-27 07:03] awmleer opened #73 "New hook request: useEventEmitter"
灵感来自angular的 `EventEmitter` ：[文档](https://angular.io/api/core/EventEmitter)

Api：

[code]

Demo：

[code]

可以用来处理多个组件之间的事件通知，并且自带订阅的清理逻辑。

[2019-09-29 01:52] ttys026 commented on #73
see #74

[2019-09-29 01:52] #73 closed, assigned to nobody

[2019-09-29 07:05] ttys026 commented on #69
可以加一个 autoCancel 的配置项，default 是 true

[2019-09-29 08:08] awmleer opened #76 "useStorageState"
支持把 `state` 支持化的存储在 localStorage 中，例如暂存用户输入的内容，保存用户的设置。

API

[code]

第一个参数为 localStorage 的 key ，第二个参数为 state 的默认值。

返回值的类型和 `useState` 一致。

Demo

[code]

[2019-09-29 08:50] brickspert opened #77 "主题支持 Hooks 分类"
基于现在的 Hooks 类型，建议分类为

* 业务 Hooks
* 基础 Hooks
* 高级 Hooks

[2019-09-29 09:47] brickspert opened #78 "去 react-use"
不再依赖 react-use，改由我们自己实现基础 Hooks

[2019-10-04 02:22] zj-wukewei opened #84 "关于useDynamicList使用"
在 const {
      list,
      remove,
      getKey,
      push,
    } = useDynamicList(usersList);
中数据（usersList）如果是后台获取的，在获取成功时候list数据不会变化，是否能支持一下。

[2019-10-04 14:27] brickspert commented on #84
有个 resetList 是满足你条件的。

[2019-10-04 14:51] zj-wukewei commented on #84
为什么不加一个useEffect，比如以下代码：
  useEffect(() => {
    setList(() => {
     (initialValue || []).forEach((_, index) => {
      setKey(index);
    });
    return initialValue || [];
    });
  }, [initialValue])

[2019-10-06 03:38] ttys026 commented on #84
@zj-wukewei 这里当时考虑过去监听 initialValue 的变化，但主要的问题在于
有一种使用场景是直接写死的数据，此时 initialValue 用 dependency 原生的 Object.is 判断每次都是不一样的。这样会导致无限循环，keyList 会被一直清空，counter 会被一直重置。

如果转成 string 再去比较，考虑到初始值可能是个巨大的包含 object 的数组，甚至存在环形结构，性能可能会变差。

在你说的 API 返回数据的情况下，一般都有一个时机可以调用 resetList 的方法去更新 list，目前看来会更合适一点。

[2019-10-06 04:07] ttys026 commented on #76
我理解既然要保存就不应该在 unmount 的时候 clear 掉 storageState，
是否需要暴露出一个 removeItem 的方法呢？
另外这里是否做成 { value, onChange } 这种形式，可以考虑一下

[2019-10-06 04:21] awmleer commented on #76
不传参数直接调用 `setState()` ，或者 `setState(undefined)` 就是 `localStorage.removeItem` 。。

[2019-10-06 04:23] awmleer commented on #76
`{ value, onChange }` 的感觉不是很有必要。。现在这样的API可以保证和 `useState` 的兼容性，对用户的使用来说非常友好。如果用户需要监听 state 的变化，那么也可以按照 `useState` 对应的处理方案，写一个 `useEffect` 。

[2019-10-07 02:20] #84 closed, assigned to nobody

[2019-10-08 13:04] ttys026 commented on #77
这个是支持的，可以通过 menu 配置子菜单

[2019-10-08 13:04] #77 closed, assigned to ttys026

[2019-10-08 13:06] ttys026 commented on #71
see #75

[2019-10-08 13:06] #71 closed, assigned to nobody

[2019-10-10 02:49] #76 closed, assigned to nobody

[2019-10-15 02:44] fengyun2 opened #91 "useControlledValue 的 handleSetState 方法是不是写反了呢？"
![image](https://user-images.githubusercontent.com/8147202/66795962-c5f6be80-ef38-11e9-8d6e-b215a5c2b9b5.png)

[2019-10-15 02:55] brickspert commented on #91
看着没问题呀~  怎么说？大兄弟。

[2019-10-15 03:31] luchx opened #92 "[discuss] what basic hooks should we use ?"
## basic hooks list
[code]

[2019-10-15 03:39] luchx commented on #78
目前业务组件hooks中依赖了 `react-use` 的 `useUpdateEffect`

[2019-10-15 05:11] brickspert commented on #92
1. `useBoolean` is an alias for `useToggle`
2. `useLocalStorage ` and `useSessionsStorage` is useful，our `useLocalStorageValue` name is too long，i think it should rename to `useLocalStorage`. @awmleer
3. `useTimeout ` and `useInterval `  maybe not used often.

[code]

[2019-10-15 05:24] ttys026 commented on #92
- [useDeepCompare](https://github.com/streamich/react-use/blob/master/docs/useDeepCompareEffect.md) seems useful in some cases.
- useTitle can be refactor to use [react-helmet](https://www.npmjs.com/package/react-helmet), so that we can use it to set some other metadata inside `<head>`

[2019-10-15 05:25] luchx commented on #92
what i think the `useToggle` is use like a switch, so you can set tow params not just true/false. @brickspert

[2019-10-15 05:28] awmleer commented on #92
OK.

[2019-10-15 05:31] brickspert commented on #92
ok, your idea is right, my thoughts are limited by react-use.

[2019-10-15 07:52] DiamondYuan opened #93 "[RFC] useSelect"
[code]

[2019-10-15 08:12] DiamondYuan commented on #93
列表和子列表。支持 全选/反选，子列表全选/反选，以及全选与半选的状态。

[2019-10-16 15:54] brickspert commented on #93
感谢提交 RFC，useSelect 是一个比较好的 hooks idea~

应该目标效果是类似 antd 这个 [全选](https://ant-design.gitee.io/components/checkbox-cn/#components-checkbox-demo-check-all) 例子吧？

我大概写了一下代码：

[code]

有以下几点疑问：

1. 我理解只能支持一个总分结构，那为什么会有 items 和 subItems 呢？能给个例子吗？~
2. items 只支持简单数据类型(string, number)吗？
3. 名字叫 `useSelect` 不太好，建议叫 `useSelections` 或者其它更语义化的名字。
4. useSelect 的参数 items，应该只在初始化话的时候，初始一次，后面不会再动态变化了。类似 useState 的 ini

[2019-10-16 16:03] DiamondYuan commented on #93
api 的确需要统一命名，一边写需求一边加的。
1. subItems 的厂家来自于，例如有20个元素，筛选后变为10个元素。然后这10个元素需要全选和反选。而且去掉筛选以后，原有选择的保持不变。
2.复杂对象应该是支持的，但是只支持简单比较。
3.命名我没确定下来，useSelections挺好的。
4. 这个我没考虑过
5.数组方便重命名，返回数组我觉得挺好。数组第二个元素就是对象。

[2019-10-16 16:20] brickspert commented on #93
1. 关于第一点，只用一个 items 应该就可以实现，像下面这样。

[code]

2. 关于返回数组还是对象：目前基本已有 hooks 均是返回的 object，建议保持统一，用户心智统一~

我觉得根据上述建议，可以提交个 PR 啦。👍

[2019-10-17 03:06] brickspert opened #94 "useAsync useEffect unused params"
https://github.com/umijs/hooks/blob/40556d4f7d8a894b0fa3329356896ae520048435/src/useAsync/index.ts#L224

[2019-10-17 06:21] #94 closed, assigned to nobody

[2019-10-17 08:19] brickspert opened #97 "update docs"
* [x] useAPI   @tli4
* [x] useAntdTable @brickspert
* [x] useAsync @tli4
* [x] useControlledValue @brickspert
* [x] useDynamicList @tli4
* [x] useLoadMore @brickspert
* [x] usePagination @brickspert
* [x] useSearch @brickspert
* [x] useSelections @brickspert
* [x] useEventEmitter @awmleer
* [ ] useLocalStorageState @awmleer
* [x] useResponsive @awmleer
* [x] useSize @tli4
* [x] useVirtualList @tli

[2019-10-18 02:47] brickspert opened #100 "[RFC] usePagination"
单独处理分页的 Hooks，支持各种情况的分页处理。

1. 常见的异步请求分页

[code]

2. 对本地数据进行分页

[code]

3. 对本地数据进行分组，第一个参数也支持传入函数

[code]

[2019-10-18 02:49] #91 closed, assigned to nobody

[2019-10-18 03:16] luchx opened #101 "[refactor] remove useUpdateEffect of react-use"
A hook only works after component mounted,which replaced useUpdateEffect of reactUse.

[code]

[2019-10-18 05:13] #101 closed, assigned to nobody

[2019-10-23 03:08] awmleer commented on #100
3的话，感觉不难实现呀，用 `async...await...` 就可以了

<img width="703" alt="image" src="https://user-images.githubusercontent.com/16526078/67353539-5eb6bb00-f585-11e9-9747-2e8442e0b024.png">

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/await

[2019-10-23 03:20] brickspert commented on #100
这块用户自己把 fn 定义成 promise，也不是很难。暂时先保持这样，如果以后确实有需求的话，再加2，3点。

[2019-10-24 06:34] #93 closed, assigned to brickspert

[2019-10-24 08:59] #70 closed, assigned to nobody

[2019-10-24 08:59] #72 closed, assigned to nobody

[2019-10-24 08:59] #78 closed, assigned to nobody

[2019-10-24 08:59] #100 closed, assigned to nobody

[2019-10-28 07:16] yutingzhao1991 opened #113 "useSearch 的 API 文档不对"
https://hooks.umijs.org/useSearch#api

[2019-10-28 07:17] brickspert commented on #113
确实是写错了。。。
文档这块我们在集中治理了，大概下周会有全新的文档上线。

[2019-10-30 10:50] iceberg211 opened #115 "useTable 无法获取经过封装的表单的值"
版本: 1.3.1, 1.2.0.

[code]
此下拉组件是经过简单封装，但是提交的时候不能获取到此组件数据。

[2019-10-30 11:09] ttys026 commented on #115
![image](https://user-images.githubusercontent.com/19804057/67853021-8b9c3c80-fb48-11e9-9f91-e06bc1b053f1.png)
这个属于 antd form 组件使上的问题，参考[这个例子](https://ant.design/components/form-cn/#components-form-demo-customized-form-controls), 可以使用 getFieldDecorator 绑定自己封装过的组件

[2019-10-30 11:13] brickspert commented on #115
RoleSelect 组件需要提供 value 和 onChange 属性，供表单使用的哦。

[2019-10-30 12:03] ttys026 opened #116 "[RFC] useValidator"
Like useSearch, this hook is designed to check whether a unique name already exists in database. In such case, you should make an API call in validator when necessary.

- in `create` scenario, name should always be unique.
- in `edit` scenario, name can be the same as initialValue, other than that it should be unique.

Here's a possible use case when using with antd form.

![image](https://user-im

[2019-10-30 14:50] #115 closed, assigned to nobody

[2019-10-31 11:34] luchx opened #119 "useExpireStorage"
[code]

[2019-10-31 14:20] luchx opened #121 "useToggle/useBoolean"
[code]

[2019-10-31 14:24] luchx commented on #121
支持三种数据参数：
1. 无参数或只有一个参数，布尔切换
2. 两个参数，第一个参数为默认值，支持在两个参数间切换

[code]

[2019-10-31 14:30] brickspert commented on #121
toggle 应该可以接收参数，直接切换到那个值。

其他没啥问题。good job~

[2019-10-31 14:40] luchx commented on #121
这个没必要吧，因为只能传两个数，所以也只能取反的

[2019-10-31 14:43] brickspert commented on #121
需要的，有时候有些按钮，我点了就是想关闭，我就直接 `onClick={()=>{toggle(false)}}`

如果我写成 `onClick={toggle}` 在某些情况下可能不好使

[2019-10-31 14:45] luchx commented on #121
明白，你指的可能是需要防抖的时候，是我考虑不周了

[2019-11-05 03:35] luchx opened #130 "[RFC] useLocalStorageState"
[code]

### useLocalStorageState

[code]

### useSessionStorageState

[code]

[2019-11-05 03:35] luchx commented on #130
这样测试代码也只需要写一份了，而且不会影响现有功能

[2019-11-05 09:29] brickspert commented on #130
+1

[2019-11-05 09:39] #121 closed, assigned to nobody

[2019-11-05 09:53] #119 closed, assigned to nobody

[2019-11-06 07:15] brickspert opened #134 "useAsync 如果非手动执行，默认 loading = true"

[2019-11-07 15:05] brickspert opened #135 "useAPI API 完善"

[2019-11-07 16:43] #65 closed, assigned to nobody

[2019-11-07 16:43] #69 closed, assigned to nobody

[2019-11-07 16:43] #97 closed, assigned to nobody

[2019-11-07 16:43] #113 closed, assigned to nobody

[2019-11-08 02:14] Nokecy opened #138 "useModal"
处理常见的Modal的显示与隐藏
## Api
`useModal(defaultValue:boolean);`

## 用法
[code]

[2019-11-08 05:47] awmleer commented on #92
- [x] useDebounce @brickspert
- [x] useThrottle @brickspert
- [x] useToggle
- [x] useLocalStorage
- [x] useSessionStorage @awmleer
- [x] useUpdateEffect
- [x] useUpdateLayoutEffect @brickspert
- [x] useClickAway @luchx
- [x] useKeyPress @luchx
- [x] useMouse @tli4
- [x] useScroll @awmleer
- [ ] useTitle @tli4
- [x] usePrevious @tli4

[2019-11-08 05:54] brickspert commented on #138
@Nokecy 昨天发了一个版本，你可使用 [useBoolean](https://hooks.umijs.org/useBoolean)，和你的用法几乎一模一样。

[2019-11-08 05:54] #138 closed, assigned to nobody

[2019-11-08 05:55] brickspert commented on #138
感谢提出想法，感谢感谢~

[2019-11-08 06:29] awmleer opened #139 "打包优化"
- 支持 .d.ts
- 支持 [babel-plugin-import](https://github.com/ant-design/babel-plugin-import)
- npm发布的时候只发布 dist 目录即可，避免 package 体积过大或发布过多无用的文件比如 `contribute_template` 和 `.github` 这种

[2019-11-08 15:14] Nokecy opened #141 "useAntTable 和 useAsync 同时使用的问题"
在useAsync  onSuccess 中调用useAntTable的submit方法不会重新刷新表格。
用例是:使用useAsync新增一条数据后需要刷新表格数据。
[https://codesandbox.io/s/hooks-demo-u3l66](url)

[2019-11-08 16:06] brickspert commented on #141
把 submit 放到 useAsync 的 deps 中就可以了。

[code]

或者你可以这样写
[code]

[2019-11-08 16:06] brickspert commented on #141
有问题再 open 哦。

[2019-11-08 16:06] #141 closed, assigned to nobody

[2019-11-09 03:25] Nokecy commented on #141
[code]
这种方法可行

[2019-11-10 15:15] Nokecy opened #143 "useAsync run 方法返回异常被吃掉了。"
https://github.com/umijs/hooks/blob/b6a3d3083381e6393578da923699f69c9feed160/src/useAsync/index.ts#L144-L154

[2019-11-11 14:22] brickspert commented on #143
最后的 `return error` 改成 `throw error` 吗？

[2019-11-11 14:29] Nokecy commented on #143
[https://github.com/umijs/hooks/issues/141#issuecomment-551886884](https://github.com/umijs/hooks/issues/141#issuecomment-551886884)

[code]
 这样异常处理不了。

[2019-11-12 01:38] brickspert commented on #143
@umijs/hooks@1.4.0-beta.1 解决了这个问题。你可以试试~~

[2019-11-12 01:38] #143 closed, assigned to nobody

[2019-11-12 02:08] ttys026 commented on #134
resolved #140

[2019-11-12 02:08] #134 closed, assigned to ttys026

[2019-11-12 03:40] 3lang3 opened #145 "useTableList搜索中使用RangePicker,无法手动处理其值"
[code]
触发submit时
提交了一大推无用的value导致414
![umijs_hooks_usetable_](https://user-images.githubusercontent.com/7098719/68639951-2fbab600-0541-11ea-9b11-87e04d6db8cc.png)

[2019-11-12 03:51] 3lang3 commented on #145
提交信息不完整 先关了
stringify方法导致解析params时出现差异
并非hooks问题

[2019-11-12 04:05] 3lang3 commented on #145
但是还是存在无法手动组装RangePicker值的问题
submit能否接受查询参数：
[code]
后台查询中，操作人员经常刷新页面 导致当前页面信息丢失
能否增加查询参数url映射的hook

[2019-11-12 04:53] brickspert commented on #145
1. submit 这个提议不错，下个 feature 加下。
2. 查询参数url映射的 hook ，需要好好权衡下，应该是一个独立的 Hook。在 useAntdTable 中，你可以手动把 url 上的参数放到表单的 initialValue 里面。

[2019-11-13 08:32] tdida commented on #139
1.3.3 版本 .d.ts 文件丢失

[2019-11-13 08:56] awmleer opened #149 "统一 test 目录的命名"
发现现在项目中测试用例的文件夹命名有 `__tests__` 和 `__test__` 两种，要不要统一一下？

[2019-11-14 02:24] awmleer commented on #139
Fixed in #148 .

[2019-11-14 02:24] #139 closed, assigned to awmleer

[2019-11-18 09:10] #149 closed, assigned to brickspert

[2019-11-19 01:54] brickspert commented on #92
* [ ] [useDeepCompareEffect](https://github.com/streamich/react-use/blob/master/src/useDeepCompareEffect.ts) @brickspert
* [x] [usefullscreen](https://streamich.github.io/react-use/?path=/story/ui-usefullscreen--demo)

[2019-11-19 11:38] brickspert commented on #145
我研究了下，其实 submit 是不用接受参数的，你可以在自己的 异步函数 中，来添加你需要的参数。
比如下图，你可以在这个函数中添加你的其它参数哦~
![image](https://user-images.githubusercontent.com/12526493/69143515-25318b00-0b04-11ea-9904-5ac1756d33ba.png)

[2019-11-19 11:38] #145 closed, assigned to brickspert

[2019-11-22 10:19] awmleer opened #158 "应该把demo下的 jsx文件 git ignore掉"
每次都要看 demo 里 jsx 文件的 diff 感觉很重复。。这种东西是不是可以 git ignore 掉然后在 build 的时候让ci重新生成一份？

[2019-11-22 10:24] awmleer commented on #130
已经实现了～

[2019-11-22 10:24] #130 closed, assigned to nobody

[2019-11-22 11:03] awmleer opened #159 "[RFC] useCreaction"
Usage:

[code]

Replacement for useMemo with semantic guarantee. Useful for avoid expensive constant creation.

API:

[code]

[2019-11-24 08:00] brickspert commented on #158
good idea。发布文档的时候，生成一次 jsx，发布完，立马删除。
这样开发着就感知不到 jsx 了。

[2019-11-25 08:59] GYxiaOZ opened #160 "useAntdTable 相关的 FnParams 没有导出"
按照demo里的代码写，项目报错 FnParams 没有导出
![img](https://github.com/GYxiaOZ/Image-Hosting/blob/master/QQ%E5%9B%BE%E7%89%8720191125165512.png?raw=true)

再问一下是否有官方讨论群？
项目是否稳定，能否直接用于生产环境？

[2019-11-26 13:35] brickspert commented on #160
1. 能提供一个可以复现的 demoe 吗？ FnParams 确实有导出。。
2. 目前有问题可以通过 issue 提问，我们会及时回复的。
3. 项目目前比较稳定，可以用于生产环境。蚂蚁内部已有多个生产项目使用~

[2019-11-26 14:32] brickspert commented on #160
demo 确实有问题，需要这样导出。
`import { FnParams } from "@umijs/hooks/lib/useAntdTable";`

[2019-11-26 14:32] #160 closed, assigned to nobody

[2019-11-27 10:34] luchx opened #163 "useKeyPress"
一个优雅的管理 `keyup` 和 `keydown` 键盘事件的 Hook，支持键盘组合键，定义键盘事件的 `key`  和 ` keyCode` 别名输入 。

[code]

## reference

[code]

[2019-11-27 11:57] wangtianlun opened #164 "useInViewport"
**场景：判断一个元素是否在可视范围之内**

[code]

**使用**

[code]

[2019-11-27 12:25] brickspert commented on #164
API 参考下 [useSize](https://hooks.umijs.org/useSize)

[code]

用户可以自己传 dom 进来，`dom  = HTMLElement | (() => HTMLElement) | undefined`
如果用户没传 dom，就返回 ref。

其他没啥问题，求 PR。

[2019-11-27 12:40] brickspert commented on #163
看 API 超级棒。 可以直接贡献了~

[2019-11-28 01:27] jiangquan95 opened #165 "建议增加G2，G6的使用hooks"
1. G2,G6的发展很快速，但是却缺少react使用支持，官方提供的demo比较粗浅
2. G6的学习曲线非常陡峭，文档也比较深奥，希望提供封装的hooks

[2019-11-28 02:02] sorryljt opened #166 "希望每个hooks有较完整的demo代码段，和较完整的注释，比如我看了一会文章，也不知道“asyncFn”具体是个什么样的参数。目前我看到的demo中只有简单是使用方式"
今天刚开始关注这个项目，感觉很棒，想日后在我们团队中使用，希望能给些较详细的文档支持。

[2019-11-28 02:56] ttys026 commented on #165
好建议！我们会尽快提上日程

[2019-11-28 02:58] ttys026 commented on #166
https://hooks.umijs.org/
文档里针对每个 hooks 都写了一些 demo，也可以在 codesandbox 中尝试。
关于文档的问题我们也会持续优化的。

[2019-11-28 03:13] sorryljt commented on #166
谢谢，之前没有看到这个网站，我去好好看看

[2019-11-28 03:13] #166 closed, assigned to nobody

[2019-12-01 14:54] brickspert opened #172 "useSize 等函数参数 capture value 问题"
凡是接收函数作为参数的 Hook，都需要使用 ref，需要一并处理下。

[2019-12-01 15:03] brickspert opened #173 "useSize 初始化 size 的问题"
[code]

如果传了具体的 dom 进来，state 初始值不应该是 0，而是具体的值。

[2019-12-01 15:07] brickspert opened #174 "useScroll 初始化 position 的问题"
[code]

如果传了具体的 dom 进来，position 初始值不应该是 NaN，而是具体的值。

[2019-12-02 05:33] #173 closed, assigned to nobody

[2019-12-02 06:49] brickspert opened #176 "useAntdTable 等增加 manual"

[2019-12-02 13:07] brickspert commented on #158
不用处理了，等着升级 father-doc

[2019-12-02 13:07] #158 closed, assigned to brickspert

[2019-12-02 14:17] #163 closed, assigned to nobody

[2019-12-03 12:46] ggd543 opened #178 "为什么useAntdTable返回的search.submit要把没有用<Form.Item>包裹的field过滤掉？"
https://github.com/umijs/hooks/blob/v1.5.0/src/useAntdTable/index.ts#L279

是否应该提供一个可选项，由调用方决定是否过滤掉？

[2019-12-03 15:31] brickspert commented on #178
不是吧。 和 <Form.Item> 没关系吧。

目前会把用 getFieldDecorator 声明的 filed 加上去。

你标的这段代码，是用来处理 某些字段 消失后，需要废弃相关 filed 的情况。

不过我没想明白，在什么情况下会出问题呢？可否写个 codesandbox，复现一下你的需求呢？

[2019-12-03 15:31] #172 closed, assigned to nobody

[2019-12-03 15:32] #164 closed, assigned to nobody

[2019-12-04 01:54] brickspert opened #179 "useBoolean 的类型不应该有 undefined"
![image](https://user-images.githubusercontent.com/12526493/70105531-042c7680-167c-11ea-95e1-a330ae54a8f7.png)

[2019-12-04 01:54] brickspert opened #180 "useMap & useSet"

[2019-12-05 12:30] #116 closed, assigned to nobody

[2019-12-05 12:31] #92 closed, assigned to nobody

[2019-12-06 10:45] #179 closed, assigned to nobody

[2019-12-09 05:14] brickspert commented on #178
先关闭了。如果有问题再打开哦。

[2019-12-09 05:14] #178 closed, assigned to nobody

[2019-12-09 11:05] oldturkey opened #184 "请教一个用法上的问题"
比如useSearch这个组件的例子，在select中，我们需求往往是选中之后根据选中的值来做一些事情，例如onselect事件去触发操作，在用hooks编写的纯函数组件里面，想把这个select的值告诉外面其他组件去做各种操作该用什么方案，看例子里的代码没有提到，感觉是否只能加上store才能达到这种最基本的场景需求了？

[2019-12-09 11:19] brickspert opened #185 "usePagination 等增加 onSuccess，onError"

[2019-12-09 11:22] brickspert commented on #184
函数组件 和  class 组件 写法虽然不一样，但是用法是一样的。

可以用 props 来和外面交互呀~

[2019-12-09 11:42] oldturkey commented on #184
好的，明白了，谢谢

[2019-12-09 11:45] #184 closed, assigned to nobody

[2019-12-12 03:25] xiexingen commented on #135
如何使用axios

[2019-12-12 07:49] ttys026 commented on #135
现在  useAPI 是基于 fetch 类请求库封装的，fetcher 类型是：
`(url: string, options?: RequestInit) => Promise<any>`
如果需要基于 axios，可以基于 useAsync 自己封装，方式上面可以参考 https://github.com/umijs/hooks/blob/master/src/useAPI/index.ts

[2019-12-14 02:44] crashsol opened #186 "useApi 如何添加 src/util/request.ts 这样的统一异常处理配置"
想要在使用useApi的时候，添加 类似 antd-pro 模板中，src/util/request.ts，统一错误处理，应该怎么操作呢？是否会提供相关的配置功能？

[2019-12-14 03:19] crashsol commented on #186
![image](https://user-images.githubusercontent.com/17925647/70842807-60a14a00-1e63-11ea-8601-7ed29b56fb85.png)
好像这样可以配置，

[2019-12-14 03:19] #186 closed, assigned to nobody

[2019-12-15 02:10] crashsol commented on #135
useApi, 如果请求返回的是undefined 会提示错误,需要添加 对res的判断
`
  async () => {
      const res = await requestMethod(opt.url, opt.options);
      return res && res.json && typeof res.json === 'function' ? res.json() : res;
    },
`

[2019-12-18 07:14] tnduc opened #188 "Performance useDynamicList"
I use ~ 150 row, changing input values ​​quite slowly, is there a way to fix this problem?

![Capture](https://user-images.githubusercontent.com/26267956/71064033-aa11d200-21a0-11ea-8824-9ba50eff7bec.PNG)

[![Edit hooks-demo](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/hooks-demo-rgbln?fontsize=14&hidenavigation=1&theme=dark)

[2019-12-18 09:34] ttys026 commented on #188
Unfortunately, antd table and form are not optimized for a big amount of data yet. To work with huge list, you can use pagination or virtualized list to optimize the performance.

To play around with virtual list, [react-window](https://react-window.now.sh/#/examples/list/fixed-size) would be a good example to start with. Also, as far as I know, antd 4.0 will ship the virtual list feature along wi

[2019-12-19 05:47] MinJieLiu opened #191 "useAntdTable 在 antd@4.0 beta0 中报错"
antd onChange 中的参数:
[code]

tableProps:
[code]

[2019-12-19 06:01] #188 closed, assigned to ttys026

[2019-12-19 16:23] tnduc opened #192 "useSearch - How to use dispatch()"
How to apply redux?

[2019-12-20 01:59] brickspert commented on #192
you can use like this. first parameter is promise.

[code]

if you use dva, you can use like this
[code]

[2019-12-20 01:59] brickspert commented on #191
我们处理一下~

[2019-12-20 06:58] tnduc commented on #192
I use dva,

[code]
 VSCode problem:

- in the model what do I need to do to { data } = useSearch() to have the data returned

[2019-12-20 07:16] brickspert commented on #192
this not useSearch problem.
this maybe dva typescript error.
you can try this
[code]

[2019-12-20 07:26] tnduc commented on #192
@brickspert data always = [], how does the data variable receive data from redux.

[2019-12-20 07:57] brickspert commented on #192
data = dispatch return
you can console the result dispatch return.

maybe you should return the value  in this dispatch.

[2019-12-20 11:26] #192 closed, assigned to nobody

[2019-12-21 05:33] MasonChow opened #193 "useVirtualList 在异步返回传入list会没有数据显示，需要滚动一下才正常"
## 问题

如果list是从接口之类的获取回来再使用，会出现没数据渲染出来，需要自己手动滚动一下

## code

[code]

猜测list变化了没触发里面的`calculateRange`，临时解决的办法是

[code]

[2019-12-21 09:09] ttys026 commented on #193
是的，因为使用的时候除了使用接口数据，也有可能直接写一个 array 进去，这种情况监听 list 变化的时候，会无限触发，所以其实还是推荐自己管理 list 是否变化哈，和 useDynamicList 是一致的行为

[2019-12-21 13:34] MasonChow commented on #193
@tli4 可以暴露一个给使用者自行决定触发calculateRange这个方法的api吗，不然每次要自己写scrollTo这样的方式有点不太合适

[2019-12-23 09:53] fokq opened #194 "useLoadMore 在 total = 0 时 noMore 为 false"
`noMore: !!total && data.length >= total`

[2019-12-23 11:49] #194 closed, assigned to brickspert

[2019-12-23 11:51] headwindz opened #196 "useAntdTable里的类型FnParams导出报错"
看例子上 （https://hooks.umijs.org/useAntdTable）:

`
import { FnParams , useAntdTable  } from '@umijs/hooks';
`

这样会报错  FnParams 找不到。因为FnParams 没有在最外层导出 。

必须要这样引入才可以

`
import { FnParams } from '@umijs/hooks/lib/useAntdTable'
`

不知道后续怎么规划的？有计划在最外层导出FnParams么？ import导入的时候如果路径需要进入到useAntdTable 的话对使用方不是太方便。另外跟文档上的也对不上。

[2019-12-23 12:05] brickspert commented on #196
嗯嗯，这个问题已经已知了。
未来不会在最外层导出 FnParams。
我们近期会更新一版文档。

[2019-12-24 08:04] NsNe opened #197 "useAntdTable 生成的tableprops和antd 的tableprops不一致，ts类型检查报错"

[2019-12-24 09:15] brickspert commented on #197
我测试是一致的。

能截个图，或者给个复现吗？

[2019-12-24 10:46] NsNe commented on #197
![image](https://user-images.githubusercontent.com/25630824/71409726-89a0b680-267d-11ea-8f7a-270b2baa861d.png)

[2019-12-24 10:51] NsNe commented on #197
额，这个可能是因为我先安装了高版本的antd，然后才安装了umijs hook，所以antd版本不那么match，这个issue我先close了哈

[2019-12-24 10:51] #197 closed, assigned to brickspert

[2019-12-25 01:07] qixiaomeng opened #198 "文档好像有笔误"
[https://hooks.umijs.org/zh-cn/useAPI](url)

如果应该是如何吧

[2019-12-25 01:23] brickspert commented on #198
谢谢~

[2019-12-26 08:24] tnduc opened #201 "Dyanmic table validateFields not show errors"
Add rules to the input, but do not display an error when clicking submit.

[Demo online](https://codesandbox.io/embed/hooks-demo-iz293?fontsize=14&hidenavigation=1&theme=dark)

[2019-12-26 09:00] ttys026 commented on #201
In order to show the validate message, you need to wrap your Input using Form.Item
see [demo](https://codesandbox.io/s/hooks-demo-0pxus)

[2019-12-26 09:01] #201 closed, assigned to ttys026

[2019-12-26 09:48] hzyhbk opened #202 "useAntdTable 的 refresh 函数能否支持传入pageIndex参数"
项目中用到自己写的筛选组件，并没有用到 `useAntdTable` 提供的和form联动的筛选，改变筛选条件之后要重新刷新列表数据，我给搜索按钮绑定的是 `refresh` 函数，这就会导致比如我在**切换到分页 2 的时候再点击搜索按钮的话，传的 `pageIndex` 参数为2**，导致接口返回的数据为空。所以我第一个想到的解决办法就是refresh支持传入 `pageIndex` 参数，那样我只要传个 1 就好了。但是好像目前 `refresh` 并不支持。

其实这个小问题影响倒也不大，但是出于强迫症，想改掉这个问题，于是只能把搜索改成了跟form联动的形式，改的过程中却不是很顺利。

我的 `useAntdTable` 是这么写的，也是可以正常使用的
[code]
但是当我加上 `form` 之后
[code]
返回的 `tableProps` 里 `dataSource` 为

[2019-12-26 10:02] brickspert commented on #202
1. 你可以参考下 [这个例子](https://hooks.umijs.org/useAntdTable#table-with-filter-and-pager)，deps 变化的时候，会重置 pageIndex = 1。

点击搜索按钮后，可以触发某个 state 变化，这个 state 放在 deps 里面就行。

2. 其他问题我来修复下。

3. 关于 refresh 接收参数的能力，我们目前正在支持。后面会用 [@umijs/use-api](https://github.com/umijs/use-api) 代替目前所有的异步请求，包括 useAntdTable，在新的 hooks 中，可以通过 run 直接修改参数。

[2019-12-26 10:49] hzyhbk commented on #202
确实，我应该把筛选项作为 deps 传给 useAntdTable 的，这样做才是遵循 hooks 的依赖诚实规则。第一次在项目中用 useAntdTable，还不是很熟悉😰， @brickspert  感谢大佬提供思路。

[2019-12-26 10:49] #202 closed, assigned to brickspert

[2019-12-26 11:09] hzyhbk commented on #202
@brickspert 上面说的返回的 dataSource 为空，我找到原因了。其实是我自己对 useAntdTable 又封装了一层，第二个参数传的是deps，第三个参数才是options，我用的时候又忘记了 useAntdTable 是自己封装过的，所以在第二个参数里传了options，其实是无效的。不是 umi 的 useAntdTable 的问题，抱歉了，犯了很愚蠢的错。

[2019-12-27 08:38] tnduc opened #204 "Dyanmic table sort values form"
I use `unshift`, the data from the values `list` and `form` are contradictory, currently I have to use `reverse` to unify the field position.

![Screenshot from 2019-12-27 15-34-45](https://user-images.githubusercontent.com/26267956/71509690-c7d8e880-28be-11ea-9edf-48f77c13558f.png)

[Demo online](https://codesandbox.io/s/hooks-demo-tomlj?fontsize=14&hidenavigation=1&theme=dark)

[2019-12-27 08:44] tnduc opened #205 "Dyanmic table - How to push value from other component"
- ParentComponent
------ TableDynamicComponent
------ OtherComponent

How `OtherCompoent` calls `push` function in `TableDynamicComponent`

[2019-12-27 09:22] brickspert commented on #205
maybe you should try [useEventEmitter](https://hooks.umijs.org/useEventEmitter)

or native react props

[2019-12-27 09:22] #205 closed, assigned to nobody

[2019-12-27 09:56] ttys026 commented on #204
Since antd form keep track of the order of field creating, you need to sort the form manually, and it might be hard to do. That's the reason why we have a `sortForm` method. in the example, you can use this method to get correct order of form values (as the value printed)

[2019-12-27 15:23] #204 closed, assigned to ttys026

[2019-12-28 03:06] jin-benben opened #206 "基于useAntdTable二次封装设置pagination是ts类型校验错误"
![image](https://user-images.githubusercontent.com/27982466/71538182-e80db380-2961-11ea-8281-377fc1d5136a.png)

[2019-12-28 09:47] brickspert commented on #206
先这样解决下，后面这块的 ts 类型会修复下。

![image](https://user-images.githubusercontent.com/12526493/71541870-2757f680-299a-11ea-836f-389e3f8d798b.png)

[2019-12-28 09:47] #206 closed, assigned to nobody

[2019-12-28 16:15] tnduc opened #207 "Dyanmic table - Synchronize list and form data"
- I want to use data from the form, but it's not consistent with the `Dynamic table` data. I use `useEffect()` but a lot of bugs [Code demo](https://codesandbox.io/s/hooks-demo-qnkex?fontsize=14&hidenavigation=1&theme=dark).
For example, when deleting a row from a table, the form data remains ...

- Is there any way to help me accomplish this?
- How would you feel if you built `Dynamic table` like

[2019-12-29 03:25] brickspert commented on #198
已经发布了新的文档~ 感谢。

[2019-12-29 03:25] #198 closed, assigned to brickspert

[2019-12-29 03:27] brickspert commented on #194
已经发布 v1.5.2

[2019-12-29 03:35] ttys026 commented on #207
Your demo doesn't seem buggy to me. The printed form value( when you hit the submit button) is correct. the list is just used as an initialValue container and won't updated, unless you called `replace` each time your update your form fields.

My suggestion is, In these scenarios, if you wanna use the antd form to store data,  always use `sortForm` to wrap it. all the undefined value will be remove

[2019-12-29 14:57] #207 closed, assigned to nobody

[2019-12-30 00:42] jin-benben commented on #206
好的，谢谢

[2019-12-31 01:15] jin-benben opened #209 "ant design中修改了类型定义，useAntdTable中onchange的filter类型匹配错误"
![image](https://user-images.githubusercontent.com/27982466/71606633-74f87d00-2bad-11ea-8da5-d280709821b5.png)
ant design中修改了类型定义，useAntdTable中onchange的filter类型匹配错误，是否可以直接将useAntdTable中tableProps关联到ant desigin tableProps类型中呢？

[2020-01-06 12:09] #174 closed, assigned to nobody

[2020-01-07 11:38] kaoding opened #214 "不要dva，也可以做状态管理的。"
dva概念大多，模板代码比较烦。

[2020-01-07 12:03] brickspert commented on #214
嗯哼？亲是啥意思？可以试试 https://github.com/umijs/hox

[2020-01-08 03:20] bibiehy opened #215 "问一下，经常会遇到一个接口的参数会依赖于另一个请求的返回值，这种情况是怎么处理的"
不知道为啥，写的代码有些会缺失，直接看图吧
![image](https://user-images.githubusercontent.com/35096473/71947925-562b6380-3209-11ea-87fc-67507bdb05a7.png)

[2020-01-08 03:42] #214 closed, assigned to nobody

[2020-01-08 03:50] brickspert commented on #215
[code]

[2020-01-08 08:55] bibiehy commented on #215
@brickspert 走走看看又回到了原点，嵌套，唉。

[2020-01-08 14:59] brickspert commented on #215
哪里嵌套了。。。不是很懂。。

[2020-01-08 14:59] #215 closed, assigned to brickspert

[2020-01-10 08:56] 15893361787 opened #218 "hook功能"

[2020-01-10 16:17] brickspert commented on #218
useEffect useReducer 是 react 自带的呢。直接从 react 里面导出即可。

增删改查 的 demo 我们后面会出一个哈。

[2020-01-11 10:37] #209 closed, assigned to brickspert

[2020-01-12 09:10] #218 closed, assigned to brickspert

[2020-01-12 12:37] xxi-arch opened #223 "useAntdTable 返回的数据,可不可以先缓存一次?"
第一次打开表格的时候  loading 一会从服务器加载  然后退出这个页面, 第二次打开表格的时候 显示上一次的数据   同时也会触发ajax的更新数据    这时候如果有新数据就重新渲染页面 没有就不渲染

[2020-01-12 12:39] brickspert commented on #223
这个能力正在支持哦。可以尝鲜看看：https://github.com/umijs/use-api

目前正在集成到 umi hooks 进程中。

[2020-01-13 14:29] brickspert commented on #191
现在这个问题已经解决了~

[2020-01-16 09:51] Linyccc opened #226 "useAntdTable中tableProps中的内置的current 可以外部进行修改吗?"
场景：选择表格最后一页的所有信息进行删除，调refresh发现current还是请求原来的，现实场景应该是current-1 。
我尝试将tableProps里的pagination进行手动赋值，但是发现并不能改变current的值

[2020-01-16 10:00] #226 closed, assigned to nobody

[2020-01-17 03:52] GYxiaOZ opened #228 "希望 useAntdTable 可以设置 搜索表单的默认值和边输入边搜索"
### 问题描述

在很多场景下会遇到给列表管理页设置默认搜索条件的情况，还有我们公司这种管理页的模式都是边输入边搜索，不需要点一下搜索按钮

### 期望行为

增加表单默认值配置和提供优雅的边输入边搜索方案

### 补充信息

我现在是用表单的onChange去触发实现的边输边搜，但是这样写得在每一个表单项都写onChange，感觉很不优雅
![image](https://user-images.githubusercontent.com/15631279/72582981-8799e280-391f-11ea-9b36-5825812ae781.png)

[2020-01-17 06:56] dongliang1993 opened #229 "useAntdTable 如何和状态管理 lib 更好的结合在一起？"
useAntdTable 这个 hook 是完全接管了 table 的数据，如果项目中使用了状态管理工具(ps: 比如 mobx)，我需要在 asyncFn 这个参数里面同时把 dataSource 放到自己的 store 上。这种情况有没有比较好的处理方法？

[2020-01-17 08:15] Wuuuu opened #230 "引入umi-hooks,使用时就报regeneratorRuntime is not defined"
在引入umi-hook的hooks时，会报这样的错误，请问如何解决。
Unhandled Rejection (ReferenceError): regeneratorRuntime is not defined
 "antd": "^3.9.0",
 "react": "^16.12.0",
 "react-dom": "^16.12.0",

[2020-01-17 08:38] brickspert commented on #230
你用的 node 8 吧？
升级下 node 试试。

或者项目中依赖下 regenerator-runtime

见：https://github.com/umijs/hooks/issues/46

[2020-01-17 08:38] #230 closed, assigned to nobody

[2020-01-17 08:52] brickspert commented on #229
如果使用传统的 redux、mobx等，目前确实没有好的解决办法。但是新版的 useAntdTable 会有一个 OnSuccess 的函数，可以在这里去传值给 mobx 等。
新版的预计半个月发布。

另外，hooks 推荐使用新的数据流工具，比如 unstated-next，hox 等。这样可以直接把 useAntdTable 放到 store 里面去。美滋滋

[2020-01-17 09:55] Wuuuu commented on #230
node 版本为v10.16.2

[2020-01-17 10:55] liujiayii commented on #191
antd form的4.0 搜索是不是不能用呢，我这试了下好像不行

[2020-01-17 12:13] brickspert commented on #191
是不行。因为 4 和 3 的 Form 语法不一致。我们下个版本会支持 4 的 Form

[2020-01-17 13:16] Lind-pro opened #231 "能否增加EventSource接口支持"

[2020-01-18 01:15] brickspert commented on #231
是否可以详细描述下问题呢？

[2020-01-18 08:59] MinJieLiu commented on #191
只是 ts 类型合不上而已，功能可以使用

[2020-01-19 10:02] YanYuanFE opened #232 "希望可以增加自动把Antd table的筛选项同步到url上的hook"
antd的table有不依赖后端的分页和筛选，希望可以把筛选项自动同步到URL，便于点击表格行到下一页，然后后退到表格页，能将URL上的参数再同步到table。

[2020-01-19 10:03] hfuuss opened #233 "feature: 增加 useHover 和 useHoverDirty"
# `useHover` and `useHoverDirty`

React 用户界面传感器钩子，用于追踪某个元素是否有鼠标悬停。

- `useHover` 接收一个 React 元素或者返回一个元素的函数，`useHoverDirty` 接收 React ref。
- `useHover` 设置 react `onMouseEnter` 和 `onMouseLeave` 事件,
`useHoverDirty` 设置 DOM `onmouseover` 和 `onmouseout` 事件.

## 用法

[code]

## 参考

[code]

https://github.com/zenghongtu/react-use-chinese/edit/master/docs/useHover.md

[2020-01-19 10:03] brickspert commented on #232
good idea~ 我们支持下

[2020-01-19 10:04] YanYuanFE commented on #232
棒！

[2020-01-19 11:51] GeraltX opened #234 "useAntdTable的第2个demo“排序与筛选”有bug"
地址：
https://hooks.umijs.org/zh-cn/useAntdTable#%E6%8E%92%E5%BA%8F%E4%B8%8E%E7%AD%9B%E9%80%89

重现步骤：
1. 先点击phone排序，点3次，使它回到没排序的状态
2. 再点击第2页，此时在f12-network中可以看到还是请求第1页的数据

看了下是因为sorter一开始是{}，空对象，点击排序之后变成了有field字段的对象。
再点换页时，又变回了空对象，这时内部判断field变了，所以自动回到了第一页。

[2020-01-19 13:03] hfuuss commented on #234
这个 貌似是 Table的 bug。 第三次置空的时候， sorter对象变成了{field: "phone", columnKey: "phone"} 。切换分页的时候，sorter对象变成了{ }，所以俩次 field不一样，导致重复了。

[2020-01-20 05:27] menzil commented on #230
我也出现了同样问题，项目中依赖下 regenerator-runtime安装，再次在使用的地方引入一下才能解决。import "regenerator-runtime/runtime";

[2020-01-21 07:18] dongliang1993 commented on #229
或者有没有可能允许在 option 参数里面加一些可选参数(比如 dataSource )，以受控的形式来控制这个 hook，因为其实大部分场景是想使用 useAntdTable 中一些属性和方法，如 onChange
主要是状态管理这一块团队内部还没有统一，有的人觉得  unstated-next 封装的过于简单，难免要自己在这个基础上再进行定制，有的人觉得 mobx-react-lite 配合 hooks 也比较直观，个人有个人的偏爱 🤣

[2020-01-22 08:33] #233 closed, assigned to brickspert

[2020-02-05 02:11] Lind-pro commented on #231
我们当前系统会有很多eventSource。请求此类接口代码大致如下
![image](https://user-images.githubusercontent.com/18098618/73804756-cecd1200-47ff-11ea-886b-5ce9ab93df1a.png)
希望能够增加对这种接口的支持

[2020-02-09 15:17] brickspert commented on #234
v1.6.0 发布了最新的 [useRequest](https://hooks.umijs.org/zh-CN/async?anchor=%E5%88%86%E9%A1%B5) ，应该解决了这个问题。

[2020-02-09 15:17] #234 closed, assigned to nobody

[2020-02-09 15:18] brickspert commented on #229
最新的  v1.6.0 的 [useRequst pagination ](https://hooks.umijs.org/zh-CN/async?anchor=%E5%88%86%E9%A1%B5) 支持了手动触发 pagination.

[2020-02-09 15:18] #229 closed, assigned to nobody

[2020-02-09 15:21] brickspert commented on #228
看看最新的 useFormTable 的第一个例子：https://hooks.umijs.org/zh-CN/antd/use-form-table#form-%E4%B8%8E-table-%E8%81%94%E5%8A%A8

[2020-02-09 15:21] #228 closed, assigned to brickspert

[2020-02-09 15:21] #176 closed, assigned to brickspert

[2020-02-09 15:21] #135 closed, assigned to ttys026

[2020-02-09 15:21] #185 closed, assigned to nobody

[2020-02-09 15:22] brickspert commented on #191
最新版 1.6.0 的 [usRequest](https://hooks.umijs.org/zh-CN/async?anchor=%E5%88%86%E9%A1%B5) 和 [useFormTable](https://hooks.umijs.org/zh-CN/antd/use-form-table) 已经修复了。

支持 antd3 和 antd4

[2020-02-09 15:22] #191 closed, assigned to brickspert

[2020-02-09 15:23] brickspert commented on #223
v1.6.0 可以使用这个功能了。

[2020-02-09 15:23] #223 closed, assigned to brickspert

[2020-02-09 15:23] brickspert commented on #196
最新的文档已经修复了这些问题。

[2020-02-09 15:23] #196 closed, assigned to brickspert

[2020-02-10 01:25] xiexingen opened #240 "useRequest的问题"
import { useRequest } from '@umijs/hooks';
这个useRequest在@umijs/hooks中是不存在的，实际是在@umijs/use-request，这个有必要单独拆成一个库吗

[2020-02-10 01:26] xiexingen commented on #232
+1

[2020-02-10 01:27] xiexingen commented on #232
有没遇到过那种多tab，然后搜索条件是相同的，切换tab的时候新tab页的表格搜索条件还是之前tab的搜索条件

[2020-02-10 01:27] brickspert commented on #240
存在的吧。你没升级吧？ v1.6.0

[2020-02-10 01:27] #240 closed, assigned to nobody

[2020-02-10 01:28] brickspert commented on #232
试试 useRequest 的同步请求。

[2020-02-10 01:35] xiexingen commented on #240
哦 版本问题 是可以的

[2020-02-10 01:44] xiexingen commented on #232
![image](https://user-images.githubusercontent.com/7939085/74115356-da4a7f80-4be9-11ea-936b-8edca0273c69.png)
您说的同步请求是指通过refreshDeps来控制吗

[2020-02-10 02:35] brickspert commented on #232
这个试试：https://hooks.umijs.org/zh-CN/async?anchor=%E5%B9%B6%E8%A1%8C%E8%AF%B7%E6%B1%82

[2020-02-12 03:55] poyiding opened #241 "官网一直loading"
官网访问太慢了，一直白屏
![image](https://user-images.githubusercontent.com/15643321/74301602-8927c080-4d8e-11ea-852f-9b2bc195dfb3.png)

[2020-02-12 04:09] brickspert commented on #241
再试试？刚才有会在发布。打开一次，后面就快了。

[2020-02-12 06:24] kcmeven opened #242 "useSelections"
对于联动的多选使用这个可以解决吗？
有3级

[2020-02-12 12:57] #241 closed, assigned to nobody

[2020-02-12 12:58] brickspert commented on #242
目前不支持多级~~

[2020-02-12 12:58] #242 closed, assigned to nobody

[2020-02-17 09:30] whatthehan opened #245 "useDynamicList动态表单使用antd4.0 默认值无法生效"
代码复现地址：https://codesandbox.io/s/winter-morning-qon5s?fontsize=14&hidenavigation=1&theme=dark
问题说明：使用useDynamicList创建动态表单，不管是在Form，还是initialValue里声明了初始值都没有任何效果，不知道是我的写法问题还是与antd 4.0不兼容，辛苦大佬帮忙看一下啦[](url)

[2020-02-17 10:27] ttys026 commented on #245
antd 4 修改了动态表单的方法，官网上也增加了一个[例子](https://next.ant.design/components/form-cn/#components-form-demo-dynamic-form-item)

如果希望使用 useDynamicList，可以采用这种写法：
https://codesandbox.io/s/bitter-forest-iy6j6

[2020-02-17 13:58] xiexingen opened #246 "[RFC] 感觉useFormTable里面使用cacheKey没什么实际用途"
感觉表格这种，一般缓存也是缓存搜索条件、页码、排序的列这些，当浏览器刷新或者从内部页面返回的时候可以恢复到之前的搜索页面；
看目前cacheKey是直接传给了useRequest，对api的数据进行了缓存；感觉这对table并没太大意义

[2020-02-18 02:56] guxinyan opened #247 "useVirtualList"
list有改动的时候，虚拟列表没有更新。符合预期吗

[2020-02-18 03:00] brickspert commented on #246
这块我们支持下搜索条件缓存。

[2020-02-18 03:03] #245 closed, assigned to nobody

[2020-02-18 03:03] brickspert commented on #247
可以提供一个可复现的 demo 吗？

[2020-02-18 03:16] guxinyan commented on #247
打扰了。看了下，问题和 #193  一样。

[2020-02-18 03:16] #247 closed, assigned to nobody

[2020-02-18 07:43] brickspert commented on #246
https://hooks.umijs.org/antd/use-form-table#data-caching

已经支持了 form 条件的缓存了呀。你看看这个例子。

[2020-02-18 07:43] #246 closed, assigned to brickspert

[2020-02-18 09:02] xiexingen commented on #246
看到了，谢谢

[2020-02-18 10:28] xiexingen commented on #246
想换成到sessionStorage 是不是替换那个变量那块就可以了

[2020-02-19 02:21] xiexingen opened #248 "github actions -发现zeit-now这个actions404啦 部署文档站点的服务挂掉啦"
Current runner version: '2.164.0'
Prepare workflow directory
Prepare all required actions
Download action repository 'actions/checkout@master'
Download action repository 'actions/zeit-now@master'
##[warning]Failed to download action 'https://api.github.com/repos/actions/zeit-now/tarball/master'. Error Response status code does not indicate success: 404 (Not Found).
##[warning]Back off 20.756 secon

[2020-02-19 02:23] brickspert commented on #248
你是执行了什么？

[2020-02-19 03:14] xiexingen commented on #248
不是，是你这个github actions里面的deploy site这个挂了，你可以看日志

[2020-02-20 08:30] fjc0k opened #251 "[Feature Request] 将 useRequest 的 refresh 重构为异步操作"
有时想在 refresh 完毕后执行某些操作，现在不能实现。

[2020-02-20 11:38] #251 closed, assigned to brickspert

[2020-02-20 11:41] brickspert commented on #251
已经发布了 1.6.2

[2020-02-22 05:48] dpyzo0o opened #254 "useFormTable 指定 cacheKey 缓存问题"
情况是这样的，我有两个 table (table1, table2) 分别在两个页面中，然后都指定了 `cacheKey: tableProps`，但是当从一个页面跳转到另一个页面的时候，table1 会先读取 table2的缓存，然后再请求 table1的数据，由于两个table数据源不一样，导致报错。我想问一下，这个缓存不应该每个 useFormTable 是独立的吗？

[2020-02-22 05:59] dpyzo0o commented on #254
是我蠢了。。原来这个cacheKey只要是字符串就行，我以为只有指定成tableProps才会缓存table数据。把两个cacheKey改成不一样的就行了

[2020-02-22 05:59] #254 closed, assigned to nobody

[2020-02-23 10:00] xiexingen opened #255 "本地运行start 路由问题"
![image](https://user-images.githubusercontent.com/7939085/75110204-43a8a480-5666-11ea-9d2d-0184abdd5865.png)
 拉的最新的master分支代码，跑起来后 路由怎么是这样的

[2020-02-23 10:26] brickspert commented on #255
直接 tnpm run init & tnpm start 吗？

[2020-02-23 10:30] brickspert commented on #255
![image](https://user-images.githubusercontent.com/12526493/75110563-7e144080-566a-11ea-9a06-b15d14cf48ee.png)

你是 windows 吗？

[2020-02-23 10:34] xiexingen commented on #255
是的 我是windows环境

[2020-02-23 10:35] xiexingen commented on #255
这应该算father-doc的bug吧

[2020-02-23 10:36] brickspert commented on #255
maybe，我找同学研究下。

[2020-02-23 10:39] xiexingen commented on #255
最喜欢这种根这种不解决问题不罢休的人打交道

[2020-02-23 10:40] brickspert commented on #255
那投个简历吧。哈哈哈

[2020-02-23 10:42] xiexingen commented on #255
不在杭州，在长沙哦 不然还是很愿意尝试下的

[2020-02-23 10:44] brickspert commented on #255
杭州，成都，上海 都可以选择。你可以把简历发给我 brickspert.fjl@antfin.com

或者你也可以在首页加我们的答疑群找我~~

我可以帮你评估简历以及跟踪进度。

[2020-02-24 09:06] brickspert opened #256 "useFormTable 的请求挂了，同时希望请求带上 form 的数据"

[2020-02-24 10:35] xiexingen commented on #255
@brickspert
![image](https://user-images.githubusercontent.com/7939085/75145669-5b4e5e80-5734-11ea-924a-3f51ca5412b9.png)
发现执行这个会通不过

[2020-02-25 06:07] brickspert commented on #255
删掉 package-lock.json ，然后重新 tnpm update 试试。

[2020-02-25 06:22] PeiTianHuang opened #258 "引入umi-hooks,使用时就报regeneratorRuntime is not defined"
node: v11.6.0
react: ^16.12.0

[2020-02-25 06:23] brickspert commented on #258
https://github.com/umijs/hooks/issues/230

[2020-02-25 07:35] #258 closed, assigned to nobody

[2020-02-25 07:53] xiexingen commented on #255
![image](https://user-images.githubusercontent.com/7939085/75226161-e25c0f00-57e6-11ea-8e6a-d296afbde80d.png)
改成这样编译是可以过了

另外:开始提的生成的路由有问题 把father-doc升级到 ^1.0.0-beta.5也没问题了

[2020-02-26 01:39] xiexingen commented on #232
这个条件同步到url上的还打算支持吗

[2020-02-26 13:08] duwei54 opened #260 "useRequest能全局配置统一前缀,统一异常处理么"
看了`useRequest`,确实很强大.不过有个疑问,能否全局配置统一前缀,统一异常处理呢?之前用的`umi-request`可以通过配置`prefix`和`errorHandler`.看了`useRequest`文档还是不知道怎么写.求指教

[2020-02-26 13:32] brickspert commented on #260
useRequest 支持全局配置的哟：https://hooks.umijs.org/zh-CN/async?anchor=useapiprovider#%E5%85%A8%E5%B1%80%E9%85%8D%E7%BD%AE

[2020-02-27 01:34] #260 closed, assigned to nobody

[2020-02-27 01:35] #255 closed, assigned to nobody

[2020-02-27 02:07] duwei54 commented on #260
@brickspert 感谢回复,这个我看了,但是并没有找到一个全局配置的入口.莫非是要所有的layout组件全部包装一遍?

[2020-02-27 02:18] brickspert commented on #260
包裹在项目的最最最外层就可以了。

[2020-02-27 02:42] YanYuanFE commented on #232
写了一个简略版的，勉强能用

[code]

使用

[code]

[2020-02-27 04:19] PeiTianHuang opened #261 "请问useFormTable如何设置分页组件的起始页码？"

[2020-02-27 06:08] duwei54 commented on #260
@brickspert 不好意思啊,我用的antd pro.最外层好像是封装了的呢

[2020-02-27 06:47] brickspert commented on #261
暂时不支持默认设置。你可以这样用。

[code]

[2020-02-27 07:14] PeiTianHuang commented on #261
非常感谢，另外还想请教个问题，使用useFormTable时如何配置分页组件的属性哦？我目前是这样写的，有点别扭：
const { tableProps, search, run } = useFormTable(getTableData, {manual: true, form: props.form});
tableProps.pagination.showQuickJumper = true;
tableProps.pagination.showSizeChanger = true;

[2020-02-27 07:27] brickspert commented on #261
我自己用的时候，是自己项目里面封装一次。把这些配置都封装到一个 Hooks 里面。

[2020-02-27 12:45] #261 closed, assigned to nobody

[2020-02-28 01:58] xiexingen commented on #232
点个赞
再提个目前遇到的几个场景
1.列表页面可能带了其他操作，比如编辑 ，编辑的打开方式是通过query的形式 有这个query的时候就弹窗一个编辑窗口(这种情况下可能map到url上的查询条件就受影响了)
2.列表页的编辑是跳转到了一个新的路由页面
2.1 用户可能通过浏览器的回退 这样能正常回到之前的查询状态(因为url上本身就有那些参数)
2.2 用户可能点的是编辑页面中用户放置的"返回"按钮
  对于2.2这种情况 是不是额外考虑下 由用户定义存储到本地(比如sessionStorage) 然后用户返回的时候根据自己useFormTable时候提供的cacheKey去sessionStorage里面找到之前的值 再通过路由切换过去

这是我的想法，想听听大佬们的建议

[2020-02-28 02:14] G-WangZH commented on #46
没有引入regenerator-runtime报错，是什么原因

[2020-02-28 02:15] brickspert commented on #46
参考：https://github.com/umijs/hooks/issues/230

[2020-02-28 03:19] wataru-c opened #263 "国内官网连上好慢……"

[2020-02-28 03:38] brickspert commented on #263
没有挂，就是比较慢。。你这边是什么表现呢？

[2020-02-28 04:13] wataru-c commented on #263
没错，我刚刚又试了一下，确实是比较慢而已。关闭视频网站，然后等了一分钟就行……

![image](https://user-images.githubusercontent.com/13063376/75509623-4f5be880-5a23-11ea-802a-8ea474ff1d7f.png)

或者把代理pac关掉就好了。

嗯……将来能改善一下么？

[2020-02-28 04:17] brickspert commented on #263
必须要改善下。

现在加了 PWA，第二次打开就是秒开了。

后面我们会做按需加载，将首页 js 尺寸降下来。

[2020-02-28 07:40] xiexingen commented on #232
useHistory()
哪来的

[2020-02-28 07:43] YanYuanFE commented on #232
加上了

[2020-03-02 04:19] poyiding commented on #263
之前也反映过这个[问题](https://github.com/umijs/hooks/issues/241)，建议可以重构一下文档

[2020-03-02 04:22] brickspert commented on #263
嗯，我们现在基于最新的 dumi 生成新的文档了。【进行中】

[2020-03-02 05:44] poyiding opened #271 "关于实践中的几个FAQ"
**1. 页面同时发多个请求，如何获取data?**
目前实现：
第一种
[code]
第二种
[code]
原因是useRequest返回结果的参数是对象，不能同时取两个结果中的data，请问还有更好的实现吗。

**2. 如果页面中要实现比如增、删、改等异步请求，如何调用不同请求的 run() ?**
我看了一下react-query的 useMutation的api
是不是可以设计成：
[code]
其他常见场景欢迎补充

[2020-03-02 06:00] brickspert commented on #271
目前建议建议采用第一个方案。

这个不是很理解。是这个意思吗？

[code]

[2020-03-02 06:25] poyiding commented on #271
嗯，是的，现在好像要这样。

[2020-03-02 06:31] #271 closed, assigned to nobody

[2020-03-02 14:40] zhang-hongwei opened #274 "useFormTable 传递refreshDeps，依赖改变，表格没有刷新"
[code]

这样传递refreshDeps，表格始终没有刷新

[2020-03-02 15:58] brickspert opened #275 "useSearch 的测试类不稳定，间歇性报错"
![image](https://user-images.githubusercontent.com/12526493/75693267-aa226800-5ce1-11ea-9d9b-6c8cd8fb6da2.png)

[2020-03-02 16:02] brickspert commented on #274
可以写个 codesandbox 吗？能确定 `refresh` 变化了吗？

点击例子的左下角可以跳转到 codesandbox。

![image](https://user-images.githubusercontent.com/12526493/75693639-32a10880-5ce2-11ea-8d2a-0d0201d3aec0.png)

[2020-03-03 04:37] zhang-hongwei commented on #274
https://codesandbox.io/s/musing-northcutt-lete1?fontsize=14&hidenavigation=1&theme=dark

麻烦您看下，可能是参数写错了

[2020-03-03 07:58] brickspert commented on #274
确实是一个 bug，`refreshDeps` 无法工作了。

在你场景中，如果 `refreshDeps` 变化，希望重置表单数据吗？

[2020-03-03 08:09] zhang-hongwei commented on #274
嗯嗯，比如表格里面的操作栏，我新增了一行数据，或者编辑某一行数据，成功之后就需要手动刷新下表格，现在是在useEffect 里面调run实现，看文档里面有refreshDeps这个属性，就试试了，也不影响使用，我还以为自己传的有问题呢，在源码里面打了很多log，好像最后一步的时候没有refreshDeps这个属性了

[2020-03-04 04:11] PeiTianHuang opened #277 "useFormTable的antd v4示例404了"
antd v3升级到v4后表格显示“暂无数据”，想看下v4的示例，发现无法打开

[2020-03-04 04:25] brickspert commented on #277
可以拉。

[2020-03-04 04:25] #277 closed, assigned to nobody

[2020-03-04 14:20] #256 closed, assigned to brickspert

[2020-03-04 16:14] sskcal opened #278 "Cannot update during an existing state transition (such as within `render`). Render methods should be a pure function of props and state."
在使用useDynamicList会出现此问题。。

Warning: Cannot update during an existing state transition (such as within `render`). Render methods should be a pure function of props and state.
    in Cell
    in Cell (created by BodyRow)
    in tr (created by BodyRow)
    in BodyRow (created by Body)
    in tbody (created by Body)
    in Body (created by Table)
    in table (created by Table)
    in div (created by

[2020-03-05 01:27] brickspert commented on #278
具体是怎么复现的呢？能稍微详细点吗？官网 demo 并没有这个警告。

[2020-03-05 02:23] sskcal commented on #278
录了一下屏，您方便的话能帮忙看看？录屏在附件。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"砖家"<notifications@github.com&gt;;
发送时间:&nbsp;2020年3月5日(星期四) 上午9:27
收件人:&nbsp;"umijs/hooks"<hooks@noreply.github.com&gt;;
抄送:&nbsp;"看看吧"<5546461@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [umijs/hooks] Cannot update during an existing state transition (such as within `render`). Render metho

[2020-03-05 03:25] brickspert opened #279 "官网 demo 的 antd 版本固定在 3.x.x"

[2020-03-05 07:06] dpyzo0o opened #280 "useFormTable 缓存可以指定只缓存 table 不缓存 form 吗？"
RT，有需求需要切换页面的时候，form 内的数据重置，可以通过配置做到吗？

[2020-03-05 07:10] brickspert commented on #280
目前不支持的。

Table 展示的数据就是 form 筛选过的，为啥不需要缓存 form 呢？

[2020-03-05 07:10] #278 closed, assigned to nobody

[2020-03-05 07:14] dpyzo0o commented on #280
emm, 产品要求切换界面的时候不保留之前的查询条件。那这样看来只能都不缓存了，唯一的问题就是切换页面的时候会先闪一下没有数据的loading

[2020-03-05 07:15] brickspert commented on #280
嗯，按产品的需求应该就是不缓存的数据。

[2020-03-05 07:17] dpyzo0o commented on #280
我想的是如果能做到分开缓存，那么就算重置查询条件，也不用闪一下没有数据的loading，这样视觉上体验会好一点。

[2020-03-05 07:23] dpyzo0o commented on #280
比如用 redux 的话，就可以做到切换页面的时候重置 form 数据，然后 table 数据先展示上次查询的数据，然后 loading 展示后面的数据

[2020-03-05 07:25] brickspert commented on #280
对。是的。如果你用 hooks 类的数据流工具代替 redux，可以直接把 useFormTable 放到 model 里面~

[2020-03-05 07:35] dpyzo0o commented on #280
useFormTable 放到 model 里是什么意思，没太懂，可以描述一下嘛 @brickspert

[2020-03-07 10:49] brickspert commented on #280
https://github.com/umijs/hox
https://github.com/jamiebuilds/unstated-next

[2020-03-07 10:49] #280 closed, assigned to nobody

[2020-03-08 05:47] luna825 opened #282 "useSelections加入初始选中"
需求
[code]
加第二参数，初始的selected

[2020-03-09 19:24] Henryhehe opened #284 "Please delete the depreciated useAntdTable folder under the lib folder"
Using this with typescript and next.js, however, when I build the typescript, it always gives me the error for
[code]
And it is coming from
[code]

I have to manually delete the folder in order for it to build successfully.

Thank you!

[2020-03-10 01:29] brickspert commented on #284
The fastest way is add `regenerator-runtime` ：https://hooks.umijs.org/docs/faq#when-i-use-umi-hooks-i-get-an-error-regeneratorruntime-is-not-defined-how-can-i-solve-it

And we will fix this as soon as possible.

Thank you for your feedback.

[2020-03-10 08:23] #284 closed, assigned to brickspert

[2020-03-10 16:10] #180 closed, assigned to nobody

[2020-03-11 06:54] #282 closed, assigned to brickspert

[2020-03-11 12:51] brickspert opened #289 "useRequest 集成请求库模式，如果 service 为 object，requestMethod 接收的参数有问题"

[2020-03-12 16:22] #289 closed, assigned to brickspert

[2020-03-13 06:35] MasonChow opened #293 "useVirtualList ts报错"
### useVirtualList的返回`containerProps.style.overflowY`与`CSSProperties`定义的不一致

useVirtualList
[code]

OverflowYProperty
[code]

[2020-03-13 09:35] #293 closed, assigned to nobody

[2020-03-14 13:22] headwindz opened #295 "[RFC] useTarget"
场景: 一些表单控件(e.g. input, radio)的onChange的回调参数不是控件值，而是事件。而且缺乏统一的reset操作

[code]

======================== Proposal ========================

[code]

[code]

[2020-03-15 11:20] brickspert commented on #295
好注意！但是名字是不是叫 `useEventTarget` 好点。 cc @tli4 @awmleer

[2020-03-15 12:07] headwindz commented on #295
嗯嗯。那我提个pr?

[2020-03-15 12:12] brickspert commented on #295
嗯。感谢~

[2020-03-16 02:20] headwindz opened #299 "npm start报错"
# 复现步骤:

[code]

# 报错信息

[code]

node版本: v12.16.1

[2020-03-16 02:22] brickspert commented on #299
先基于 v1.8.0 分支开发

[2020-03-16 04:00] headwindz commented on #299
v1.8.0 好像有另外一个问题。

[code]

[2020-03-16 07:28] headwindz commented on #299
已找到问题。 index.en-US.md 里的 @ 字符导致

[2020-03-16 07:28] #299 closed, assigned to nobody

[2020-03-16 12:53] hfuuss opened #302 "[RFC] useDocumentVisibility"
https://developer.mozilla.org/zh-CN/docs/Web/API/Document/visibilityState
visibilityState 可以判断 页面是否处于 可见状态。

API:
 const { documentVisibility } = useDocumentVisibility();

[code]

[2020-03-16 13:56] brickspert commented on #302
求 PR~

[2020-03-17 09:50] kcmeven opened #305 "是否有Select控件的下拉分页demo"
是否有Select控件的下拉分页demo，
还是现在的分页可以搞定？怎么解决分页后之前的数据还要在？

[2020-03-17 12:48] brickspert commented on #305
你可以使用 useRequest 的 [加载更多](https://hooks.umijs.org/zh-CN/async?anchor=%E5%8A%A0%E8%BD%BD%E6%9B%B4%E5%A4%9A#%E5%8A%A0%E8%BD%BD%E6%9B%B4%E5%A4%9A) 模式。

[2020-03-18 01:46] #305 closed, assigned to nobody

[2020-03-18 04:47] kcmeven commented on #305
debounceInterval: 500,
    manual: true,
    loadMore: true,
    isNoMore: d => (d ? d.list.length >= d.total : false)

使用防抖加加载更多，
select  onSearch={run}  会报类型错误，

[2020-03-19 05:56] chenjsh36 opened #309 "[RFC] useTextSelection"
## 背景

通过实时监听用户当前选取的文本，提供更多交互性操作，如划词翻译、快速搜索等。

## 技术

通过  ```window.getSelection()``` 获取用户当前选择的文本范围或者插入符号的当前位置；

[code]

关于 Selection 更多属性和方法详见 [Selection MDN 传送门](https://developer.mozilla.org/zh-CN/docs/Web/API/Selection)

## 实现 & API

[体验 DEMO](https://codesandbox.io/s/selection-bhf6o)

[code]

[2020-03-19 06:33] brickspert commented on #309
+1

[2020-03-19 13:31] #159 closed, assigned to awmleer

[2020-03-20 01:52] wushizhan opened #310 "useRequest 怎么设置拦截器"
如题

[2020-03-20 01:52] #295 closed, assigned to nobody

[2020-03-20 01:52] #302 closed, assigned to nobody

[2020-03-20 01:53] brickspert commented on #310
https://hooks.umijs.org/zh-CN/hooks/async#2-%E6%88%91%E5%A6%82%E4%BD%95%E4%BD%BF%E7%94%A8-umi-request-%E7%9A%84-use-errorhandler-%E7%AD%89%EF%BC%9F

[2020-03-20 01:55] #274 closed, assigned to brickspert

[2020-03-20 02:11] wushizhan commented on #310
@brickspert 哥们 那现在 就不用跟之前dva 单独写 service， 直接在组件里面写请求连接吗 或者能给个完整示例吗 感谢 是砖家大神啊 前几天还读了你的文章

[2020-03-20 02:16] brickspert commented on #310
写 service，或者直接写请求连接都可以的。

[2020-03-20 02:23] wushizhan commented on #310
@brickspert 再麻烦一下 如果通过
<UseAPIProvider value={{
  requestMethod: request,
}}> 全局设置了Request 那怎么写service 呢 之前写service 里面func已经使用了自定义的request

[2020-03-20 02:29] wushizhan commented on #310
就是在service 里面不再直接使用request 而是封装成
(username) => ({
  url: '/api/changeUsername',
  method: 'post',
  data: { username }
这样的func是吗

[2020-03-20 10:12] brickspert commented on #310
如果 service 自己是一个字符串或者 object，会走 requestMethod.
如果 service 自己是一个 Promise，不会走 requestMethod.

建议学习一下文档哟。

[2020-03-20 10:12] #310 closed, assigned to nobody

[2020-03-21 05:52] headwindz opened #311 "[RFC] useTimeTravel"
# 背景

保留用户状态变化历史来达到时空穿梭，快速实现 撤销(undo)/重做(redo) 等操作。

# 实现 & API

[体验demo](https://codesandbox.io/s/peaceful-lichterman-vvb3f)

[code]

[code]

[2020-03-21 10:24] brickspert commented on #311
建议 API 调整下，返回结果放在一个 object 中，和大部门同类 Hooks 保持一致。

[2020-03-21 10:24] brickspert commented on #311
其它没啥问题。感觉好棒！点赞~

[2020-03-23 07:21] EdisonFan opened #314 "useRequest方法，当参数manual等于true时，解构出来的data值为空吗？"
const submitPaper = useRequest(submit, { manual: true }

const submitClick = async () => {
    let res = await submitPaper.run();
    consolt.log(submitPaper.data)   // undifind
}
submitClick();

当参数manual等于 true时，data的值不会存返回值吗？

[2020-03-23 08:59] gankbat opened #315 "全局配置 onError 没法触发"
想在全局配置好错误机制, OnError 写在UseRequest 可以触发到,写在全局配置里不行？

[2020-03-23 10:42] brickspert commented on #314
你这个数据流用的不太对。

你直接 console.log(res.data) 吧

[2020-03-23 10:42] #314 closed, assigned to nobody

[2020-03-23 10:46] brickspert commented on #315
https://codesandbox.io/s/polling-34q84

可以 work 的。是不是你的 `onError ` 大小写写错了。

[2020-03-23 10:46] #315 closed, assigned to nobody

[2020-03-24 10:37] EdisonFan commented on #314
没错，可以用 res.data
但是我很好奇，为什么当参数manual等于true时，submitPaper.data为空

[2020-03-24 23:01] maidul98 opened #317 "Concurrent Request, pulling from multiple APIS"
I am not sure how to do this, but I want to have Concurrent Requests to for example api1, api2 with each having its own data, loading and error state. How do I do that? What should I pass into the run function? The URL? Very new to this, so I would love some help!

[2020-03-25 13:51] victorWuxz opened #318 "useRequest怎么给请求传递参数"
因为每次点击查询查询按钮的时候参数都会改变，使用run传递不过去

[2020-03-26 02:21] brickspert commented on #318
不是很理解你的意思？run 的参数会传递给 service 的。

[2020-03-26 02:21] brickspert commented on #318
https://hooks.umijs.org/hooks/async#manual-trigger

[2020-03-26 02:21] #318 closed, assigned to nobody

[2020-03-26 02:31] brickspert commented on #317
Maybe you should separate requests?

[code]

[2020-03-26 15:41] #317 closed, assigned to nobody

[2020-03-27 09:03] sorknes opened #319 "Question about your Docz setup"
Hi,

This isn’t an issue, but a question.

How did you go about creating your Docz setup? Especially how did you manage to create your Guide and Hooks pages with the dynamic sidebar?

Do you have a repository I can look at?

Hope you can help me with this.

[2020-03-27 09:10] brickspert commented on #319
Hei, man.

We don't use Docz，but [dumi](https://d.umijs.org/).

dumi is more beautiful and simple than docz.

[2020-03-27 11:00] #319 closed, assigned to nobody

[2020-03-27 11:14] MinJieLiu opened #320 "useRequest 返回值需要一个请求的唯一值"
[code]

这个时候我需要对 data 做 比较消耗性能的操作，用 loading 做优化并不太完美，因此我需要每次请求的唯一值来代替 `deps`。

如果能把`useRequest` 内部的 `count` 导出来就好了。

[2020-03-27 16:13] milobluebell opened #321 "compatible with preact?"
是否能够完美兼容preact?

[2020-03-28 05:26] brickspert commented on #320
你可以试试 formatResult ? 每次请求完成才会触发一次。

[2020-03-28 05:28] brickspert commented on #321
只要 hooks 用法一致，就没问题的。

不过 preact 没深入了解过。

[2020-03-28 05:33] MinJieLiu commented on #320
嗯嗯，有道理

[2020-03-28 05:33] #320 closed, assigned to nobody

[2020-03-28 06:04] milobluebell commented on #321
👌我以为你们测试过，那我晚点自己测下。用法是一致的，一般react转preact，加个preact-compat就行。

[2020-03-29 04:11] brickspert commented on #321
那应该问题不大的，感谢~

[2020-03-29 04:11] #321 closed, assigned to nobody

[2020-03-29 11:27] MoChKa opened #322 "[question] useFormTable用法"
### 基于 [demo3](https://github.com/umijs/hooks/blob/master/packages/hooks/src/useFormTable/demo/demo3.tsx)
关于 `useFormTable` 的用法请教：
1. 如何自定义 `searchForm` 的 `onSearch` 方法，我将接口换成自己的之后，返回的数据类型名字肯定不是 `name`，那么如何自定义这个筛选方法？

[2020-03-30 02:39] dpyzo0o opened #323 "升级 antd 4.1.0 后使用 useFormTable 报错"
之前在 antd 4.0.3 一切正常，升级 4.1.0 后 ts 报错，错误信息如下

<img width="1427" alt="Screen Shot 2020-03-30 at 10 36 22" src="https://user-images.githubusercontent.com/24768249/77886962-57b27800-729c-11ea-8c4f-96b89ffcc17d.png">

看了下 antd 的 changelog，好像 table pagination 做了一些修改，是不是导致和 umi hooks 这边不一致了

umi hooks 版本 1.8.0

[2020-03-30 06:52] MinJieLiu commented on #323
+1
 size 定义改掉了。这边没同步。

[2020-03-30 08:58] milobluebell commented on #321
- 不客气
- 不知为啥screenfull这个东西经常install不进来。
- master有1个测试用例是failed的。
- uninstall react/react-dom，并且install preact和preact-compat后，start跑起来一切正常。
![analyz-with-preact](https://user-images.githubusercontent.com/11535146/77891635-d3fc8980-72a3-11ea-8338-cfccee0de5d1.png)
- 似乎只能说目测用着问题应该不大，但是没法写测试。react-testing-library不知道该怎么替换成测preact的，查了一下，有哥preact-testing-library，但是api差距好大。试了一下根本跑不动。
- 我preact项目先用着你们这个试试把

[2020-03-30 11:06] brickspert commented on #322
不是很理解你的意思？

[2020-03-30 11:12] MoChKa commented on #322
[code]
这里的 `search` 如何根据接口返回的数据自定义？

[2020-03-30 11:15] brickspert commented on #322
search 会自动读取当前 form 的值，传递给后端。

和返回的数据有什么关系哩？不是很理解~~

[2020-03-30 11:31] MoChKa commented on #322
原来会发起一次请求给后端，之前没有注意到这个是如何实现的，多谢解答

[2020-03-30 11:31] #322 closed, assigned to nobody

[2020-03-30 11:49] #323 closed, assigned to nobody

[2020-03-30 11:53] brickspert commented on #323
fixed on v1.8.1

[2020-03-30 18:33] amcdnl opened #325 "useSelection Improvements"
The ability to do CTRL+Click or SHIFT+Click would be great additions.

Here is a similar feature I worked on that describes some of what this could look like: https://github.com/angular/components/issues/11309

[2020-03-31 01:54] #311 closed, assigned to nobody

[2020-03-31 08:25] milobluebell opened #326 "Error: 'CombineService' is not exported by node_modules/@umijs/use-request/lib/types.js"
你好，在自己写的脚手架里使用，有如下报错：

![image](https://user-images.githubusercontent.com/11535146/78003803-cf030d00-736b-11ea-8b69-3656333976e9.png)

[code]
pkg version:  `"@umijs/hooks": "^1.8.1"`
os:       mac catalina
node:  10.16.3
lan:      `preact`（但是目测和preact没关系吧？）

[2020-03-31 08:27] milobluebell commented on #326
看了下对应的文件的确是空的

[2020-03-31 14:32] brickspert commented on #326
![image](https://user-images.githubusercontent.com/12526493/78038350-54ec7b80-739f-11ea-8320-4814c3f7817d.png)

我这边测试一切正常。
是不是你的 ts 版本太低了？或者可以给个在线复现什么的。

[2020-03-31 14:32] #326 closed, assigned to nobody

[2020-03-31 14:34] ttys026 commented on #325
Hi @amcdnl, Thanks for your suggestion.
We don't have a plan to support the keyboard combination yet. Since useSelection is focused on offering users a way to append/remove selections, but has nothing to do with how they add it.
The ability to do SHIFT+Click can be achieved by using useSelection along with [useKeyPress](https://hooks.umijs.org/hooks/dom/use-key-press)

[2020-03-31 14:42] #325 closed, assigned to nobody

[2020-03-31 15:21] #275 closed, assigned to nobody

[2020-04-01 02:02] #309 closed, assigned to nobody

[2020-04-01 02:21] milobluebell commented on #326
ts 3.8.3...

[2020-04-01 02:21] milobluebell commented on #326
我晚点fork下来看一下吧

[2020-04-03 10:31] juenanfeng opened #328 "useFormTable的form实例来源于ref时会报错"
ref所指向的form实例初始时为null，会导致报错
![15643947-40AB-4A5F-AC19-7B7FB7AD3661](https://user-images.githubusercontent.com/36285932/78351447-5d2ffb00-75d9-11ea-95e6-ce5488d2505b.png)

[2020-04-03 10:39] dengfuping opened #329 "useRequest 分页模式 / useAntdTable 支持设置初始化排序和筛选参数"

[2020-04-04 11:07] gao520sun opened #330 "react-native 使用useRequest cacheKey无法缓存"
Binaries:
    Node: 12.14.0
    Yarn: 1.21.1
    npm: 6.13.4
  SDKs:
    iOS SDK:
      Platforms: iOS 13.2, DriverKit 19.0, macOS 10.15, tvOS 13.2, watchOS 6.1
      System Images: android-26 | Google APIs Intel x86 Atom, android-28 | Google Play Intel x86
  npmPackages:
    react: 16.9.0 => 16.9.0
    react-native: 0.61.5 => 0.61.5
![image](https://user-images.githubusercontent.com/8372369/78429

[2020-04-04 22:22] yeungc opened #331 "useScroll/监听组件的效能疑问"
每次滚动页面 useScroll都会瞬间render很多次 请问这情况会影响效能吗? 有没有可能给它加个throttle 参数?
另外是useResponsive/useClickAway 虽然只有达到相应条件时才会render一次 但是如果页面有好几个这种监听事件 请问会不会也影响效能呢? 感谢

[2020-04-05 09:47] brickspert commented on #330
有没有尝试下在 web 上面同样的写法是不是生效了？

[2020-04-05 10:41] brickspert commented on #329
等 v1.9.0 发布后，加个 defaultParams 参数试试。

[code]

[2020-04-05 10:49] brickspert commented on #331
useScroll 多次触发 render 是正常的，一般的组件不会有性能问题。
其实它的原理和就是监听滚动，然后触发 setState。

当然如果你的组件非常复杂，或者你不想对 scroll 的变化那么敏感，你可以自己实现一下呢~~

这个是不会有性能问题的呢。

[2020-04-05 10:49] #331 closed, assigned to nobody

[2020-04-05 13:15] #328 closed, assigned to nobody

[2020-04-05 13:15] #279 closed, assigned to nobody

[2020-04-05 13:16] brickspert commented on #263
加了按需加载，现在快很多啦。

[2020-04-05 13:16] #263 closed, assigned to nobody

[2020-04-07 03:37] brickspert opened #335 "useFormTable form 支持后置赋值"
参考该 demo：https://codesandbox.io/s/umijs-hooks-useformtable-with-ref-9u7sv?file=/src/test.js

[2020-04-07 05:51] victorWuxz commented on #318
谢谢，一开始传入的请求函数有误，改正后就好了，谢谢

[2020-04-07 08:02] PeiTianHuang commented on #329
![image](https://user-images.githubusercontent.com/17986764/78644797-097b2580-78e9-11ea-9c9b-3c4140e75ec0.png)
![image](https://user-images.githubusercontent.com/17986764/78644814-1435ba80-78e9-11ea-9ae7-00209966f95b.png)
![image](https://user-images.githubusercontent.com/17986764/78644839-1f88e600-78e9-11ea-84be-7e8ce51c2f6d.png)
这个defaultParams的使用存在其他前提条件吗？

[2020-04-08 07:38] PeiTianHuang opened #336 "1.9.0版本中useAntdTable的defaultParams参数似乎无效"
![image](https://user-images.githubusercontent.com/17986764/78644797-097b2580-78e9-11ea-9c9b-3c4140e75ec0.png)
![image](https://user-images.githubusercontent.com/17986764/78644814-1435ba80-78e9-11ea-9ae7-00209966f95b.png)
![image](https://user-images.githubusercontent.com/17986764/78644839-1f88e600-78e9-11ea-84be-7e8ce51c2f6d.png)

[2020-04-08 08:42] brickspert opened #337 "useRequest 支持条件请求"

[2020-04-08 09:15] brickspert commented on #314
这个目前是支持的。

如果有问题，可以提供个复现~~ 新开个 issue

[2020-04-08 09:42] brickspert commented on #314
只有在 throttle 和 debounce 配置的情况下，run 是没有 then 的。

其它情况都有 then

[2020-04-08 10:48] dengfuping opened #338 "useAntdTable 先排序后翻页传参错误"
- umi-hooks 版本: 1.8.1
- 重现链接(官网 demo): https://hooks.umijs.org/zh-CN/hooks/deprecated/use-antd-table#%E6%8E%92%E5%BA%8F%E4%B8%8E%E7%AD%9B%E9%80%89
- 重现步骤: 先对 `phone` 这一列做三次排序，然后切换到第二页，发现无法成功切换，且页码传参没有改变，仍然为 0

[2020-04-08 11:32] Caoqingda opened #339 "useDynamicList可以支持antd4嘛？可以提供一个示例嘛"

[2020-04-08 15:05] brickspert commented on #339
see https://github.com/umijs/hooks/issues/245

[2020-04-08 15:05] #339 closed, assigned to nobody

[2020-04-08 15:22] brickspert commented on #329
![image](https://user-images.githubusercontent.com/12526493/78801772-a922db80-79ef-11ea-9372-d372e40ac3b3.png)

测试是可以使用的。
https://codesandbox.io/s/antd-table-iym63?file=/demo.tsx

[2020-04-08 15:38] #329 closed, assigned to nobody

[2020-04-08 15:39] brickspert commented on #336
![image](https://user-images.githubusercontent.com/12526493/78803874-19326100-79f2-11ea-89b5-ca95ed664fb6.png)

测试是可以使用的。
https://codesandbox.io/s/antd-table-iym63?file=/demo.tsx

[2020-04-08 15:39] #336 closed, assigned to brickspert

[2020-04-09 02:00] PeiTianHuang commented on #336
我上面表达有问题，useRequest是正常的，是useFormTable不行

[2020-04-09 02:06] brickspert commented on #338
暂时先用 useRequest 或 useFormTable 代替下。

[2020-04-09 03:31] PeiTianHuang commented on #336
@brickspert

[2020-04-09 04:43] maidul98 opened #340 "No place to add responseType: 'arraybuffer',"
Hello, I would like to set the responseType: 'arraybuffer', but it doesn't seem like you guys support this? Is this possible with the useRequest hook?

[2020-04-09 04:53] brickspert commented on #340
useRequest only cares about Promise, don't care how to send request.

maybe you should manage request yourself?

[code]

[2020-04-09 05:34] maidul98 commented on #340
Awesome, thank you! For anyone else this is how you do it:

const downloadBulkSubmissions = useRequest(()=>{
        return fetch('URL', {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            responseType: 'arraybuffer', // add this line
            headers: {
              'Content-Type': 'application/json'
            },
            body: DATA HERE
        })
   }, {
    manu

[2020-04-09 05:34] #340 closed, assigned to nobody

[2020-04-10 04:13] brickspert opened #341 "useRequest 分页和 antd 类型不兼容"
![image](https://user-images.githubusercontent.com/12526493/78961611-a2e24b80-7b24-11ea-9284-ed21eb06e132.png)

antd4.1.1   umi hooks  1.9.0

[2020-04-10 07:55] xiexingen commented on #231
可以用pubsub

[2020-04-10 08:17] xiexingen opened #342 "建议 useFormTable 支持调用的时候传入初始值"
比如:
const { tableProps, params, search, sorter } = useFormTable(getTableData, {
    defaultPageSize: 5,
    form,
    params:{} // 对应run(...params) 这个的params
  });
使用场景
1.通过自定义hooks记录当前搜索状态(查询条件、排序状态、页码)
2.当切换路由的时候 自己将这个搜索状态记录下来(比如：以当前路由为key，以搜索条件为值存储到sessionStorage)
3.当从其他页面返回的时候，如果需要还原搜索状态
 从sessionStorage获取搜索状态，然后调用useFormTable的时候，解析出条件 调用useFormTable

[2020-04-10 08:45] PeiTianHuang commented on #342
useRequest有支持传入defaultParams，useFormTable不知为何目前不支持defaultParams

[2020-04-12 10:24] brickspert commented on #326
你是用的 rollup 吗？可以看下这个 issue: https://github.com/rollup/plugins/issues/71

[2020-04-12 10:39] fi3ework opened #344 "useRequest 文档没法看"
https://github.com/umijs/hooks/blob/master/packages/use-request/index.zh-CN.md

渲染出来是这样...

![image](https://user-images.githubusercontent.com/12322740/79066730-d4a60e80-7cec-11ea-95dd-a8cd83a421aa.png)

还有这样的... 😂

![image](https://user-images.githubusercontent.com/12322740/79066732-d5d73b80-7cec-11ea-89db-c2e7996e41ca.png)

[2020-04-12 10:45] brickspert commented on #344
在这里看：https://hooks.umijs.org/zh-CN/hooks/async

[2020-04-12 10:45] #344 closed, assigned to nobody

[2020-04-12 10:49] fi3ework commented on #344
这个文档我知道，但是这并没有解决这个问题，感觉也不应该 close 🤔

[2020-04-12 10:52] brickspert commented on #344
没理解你的意思。。。你是要看源码？

![image](https://user-images.githubusercontent.com/12526493/79067002-c0fba780-7cee-11ea-8575-b17dbf418722.png)

[2020-04-12 10:57] fi3ework commented on #344
我是意思是这是一个文档的 bug，不应该解决一下吗。如果有的人没看到 dumi 的链接直接在 GitHub 上看 README 不就瞎了 ...

[2020-04-12 10:58] brickspert commented on #344
这个解决不了的，要不还要 dumi 干啥 0 0~~

[2020-04-12 10:59] brickspert commented on #341
antd 4.1.2 和 umi hooks v1.9.0 未发现问题

[2020-04-12 11:01] #341 closed, assigned to brickspert

[2020-04-12 12:29] WeiShengv99 opened #345 "按需加载相关"
![image](https://user-images.githubusercontent.com/35689628/79068796-230ed980-7cfc-11ea-93bf-9274716d7c09.png)
我在按需加载  useRequest 的时候，发现 hooks 文件夹内并没有 useRequset文件夹，但是在文档中所以关于 useRequset 的引入，看起来都是访问的 hooks 文件夹，这让人很疑惑

[2020-04-12 12:55] brickspert commented on #345
useRequest 是在独立包中：`@umijs/use-request` 这个包里面。

hooks 做了一层代理~~

[2020-04-12 12:56] #330 closed, assigned to nobody

[2020-04-12 13:45] brickspert opened #347 "support umd output"

[2020-04-12 14:07] brickspert commented on #335
use useRef is ok~

[2020-04-12 14:07] #335 closed, assigned to brickspert

[2020-04-12 14:10] brickspert commented on #345
先关了哈，有问题再开哈~~

[2020-04-12 14:10] #345 closed, assigned to nobody

[2020-04-12 15:43] brickspert commented on #342
是不是可以用 cacheKey 解决你的问题？

[2020-04-12 15:43] brickspert commented on #342
另外 defaultParams 已经支持了，这两天发布下。

[2020-04-13 01:07] xiexingen commented on #342
已经发布了吗？我试试 如果支持指定传入初始参数，那那个缓存的问题可以以另外的方式解决

[2020-04-13 04:09] DXDZY opened #349 "请问可以在dva的effects中使用useRequest吗"
我在effects中使用useRequest报这个错误：
Error: Error: Invalid hook call. Hooks can only be called inside of the body of a function component.

[2020-04-13 11:42] juenanfeng opened #350 "useFormTable使用useRef的方式的传入form实例时同时使用manual: true，会导致第一次查询时拿不到参数"
详见以下例子：https://codesandbox.io/s/umijs-hooks-useformtable-with-ref-9u7sv?file=/src/test.js:873-885

[2020-04-13 13:00] aymonYU opened #351 "能加上dva对应配套的hooks吗"
api提供dva配套的hooks

[2020-04-13 15:08] brickspert commented on #351
你可以看下 umi@3 里面的 plugin-model，可以替换 dva 的~

目前的 umi hooks 不会支持 dva 相关 hooks 哟。

[2020-04-13 15:08] #351 closed, assigned to nobody

[2020-04-13 15:09] brickspert commented on #349
react hooks 只能在函数组件中使用。不能在 dva 中使用的。

[2020-04-13 15:09] #349 closed, assigned to nobody

[2020-04-14 02:31] xiexingen commented on #342
其实我的情况是这种
## 业务背景

浏览器刷新或者点编辑进入子页面，然后从子页面点返回 返回到列表页面的时候 列表页面需要按最后的搜索条件、页码、排序 这些条件来重新刷新一下列表数据

### 尝试过的解决方案
1.修改useFormTable ，使用cacheKey配置的时候(约定cacheKey使用当前route的pathname) 会把搜索条件存到当前sessionStorage；如果是页面刷新或者从详情页面返回的时候 将sessionStorage对应的key为pathname的数据标记为激活；这样返回列表页面重新请求的时候 如果sessionStorage中对应这个pathname的数据如果是激活状态，则使用这个条件来查询  --发现这种做法有点太牵强了 于是打算采用第二种方式
好处:感觉useFormTable里面的cacheKey是个鸡肋，所以想通过这个key来处理这种情况

[2020-04-14 10:55] taterboom opened #352 "useRequest在ie11中run或者refresh会一直使用第一次缓存的结果"

[2020-04-14 11:27] #352 closed, assigned to nobody

[2020-04-15 01:51] brickspert commented on #342
fixed: 1.9.1

[2020-04-15 01:52] #342 closed, assigned to brickspert

[2020-04-15 01:52] brickspert commented on #338
fixed: v1.9.1

[2020-04-15 01:52] #338 closed, assigned to nobody

[2020-04-15 08:12] ghost opened #356 "对useDebounce等节流防抖动的建议"
目前没发现有立即执行的api

[2020-04-15 08:46] xiexingen opened #357 "useFormTable的defaultParams默认排序列怎么传？"
const { tableProps,params, search } = useFormTable(getTableData, {
    form: props.form,
    defaultParams: [
      { current: 2, pageSize: 5 },
      { name: 'hello', email: 'abc@gmail.com', gender: 'female' }
    ],
    defaultType: 'advance'
  });

[2020-04-15 08:59] xiexingen commented on #357
看了下源代码 原来是这样写的
![image](https://user-images.githubusercontent.com/7939085/79319131-81290000-7f3a-11ea-91cc-2adf467c215b.png)

![image](https://user-images.githubusercontent.com/7939085/79319050-69517c00-7f3a-11ea-82a6-8b9f9cc71781.png)

[2020-04-15 08:59] #357 closed, assigned to nobody

[2020-04-16 03:30] brickspert opened #358 "useRequest 加载更多模式调用 run 重置数据"

[2020-04-16 03:39] brickspert commented on #356
可以提供下具体的应用场景吗？
debounce 为什么要有立即执行呢？

[2020-04-17 09:45] PeiTianHuang opened #359 "useFormTable的defaultType参数的作用是？"
useFormTable和useRequest的api中没有找到对应的描述，不传则会报错

[2020-04-20 03:12] brickspert commented on #359
能贴下错误信息啥的吗

[2020-04-20 03:13] brickspert commented on #359
应该是 ts 类型写的有些问题。我们修正下。

[2020-04-20 03:14] PeiTianHuang commented on #359
![image](https://user-images.githubusercontent.com/17986764/79710580-fceaca00-82f7-11ea-8472-8591ec19949d.png)
报错那个是ts的提示信息哈，defaultType要求必传，只是有点好奇这个参数的作用是什么

[2020-04-20 05:27] birdycn opened #360 "taro开发小程序使用umihook提示Cannot use 'in' operator to search for 'URLSearchParams' in undefined"
Cannot use 'in' operator to search for 'URLSearchParams' in undefined
TypeError: Cannot use 'in' operator to search for 'URLSearchParams' in undefined
    at Module../node_modules/_whatwg-fetch@3.0.0@whatwg-fetch/fetch.js

请问有什么解决办法吗

[2020-04-20 07:52] biglemontree opened #361 "子组件第一次渲染，报错Cannot call an event handler while rendering"
https://codesandbox.io/s/shoudonghongfa-hrz8u?file=/demo.tsx

在子组件demo渲染的同时，在useEffect手动调用run(),报错Cannot call an event handler while rendering. 这是不是一个bug呀  😭

[2020-04-20 14:21] brickspert commented on #361
![image](https://user-images.githubusercontent.com/12526493/79762379-46b5cd80-8355-11ea-8a83-cada5739435a.png)

这里写错了。改成我这样的语法。

[2020-04-20 14:21] #361 closed, assigned to nobody

[2020-04-20 14:31] brickspert commented on #360
贴一下用法？你是用了 useRequest 吗？看着像是 umi-request 依赖的底层库报错。

[2020-04-20 14:31] brickspert commented on #360
你可以换个请求库试试：https://hooks.umijs.org/hooks/async#useapiprovider

[2020-04-20 14:34] brickspert commented on #359
fixed in v1.9.2

[2020-04-20 14:34] #359 closed, assigned to nobody

[2020-04-20 14:37] brickspert commented on #356
暂时关闭了哈，后面有需求了再打开哈。

[2020-04-20 14:37] #356 closed, assigned to nobody

[2020-04-20 14:37] #248 closed, assigned to nobody

[2020-04-22 07:56] linvva opened #368 "使用 useRequest ，返回数据必须用data包裹？"
data不能直接获取到response.body吗？
这个对于老项目升级实在太不友好了

[2020-04-22 08:11] brickspert commented on #368
默认的是 response.body

但是从 umi 中引用的 useRequest 必须用 data 包一次。

* 你可以配置一个 `formatResult: d=>d` 就可以。
* 或者这样引用 useRequest `import {useRequest} from '@umijs/hooks'`

[2020-04-22 08:34] linvva commented on #368
理解了，我自己再另封装一个`useRequest`就可以了，可以在`@umijs/hook`的文档中提一下，方便我这种先看到`@umijs/hook`文档后看到[umi-plugin](https://umijs.org/plugins/plugin-request#userequest)的人，不然完全摸不到头绪😂

[2020-04-22 08:34] #368 closed, assigned to nobody

[2020-04-22 09:00] Hoo1nKyoma opened #369 "useFormTable 中的 getActivetFieldValues 能否让开发者自己通过 options 定义"
@umijs/hooks version: 1.9.2

我们的产品需求类似，即使 `searchType` 为 `simple`，还是要搜索所有 `form` 中的字段。
所以，希望可以让开发者自己定义 `getActivetFieldValues`，like
[code]

[2020-04-23 10:19] duwei54 opened #372 "useRequest能否支持一开始自动请求初始数据,然后再手动调用"
如题,
在动态搜索一些下拉选项时,希望初始的时候自动请求默认数据.
然后再根据搜索值手动触发run查询.
看了文档貌似不支持这种

[2020-04-23 12:17] brickspert commented on #372
支持的。 run 在任何模式都可以调用。

[2020-04-23 12:17] #372 closed, assigned to nobody

[2020-04-23 12:19] brickspert commented on #369
你可以在 service 里面自己去读表单数据。

[code]

[2020-04-24 01:16] duwei54 commented on #372
@brickspert 试了一下果然可以的.谢谢解惑 😄

[2020-04-24 01:52] #369 closed, assigned to nobody

[2020-04-24 04:07] xxi-arch opened #373 "设置了 cacheKey TableProps能否就不要loading了?"

[2020-04-24 05:45] brickspert commented on #373
这个暂时应该改不了，后面可以考虑增加个配置项。

[2020-04-24 05:48] xxi-arch commented on #373
感谢

打开表格无loading状态  在用户体验上才是最棒的  , 希望能添加该需求

[2020-04-26 06:54] yepyeel opened #374 "useFormTable pagination类型修改为TablePaginationConfig"
今天更新了一下antd，最新版4.1.5的antd的table组件貌似使用了新的类型TablePaginationConfig，内置能否更新一下对应的类型

[2020-04-26 07:22] #374 closed, assigned to nobody

[2020-04-26 08:49] s5s5 opened #375 "useRequest 返回值放到 useEffect 第二个参数中会死循环"
[code]

以上代码会死循环

---
为什么我要把 useRequest 返回值放到 useEffect 第二个参数中？
因为 eslint-plugin-react-hooks 推荐加~
目前设置了 // eslint-disable-line 来规避eslint的提示。。。

[2020-04-26 09:26] ISBN9527 opened #376 "useRequest在初始化渲染时请求接口，设置cacheKey没有缓存数据仍然请求接口"
比如 A B 两个路由
A初始化渲染后，跳到B路由，然后返回，在这样的情况下怎么用useRequest缓存数据？

[2020-04-26 09:27] ISBN9527 commented on #376
@tli4 求大佬解答

[2020-04-26 16:51] breezewish opened #377 "setTrue and setFalse are not memorized, causing re-render"
[code]

Clicking Toggle results in `Inner` being re-rendered:

![image](https://user-images.githubusercontent.com/1916485/80314013-399b5180-8821-11ea-8775-4393dc4d36ba.png)

[2020-04-27 01:43] brickspert commented on #376
数据是缓存了。优先返回缓存的数据，然后在背后重新发起了一次请求。
机制设置的是这样子的。
后面可能会加个参数，阻止重新请求。

[2020-04-27 07:20] biglemontree opened #379 "useRequest，useFormTable 希望支持changePageSize后，page能置为1"
useFormTable 希望支持changePageSize后，page能置为1，就像submit搜索时，就自动置为第一页了
`<Table
        columns={columns}
        rowKey="userId"
        {...tableProps}
        onChange={(pag) => {
          console.log(pagination);
          if (pag.pageSize !== pagination.pageSize) {
            pagination.changePageSize(pag.pageSize);
            return submit();
          }
          pagination.changeCurrent(pag.cur

[2020-04-27 07:31] biglemontree commented on #379
[code]
贴图

[2020-04-27 09:17] juenanfeng opened #380 "useFormTable返回的search.submit方法中缺失对表单的默认行为阻止"

[2020-04-27 13:20] brickspert commented on #379
这个逻辑目前和 antd 保持一致的，应该不会的。

你可以这样做。

[code]

[2020-04-27 13:20] #379 closed, assigned to nobody

[2020-04-27 13:23] brickspert commented on #375
这个其实是 react hooks 的坑。规范的用法可以这样写。

[code]

[2020-04-27 13:23] #375 closed, assigned to nobody

[2020-04-27 13:24] brickspert commented on #376
重复： #373

[2020-04-27 13:24] #376 closed, assigned to nobody

[2020-04-29 09:43] xiexingen opened #383 "感觉useFormTable可以跟pro-table配合着用"

[2020-05-05 08:38] Restry commented on #383
+1

[2020-05-05 08:38] Restry commented on #383
有人可以共享一些示例代码吗？

[2020-05-07 03:42] jokingzhang opened #385 "useRequest 报错"
react: v16.13.1

### 截图
![image](https://user-images.githubusercontent.com/10766546/81251998-5886b880-9057-11ea-8d94-cff3bf7fa469.png)

### 复现代码
[code]

[2020-05-08 01:57] brickspert commented on #385
你的写法有问题。

[code]

[2020-05-08 01:57] #385 closed, assigned to nobody

[2020-05-08 08:26] ihaichao opened #386 "Error: url MUST be a string"
求。

看到文档里 service 可以是一个 function，但是按照下面的用法会报错：

[code]

[code]

![image](https://user-images.githubusercontent.com/8586268/81386944-73852580-9148-11ea-86e5-a03450c03ee8.png)

[2020-05-09 03:05] 94zn opened #387 "hook: useDebounce 没有执行cancel 方法"
useEffect(() => cancel, []);
此语句的目的貌似是首次进来时执行cancel函数吧，但是这样写并不会执行的

https://github.com/umijs/hooks/blob/e27e65ba7b9ea5f8a343f959b0f174b3e0ee7b59/packages/hooks/src/useDebounceFn/index.ts#L50

[2020-05-10 03:57] dsernst opened #388 "react-native: useMount causes "require cycle" warning"
In a react-native project, if I add:

[code]

and then call

[code]

within a function component, I get these warnings in my console every time the app reloads:

![image](https://user-images.githubusercontent.com/6340841/81490446-46fc0700-9237-11ea-92ec-cb317d7c0472.png)

Version info:

[code]

[2020-05-10 06:03] maidul98 opened #389 "initalData data doesn't seem to be working"
Say I have a request:

let getNames = useRequest('url', {
initalData:[]
})

then I expect getNames.data to be [] by default, but sometimes I get undefined. Why does this happen?

[2020-05-10 14:44] brickspert commented on #389
https://codesandbox.io/s/use-default-umi-request-mzthz?file=/demo.tsx

I have try this, it work ok.

Can you give me a demo?

[2020-05-10 14:49] brickspert commented on #387
这句的意思是，卸载的时候执行 cancel。
不是初始化的时候执行呢~

[2020-05-10 14:49] #387 closed, assigned to nobody

[2020-05-10 14:51] brickspert commented on #386
你的 request 函数不对吧。

应该是

[code]

[2020-05-10 14:51] #386 closed, assigned to nobody

[2020-05-10 14:57] brickspert commented on #388
I don't think it is @umijs/hooks's problem...

useMount's source code is so simple, and the warning no keyword about @umijs/hooks~~

[code]

[2020-05-10 21:11] maidul98 commented on #389
My apologies, I had a typo. It is working.

[2020-05-10 21:11] #389 closed, assigned to nobody

[2020-05-11 02:27] BryceHQ opened #390 "Bug: The loading state of useRequest is incorrect with react-refresh"
React version: 16.13.1
react-refresh version: 0.8.1
react-refresh-webpack-plugin version: 0.3.0-beta.6
umi/hooks version: 1.9.2

## Steps To Reproduce

1. run [react-refresh-webpack-plugin/examples/webpack-dev-server](https://github.com/pmmmwh/react-refresh-webpack-plugin/tree/master/examples/webpack-dev-server)
2. useRequest in examples/webpack-dev-server/src/FunctionNamed.js
3. try hmr

Link to

[2020-05-11 06:37] ihaichao commented on #386
直接用 umi-request 仍然会报同样的错

[code]

[code]

[2020-05-11 07:01] brickspert commented on #386
可以看下你的 umi hooks 版本号吗？

你可以在 request 函数打个日志，看看传递过来的 url 是什么。

[2020-05-11 07:39] ihaichao commented on #386
@umijs/hooks: 1.9.2

在这里加了日志
[code]

打印出来如图：
![image](https://user-images.githubusercontent.com/8586268/81533623-17fda680-9399-11ea-8738-6f1e1ae7597c.png)

[2020-05-11 10:26] PeiTianHuang opened #391 "useThrottleFn能否支持在节流前触发？"
类似于lodash中throttle的leading参数

[2020-05-11 17:00] maidul98 opened #392 "onSuccess is triggred but response 401"
I am using Fetch as my request handler. When the request is a 401, the Success is still triggered. Why is that?

[2020-05-12 01:44] brickspert commented on #391
我们支持下

[2020-05-12 01:47] brickspert commented on #392
Best give a demo。

useRequest onSuccess will only trigger because Promise is resolved.

You should check your Promise status.

[2020-05-12 02:19] maidul98 commented on #392
Where should I check the status of the Promise? Thanks : )

[2020-05-12 13:17] brickspert commented on #392
The first params of useRequest is Promise，you should check it's status~~

Or can you provide an online demo？

[2020-05-13 02:47] xu-Aurora opened #393 "useRequest有bug"
onSuccess函数，第一个参数打印是undefined，用的事官网的例子，全是官网的代码，亲测

[2020-05-13 02:49] xu-Aurora commented on #393
import { useRequest } from '@umijs/hooks';
import { Button, Input, message } from 'antd';
import React, { useState } from 'react';

function changeUsername(username: string): Promise<{ success: boolean }> {
  console.log(username);
  return new Promise(resolve => {
    setTimeout(() => {
      resolve({ success: true });
    }, 1000);
  });
}

export default () => {
  const [state, setState] = use

[2020-05-13 02:49] xu-Aurora commented on #393
官网的例子，result打印的是undefined

[2020-05-13 03:12] xu-Aurora commented on #393
最终发现，是umi框架自带的useRequest是有bug的，单独下载的包umi-hooks的useRequest是没有bug的

[2020-05-13 10:31] brickspert commented on #393
umi 里面的 useRequest 要求相应的结果必须是这样 {data: {xxx}} ，要用 data 包一下。

[2020-05-13 10:44] chenxiaolei opened #394 "希望增加一个跨页面通信的hook(基于window. postMessage)"
类似这个: https://github.com/AvraamMavridis/react-window-communication-hook

[2020-05-13 11:39] xyj404 commented on #337
有进展吗？现在参数是{defaultParams: pageNum, refreshDeps: [pageNum]}，改变pageNum时，请求的参数不会改变。

[2020-05-14 03:02] xu-Aurora commented on #393
这个库那有配合dva使用的不，我自己试了下不知道怎么弄，有相关的例子或者demo链接不，我想去学习下

[2020-05-14 04:15] i7guokui opened #395 "useRequest发送请求，此时loading为true，请求成功后，loading为false，请求出错后，loading还是为true，不应该改为false吗"

[2020-05-14 09:20] xu-Aurora commented on #393
这个库那有配合dva使用的不，我自己试了下不知道怎么弄，有相关的例子或者demo链接不，我想去学习下

[2020-05-14 09:49] brickspert commented on #393
useRequest 和 dva 不好结合用的呢。

[2020-05-14 11:32] brickspert commented on #395
我测试了下，Promise reject 后，loading 会变成 false 的。

https://codesandbox.io/s/default-request-r9qo8

[2020-05-14 11:32] #395 closed, assigned to brickspert

[2020-05-15 02:54] xu-Aurora commented on #393
那就是说用了这个库就没有办法达到把获取到的数据放到redux中了？

[2020-05-15 06:25] xiexingen opened #396 "demo案例里面不要使用相对路径，否则在CodeSandbox中将无法正常查看"
![image](https://user-images.githubusercontent.com/7939085/82018417-da11c280-96b7-11ea-8816-d395a405eb8d.png)
如图所示，可能里面所有的demo用了相对路径的都需要处理下

[2020-05-20 06:26] mybraveheart opened #397 "useRequest发送请求会使当前的函数组件执行三次，造成了不必要的渲染，是否支持配置不返回loading"
执行三次，发现其中两次都是用来返回loading的状态的,最后一次才返回data数据，能否支持配置不返回loading，大概不返回loading就不会造成多次渲染吧，或者有没有好的解决方案，因为只需要拿到data的数据。

[2020-05-20 11:05] #397 closed, assigned to nobody

[2020-05-21 12:27] aloha66 opened #398 "为什么useFormTable的service不能是一个对象"
useRequest的service可以是一个对象。

[2020-05-22 03:06] #398 closed, assigned to nobody

[2020-05-22 03:25] aloha66 opened #399 "useAntdTable使用formatResult显示表格数据的问题"
我在使用formatResult发现了一个问题。我在官网的demo用list没问题，但是我本地项目用list，dataSource的结果是空数组。
[code]
`const { tableProps } = useAntdTable`，`tableProps`里面的dataSource数据为空，然后发现
[源码是state.data](https://github.com/umijs/hooks/blob/master/packages/hooks/src/useAntdTable/index.ts#L396)，然后把list修改成data就可以显示了。
useRequest的文档是[list](https://hooks.umijs.org/zh-CN/hooks/async#params-2)。不是很懂为什么

[2020-05-22 04:07] aloha66 commented on #399
看错文档了……

[2020-05-22 04:07] #399 closed, assigned to nobody

[2020-05-22 08:09] taterboom opened #400 "为什么run返回的promise都得是resolved呀"
https://github.com/umijs/hooks/blob/e27e65ba7b9ea5f8a343f959b0f174b3e0ee7b59/packages/use-request/src/useAsync.ts#L151

[2020-05-22 09:25] awmleer opened #401 "useDocumentVisibility 在 Safari 下不能正确地更新状态"

[2020-05-22 15:11] Malarkey-Jhu commented on #400
求问 +1

[2020-05-22 15:25] Malarkey-Jhu commented on #400
比如在一个event handler (function body)里面，想对run 返回的错误进行处理，如能返回reject就好了

[2020-05-22 15:27] brickspert commented on #400
现在可以通过 `onError` 来处理。

[2020-05-22 15:42] Malarkey-Jhu commented on #400
是这样的，handler里面，还有要根据run 的执行结果成功与否再进行其他事情，这种情况下onError没法暂停執行或抛出错误

[2020-05-22 15:48] Malarkey-Jhu commented on #400
不过都返回resolved是有什么设计上面的考量吗 (好奇

[2020-05-25 02:24] liaoliao666 opened #402 "关于useToggle的依赖建议"
当 useEffect 依赖中有 toggle 函数时，如下

[code]

当我调用 `toggle(false)` 时会自动执行副作用中的 `toggle(true)`
修改如下，建议去除 state 依赖项

## 源码

[code]

## 修改后

[code]

[2020-05-25 15:22] brickspert commented on #402
你好，方便来个 PR 吗？

[2020-05-25 15:25] brickspert commented on #396
强制刷新下。。你应该用的老的站点。

[2020-05-25 15:25] #396 closed, assigned to nobody

[2020-05-25 15:25] #392 closed, assigned to nobody

[2020-05-25 15:25] #393 closed, assigned to nobody

[2020-05-25 15:59] liaoliao666 commented on #402
已提

[2020-05-25 16:03] #402 closed, assigned to nobody

[2020-05-25 17:04] smajl commented on #390
This is mega annoying when you are using react-refresh... you have to either reload the whole page every time or disable reading `loading` prop during development... Fix would be so appreciated.

[2020-05-26 14:23] Kol96 opened #404 "Using refreshDeps and run on useRequest"
使用useRequest时，我希望实现下面两个功能：
1、在userId变化时拿着缓存的params请求数据
2、在点击按钮后更新userId并且更新params 然后请求数据

问题：第二个功能，会导致两次请求，第一次由run触发，会使用过期的userId；第二次由userId触发。

代码如下
[code]

[2020-05-27 01:19] uliian commented on #337
目前在编辑场景用的比较多：同一个组件，能新增，也能编辑
但是如果模式为编辑，id不为空，则需要请求一下详情，然后填充进表单，如果为新增模式，则不需要做请求~
对条件请求的需求很迫切

[2020-05-27 02:24] brickspert commented on #404
建议不要用 refreshDeps 了，自己通过 `run` 控制请求时机。

[2020-05-27 02:27] Kol96 commented on #404
把params也作为一个state 放在refreshDeps里 是不是也可行

[2020-05-27 03:27] #380 closed, assigned to brickspert

[2020-05-27 03:51] brickspert commented on #404
返回值有个 params 属性的，你可以拿出来自己做操作哦。

[2020-05-27 07:28] JustForLucky opened #405 "useKeyPress在Mac系统下的谷歌浏览器失效"
系统版本：macOS 10.15.4
浏览器版本：83.0.4103.61（正式版本）

`useKeyPress('ctrl.alt.c', () => {})`
`useKeyPress('ctrl.alt.space', () => {})`

以上代码都不起作用。
问题原因是对比event.key，但是在当前环境中event.key != key。

建议：对比event.keyCode。

[2020-05-28 01:54] tiyunchen commented on #394
自己封装一个方法好了

[2020-05-28 09:32] jiawei163com opened #407 "useFormTable这个函数可以同时更新dataSource和pageSize这两个字段吗"
问题是这样的: 我使用useFormTable里面的onChange来切换table展示数量的时候, pageSize更新了,但是dataSource还没有更新, 这样就导致了dataSource长度大于pageSize长度
![pageSize](https://user-images.githubusercontent.com/48401444/83124728-283bb280-a109-11ea-89a2-b8eb81eb2024.png)

![image](https://user-images.githubusercontent.com/48401444/83124665-10fcc500-a109-11ea-8e90-c7c64e2a576c.png)
就是可否同时更新dataSource和pageSize

[2020-05-28 12:27] brickspert commented on #407
理论上当你变更了 pageSize 之后，才去后端请求 dataSource，所以不能同时更新的。

你给 Table 加个 loading 试试？

[2020-05-28 12:28] #404 closed, assigned to nobody

[2020-05-28 12:30] brickspert commented on #400
我记得最早是因为请求报错后，用户不希望自己 `catch` ，才改成 `return` 的。

如果改成了 `throw`，所有的 `run` 都需要用户自己去 `catch`，似乎不是很好。满屏都是

[code]

[2020-05-28 12:37] #388 closed, assigned to nobody

[2020-05-28 14:10] jiawei163com commented on #407
嗯好吧我试试

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: 砖家 <notifications@github.com&gt;
发送时间: 2020年5月28日 20:28
收件人: umijs/hooks <hooks@noreply.github.com&gt;
抄送: Mr Chen <1541986022@qq.com&gt;, Author <author@noreply.github.com&gt;
主题: 回复：[umijs/hooks] useFormTable这个函数可以同时更新dataSource和pageSize这两个字段吗 (#407)

理论上当你变更了 pageSize 之后，才去后端请求 dataSource，所以不能同时更新的。

你给 Table 加个 loading 试试？

—

[2020-05-29 09:31] vanishcode opened #408 "Jest test failed"
`npm run test`

![](https://p2.ssl.qhimg.com/t015cfdd9db419a8b97.png)

[code]

[2020-05-29 10:03] vanishcode opened #409 "useInViewport 增加可见区域百分比"
目前实现了 useInViewport 返回第三个 元素可见部分百分比 的参数，原因是某些业务场景对于“真实展现”和“展现”有要求，需要区分。见下图

![](https://p3.ssl.qhimg.com/t01dbfcf63b397a9ad9.png)

![](https://p3.ssl.qhimg.com/t0182cc2371a45701ed.png)

有个问题在于 `IntersectionObserver` 调用是不太精确的所以返回的百分比也是不太精确的。下面是我的比较粗略的实现方式

[code]

如果可以接受的话我就补充一下测试用例提pr了

[2020-05-31 03:40] JayceZhang9602 opened #410 "useClickAway onClickAway event type错误"
onClickAway: (event: KeyboardEvent) => void

event应当是mouseEvent或touchEvent

[2020-05-31 03:48] JayceZhang9602 commented on #410
看master分支已修复，但是最新的包1.9.2还是KeyboardEvent，可以尽快发布吗～

[2020-05-31 09:33] brickspert commented on #409
我们正在开发 2.0，我们评估下，如果可以的话，我们集成到 2.0 中。

[2020-05-31 09:34] #407 closed, assigned to nobody

[2020-05-31 10:08] brickspert commented on #400
我测试了下，给个最终的解释：如果改成 `throw`，则每个 run 都需要 catch，否则会出问题。

如下示例，如果改成 `throw`，不 `catch` 的情况下会白屏。

[code]

![image](https://user-images.githubusercontent.com/12526493/83349670-4869ac80-a369-11ea-8b07-6537a4a5710f.png)

[2020-05-31 10:23] brickspert commented on #410
v1.9.3 发布了。

[2020-05-31 10:23] #410 closed, assigned to nobody

[2020-05-31 10:24] brickspert commented on #408
有执行 `tnpm run init` 初始化吗？

[2020-06-01 04:17] vanishcode commented on #408
thx，已解决

[2020-06-01 04:17] #408 closed, assigned to nobody

[2020-06-02 02:05] chj-damon commented on #337
期待2.0版本早日发布

[2020-06-02 02:07] chj-damon opened #412 "useSessionStorageState和useLocalStorageState直接保存字符串有问题"
[code]
然后直接用`sessionStorage.getItem('hello')`，发现取出来的字符串是""hahaha""，被多包了一层。
localstorage也有同样的问题

[2020-06-02 07:26] zongjie219 commented on #391
能否支持一下 先触式防抖节流

[2020-06-02 08:42] xiexingen opened #415 "UseAPIProvider全局错误配置问题"
经测试发现如下问题
1. 1.9.2版本的时候
全局配置过UseAPIProvider的onError来进行全局的异常处理
![image](https://user-images.githubusercontent.com/7939085/83498921-1f732400-a4ef-11ea-9e38-200d6320fb9f.png)
当在实际页面调用的时候，如下代码所示
run(values, id).then(() => { handleBack(); });
这种形式，个人感觉 如果异常了不应该再继续执行到then(目前是异常了还是会进入到then里面)
断点调试截图：
![image](https://user-images.githubusercontent.com/7939085/83499334-ceaffb00-a4ef-11ea-8509-1a3da892d621.

[2020-06-04 03:08] xiexingen opened #418 "useFormTable 建议返回一个refresh方法"
使用场景
1、先输入内容搜索
2、翻页，比如到第三页
3、修改数据(弹窗形式的)；修改完后 如果调用submit方法那页面就不在了
这种情况下应该是重新加载第三页的数据
看是不是在useFormTable的结果里面再返回一个refresh方法，调用这个方法就相当于用最后的查询条件重新查询一次

[2020-06-04 04:07] brickspert commented on #418
有 `refresh` 的呢，可以直接用的。`useRequest` 的参数都可以用。

[2020-06-04 04:07] #418 closed, assigned to nobody

[2020-06-07 22:07] nanxiaobei opened #419 "useRequest 触发重绘较多"
用 `create-react-app` 建了个全新项目，将 `App.jsx` 改为：

[code]
别的未做修改。

发现 useRequest 调用了 6 次，触发了 6 次 re-render。

![XU9Q4.png](https://s3.jpg.cm/2020/06/08/XU9Q4.png)

这个调用次数是否过多？

[2020-06-08 01:57] brickspert opened #3 "dom 类 hooks ts 类型不正确"
![image](https://user-images.githubusercontent.com/12526493/83986173-73a65a00-a96e-11ea-8ac1-c64d0eefe992.png)

[2020-06-08 01:58] brickspert opened #4 "rollup & vite 等环境编译报错"
![image](https://user-images.githubusercontent.com/12526493/83986202-920c5580-a96e-11ea-8569-f2a64ff3db38.png)

[2020-06-08 12:18] awmleer commented on #412
这个是预期行为，因为要支持 object 的存储，所以所有的值在 `setItem` 前都会先经过 `JSON.stringify`

[2020-06-08 12:18] #412 closed, assigned to nobody

[2020-06-08 12:22] awmleer commented on #391
在 ahooks 中 `useThrottle` 和 `useDebounce` 系列的 Hooks 都进行了一次功能升级，底层也是依赖的 lodash ，所以已经可以实现各种高级配置了
详见：https://ahooks.js.org/zh-CN/hooks/side-effect/use-throttle-fn

[2020-06-08 12:22] #391 closed, assigned to brickspert

[2020-06-08 12:23] #373 closed, assigned to nobody

[2020-06-08 12:24] #347 closed, assigned to brickspert

[2020-06-08 12:26] #360 closed, assigned to nobody

[2020-06-08 12:28] #358 closed, assigned to nobody

[2020-06-08 12:34] #165 closed, assigned to ttys026

[2020-06-08 12:35] awmleer commented on #337
ahooks 已经支持了：https://ahooks.js.org/zh-CN/hooks/async

[2020-06-08 12:35] #337 closed, assigned to brickspert

[2020-06-08 12:36] awmleer commented on #394
未来 umi hooks 会迁移到 [ahooks](https://github.com/alibaba/hooks) 仓库，如果有兴趣的话可以来提 RFC 哈

[2020-06-08 12:36] #394 closed, assigned to brickspert

[2020-06-08 12:37] awmleer commented on #231
这个问题似乎是需要一个工具函数来解，不在 umi hooks 的覆盖范围内～

[2020-06-08 12:37] #231 closed, assigned to nobody

[2020-06-08 12:48] awmleer commented on #193
可以考虑在数据获取到之前不去渲染整个列表组件，例如：

[code]

[2020-06-08 12:48] #193 closed, assigned to ttys026

[2020-06-08 12:53] #232 closed, assigned to brickspert

[2020-06-08 12:55] #383 closed, assigned to nobody

[2020-06-08 12:56] awmleer commented on #419
这个是预期行为。。 @brickspert 评估一下要不要做优化？

[2020-06-08 13:00] brickspert commented on #377
fixed

[2020-06-08 13:00] #377 closed, assigned to brickspert

[2020-06-09 03:27] chj-damon commented on #412
？？？为什么要关掉？你想要支持object的存储，至少要先判断一下是不是object吧？typeof xxx === 'string'，如果是string的话，为什么还要走JSON.stringify

[2020-06-09 03:29] awmleer commented on #412
虽然如你所说，存储数据的时候是可以判断出数据类型的，但是取数据的时候，并不知道数据的类型，所以需要对所有的数据都进行 JSON 的序列化和反序列化

[2020-06-09 03:33] chj-damon commented on #412
关键是你这样做，对我用原生的`sessionStorage.getItem`写法造成影响了啊。这难道不是问题吗？

[2020-06-09 03:41] awmleer commented on #412
的确是问题，会对你手动 `getItem` 造成一点影响，但是我觉得是可解的呀，在 getItem 之后手动 `JSON.parse` 一下，保持和 `useSessionStorageState` 的逻辑一致
如果你有更好的方案的话，也可以给我们提一个 PR～

[2020-06-09 05:00] #4 closed

[2020-06-09 06:34] whmax03 opened #420 "useDrop & useDrag 是否能支持移动端？"
目前看是只在pc端生效的，谢谢。

[2020-06-09 08:11] AnranS commented on #419
你把<React.StrictMode>去掉会少一半

[2020-06-09 14:11] nanxiaobei commented on #419
@AnranS 好的我试试

[2020-06-10 05:50] brickspert commented on #419
https://github.com/facebook/react/issues/15074

这是 React StrictMode 故意的行为

[2020-06-10 05:50] #419 closed, assigned to brickspert

[2020-06-10 08:33] mu1004 opened #422 "一个组件中构建多个useRequest，如何管理这些请求"
Promise.all   相关操作怎么处理？

[2020-06-10 12:52] brickspert commented on #422
https://hooks.umijs.org/zh-CN/hooks/async#1-%E6%88%91%E5%8F%AF%E4%BB%A5%E5%9C%A8%E4%B8%80%E4%B8%AA%E7%BB%84%E4%BB%B6%E4%B8%AD%E4%BD%BF%E7%94%A8%E5%A4%9A%E4%B8%AA-userequest-%E5%90%97%EF%BC%9F

[code]

[2020-06-10 12:52] #422 closed, assigned to nobody

[2020-06-10 15:12] brickspert commented on #409
可以贡献在这里：https://github.com/alibaba/hooks

但是基于 useInViewport 修改的话，是 breakchange 了。
1. 如果要基于 useInviewport 搞，需要考虑如何兼容。
2. 或者新开个 Hooks 也可以

[2020-06-10 15:23] vanishcode commented on #409
好的，我新开个hooks

[2020-06-10 15:23] #409 closed, assigned to nobody

[2020-06-10 15:45] brickspert commented on #350
要解决这个问题的话，需要 `form` 支持接收 ref 类型，改动较大。如果后面有同类需求再改。

[2020-06-11 01:51] #350 closed, assigned to brickspert

[2020-06-11 02:34] mu1004 commented on #422
@brickspert  你好， 我可能没表述清楚， 一个组件多个request，怎么让他们同时发起请求呢？又怎么控制他们发起的顺序，比如请求A的数据依赖请求B

[2020-06-11 04:33] YuGe commented on #386
有新的说明吗？

[2020-06-11 04:49] brickspert commented on #386
如果有问题，可以提供个在线复现。

直接使用 umi-request 是不行的，需要手动把 url 拆分出来的。

[2020-06-11 04:50] brickspert commented on #422
ahooks：https://ahooks.js.org/zh-CN/hooks/async#%E4%BE%9D%E8%B5%96%E8%AF%B7%E6%B1%82

我们发布了 v2 版本，新增了 ready 参数，可以升级下试试。

[2020-06-12 02:57] liuwei0514 commented on #386
`
const optionsRequest = useRequest(
    {
      url: '/xxgkArea/list',
      options: {
        method: 'POST',
        data: { level: 1 },
      },
    },
    { initialData: [], },
  );
`

`
<UseAPIProvider value={{  requestMethod: ({ url, options }) => request(url, options),  }} >{children}
</UseAPIProvider>
`

文档里是这样写的简单 requestMethod: request
实际使用需要构造下参数结构  requestMethod: ({ url, options }) =

[2020-06-12 03:13] ziven27 opened #423 "UseAPIProvider 是否可以添加 prefix?"
怎么才能在 UseAPIProvider 里面添加类似 `umi-request.extend` 里面的 prefix 呢？

[code]

现在的方案是通过这种迂回的方式实现的。

[2020-06-12 07:27] brickspert commented on #423
这种是推荐的方案，因为 useRequest 不期望深度耦合某个请求库的。

[2020-06-12 07:28] #423 closed, assigned to nobody

[2020-06-12 07:33] brickspert commented on #415
目前就是这样的

目前就是这样的

`run().catch().then()`
useRequest 内部 catch 了异常，但是 catch 自己会返回一个 Promise，触发 then。
如果我们手动 `return Promise.reject()` ，可能是一个 break change~

[2020-06-12 11:12] #3 closed

[2020-06-13 06:00] MoonHoo opened #15 "useRequest give rise to errors in iOS 9.3 wechat 7.0.3 browser"
the code below is running well in pc chrome and iOS 13.5 wechat 7.0.12, also the android wechat browser

react react-dom is '16.13.1'

and when I remove useRequest code, the code is running well in  iOS 9.3 wechat 7.0.3
I use umijs create the demo code

[code]

[2020-06-14 03:19] xiexingen commented on #415
![image](https://user-images.githubusercontent.com/7939085/84583884-d39a7600-ae30-11ea-821e-16249aca02d0.png)
我这边跑出来的结果确实是这样的

[2020-06-14 06:09] xiexingen commented on #415
codesandbox不咋会玩 建了一个demo，打了几个debug 可以在调试模式下看步骤
代码地址:
https://codesandbox.io/s/github/xiexingen/demo-umi-hooks/tree/master/?file=/src/demo.tsx
![image](https://user-images.githubusercontent.com/7939085/84585830-377b6980-ae46-11ea-9771-e48077c822bc.png)

[2020-06-14 08:16] brickspert commented on #15
Can you show the error message?

[2020-06-14 08:20] brickspert commented on #415
你说的是对的，我需要想下怎么解决的。

[2020-06-14 13:41] refanbanzhang opened #424 "在需要循环发出请求的情况下怎么使用useRequest呢？"
如下代码，我需要遍历List,然后使用每个项目发出请求，该怎么使用useRequest呢？
[code]

[2020-06-14 15:02] brickspert opened #16 "[RFC]useHover"
# useHover
一个用于追踪 dom 元素是否有鼠标悬停的 Hook

## 代码演示
### 默认用法
[code]
### 懒加载
[code]

## API
[code]

## 结果

参数 | 说明 | 类型
-- | -- | --
isHovering | 判断鼠标元素是否处于 hover 元素 | boolean
ref | 当未传入任何参数时，将 ref 绑定给需监听的节点 | -

## 参数

参数 | 说明 | 类型 | 默认值
-- | -- | -- | --
dom | 可选项，如果未传入则会监听返回结果中的 ref，否则会监听传入的节点 | HTMLElement \| (() => HTMLElement) \| undefined | -
onEnter | 监听进入 hover | ()=>void | -
onLeave | 监听离开 hov

[2020-06-14 15:02] #16 closed

[2020-06-15 04:55] brickspert commented on #424
参考并行请求文档：https://hooks.umijs.org/zh-CN/hooks/async#%E5%B9%B6%E8%A1%8C%E8%AF%B7%E6%B1%82

[2020-06-15 04:55] #424 closed, assigned to nobody

[2020-06-15 07:42] brickspert opened #18 "useRequest 支持根据 cacheKey mutate"

[2020-06-15 13:53] chenbin92 commented on #18
更新一下描述 ？

[2020-06-16 05:22] zxs2162 opened #425 "useRequest可以用在一般js函数里吗？"
**你可以将 umi hooks 使用在任何地方，和任意组件库搭配使用**

但是hook只能用在react函数中啊，普通的不可以啊。

所以useRequest是否有同样的限制啊

[2020-06-16 05:28] lyqgit opened #426 "useFormTable ajax请求报没有finally函数的异常 antdpro2.2.1"
TypeError: this.service.apply(...).then(...).catch(...).finally is not a function

[2020-06-16 05:33] lyqgit commented on #426
使用的fetch， firefox浏览器支持finally函数

[2020-06-16 05:33] brickspert commented on #425
useRequest 只能用在 React 函数组件中的~

[2020-06-16 05:33] #425 closed, assigned to nobody

[2020-06-16 05:37] brickspert commented on #426
需要装一个 babel-polyfill

可以参考：https://lubyxu.github.io/2019/02/16/guide/

[2020-06-16 09:39] Straw94 opened #427 "【Migrate】useRequest 支持根据 cacheKey mutate"

[2020-06-16 09:40] Straw94 opened #428 "【Migrate】useRequest give rise to errors in iOS 9.3 wechat 7.0.3 browser"
#### questioner:  @Moonhoo

the code below is running well in pc chrome and iOS 13.5 wechat 7.0.12, also the android wechat browser

react react-dom is '16.13.1'

and when I remove useRequest code, the code is running well in  iOS 9.3 wechat 7.0.3
I use umijs create the demo code

[code]

[2020-06-16 09:42] Straw94 opened #429 "【Migrate】扩展功能支持设置缓存时间"
#### questioner：Farewing

在 swr中 支持 设置 dedupingInterval (dedupe requests with the same key in this time span), 在时效内不重复发送请求。
期望 useRequest 能扩展该功能

[2020-06-16 09:43] Straw94 commented on #429
#### answer: @brickspert
使用 debounceInterval 能满足你的需求吗？

能讲一下你的具体使用场景吗？

[2020-06-16 09:43] Straw94 commented on #429
#### questioner：Farewing

使用 debounceInterval 不能满足需求

具体使用场景举例：多个组件使用同一个请求接口获取数据，但是接口的数据可以认为不经常改变比如字典数据，如果可以设置缓存时间则更加灵活并且可节省请求资源，间接通过 useRequest 的 cache 达到数据共享的目的。通过 options.cacheKey 可以区分数据源，通过设置缓存时间决定共享数据的有效期

[2020-06-16 09:45] Straw94 commented on #428
#### answer: @brickspert

Can you show the error message?

[2020-06-16 10:03] Straw94 commented on #8
由于仓库升级，Issue地址迁移： https://github.com/umijs/hooks/issues/429

[2020-06-16 10:07] Straw94 commented on #15
Because of ahooks upgrade，the issue link has migrate ： https://github.com/umijs/hooks/issues/428

[2020-06-16 10:08] Straw94 commented on #15
Because of ahooks upgrade，the issue link has migrate ： https://github.com/umijs/hooks/issues/428

[2020-06-16 10:08] #15 closed

[2020-06-16 10:08] Straw94 commented on #8
由于仓库升级，Issue地址迁移： https://github.com/umijs/hooks/issues/429

[2020-06-16 10:10] Straw94 commented on #18
仓库升级，新的issue链接： https://github.com/umijs/hooks/issues/427

[2020-06-16 10:10] #18 closed

[2020-06-17 02:36] PeiTianHuang opened #435 "请问useVirtualList是否不支持一行有多个元素的情况哦？"
目前的总高度是按单个的高度乘以总个数来算的，而我们网站有点像淘宝那种商品展示，一行会有多个商品，所以出现了大量的空白~

[2020-06-17 08:45] awmleer opened #437 "RFC: useInterval"
# API

[code]

- 当 `interval` 的单位为 ms，当其取值为 `null` 或 `undefined` 时，会禁用掉 interval 效果
- `immediate` 参数可以用来控制是否在首次渲染时立即执行 `fn`，默认为 `false`

# Demo

[code]

[2020-06-18 08:45] willdreame opened #439 "useRequest 官方文档错误"
export default () => {
  const [state, setState] = useState('');
  const { loading, run } = useRequest(changeUsername, {
    manual: true,
    onSuccess: (result, params) => {
      if (result.success) {
        setState('');
        message.success(`The username was changed to "${params[0]}" !`);
      }
    },
  });
  return (
    <div>
      <input
        onChange={e = /> setState(e.target.val

[2020-06-18 08:45] #439 closed, assigned to nobody

[2020-06-18 08:46] willdreame commented on #439
其中 onChange ={ e = /> setState(e.target.value) } 应为 onChange ={ e =>setState(e.target.value) }

[2020-06-19 02:22] chenbin92 commented on #435
@PeiTianHuang  提供一下 demo

[2020-06-19 09:38] dpyzo0o opened #440 "如何让兄弟组件的 useRequest 进行 refresh?"
比如我有 A B 两个兄弟组件, A 组件内部有一个 useRequest, 我在 B 组件里面进行了某些操作，然后需要让 A 组件的 useRequest 进行刷新获取最新的数据, 有什么好的方法吗？

[2020-06-19 09:41] dpyzo0o commented on #440
swr 可以通过 [Manually Revalidate](https://github.com/vercel/swr#manually-revalidate) 实现全局的任意一个 useSWR 进行刷新, useRequest 我在文档上没有看到类似的实现方案

[2020-06-19 10:07] brickspert commented on #440
暂时不支持这个能力，需要新增。

[2020-06-19 10:12] dpyzo0o commented on #440
这种需求场景应该是很常见的，B组件里修改了服务器上的数据，然后A组件需要显示最新的数据。一般碰到这种场景都是怎么处理的呀

[2020-06-19 10:13] dpyzo0o commented on #440
我想到的办法就是在父组件加个 state, 然后这个 state 放在 A 组件 useRequest 的 deps 里面, 然后在 B 组件去修改这个 state

[2020-06-19 11:06] brickspert commented on #437
1. 是不是可以返回 `run` , `stop` 控制定时器的开始和停止？
2. 是不是可以加个 `manual` 控制定时器是否默认开启？

[code]

[2020-06-19 11:13] awmleer commented on #437
定时器可以通过 `interval` 为 `null` 或 `undefined` 来禁用，`run` `stop` `running` `manual` 其实就是：

[code]

感觉可以通过组合使用的没有必要强耦合在一起，在文档上写一下这种配合使用的用法就可以了。。

[2020-06-19 16:05] gwwnha opened #441 "useRequest loadingDelay不起作用"
请问你们可以么？我使用了没什么变化

[2020-06-20 01:37] brickspert commented on #440
你可以使用状态管理器来管理外部的状态。比如 hox 等。

[2020-06-20 01:38] brickspert commented on #441
官方 demo 测试没问题。可以提供一下有问题的在线示例吗？

[2020-06-20 06:48] crazyair opened #442 "useAntdTable 使用 v4 antd 报错"
https://codesandbox.io/s/headless-feather-y8wpp?file=/demo.tsx

![image](https://user-images.githubusercontent.com/7971419/85195428-0945d000-b305-11ea-8aa4-eda0bcfc3a92.png)

[2020-06-20 08:01] PeiTianHuang commented on #435
![image](https://user-images.githubusercontent.com/17986764/85196830-76f6f980-b30f-11ea-989b-ddb89acc2d79.png)
![image](https://user-images.githubusercontent.com/17986764/85196843-8d9d5080-b30f-11ea-823a-f12596a241ff.png)

https://codesandbox.io/s/yymup?module=/demo.tsx&file=/demo.tsx

可以在这个官方示例中修改三行代码进行重现（由于修改了itemHeight的值，所以空白问题暂时得到解决，但还是存在其他问题），改动后拉到70+左右，可看到向下滑动一点点距离时，有不定个项发生了变化（期望是整行一起出现或隐藏）

[2020-06-20 08:11] PeiTianHuang commented on #435
此时的滚动效果异常，并没有正常的滚动，而只是小幅移动后刷新了数据，有那种一闪一闪的效果

[2020-06-20 09:30] ttys026 commented on #435
@PeiTianHuang 这个用样式进行多列的布局确实不是预期的用法，现在想到一个可行的办法是使用确定的每行的 item 个数（例如 3 个）封装成一个组件，然后用虚拟列表展示 总数量 / 3 行。

[2020-06-20 09:40] PeiTianHuang commented on #435
你好，目前因为需要实现的效果是一行摆放不下时才另起一行（子项为inline-block），所以每行的元素个数是不定的...

[2020-06-21 00:21] nanxiaobei opened #443 "Cannot call an event handler while rendering 问题探讨"
使用 `useRequest` 发现报错 "Cannot call an event handler while rendering"，

我的使用场景是，

[code]

在组件 A 中定义了一个手动触发的 request，然后通过 props 传给组件 B 内部使用，

两个组件执行顺序是：

[code]

看了下报错代码，`useRequest` 的 `utils/usePersistFn` 中存在代码如下：

![c6tKf.png](https://s3.jpg.cm/2020/06/21/c6tKf.png)

似乎是 A 中定义的 request，等到 A 的 `useEffect` 中才赋值，而在上面的场景中，还未走到 A 的 `useEffect` 就去执行，所以报错了。

以上，如果我没理解错的话 ... 继续以下，

想探讨一下，目前这种 useEffect 中再

[2020-06-21 03:21] brickspert commented on #442
Form 组件需要穿个 `form` 属性的

![image](https://user-images.githubusercontent.com/12526493/85215908-64350100-b3b1-11ea-982a-6b4232a7104a.png)

[2020-06-21 03:22] #442 closed, assigned to nobody

[2020-06-21 03:26] crazyair commented on #442
忘了传 form 了， 我加上了。
然后把 advanceSearchForm 注释，不显示搜索组件后还是报错，我初衷其实才是这个问题。

[2020-06-21 03:33] brickspert commented on #442
这是 antd 自己的报错，如果使用了 `useForm`，但是没有传递给 `Form` 组件，就会报警告的。

[2020-06-21 03:34] crazyair commented on #442
恩，知道了 。

[2020-06-21 03:35] brickspert commented on #443
useRequest 的 usePersistFn 写错了。正常应该是和下面代码一致的：

https://github.com/alibaba/hooks/blob/master/packages/hooks/src/usePersistFn/index.ts

我需要修正下 useRequest 的 usePersistFn 写法

[code]

[2020-06-22 02:09] brickspert commented on #443
v2.0.1 已修复~

[2020-06-22 02:09] #443 closed, assigned to nobody

[2020-06-22 15:03] douxc commented on #400
@brickspert 这样的话有个问题：
```request```的```responseInterceptors```中判断```status、code```，给出了统一的处理和错误提示（根据```业务code```决定），错误的时候会```reject```。手动```run```的时候，就要再次判断返回的值是否合法

[2020-06-22 15:11] kaoding opened #449 "useWebSocket"
可以做一个 websocket 的 hooks

[2020-06-23 02:22] brickspert commented on #400
我需要再处理下这里的逻辑，先打开问题。我想下~

[2020-06-23 02:22] brickspert commented on #449
有兴趣贡献下吗？😋

[2020-06-23 04:08] brickspert commented on #441
暂时先关闭了，后续如果能复现的话再打开~

[2020-06-23 04:08] #441 closed, assigned to brickspert

[2020-06-23 07:55] chj-damon opened #450 "在umi-request的拦截器里面怎么抛异常可以在useRequest的onError里面拿到"
我用的umi-request，想要在response的拦截器里面对后端返回的数据做一些校验，如果校验不通过，抛出异常，然后在useRequest的onError里面把异常打印出来。但是实际上并没有走onError.

试过了throw new Error(errorText)，return Promise.reject(errorText),都没用。

想请教一下在拦截器里面抛异常的正确做法应该是什么样的？

[2020-06-23 09:58] MinJieLiu opened #451 "useSize 参数中的 ref 与 React 类型不符合"
迁移之后
![image](https://user-images.githubusercontent.com/6167727/85390134-f3414500-b57a-11ea-9753-db2312702bb8.png)
加上 null 参数后
![image](https://user-images.githubusercontent.com/6167727/85390176-03f1bb00-b57b-11ea-94ef-989dd9eac17b.png)

[2020-06-24 07:21] dumeng-chn commented on #400
刚刚被这个小小的坑了一下，觉得这里不太符合逻辑。

[2020-06-25 06:35] ycjcl868 opened #453 "useSessionStorageState useStorageState shouldn't use stringify"
https://github.com/alibaba/hooks/blob/c423c89465fa69f78a78fb6dee68138001e4f50b/packages/hooks/src/useStorageState/index.ts#L46

if I just storage a string value,

[code]

expected

[code]

reality

[code]

![image](https://user-images.githubusercontent.com/13595509/85668078-df1f5400-b6f0-11ea-9df1-dc0aa6f7b4f2.png)

[2020-06-25 11:12] brickspert commented on #451
It's not hooks bug. you shuld add `null` for useRef

[code]

[2020-06-25 11:16] brickspert commented on #453
Duplicate: #412

[2020-06-25 11:19] brickspert commented on #450
Maybe you should find the answer from [https://github.com/umijs/umi-request](https://github.com/umijs/umi-request).
Or you can refer to this [plugin-request](https://umijs.org/plugins/plugin-request), which have same logic.

[2020-06-25 11:20] #450 closed, assigned to nobody

[2020-06-27 10:26] brickspert opened #454 "New Hooks progress and ideas"
* Hooks development progress tracking
* If you have new Hooks ideas you can follow up
-----
* 新增 Hooks 开发进度追踪
* 如果你有新的 Hooks 想法可以追评

[2020-06-27 10:34] brickspert commented on #454
|  Name | RFC | Developer | Stage | Remark |
| --- | --- | --- | ---|---|
| useTimeout | #527 | @awmleer  | ✅ | - |
| useInterval | #437  | @awmleer  | ✅ | - |
| useCookie | #455 | @Straw94  | ✅ | - |
| useNetwork | #512 | @brickspert  | ✅ | - |
| useTitle | - | @chenbin92  | ✅ | - |
| useUrlState | - | @tty006   | ✅ | - |
| useSetState | #463 | @brickspert  | ✅ | - |
| useWhyDidYouUpdate | #471 |

[2020-06-27 10:35] brickspert commented on #449
统一维护在 #454

[2020-06-27 10:35] #449 closed, assigned to nobody

[2020-06-27 11:05] douxc commented on #400
或许可以再加一个配置catcherror？默认情况抛出异常？

[2020-06-27 11:06] brickspert commented on #400
现在有一个 `throwOnError` 配置，设置为 `true`，就会把异常抛出来。

[2020-06-27 11:17] Straw94 opened #455 "【RFC】useCookieState"
### API
[code]

### DEMO
[code]
### 实现
[code]

[2020-06-27 11:22] brickspert commented on #455
+1

[2020-06-28 02:34] awmleer commented on #453
This is the expected behavior and I believe it has been fully discussed before. #412

[2020-06-28 02:34] #453 closed, assigned to awmleer

[2020-06-28 03:57] iamwelk opened #457 "useSelections测试用例问题"
useSelections测试用例无法通过测试

[2020-06-28 06:02] MinJieLiu commented on #451
再仔细看看第一张图
就是你所推荐那样写的才报错的
[code]

![image](https://user-images.githubusercontent.com/6167727/85939412-d2486d80-b947-11ea-879d-771b66a35592.png)

[2020-06-28 06:04] brickspert commented on #451
最新的版本应该是没这个问题了吧？已经修复过一次了。

[2020-06-28 06:12] MinJieLiu commented on #451
我是升级到 2.0.1 中出现的问题

[2020-06-28 10:56] #427 closed, assigned to brickspert

[2020-06-28 10:58] brickspert commented on #428
Wait for error message~

[2020-06-28 10:58] #428 closed, assigned to brickspert

[2020-06-28 12:27] zhangxr09 opened #458 "useMap使用问题"
未打包前useMap的set，remove方法如下：
`set: (key, entry) => {
        map.set(key, entry);
        set(new Map([...map]));
      },
remove: (key) => {
        map.delete(key);
        set(new Map([...map]));
     },`

// 打包后如下：
set: function set(key, entry) {
        map.set(key, entry);

        _set(new Map([].concat(map)));
      },
remove: function remove(key) {
        map["delete"](key);

        _set(

[2020-06-28 15:21] ttys026 commented on #457
github 上的 ci 和我本地都无法复现，是用的 master 最新的代码跑的测试吗？

[2020-06-29 01:09] xiexingen commented on #415
看到有个throwOnError  是不是通过配置throwOnError:true来实现这个

[2020-06-29 01:51] brickspert commented on #415
1. 可以配置 throwOnError，这时候会正常 throw error
2. 另外，昨天提交的 PR #456 ，哪怕不配置 throwOnError，也不会触发 run().then() 了

[2020-06-29 02:17] augustVino opened #460 "useSelections 问题"
[code]

[2020-06-29 02:20] #460 closed, assigned to nobody

[2020-06-29 03:23] xiexingen commented on #415
坐等第二种形式的包，到时候我再试试

[2020-06-29 08:08] ttys026 commented on #437
感觉还是需要 run, stop, running 这三个返回结果的，自己拼要多用个 hook，而且比较难理解。
另外如果 有 immediate 的概念的话，是不是要区分 startCountDown 和 executeOnceAndStartCountDown 两个概念

[2020-06-29 08:22] ttys026 commented on #420
亲 目前主要是服务中台的场景，移动端支持的优先级会比较低。
预计可以在 7 月底左右支持

[2020-06-29 08:33] ttys026 commented on #435
目前这个 hook 的适用场景还覆盖不了复杂的情况，默认是支持单列多行的虚拟列表，这里提到的 masonry 的场景，可以参考 react-virtualized 的 demo：
https://bvaughn.github.io/react-virtualized/#/components/Masonry

[2020-06-29 08:44] PeiTianHuang commented on #435
非常感谢您的指点

[2020-06-29 08:44] #435 closed, assigned to ttys026

[2020-06-29 09:46] urnotzane opened #461 "useDrag的拖拽input里的文字也会触发拖拽事件"
我想通过拖拽选中input里的文字，但是因为父级dom元素有用useDrag，所以无法选中，只能进行拖拽，可否给个方案解决这样的问题？
<img width="811" alt="BDC2CF8B-E3B8-4ACF-9AC2-453B05995A9A" src="https://user-images.githubusercontent.com/27631594/85994967-5fff8800-ba30-11ea-9529-462aad0974e3.png">

[2020-06-29 11:02] brickspert opened #463 "【RFC】useSetState"
# useSetState

管理对象类型 state 的 Hooks，用法与 class 组件的 `this.setState` 基本一致。

## 代码演示

[code]

## API

[code]

[2020-06-29 11:04] brickspert commented on #437
同意有  run, stop, running 三个返回。

但 startCountDown 和 executeOnceAndStartCountDown 就没必要了吧，没场景需要把~

[2020-06-29 11:13] iamwelk commented on #457
[code]

[2020-06-29 11:14] iamwelk commented on #457
https://github.com/alibaba/hooks/issues/457#issuecomment-651046014

[2020-06-29 11:19] awmleer commented on #437
immediate 就是 executeOnceAndStartCountDown 了，不启用 immediate 就是 startCountDown

[2020-06-29 11:21] Straw94 commented on #463
+1

[2020-06-29 11:28] awmleer commented on #437
run stop running 我之所倾向于不加的原因：
1. 使用场景并不多
2. 既然加了这些控制状态，是不是还需要再加上 initialRunning 参数，是不是还要加上 toggle 方法？用户的各种具体使用场景无穷无尽，不可能满足所有人的需求

我觉得所有的 Hooks 都应该尽可能的细粒度，一方面是便于用户自由组合和扩展，另一方面也可以降低学习成本。如果用户需要 run stop running 这些东西的话，我觉得更应该是让用户自己去封装一个 custom Hook，就像 react-intl 的[做法](https://formatjs.io/docs/react-intl/api/#useintl-hook)，我们可以在文档上写出这样的 demo

[2020-06-29 12:04] monkindey opened #465 "【RFC】useTable Hook 插件"
# 简介

<br />为 useTable 能力集成插件扩展能力，方便用户扩展 Filter、排序、多选等能力，同时也方便上层建设对应的解决方案，比如配置化、数据驱动。<br />

<a name="B3j7s"></a>
# 基础案例

<br />下面演示一个简单的例子，以伪代码的方式。<br />

[code]

<br />useTable 具备插件的扩展能力，每一个插件其实也是一个 Hook，可以定义为高级 Hook，它可以<br />

- 管理状态；
- 中间件方式管理请求链路；
- 注入 props；

<br />具体为什么需要这些能力可以往下看。
<a name="Motivation"></a>
# 动机

<br />在中后台业务上表单查询场景很多，基本上占了 60% 左右，如何梳理一个通用解决方案来提效是我们现在面临的问题。另外一个问题就是虽然场景类似但是中

[2020-06-29 13:05] brickspert commented on #465
1. 名字叫 `useTable`，但是文章内还是叫 `useTableQuery`
2. 如上次讨论所说，formProps 不建议作为底层能力，可以作为一个官方插件。
3. `paginationProps` 的字段，建议和 fusion 或 antd 保持一致，没必要重新起个名字。比如 `pageIndex` => `current`

4. API 设计中建议不要 deps，而使用 `options.refreshDeps` 代替，和 useRequset 一样。否则用户会有歧义，以为 `service` 中用到的变量都必须放到 `deps` 中。 useRequest 最初就是这么设计的，后来改掉了。

[2020-06-29 13:09] brickspert commented on #465
十！分！期！待！~~ ✿✿ヽ(°▽°)ノ✿

[2020-06-29 13:14] brickspert commented on #457
测试用例看着没啥问题。你是怎么跑的测试用例？

[2020-06-29 13:59] chenbin92 commented on #463
+1

[2020-06-29 14:27] monkindey commented on #465
@brickspert

* 第一点 已改
* 第二点 我想按照你的思路想，看看能不能实现；
* 第三点 paginationProps 就是 current，而不是 pageIndex

[code]

* 第四点之前改成 refreshDeps 的考虑是？

[2020-06-30 01:59] brickspert commented on #465
* 文中很多地方是 pageIndex，为什么不是 current 呢？这里不太理解。
* useEffect 的第二个参数有两个含义：1. 参数变化，重新执行。 2. 函数中用到的所有参数，必须放到 deps 中。
   而我们的 deps，只有第一层含义，没有第二层含义。
   可能和我们的 Hooks 开发方式有关，我们所有的函数都用 `usePersistFn` 包了一次。

[2020-06-30 06:17] monkindey commented on #465
@brickspert

* 你们后端返回都是 current 不是 pageIndex 吗？我们这边都是 pageIndex 😅，我现在全部改成 current 了
* useEffect 居然还有两层意思？第二层意思应该是“建议”吧

[2020-06-30 06:43] iamwelk commented on #457
我这里截取的部分看起来是正常的，但是在实际的测试文件中，初始条件是[1]而不是[]
可以去原始的测试文件里面去看

[2020-06-30 10:19] hucece opened #466 "useVirtual，最后一个数据出现在视图后，可继续滚动，并且一片空白"
在官网提供的两个在线编辑的例子，以及本地demo使用useVirtual时，出现如下问题：

最后一个数据出现在视图后，可继续滚动，并且一片空白。

原因分析：padding一直在增加，列表容器的height是固定的，列表容器的实际高度变成padding + height，而不是保持height。滚动条的高度并不是包含在容器的height中，而是通过padding加出来，最后导致容器的高度溢出height。

解决办法：通过boxSizing的border-box属性解决，使得padding包含在height中，容器的实际height一直保持height不变

1: 用户自己解决，为useVirtual返回的wrapperProps中的style添加boxSizing: 'border-box';
   可以在官方提供的例子中显示这个用法
2: useVirtual在要返回的wrapper

[2020-06-30 14:27] #463 closed, assigned to nobody

[2020-06-30 14:54] brickspert commented on #465
第二层不是建议吧，如果不放到 deps 里面，会造成闭包问题。并且如果使用了 react 提供的 vscode 插件，不写还会报警告。

我举个例子来对比下 useEffect 的 deps 和 useRequest 的 refreshDeps

1. useEffect deps

[code]
上面的例子是不对的，每次打印的 `state` 很可能不是最新的。
所以 useEffect 中用到的所有外部依赖，都要放在第二个参数中。防止出现闭包问题吧，这也是官方的建议。

2. useRequest 的实现原理大概如下

[code]
通过 usePersistFn 包装，避免了闭包问题。也就不需要把依赖放在 deps 中了。
然后我们加了一个 refreshDeps，来提供变化重新执行的能力。应该和 useTable 要实现的能力一致。

不知道你能看懂我说的么~好像有点绕。。哈哈

[2020-06-30 14:56] #458 closed, assigned to Straw94

[2020-06-30 14:58] brickspert commented on #465
这个只要统一就没问题。但是不能有些地方是 current，有些地方是 pageIndex

[2020-07-01 02:46] awmleer commented on #437
所以确定一个结论？要不我们先不加上这些额外的 feature？如果后面真的需要的话，也可以再加上，不会产生 break change。。 @brickspert

[2020-07-01 02:50] brickspert commented on #437
可以。+1

[2020-07-01 03:41] ttys026 commented on #461
https://codesandbox.io/s/divine-platform-jerue?file=/demo.tsx
写了一个 demo，可以在 focus 时禁止 drag

[2020-07-01 03:41] chj-damon opened #468 "ready和refreshDeps配合时只会在第一次生效"
[code]
在如上的场景中，ready和refreshDeps都依赖了menus，当menus的长度发生变化时，比如清空menus，这时候refreshDeps会重新发请求，但是这时候的ready是false，按理说这个请求就应该被block掉。
实际上请求还是发出去了。
所以我认为这个地方是个bug，任何时候发请求都应该去看一下ready条件是否成立。

[2020-07-01 05:18] monkindey commented on #465
@brickspert 那就最后的 API 应该是

[code]

[2020-07-01 05:31] brickspert commented on #465
+1

[2020-07-01 09:15] brickspert commented on #415
已发布。

[2020-07-01 09:15] #415 closed, assigned to brickspert

[2020-07-01 09:16] brickspert commented on #400
v2.1.0 已经修复了改问题。

* 默认报错不会触发 run().then() 了
* 通过配置 `throwOnError` 可以正常拿到异常。

[2020-07-01 09:16] #400 closed, assigned to brickspert

[2020-07-01 10:01] zhaofinger opened #471 "【RFC】 useWhyDidYouUpdate"
## useWhyDidYouUpdate

开发时使用，用于帮助开发者排查是什么改变导致了组件 rerender 。

## 代码演示

[code]

### 控制台输出
![image](https://user-images.githubusercontent.com/31442077/86231592-62471b00-bbc5-11ea-9caa-e10a70937a63.png)

## 参考

[useWhyDidYouUpdate](https://usehooks.com/useWhyDidYouUpdate/)

[2020-07-01 11:16] xiexingen commented on #415
收到 试过了 蛮香的
有个其他的问题 阿里源居然没找到2.1.0版本

[2020-07-01 13:02] #461 closed, assigned to ttys026

[2020-07-01 15:46] chj-damon opened #472 "useRequest和UseRequestProvider的onError都无法捕获umi-request的errorHandler抛出的异常"
重现最小仓库地址：
https://github.com/chj-damon/useRequestErrorReproduceDemo

[2020-07-01 16:49] tnduc opened #473 "useDynamicList antd v4 Form"
I am using antd form v4, I am having problems with the input name:
[https://ahooks.js.org/hooks/ui/use-dynamic-list#dyanmic-tabledraggable](https://ahooks.js.org/hooks/ui/use-dynamic-list#dyanmic-tabledraggable)

e.g
[code]

output: `attributes[0].name`

how to get the same result: `attributes: [{name: 'blabla']`

[2020-07-02 02:47] Smi1e96 opened #474 "this.service.apply(...).then(...).catch(...).finally is not a function"
# 在taro项目中使用ahook出现this.service.apply(...).then(...).catch(...).finally is not a function

在真机测试阶段就会出现下图
问题如下
![image](https://user-images.githubusercontent.com/31199247/86310549-f4e0cc00-bc50-11ea-9147-1f85f513bb39.png)

项目源码包
[taro3.zip](https://github.com/alibaba/hooks/files/4861704/taro3.zip)

[2020-07-02 03:37] jeasonstudio opened #475 "【RFC】useRequest support Suspense Mode"
### API

[code]

### DEMO

[code]

### Implement

[2020-07-02 03:43] brickspert commented on #471
+1

[2020-07-02 03:45] brickspert commented on #474
Duplicated: #426

[2020-07-02 03:45] #474 closed, assigned to nobody

[2020-07-02 03:53] MatrixAge opened #476 "[useVirtualList]是否计划支持MeasureRow（动态高度，自动计算）"
之前一直在用React Virtualized做虚拟滚动，但是React Virtualized对边滚动边加载的支持不是那么好。

它支持的方法是（startIndex,endIndex）=> void,startIndex和endIndex在滚动时频繁触发，关键这两个值不是特别准确。

现在想结合useVirtualList重写一版（计划下个月重写），看看官方能否支持MeasureRow来动态计算元素高度。

[2020-07-02 06:31] kwooshung opened #477 "useTextSelection从右选到左到头，则没有选择到内容，为空"
![image](https://user-images.githubusercontent.com/3413930/86324084-93c8f080-bc70-11ea-842b-ce7bafa2b04a.png)

如上图，如果是从右选到左到头，则没有选择到内容，为空

[2020-07-02 07:13] brickspert commented on #477
其实这个问题是这样造成的：你鼠标 up 的时候，不在设置的 dom 区域内了，所以其实没有处理 mouseup 事件。

这个我需要优化下。

[2020-07-02 08:43] yepyeel opened #478 "能否默认关闭 useRequest 中data返回result.data选项"
[code]

因为有些接口并不需要获取到内层的data, 能否手动或全局关闭

[2020-07-02 08:56] yepyeel commented on #478
umi的问题导致 如果从umi导入会有该问题 从ahooks导入则不会有该问题

[2020-07-02 08:56] #478 closed, assigned to nobody

[2020-07-03 02:30] #476 closed, assigned to nobody

[2020-07-03 04:06] crazyair opened #484 "form 版本判断需要更改"
antd 新版本 https://ant.design/changelog-cn
![image](https://user-images.githubusercontent.com/7971419/86430759-a2251400-bd25-11ea-805b-acd272c4988c.png)

这里判断明显要失败

![image](https://user-images.githubusercontent.com/7971419/86430779-ad783f80-bd25-11ea-8f10-abca0c004c95.png)

[2020-07-03 04:18] crazyair commented on #484
可以用传参，或者 hook 支持全局变量设置一次 antd 版本。

[2020-07-03 04:58] brickspert commented on #484
我看一下，如果 antd4 的 getFieldInstance 和 antd3 行为一致，就没太大问题。

[2020-07-03 05:00] crazyair commented on #484
我这边是封装了 Form ，submit 想自己控制，主要是获取 values ，能放开吗？

[2020-07-03 05:05] crazyair commented on #484
我这边开始出现问题是，本地开发模式没事，发布了之后 select、radio 选中值后点击搜索，是没有的。

[2020-07-03 09:47] hello-chinese opened #485 "更新导致useRequest请求失败,需要手写catch处理异常。"
### What problem does this feature solve?
描述:
文件 hooks/packages/use-request/src/useAsync.ts  172行
返回了Promise.reject, finally不会修改promise的状态,开发者需要自行.cath处理请求失败

问题：
现接口请求失败后，需要自行在项目代码中通过.catch做失败处理。
而之前请求失败，都是在.then中判断失败。

mater:
[code]
before:
[code]
### What does the proposed API look like?
不设置throwOnError为true时，返回的Promies，在then中判断请求是否成功

[2020-07-03 11:11] brickspert commented on #485
#400  #415
之前是一个 bug。

[2020-07-03 18:08] ttys026 commented on #473
We will add a more detailed demo later on.
For now you can refer to the csb for how to use with antd4.
https://codesandbox.io/s/fervent-maxwell-mu7lj?file=/demo.tsx

[2020-07-03 19:53] smajl commented on #451
@brickspert Still a problem with 2.1.0

[2020-07-04 01:46] #485 closed, assigned to nobody

[2020-07-04 01:47] brickspert opened #486 "useRequest need tslib bug"
![image](https://user-images.githubusercontent.com/12526493/86502939-4d43d500-bddb-11ea-92c1-a0e7568241ae.png)

[2020-07-04 08:24] kkelyi opened #488 "useAntdTable 设置showSizeChanger 为 true，当pageSize变化时会触发两次请求"
就在这个 demo中 修改tableProps.pagination.showSizeChanger = true 就能重现；
https://github.com/alibaba/hooks/blob/master/packages/hooks/src/useAntdTable/demo/demo3.tsx

[2020-07-04 11:51] #473 closed, assigned to ttys026

[2020-07-04 13:32] x-ray-s commented on #426
作为一个可以单独使用的 lib 不提供 ES5 版本吗？`umi-request` 中引用的 `useAsync` 中代码需要 Polyfill，让使用者自己加？
`node_modules` 作为多数 `babel-loader` 的默认 `exclude` 配置，还要为了你这个单独加进去？
还是要在使用 `umi-request` 的地方首先要 `require('core-js/modules/es.promise.finally')` 放在代码最上面？
还是必须在我代码里用过 `Promise.prototype.finally` 来触发 `preset-env` ?
如果是这样。麻烦写文档上，要么给一个 Browser Support 的列表，来告诉使用者就不支持。
如果用  `umi-request` 跟 `axios` 作为竞品，你看 axios 让你自己加 Polyfill

[2020-07-05 00:33] nemesisqp commented on #390
`data` get stuck after hmr happened too

[2020-07-05 07:45] chenbin92 commented on #401
@awmleer

不能正确的更新状态是指什么 ？

查了下 `VisibilityState` 兼容性 Safari 是正常的，测试如下：

![image](https://user-images.githubusercontent.com/3995814/86527957-6c735d00-bed6-11ea-8521-4ef641c5aca7.png)

[2020-07-05 08:04] chenbin92 commented on #405
试了下如下图所示 DEMO3 演示正常

![demo](https://user-images.githubusercontent.com/3995814/86528269-fcb2a180-bed8-11ea-9e7e-fe3d31f81e89.gif)

[2020-07-05 08:11] #457 closed, assigned to ttys026

[2020-07-05 09:43] iamwelk commented on #457
不好意思，本地环境问题，打扰了

[2020-07-05 10:46] brickspert commented on #405
同测试 ok，暂时关闭了哈？如果有进一步反馈再打开哈。

[2020-07-05 10:46] #405 closed, assigned to chenbin92

[2020-07-05 12:07] iamwelk commented on #457
不过测试用例都依赖于同一个setup，下一个测试用例依赖上一个执行的结果，感觉不是太好。。

[2020-07-05 12:27] brickspert commented on #484
可以提供个你具体怎么封装的示例吗？submit 要怎么控制？

[2020-07-05 12:35] crazyair commented on #484
form 我封装了个 getFormatFieldsValue 方法，提交需要执行这个。

[2020-07-05 12:37] crazyair commented on #484
这个问题我知道了， select，radio 是因为没有实例，所以被 v3 判断给 filter 了。

[2020-07-05 12:46] brickspert commented on #488
这是一个 antd 的 bug，已经报告给 antd：https://github.com/ant-design/ant-design/issues/25434

[2020-07-05 12:46] #488 closed, assigned to brickspert

[2020-07-05 12:50] brickspert commented on #484
测试了一下，antd4 最新版本没问题的。暂时先关了哈，有问题再开起来。

[2020-07-05 12:50] #484 closed, assigned to brickspert

[2020-07-05 12:52] brickspert commented on #472
UseRequestProvider 要再往外面包一层。

useRequest 要在 UseRequestProvider 子组件中。

[2020-07-05 12:55] crazyair commented on #484
实例的事情我是解决了，但是说的这个

form 我封装了个 getFormatFieldsValue 方法，提交需要执行这个。

你没看？

[2020-07-05 13:02] brickspert opened #491 "ci fix"
* 用户的 pr ci 不会被执行
* 用户的 pr 希望能运行一个站点

[2020-07-06 01:38] Smi1e96 commented on #474
@brickspert  找到原因了 是小程序 ios版不支持Promise.finally :sweat:

[2020-07-06 01:46] chj-damon commented on #472
代码改了，把useRequest放到了UseRequestProvider里面，但是效果一样。onError还是捕获不了errorHandler抛出的error：
![image](https://user-images.githubusercontent.com/4902684/86548034-92980c00-bf6d-11ea-9ef6-3d9c1b8ee2fd.png)

[2020-07-06 01:50] brickspert commented on #474
这个我们这边也要兼容下。

[2020-07-06 01:53] brickspert commented on #472
useRequest 是处理 promise 类型的 service 的。
如果 service 是 reject 的，就能捕获到。你先看看 service promise 是不是变成 reject 了。

[2020-07-06 02:01] chj-damon commented on #472
终于搞明白了。原来errorHandler抛出的异常要自己catch一下，然后在catch里面用Promise.reject处理，才能够被useRequest的onError捕获。

[2020-07-06 02:01] #472 closed, assigned to brickspert

[2020-07-06 02:07] Smi1e96 commented on #474
@brickspert  我现在暂时的处理方法 在小程序 onload 里面运行
[code]
让他引入兼容包

[2020-07-06 02:38] awmleer commented on #401
切换到其他 tab 下，状态会一直保持 `visible`，按理说应该变成 `hidden` 的

[2020-07-06 04:10] liujiayu10 opened #492 "useRequest的几个用法真的有用吗？"
const { loading, run } = useRequest((username) => ({
  url: '/api/changeUsername',
  method: 'post',
  data: { username },
}), {
  manual: true,
});

我这样用了，出错：url MUST be a string

[2020-07-06 04:56] brickspert commented on #492
你是不是配置了 requestMethod？使用了 `umi-request` ？

那你应该在 requestMethod 里面手动把 url 解析出来。

[code]

[2020-07-06 04:58] liujiayu10 commented on #492
谢谢，搞定了，参数那里要重构才行，示例是只要一个简单的参数就行了，其实是不全面的

[2020-07-06 05:50] #466 closed, assigned to ttys026

[2020-07-06 07:39] zhaoxm2016 opened #493 "请教，run函数里面传入的参数如何合入到请求的data里呢"
请教，run函数里面传入的参数如何合入到请求的data里呢

[2020-07-06 07:46] brickspert commented on #493
[code]

run 的参数会传递给 useRequest 第一个参数，也就是上面的 id

[2020-07-06 13:10] #493 closed, assigned to nobody

[2020-07-06 13:14] brickspert commented on #492
你应该是使用了 umi-request ~

[2020-07-06 13:14] #492 closed, assigned to nobody

[2020-07-06 13:34] #471 closed, assigned to nobody

[2020-07-06 13:42] #429 closed, assigned to brickspert

[2020-07-06 13:48] awmleer commented on #491
Fixed via #494 .

[2020-07-06 13:49] #491 closed, assigned to awmleer

[2020-07-08 02:49] fuhaichao215 opened #495 "useToggle"
reverseValueOrigin 变量 不需要用 useMemo 包裹吧？
计算量不大，而且也不在 useToggle 的返回值

[2020-07-08 05:08] plightfield opened #496 "useAntdTable 无法绑定 包含自定义表单项的表格"
当表单包含自定义表单项时，
service 参数 中 form 始终为 {}
defaultParams 不起作用

getFieldInstance 也是 v4 的属性，可以通过 这个字段判断么？
[code]

[2020-07-08 06:25] plightfield commented on #496
可以通过自定义组件加 forwardRef 解决，希望加上说明

[2020-07-08 07:06] #440 closed, assigned to brickspert

[2020-07-08 11:50] #486 closed, assigned to awmleer

[2020-07-08 13:30] brickspert commented on #477
demo 已经优化。

[2020-07-08 13:30] #477 closed, assigned to brickspert

[2020-07-09 08:11] lvchenyang opened #501 "SSR中使用useInViewport抛出关于useLayoutEffect的警告"
版本号：1.9.4-beta

[2020-07-09 11:26] Zousdie opened #502 "[RFC] useEasyReducer"
We generally use `useReducer` like this in typescript:

## Demo with useReducer

[code]

However, when the state type is complex or there are many actions, manually coding the state and actions type is very annoying. And for javascript projects, the action type required by the dispatch function is a "magic string", which is not conducive to project maintenance.

So, we can provide a new way to use

[2020-07-09 11:39] Zousdie commented on #454
useEasyReducer
#502

[2020-07-10 03:45] #437 closed, assigned to brickspert, awmleer

[2020-07-10 04:58] brickspert commented on #502
我还没在项目中用过 useReducer，哈哈。

[2020-07-10 05:08] brickspert commented on #502
我觉得 ok. +1

[2020-07-10 07:12] awmleer commented on #502
这个语法感觉有点夹生饭，有点 flux + setState 混合的感觉。。其实上面的这个 demo 可以用 `setState` 实现的，而且难易程度也差不多：

[code]

[2020-07-10 08:51] zhaofinger opened #504 "[RFC] useWebSocket"
#449

## useWebSocket

### 代码演示

[code]

### API
[code]

[2020-07-11 02:16] brickspert commented on #495
我觉得加上 useMemo 没有多大问题，是预期中的写法。

下面两种写法我觉得上面的更优。

[code]

[code]

[2020-07-11 02:16] #495 closed, assigned to brickspert

[2020-07-11 02:26] brickspert commented on #504
可以参考：https://github.com/robtaussig/react-use-websocket#readme

Options 应该有更多选项，比如 `onOpen` ，`onMessage` 等。

另外 API 应为为 `const result = useWebSocket(url, options?)`

[2020-07-11 03:57] zhaofinger commented on #504
@brickspert 可以，但是有一个疑问 readyState 和 lastestMessage 已经可以覆盖到这些 callback，所以这些 callback 还有必要吗🤔️

[2020-07-11 04:13] brickspert commented on #504
比如我想在收到消息的时候，触发个事件。就需要用到 onMesage 吧。

[2020-07-11 04:51] zhaofinger commented on #504
我理解加上 useEffect 就可以做吧，虽然可能略显繁琐。

[2020-07-11 07:59] brickspert commented on #504
加上 useEffect 会有问题，比如两次同样的消息，就监听不到了。

[2020-07-12 03:09] WangJM001 opened #507 "[Bug]use-request 当前refreshDeps的依赖值是数组时，无限刷新"
重现：https://codesandbox.io/s/busy-keller-8jb5q?file=/demo.tsx

 refreshDeps: [[1, 2, 3]]

[2020-07-12 05:06] brickspert commented on #507
这个是期望行为，因为 `[1, 2, 3] !== [1, 2, 3]`

[2020-07-12 05:06] #507 closed, assigned to nobody

[2020-07-12 08:14] zhaofinger commented on #504
这个倒不会，现在我想的是 latestMessage 直接返回 MessageEvent 类型，所以同样的消息不会有问题。

🤔️ 新的疑惑，latestMessage 是直接返回 MessageEvent 还是返回消息 data 比较合适呢？

[2020-07-12 11:36] #401 closed, assigned to chenbin92

[2020-07-12 11:52] awmleer opened #509 "add .npmrc"

[2020-07-12 20:51] nanxiaobei opened #510 "useKeyPress, Cannot read property 'toUpperCase' of undefined"
[code]

输入框自动建议文字 autoComplete 选择填充到输入框后，报错 "Cannot read property 'toUpperCase' of undefined"

报错代码：

[code]

[2020-07-13 04:02] wlc534 opened #511 "useAntdTable在配置相关表单校验规则，表单校验不通过，未能阻止submit"
useAntdTable在配置相关表单校验规则，表单校验不通过，未能阻止submit

![image](https://user-images.githubusercontent.com/26006959/87269736-a5c45200-c500-11ea-8db7-3952bb02daca.png)

[2020-07-13 11:57] Straw94 opened #512 "【RFC】useNetwork"
## API
[code]

## DEMO
[code]

[2020-07-14 01:42] brickspert commented on #512
+1

[2020-07-14 09:02] Sunshine168 commented on #496
同样遇到了这个问题 ，我是自己拿 form.getFieldsValue 拿的值
getFieldInstance 这个判断有问题，用 getInternalHooks ？这个应该只有 v4 会有

[2020-07-14 11:32] brickspert commented on #496
自定义表单项不生效吗？奇怪。能给个复现吗？

[2020-07-14 12:22] WeiShengv99 opened #515 "useAntdTable/useRequest Error: Can't perform a React state update on an unmounted component"
## Version

ahooks@^2.0.0:
"@ahooksjs/use-request@^2.0.0"

## Test Case

## Steps to reproduce

when  i  mount and unmount component  very fast( 90/150 times? ) , i can get this error ,  it seem like `settimeout` call when table component was  unmount.

![image](https://user-images.githubusercontent.com/35689628/87417084-3df63000-c602-11ea-8db8-8717aa11f904.png)
![image](https://user-images.github

[2020-07-14 12:35] WeiShengv99 commented on #515
i guess it because  setFields when form not ready

[2020-07-14 12:58] Sunshine168 commented on #496
https://codesandbox.io/s/old-sunset-ew04v?file=/src/App.tsx @brickspert

[2020-07-14 14:35] brickspert commented on #515
I can't reproduce it, even i use it like this

[code]

[2020-07-14 14:52] brickspert commented on #496
在 antd 3 中，自定义的函数组件需要使用 `React.forwardRef` 来包裹。

[code]

如果不包裹的话，antd 会报警告。

![image](https://user-images.githubusercontent.com/12526493/87439761-bc16fe80-c623-11ea-86b9-28844ad4e2a6.png)

经过测试，在 antd 4 中也需要包裹 `React.forwardRef`：https://codesandbox.io/s/focused-wave-8xnvl?file=/demo.tsx

[2020-07-14 15:01] brickspert commented on #496
getFieldInstance 判断没问题，antd 4 提供了这个 API 之后，就不用区分 3 和 4 了其实~~

[2020-07-14 15:01] #496 closed, assigned to brickspert

[2020-07-14 15:33] WeiShengv99 commented on #515
sorry ，i guess beacause of webpackHot plugin’s  problem ， when i change timer ，the error must  BE
be reproduce

[2020-07-14 15:43] #515 closed, assigned to brickspert

[2020-07-14 18:16] jinixx opened #517 "useHistoryTravel is missing reset method"
At the moment, there is no reset method to reset history.

[2020-07-15 09:11] PoiScript opened #519 "feature request: changing default pagination options in usePaginated"
In short, I'm trying to disable the size changer of a table. But there's no way to change the default props of pagination in hooks side which means I have to manually override it and results in something like:

[code]

It's fine, but I actually hoping to get something less verbose (we currently have about 80 tables on our sites).

IMO, we can just add a new option named `paginationProps`:

[code]

[2020-07-15 13:20] brickspert commented on #519
I also have many such scenes，I create a custom hooks like this

[code]

[2020-07-16 02:04] hptsmc2020 opened #520 "react native"

[2020-07-16 02:07] #520 closed, assigned to nobody

[2020-07-16 09:03] brickspert commented on #504
又来一个可以参考的：https://github.com/ecomfe/react-hooks/blob/master/packages/web-socket/README.md

[2020-07-16 09:54] ZhengXingchi opened #521 "one question for useFullScreen"
when i use the fullscrren in my editor component。the editor component contain a form(include file input), Popover and so on.when the component is fullscreen,then i click the file input ,the component will exit fullscrren.also when i use antd-popover,the popover cannot be see even i modify the z-index,how to solve it?thank you

[2020-07-16 11:27] brickspert commented on #521
Can you provide an example ?

[2020-07-16 14:03] zhaofinger commented on #504
ok, RFC 更新了下。

[2020-07-17 02:33] ZhengXingchi commented on #521
[this is a demo](https://github.com/ZhengXingchi/usefullscreen-demo.git).you can read document to  reappeared the issue.thank you.

[2020-07-20 07:04] GeraltX opened #525 "useScroll文档错误"
API 部分
- pisition -> position
- useSize -> useScroll

Result 部分
- 类型错误，应该是 left 和 top

[2020-07-20 07:21] ttys026 opened #526 "【RFC】useUrlState"
## API

[code]

## Demo (dummy code)
[code]

## Demo using Context (dummy code)

[code]

[2020-07-20 07:56] Qkxinq opened #527 "RFC: useTimeout"
### API
[code]

- 当 `delay` 的单位为 ms，当其取值更改时清除上一次的 `timeout` 重新设置 `timeout` ，当其值为 `null` 或 `undefined` 时不设置 `timeout`

- `immediate` 参数可以用来控制是否在首次渲染时立即执行 `fn`，默认为 `false`

### Demo
[code]

[2020-07-21 02:03] brickspert commented on #527
immediate 没用吧，useTimeout 不需要这个。

[2020-07-21 02:21] brickspert commented on #526
建议加个参数，判断是 `push` 还是 `replace`。

getter 和 setter 来做这个太复杂了，这两个参数倒是可以来处理 memory 路由。

[2020-07-21 11:13] #525 closed, assigned to Straw94

[2020-07-21 11:44] #502 closed, assigned to chenbin92, brickspert, awmleer, ttys026, Straw94

[2020-07-21 12:26] brickspert opened #531 "doc ci fix"

[2020-07-21 15:06] brickspert commented on #390
This is a bug for react-refresh-webpack-plugin.

It will not work correctly in this scenario

[code]

[2020-07-22 09:26] awmleer commented on #527
+1 整个 `options` 参数都可以去掉

[2020-07-22 10:13] clarkfbar opened #533 "feature request: support onDragStart and onDragEnd in useDrag hook"
support onDragStart and onDragEnd in useDrag hook。

example:

const dragProps = useDrag({
   onDragStart: () => {}
   onDragEnd: () => {}
});

[2020-07-22 15:18] chenbin92 commented on #510
@nanxiaobei  提供一个可复现的 DEMO

[2020-07-23 01:48] brickspert opened #534 "【doc】useState"

[2020-07-23 01:48] brickspert opened #535 "【doc】useEffect"

[2020-07-23 01:49] brickspert opened #536 "【doc】useMemo"

[2020-07-23 01:49] brickspert opened #537 "【doc】useReducer"

[2020-07-23 01:50] brickspert opened #538 "【doc】快速上手-useState"

[2020-07-23 01:50] brickspert opened #539 "【doc】快速上手-useEffect"

[2020-07-23 01:51] brickspert opened #540 "【doc】useCallback"

[2020-07-23 01:51] brickspert opened #541 "【doc】useContext"

[2020-07-23 02:05] brickspert commented on #451
测试了下，这种用法没问题
[code]

加个 null 就不对了，还是不要加 null 了
[code]

[2020-07-23 02:06] #451 closed, assigned to chenbin92

[2020-07-23 05:19] nanxiaobei commented on #510
https://codesandbox.io/s/xenodochial-dust-qc9uz

[2020-07-23 05:27] MinJieLiu commented on #451
@brickspert

React 中 ref 的定义
[code]
不加 null 则会 `Type 'undefined' is not assignable to type 'HTMLDivElement | null'. `

[2020-07-23 06:43] Joker0824 opened #542 "how to cancel request before unmounting the component?"

[2020-07-23 11:09] brickspert commented on #542
There is a `cancel` function that can be called，but it does not actually cancel the network request, but no longer responds to the network request result.

In actual applications, you don’t need to call `cancel` manually，we will call it for you when unmount~

[2020-07-23 11:09] #542 closed, assigned to nobody

[2020-07-23 11:24] brickspert commented on #451
![image](https://user-images.githubusercontent.com/12526493/88281383-27468c00-cd1a-11ea-96af-a5f55b10e839.png)

各种测试也没问题，要不老哥来个 PR？

[2020-07-23 12:13] #455 closed, assigned to awmleer, Straw94

[2020-07-24 07:15] xialvjun opened #545 "feature request: useImmerState with immer bind"
[code]

[code]

[2020-07-24 07:42] zhanba opened #546 "useSize类型问题"
[code]
- ref的类型不匹配报错
- size的类型为 `{width?: number, height?: number}`, 使用很不方便，要一直处理undefined；  建议改为` {width: number, height: number} | undefined `更合理

[2020-07-24 11:29] #517 closed, assigned to Straw94

[2020-07-24 11:59] brickspert commented on #545
There is an official implementation: https://github.com/immerjs/use-immer

so we should not add again~

thank you very much ~

[2020-07-24 11:59] #545 closed, assigned to awmleer

[2020-07-24 12:09] #504 closed, assigned to nobody

[2020-07-24 12:39] brickspert commented on #521
first issue: https://stackoverflow.com/questions/61100567/how-to-stay-full-screen-when-trigger-upload-file

second issue: set getPopupContainer to popover

[2020-07-24 12:39] #521 closed, assigned to Straw94

[2020-07-27 02:03] HaveF opened #548 "package 不同步了"
taobao npm:
[Package - ahooks](https://developer.aliyun.com/mirror/npm/package/ahooks)
2.2.0

npmjs:
[ahooks - npm](https://www.npmjs.com/package/ahooks)
2.3.0

[2020-07-27 08:15] brickspert commented on #548
在这里看到是最新的 2.3.0 ：https://registry.npm.taobao.org/ahooks

但是页面上看没同步，我估计是页面的问题吧~~

[2020-07-27 09:07] HaveF commented on #548
ok, 之前是发现
`error Couldn't find any versions for "ahooks" that matches "2.3.0"`
其实也不太清楚是哪里的原因，随便猜了一个~~

现在好了

[2020-07-27 09:07] #548 closed, assigned to brickspert

[2020-07-27 10:04] zhongsink opened #549 "Object.values is not a function in ios 9"
### environment
ahook:  2.x
ios 9

### use
[code]

not polyfill,
i can resolve this problem with core-js@3
have any better way ?

![image](https://user-images.githubusercontent.com/12597344/88528641-77cb2b80-d031-11ea-8da2-88ccfbc6a4a5.png)

[2020-07-28 11:33] brickspert commented on #546
* ref 已经修复，下个版本发布
* size 的类型不能做 break change

[2020-07-28 11:33] #546 closed, assigned to chenbin92

[2020-07-28 11:46] #533 closed, assigned to ttys026

[2020-07-29 03:15] zhanba commented on #546
如果设计有问题，为啥不能break change

[2020-07-29 03:26] wocaatm commented on #451
我在用到useHover的时候也出现了这个问题，同样是类型不符

[2020-07-29 03:33] we6288815 opened #551 "useFusionTable 使用ready配合defaultParams时，service传入的参数不满足需要"
在使用useFusionTable时，使用ready配合defaultParams，defaultParams中的参数与ready中的参数相关，
理想情况下，应该是ready条件满足，才会使用defaultParams的参数进行请求，实际上却是useFusionTable提前设置了defaultParams的参数，导致ready条件满足后仍使用初始参数进行请求，从而未能正确获取数据。

实际想要的效果，defaultParams中的参数，能够根据ready的状态，去使用最新的数据。

相关代码如下：

const fetchGroupBoxData = (pagination, categoryId) => {
    let remoteURL = `/groupBoxes/${categoryId}/all`;
    return request.get(remoteURL, {

[2020-07-29 04:11] JoshOY opened #552 "【RFC】useDebounceUpdateEffect"
A hook similar to `useDebounceEffect` but only executes after update.

[2020-07-29 04:11] JoshOY commented on #552
See: https://github.com/alibaba/hooks/pull/553

[2020-07-29 07:33] brickspert commented on #451
已经修复，下个版本发布~

[2020-07-29 07:34] brickspert commented on #546
break change 之后，老用户都会报 error，一升级就挂。。😭

[2020-07-29 08:22] brickspert commented on #552
This can't be added, there are already enough related hooks, and the user is already confused.

[2020-07-29 08:24] zhanba commented on #546
晚break不如早break啊，除非你打算永远不break；break说清楚不就行了吗，用户自己决定升级版本号啊

[2020-07-29 08:37] JoshOY commented on #552
@brickspert Okay, that makes sense, since implementing this hook is simple enough. I will close this MR.

P.S. Perhaps adding more use cases in the documentation may guide users to implement their desired functionalities easier.

[2020-07-29 08:41] brickspert commented on #546
小版本会自动升级的呀，用户重新 tnpm update，页面就挂了。这不能接收的~

[2020-07-29 08:42] brickspert commented on #552
Thank you very much for your contribution and understanding, and look forward to more cooperation.

[2020-07-29 08:44] #552 closed, assigned to nobody

[2020-07-29 08:59] czfshine opened #554 "按住鼠标中键useMouse不更新"
按住鼠标中键时，移动鼠标，useMouse返回值不更新。

[2020-07-30 02:35] zhanba commented on #546
npm version minor，有啥困难？

[2020-07-30 06:44] xuxusheng opened #555 "官网打不开了"
![image](https://user-images.githubusercontent.com/15248446/88889758-31650f00-d273-11ea-9d6a-e482617309f5.png)

[2020-07-30 08:53] brickspert commented on #555
已恢复~

[2020-07-30 08:53] #555 closed, assigned to nobody

[2020-07-31 02:14] katteXu opened #556 "useRequest接口"
能否解释下reload refresh run 的区别
不知道改在什么场景应用

[2020-07-31 06:15] Smi1e96 commented on #474
你好:smile: 近期的版本能兼容吗 因为core-js 2版本与3版本处理并不相同

3版本 `require('core-js/modules/es.promise.finally')`是这样的

现阶段只能通过`require('promise-prototype-finally')`来处理 core-js 2与3之间区别 或者去修改Promise原型链
![image](https://user-images.githubusercontent.com/31199247/89005926-3049e580-d338-11ea-96be-be448cdf3ba9.png)

[2020-07-31 07:20] zhenzhenzhenw opened #558 "useRequest 第一次run的时候执行了两次server"
useRequest 第一次run的时候执行了两次server

[2020-07-31 07:24] #558 closed, assigned to nobody

[2020-07-31 08:14] chqcose commented on #400
![image](https://user-images.githubusercontent.com/6848645/89014591-4e1f4680-d348-11ea-9c73-7173f7b254dd.png)
@brickspert 我觉得你前面说的有道理呀，满屏都是run().catch() 本身也是个问题。虽然只有 throwOnError=true才会抛异常，但返回Promise.reject()满控制台的Uncaught (in promise) 也是问题呀，还是认为异常没被手动处理。

但正常思维，如果我传了options.onError，应该视为出现的error在onError里处理好了吧。如你所说 promise.catch().then()肯定会执行

[2020-07-31 08:59] brickspert commented on #556
* run 触发 service 执行，可以接收参数，传递给 service
* refresh 使用上一次的参数重新执行 service
* 没有 reload

[2020-07-31 08:59] #556 closed, assigned to nobody

[2020-07-31 09:46] brickspert commented on #474
关注下这个 issue：#426，我们跟进下。

[2020-07-31 14:57] Smi1e96 commented on #474
@brickspert   我一直在订阅这个:laughing:  静等2.4.0版本:heart:

[2020-08-02 03:12] weekly-digest[bot] opened #561 "Weekly Digest (26 July, 2020 - 2 August, 2020)"
Here's the **Weekly Digest** for [*alibaba/hooks*](https://github.com/alibaba/hooks):

 - - -
# ISSUES
Last week 13 issues were created.
Of these, 8 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #560 [:tada: update useSelections - support complex objects](https://github.com/alibaba/hooks/pull/560), by [augustVino](https://github.com/augustVino)
:green_heart: #55

[2020-08-02 07:18] awmleer opened #562 "[RFC] useLockFn"
用于给一个异步函数增加竞态锁，防止并发执行，例如可以避免表单的重复提交。

### API

[code]

### Demo

[code]

[2020-08-02 10:52] brickspert commented on #562
能举一些使用场景的例子吗？

避免表单的重复提交，一般都是用 useRequest/useAsync，点击后 button 变 loading 态。
表单场景肯定不需要 useLockFn~~

还有其它场景吗？

[2020-08-02 11:14] #511 closed, assigned to brickspert

[2020-08-03 05:59] brickspert commented on #562
+1

[2020-08-03 12:23] #561 closed, assigned to nobody

[2020-08-04 01:32] krypton100 opened #564 "useRequest每次请求接口时都会请求多次，是否可以将请求次数减少到1次？"
每次请求服务器时，只需一次请求，但却请求多次，会增加服务器的压力，服务端在监控时，会出现接口频繁被调用的情况，是否可以将请求次数优化？

[2020-08-04 07:28] hangaoke1 opened #565 "【建议】useRequest中防抖是否可以新增参数支持leading"
rt

[2020-08-04 09:55] AilunChen opened #566 "useRequest 在移动端的详细支持情况"
rt

[2020-08-04 10:45] brickspert commented on #564
是请求一次的呀，从来都不会请求多次~~

[2020-08-04 10:45] #564 closed, assigned to nobody

[2020-08-05 11:07] rojer95 commented on #496
radio.group 貌似拿不到数据
https://codesandbox.io/s/gallant-wu-hcvlk?file=/demo.tsx

@brickspert

[2020-08-06 01:57] brickspert commented on #496
单独开个 issue 吧？~

[2020-08-07 05:27] LittleSecretary opened #567 "useFormTable无法支持自定义表单组件？"

[2020-08-07 05:36] brickspert commented on #567
https://ahooks.js.org/zh-CN/hooks/table/use-antd-table#1-%E6%97%A0%E6%B3%95%E8%AF%BB%E5%8F%96%E6%88%96%E5%88%9D%E5%A7%8B%E5%8C%96%E8%87%AA%E5%AE%9A%E4%B9%89%E8%A1%A8%E5%8D%95%E7%BB%84%E4%BB%B6%E7%9A%84%E5%80%BC

![image](https://user-images.githubusercontent.com/12526493/89612673-f38b6a80-d8b2-11ea-8437-28cb0447fb0c.png)

[2020-08-07 05:42] LittleSecretary commented on #567
非常感谢，建议3x版本也加上

[2020-08-07 06:30] sqchenxiyuan opened #568 "useInViewport不能正确监听ref变动"
初次渲染useInViewport获取的ref没有绑定对应的dom，后续绑定都无效

[https://codesandbox.io/s/eloquent-tdd-ldp7l?fontsize=14&hidenavigation=1&theme=dark](https://codesandbox.io/s/eloquent-tdd-ldp7l?fontsize=14&hidenavigation=1&theme=dark)

![2](https://user-images.githubusercontent.com/18110369/89615026-3d2a8400-d8b8-11ea-8165-41f23f928c27.gif)

也许可以通过如下方式来检测变化
[code]

[2020-08-08 08:01] daiikaku opened #571 "useAntdTable 同时设置form和defaultParams，defaultParams中formData无效，pagination正常"
useAntdTable 同时设置form和defaultParams，defaultParams中formData无效，pagination正常。
场景是希望将初始参数放到defaultParams的formData中，查询条件放到form中。

[2020-08-09 06:20] awmleer commented on #527
Implemented in pull request #570

[2020-08-09 06:20] #527 closed, assigned to awmleer, Qkxinq

[2020-08-09 06:24] awmleer commented on #512
Implemented in pull request #569 .

[2020-08-09 06:24] #512 closed, assigned to Straw94

[2020-08-09 07:28] acmu opened #572 "Demo code syntax error"
![image](https://user-images.githubusercontent.com/35673748/89727128-aba44900-da54-11ea-95b3-f9f6c601f2c1.png)
Source code is correct, but demo code occur syntax error. It's weird.
https://ahooks.js.org/zh-CN/hooks/async#%E6%89%8B%E5%8A%A8%E8%A7%A6%E5%8F%91
![image](https://user-images.githubusercontent.com/35673748/89727188-0ccc1c80-da55-11ea-989f-63359ffe7b1f.png)

[2020-08-09 08:05] brickspert commented on #571
可以给个复现？

https://ahooks.js.org/zh-CN/hooks/table/use-antd-table#%E5%88%9D%E5%A7%8B%E5%8C%96%E6%95%B0%E6%8D%AE

这个例子就是同时设置 form 和 defaultParams 的

[2020-08-09 08:10] #567 closed, assigned to nobody

[2020-08-10 03:10] awmleer commented on #426
Documentation updated via #574 .

[2020-08-10 03:10] #426 closed, assigned to awmleer

[2020-08-10 09:54] brickspert opened #575 "循环依赖警告"
![image](https://user-images.githubusercontent.com/12526493/89771231-93a2f700-db32-11ea-8ef2-c016de90133f.png)

[2020-08-10 09:59] brickspert commented on #575
https://github.com/alibaba/hooks/commit/fe7cc0056486385110eacc780ffc8dfd9379b671

[2020-08-10 09:59] #575 closed, assigned to nobody

[2020-08-10 12:58] linbudu599 opened #576 "[RFC] useCountDown Hooks"
场景适用：手机验证码点击后禁用x秒，或任意操作后禁用某个控件x秒
[code]

[code]

[Sandbox Demo](https://codesandbox.io/s/usecountdown-hook-9pb2x)

[2020-08-10 12:58] linbudu599 commented on #454
useCountDown #576

[2020-08-10 15:07] brickspert commented on #576
useCountdown 应该能力更强大些

[code]

## demo 1

[code]

## demo 2

[code]

## demo 3

[code]

[2020-08-10 15:08] brickspert commented on #576
setTimeout 模拟 setInterval 倒是没必要

[2020-08-10 15:49] yingxiaoqiang opened #577 "useThrottle和useThrottleFn能不能支持指定调用在节流开始前的参数"
类似于lodash里面的_.throttle方法，支持在节流开始前调用，后面再根据节流时间来触发调用

[2020-08-11 01:38] brickspert commented on #577
现在已经支持了呀：https://ahooks.js.org/hooks/side-effect/use-throttle

[2020-08-11 02:06] mfoonirlee opened #578 "Demo页白屏"
先放地址：https://ahooks.js.org/zh-CN/hooks/state/use-history-travel
在demo中增加一个todo之后，操作inputNumber到-1，点击GO，页面白屏
报错如下：
![image](https://user-images.githubusercontent.com/6947182/89849110-5aae6500-dbba-11ea-9eea-ffdd439e317b.png)

[2020-08-11 03:19] linbudu599 commented on #576
对**setTarget以及定义时间间隔的能力**做了支持，直接调用`useCountDown()`而无入参下默认禁用时间为60s，间隔为1000ms，直接调用`setTarget()`的终止时间为计数器至0时，但对于这里开始时间的格式我不太理解：
我的理解是  不需要对时间戳做支持：
- 使用时只需要传入开始与结束的数字标识，都不传的话则是最通用的场景：发送验证码后禁用60秒。
- `setTarget(Date.now() + 60000)`的方式，实际上内部需要维护的是时间戳递增的逻辑，而现在的计数器是递减的逻辑。
- 我能想到的唯一一个需要使用时间戳的场景，比如在未来的某个时间段内禁用，但这种场景使用的应当是服务端下发的时间戳？
- 我觉得可以先加进去看看有没有用户有这个需求...

[CodeSandBox Demo地址](https://codesandbox.io/s/use

[2020-08-11 05:20] linbudu599 opened #580 "[RFC] useClipBoard Hook"
快速使用剪切板
- 基本字符串复制粘贴
- 图像文件的复制粘贴我觉得没有支持的必要...？

[code]

[CodeSandBox Demo](https://codesandbox.io/s/useclipboard-hook-cstyf)

（由于`Feature Policy`所以运行会报错，本地是正常的）

[2020-08-11 05:45] brickspert commented on #576
类似这个：https://github.com/bsonntag/react-use-countdown

不需要局限在“验证码”这个场景，我觉得 useCountdown 应该是管理到未来某个时间的倒计时的。

[code]

甚至可以加个 `format` 做这样的功能 `距离 xxx 时间剩余 16 天 12 小时 40 分钟 33 秒`

[2020-08-11 05:46] brickspert commented on #576
![image](https://user-images.githubusercontent.com/12526493/89861732-06ff4400-dbd9-11ea-85c2-195e976f0d13.png)

[2020-08-11 06:11] linbudu599 commented on #578
可能是索引类型转换导致取不到值的问题，我确认一下具体代码段

[2020-08-11 06:19] awmleer commented on #580
想问下。。对于 RFC 中实现，做成 Hook 的形式和做成一个工具函数/对象相比，优势在哪里？似乎只有一个用来绑定事件的 `useEffect`？

[2020-08-11 06:21] yingxiaoqiang commented on #577
这是1.x的版本，但是为什么在2.x的版本里面被去掉了呢
![image](https://user-images.githubusercontent.com/16712872/89864074-e4235e80-dbdd-11ea-95ed-33c16d8d5504.png)
![image](https://user-images.githubusercontent.com/16712872/89864124-fbfae280-dbdd-11ea-9248-0e84e87cdc0e.png)

[2020-08-11 06:28] linbudu599 commented on #578
是 [dumpIndex](https://github.com/alibaba/hooks/blob/master/packages/hooks/src/useHistoryTravel/index.ts#L9) 的问题：
[code]

这一段中`step < 0`情况下拿到的index值是`1-1`这种，因为`step`被隐世转换了（2333虽然我也觉得很诡异），解决方式只要套个`Number(step)`就好了 @Straw94 @brickspert

[2020-08-11 06:37] linbudu599 commented on #580
我一开始想的是做一个类似Paste那样的粘贴板支持。。可以多次复制粘贴，内部使用`setState`管理粘贴板成员，然后每次去重新走粘贴方法来模拟多次复制粘贴的效果，但是感觉。。。没有应用场景啊。所以就先整了个基础能力的Demo，我想不太到还可以怎么扩展功能了

[2020-08-11 06:53] awmleer commented on #577
@yingxiaoqiang 你是不是看反了。。右上角的那个链接表示的是跳转到**另一个**版本

[2020-08-11 06:54] awmleer commented on #577
1.x 是没有这些 options 的，是 2.x 新增的

[2020-08-11 06:54] #577 closed, assigned to awmleer

[2020-08-11 07:03] awmleer commented on #580
那感觉比起 [clipboard.js](https://clipboardjs.com) 没有什么优势呀

[2020-08-11 07:07] brickspert commented on #578
@linbudu599 确定不来个 pr 吗？😋

[2020-08-11 07:18] linbudu599 commented on #578
好嘞 但公司电脑不太方便  我会在晚上提一个PR的 会顺便完善下测试用例和其他边界情况（如果有）的。

[2020-08-11 07:18] linbudu599 commented on #580
2333 确实

[2020-08-11 07:19] #580 closed, assigned to awmleer

[2020-08-11 07:19] brickspert commented on #578
万分感谢~

[2020-08-11 07:51] linbudu599 commented on #576
我尝试着实现了一下，感觉如果要实现到未来某个时间倒计时的效果，就没有必要去强行融入验证码的场景了。是否可以倒计时为一个`useCountDown`，验证码为一个`useVerifyCode`?  （我觉得后者的使用场景可能更广更下沉一些，因为的确网上能看到不少被hooks+验证码折腾的同学）

[2020-08-11 08:30] awmleer commented on #549
如果需要兼容版本较低的浏览器，目前推荐的做法还是在项目中根据需要手动加 polyfill，可以参考这个 PR #574

https://github.com/alibaba/hooks/pull/574/files

[2020-08-11 08:30] #549 closed, assigned to awmleer

[2020-08-11 09:19] linbudu599 opened #581 "[RFC] useFavicon Hook (with ICO/SVG/PNG/GIF Support)"
[code]

[2020-08-11 09:19] linbudu599 commented on #454
useFavicon #581

[2020-08-11 09:39] awmleer commented on #581
可以参考下 [React Helmet](https://github.com/nfl/react-helmet)～

[2020-08-11 09:55] linbudu599 commented on #581
我理解是 命令式的`useFavicon`  在切换页面时实现favicon随着切换更友好些233  而且通常来说`useTitle` + `useFavicon`就能满足普通用户需求了

[2020-08-12 02:05] linbudu599 commented on #578
见 #582  @mfoonirlee

[2020-08-12 03:33] linbudu599 opened #583 "[RFC] useImperativeInterval Hook"
原本想重构已有的`useInterval`，但发现似乎会造成`break change`，并且有些功能不是太好实现。索性重写了一个：
- 暴露出计时器（当前）状态与手动清除方法
- `immediate`与`removeOnUnmount`选项
- 较好的保留了原`useInterval`的能力

[CodeSandBox Demo地址](https://codesandbox.io/s/useimperativeinterval-hook-jpb1i?file=/src/App.tsx)

[code]

[2020-08-12 03:33] linbudu599 commented on #454
useImperativeInterval #583

[2020-08-12 03:37] linbudu599 opened #584 "[RFC] useVerifyCode Hook"
见 #576，把 **验证码场景** 和 **倒计时场景** 拆开来。
[CodeSanBox Demo地址](https://codesandbox.io/s/useverifycode-hook-9pb2x?file=/src/App.tsx)

[code]

[2020-08-12 03:38] linbudu599 commented on #454
useVerifyCode #584

[2020-08-12 03:49] ysh35 opened #585 "userRequest 错误拿不到"
userAsync.js 中的

[code]

拿不到 会引起 uncaught exception.

[2020-08-12 03:54] ysh35 opened #586 "useRequest 错误发生时会重置 data"
useAsync.js 中的
[code]
把data  重置了，导致上一次成功的数据被销毁
可否增加配置项使其在错误发生时不重置 data

[2020-08-12 04:02] ysh35 opened #587 "useRequest 订阅更新"
在使用  useReqeust 的过程中， 有的时候， 只想发送 `do` action 发出request 请求, 而不关心结果。所以可否像 swr 一样增加 依赖 ref.
[code]
在状态改变时候 只有在订阅了相应的 数据项目的时候才会 用 setState 更新组建，这样可以许多不必要的 重绘

[2020-08-12 04:23] xiaorong61 opened #588 "有些 umi-hook 标记废弃了的 hook，ahooks 在文档标记废弃。"
https://hooks.umijs.org/zh-CN/hooks/deprecated/use-antd-table
![image](https://user-images.githubusercontent.com/5251387/89974747-7c7d1a00-dc96-11ea-9a2f-ba7cdd0dd892.png)

[2020-08-12 12:33] awmleer commented on #583
`removeOnUnmount` 的使用场景是什么呢。。？

[2020-08-12 12:37] brickspert commented on #588
![image](https://user-images.githubusercontent.com/12526493/90015717-8c6b1d00-dcdb-11ea-8d0d-a4f79cdb3fac.png)

其实是有个重命名了，可以看下文档：https://ahooks.js.org/zh-CN/docs/umi-hooks-to-ahooks#%E5%88%A0%E9%99%A4

[2020-08-12 12:37] #588 closed, assigned to nobody

[2020-08-12 12:38] awmleer commented on #583
`manualClear` 之后，如何再重新启用呢？

手动清除的能力现在的 `useInterval` 也是支持的，只需要把 `delay` 参数传成 `null` 或 `undefined` 即可，如果需要这个功能非常语义化的话，可以这样简单封装一下：

[code]

[2020-08-12 12:46] brickspert commented on #586
useRequest 应该不会加这个配置的，useRequest 最本质的是对 promise resolve/reject 的管理，data 使用上一次的，违背了最基础的准则。

[2020-08-12 12:46] #586 closed, assigned to nobody

[2020-08-12 12:46] brickspert commented on #585
试试配下 `options.throwOnError = true`

[2020-08-12 12:48] brickspert commented on #576
useVerifyCode 不必须吧？用 useCountDown 完全可以做的呀。

建议可以先把 useCountDown 做出来~

[2020-08-12 12:49] brickspert commented on #584
先做 useCountDown 吧，做出来之后看看，是否确实需要 useVerifyCode~

[2020-08-12 12:50] #578 closed, assigned to Straw94

[2020-08-12 12:52] henryzp opened #590 "@umijs/hooks 1.x的useFormTable有bug"
它的第一个参数：getTableData，函数接收的formData有问题。

自定义组件的值没了，经过断点，发现逻辑是在这个函数里面：

https://github.com/alibaba/hooks/blob/1.x/packages/hooks/src/useFormTable/index.ts#L87

我这边用的是antd4，它会走
https://github.com/alibaba/hooks/blob/1.x/packages/hooks/src/useFormTable/index.ts#L93
这里面的逻辑，走了antd3？

然后过滤了部分的字段，就是我的那个组件刚好是一个自定义的组件，我自己处理了`value`和`onChange`的逻辑，但是该字段被过滤掉了。

如果是走
https://github.com/alibaba/hooks/blob/1.x/pac

[2020-08-12 13:16] brickspert commented on #590
建议用 ahooks 的 useAntdTable 代替下。。

[2020-08-12 14:24] henryzp commented on #590
问题是我项目会改动很大，而且真的用ahooks就没这个问题了吗？

发自我的 iPad

[2020-08-12 21:01] ghost opened #591 "useRequest 有计划支持 GraphQL 吗？"
请问会支持 GraphQL 吗？

像 Vercel 的 SWR https://swr.vercel.app/docs/data-fetching#graph-ql

[2020-08-13 01:24] henryzp commented on #590
@brickspert ，翻了一下ahooks的代码：

https://github.com/alibaba/hooks/blob/master/packages/hooks/src/useAntdTable/index.ts#L98

和1.x的逻辑相同，antd4的最新版本会进`antd3`的判断分支

[2020-08-13 01:46] brickspert commented on #590
和这个没关系，这个是没问题的。

自定义组件看这个：https://ahooks.js.org/zh-CN/hooks/table/use-antd-table#1-%E6%97%A0%E6%B3%95%E8%AF%BB%E5%8F%96%E6%88%96%E5%88%9D%E5%A7%8B%E5%8C%96%E8%87%AA%E5%AE%9A%E4%B9%89%E8%A1%A8%E5%8D%95%E7%BB%84%E4%BB%B6%E7%9A%84%E5%80%BC

![image](https://user-images.githubusercontent.com/12526493/90085147-cffc7000-dd49-11ea-833a-f6bc57b334f9.png)

[2020-08-13 01:47] brickspert commented on #591
useRequest 是对 Promise 的管理，完全可以发送 GraphQL 请求的~

[2020-08-13 01:48] brickspert commented on #587
感觉加了之后，只会增加用户理解成本及代码复杂度，对性能的提升几乎可以忽略，暂时没有看到有应用场景。

[2020-08-13 02:25] henryzp commented on #590
@brickspert ，好奇问一下，为什么antd3的那个分支要进行过滤的行为。。

另外如果antd3和ant4都会走上面的if分支，那其实下面的没有必要了

[2020-08-13 02:44] linbudu599 commented on #583
在使用这个hook的组件被卸载后，将这个计时器从内存中清除？

[2020-08-13 02:47] linbudu599 commented on #583
好厉害TAT  我没想到这种  只是单纯的想把命令式与声明式的使用分开  那应该只要在文档里体现这种用法就好了还是新增一个`useManualInterval`?

[2020-08-13 03:06] awmleer commented on #583
现在已经有清除的逻辑了呀

[2020-08-13 03:31] awmleer commented on #583
我觉得可以文档里补充一下，但是新增一个 Hook 感觉没必要了。。因为即便封装了用户也不一定会按照这种方式去用

[2020-08-13 07:14] linbudu599 commented on #583
好嘞，那我到时候在文档加一下这个用法？

[2020-08-13 07:18] linbudu599 commented on #576
基于react-use-countdown先魔改了一个简单的demo出来，大概好像懂前辈意思了hhh
有点长就不放代码了，见[Demo](https://codesandbox.io/s/usecountdown-hook-wjcpn?file=/src/useCountDown.ts)

需要支持的能力还有哪些呢？

- 更多时间格式支持
-  英语支持
- 允许手动启用会造成**剩余时间文本的跳动** 这一能力是否是应该保留的？
- 是否允许暂停定时器
- 时间戳正负的处理
- 设定倒计时起点时间能力支持
- 复位功能，其实就相当于支持验证码那个场景了，这里我想的是如果已经到达（比如说之前固定的未来某个时间点）就始终为0，否则（比如说是当前时间戳+5000），就走一个五秒的计时。同时再加一个计时器结束的flag来做禁用控件的指示。

[2020-08-13 07:20] linbudu599 commented on #591
有需要的话我可以参考 [graphql-hooks](https://github.com/nearform/graphql-hooks) 和 apollo-hooks 开发个`useQuery` 和 `useMutation` 出来~

[2020-08-13 07:49] brickspert commented on #590
历史原因，antd 4 的特性是慢慢补上来的，我们这边代码还没改。

[2020-08-13 07:49] #590 closed, assigned to nobody

[2020-08-13 07:52] brickspert commented on #580
能作为工具函数的，一般不用封装成 hooks，徒增复杂度。

这些我们刚开始也有困惑~~

[2020-08-13 08:24] zhiyan opened #593 "useRequest的staleTime会造成数据一直无法加载的情况"
[code]

结果:
![image](https://user-images.githubusercontent.com/1467767/90111547-613b0900-dd81-11ea-9423-184a6aa7e09c.png)

[2020-08-13 12:56] brickspert commented on #576
我发表下个人的建议哈，我个人倾向的 API：

[code]

* 时间格式化我们提供一个 `options.format` 就行，把时间戳和计算后的时间 object 传出去

[code]

* `时间戳正负的处理` 我觉得默认到 0 后，就不用执行了，不需要负数。如果需要负数，后面我们再加个配置。

* 暂停复位的实现，参考 [useInterval](https://ahooks.js.org/hooks/side-effect/use-interval#advanced-usage)

[code]

[2020-08-13 12:57] LittleSecretary opened #594 "useFormTable不支持表格多选?"

[2020-08-13 13:02] #594 closed, assigned to nobody

[2020-08-14 02:09] awmleer commented on #583
嗯嗯好的

[2020-08-14 02:10] #583 closed, assigned to awmleer

[2020-08-14 03:52] Caoqingda opened #595 "按需加载问题"
![image](https://user-images.githubusercontent.com/41361873/90211808-57b6ad00-de24-11ea-91e6-185e816fe910.png)
配置.babelrc之后，别的hooks可以使用，但是useRequest未找到，请问怎么办？
![image](https://user-images.githubusercontent.com/41361873/90211825-656c3280-de24-11ea-9730-865ec5e0c5d8.png)

[2020-08-14 09:46] baiDog opened #597 "useRequest，data获取不到。（设置formatResult: (result) => result,之后可以获取）"
版本 "@ahooksjs/use-request": "^2.3.0",

[2020-08-17 03:09] linbudu599 commented on #576
「WIP」

[2020-08-17 06:25] linbudu599 commented on #576
[新的Demo](https://codesandbox.io/s/usecountdown-hook-wjcpn?file=/src/App.tsx)
可能还是有一部分边界情况没有照顾到，目前是按照建议的API实现的，我觉得建议的API可以，就是最好再加个定时器状态的指示器。比如上面那个需要倒计时控制的场景就需要使用计时器状态。

[2020-08-17 06:34] GGCarry opened #598 "为什么我用useRequest 的时候设置prefix不起作用？默认不是umi-request吗？应该可以配置这个参数啊"

[2020-08-17 07:58] linbudu599 commented on #576
又，我还有个新的hooks的想法，由于觉得意义不大就没新开一个Issue了。`useMultiImperativeHandle`，用于多次合并对象到ref.current上，场景是我这边业务中遇到的：为列表中的每个子项挂载到同一个ref上，并在列表主页提交时，遍历这个ref去依次调用子组件的方法去校验子组件自身，通过校验结果来判断是否通过。
实现：
[code]

还请尽龙老师帮忙看看是否有价值~

[2020-08-17 14:17] brickspert commented on #598
贴下代码？

[2020-08-17 14:18] brickspert commented on #597
你是从 umi 中导出的 useRequest 吗？

[2020-08-17 14:19] brickspert commented on #597
![image](https://user-images.githubusercontent.com/12526493/90406415-b48dbe00-e0d7-11ea-8aee-7fa3ba7bb2f1.png)

[2020-08-17 14:21] brickspert commented on #595
useRequest 需要从另外一个包中导出

`import useRequest from "@ahooksjs/use-request"`

[2020-08-17 14:22] #595 closed, assigned to nobody

[2020-08-17 14:33] brickspert commented on #576
没啥大问题，可以贡献一波了~

[2020-08-17 14:34] brickspert commented on #576
这个不太必要，使用场景太少了。

[2020-08-18 02:04] linbudu599 commented on #576
好的~ 这周先忙下答辩相关事情   预计周末再完善下和写好测试就提个PR~

[2020-08-18 02:06] baiDog commented on #597
问题解决了；
解决思路：request: {
    dataField: 'xxxx',
  }配置和formatResult同时设置及细节的问题。

[2020-08-18 02:06] #597 closed, assigned to nobody

[2020-08-18 02:07] baiDog commented on #597
谢了，兄弟

[2020-08-18 02:18] GGCarry commented on #598
![image](https://user-images.githubusercontent.com/17262032/90462718-d91b8180-e13b-11ea-9bc1-4b1e4732f0c7.png)
![image](https://user-images.githubusercontent.com/17262032/90462782-fc463100-e13b-11ea-9273-6fea93d49d00.png)
![image](https://user-images.githubusercontent.com/17262032/90462858-2a2b7580-e13c-11ea-8b19-f5cae2853cfe.png)

[2020-08-18 02:19] GGCarry commented on #598
是我写法有问题吗？

[2020-08-18 02:26] jin-benben commented on #566
难道mobile端和pc端使用有差异？

[2020-08-18 10:10] brickspert commented on #598
直接把 host 拼接到 url 上呀，prefix 不是这么用的吧。

[2020-08-18 10:14] GGCarry commented on #598
umi-request 参数里面不是有个prefix吗？？？为什么不是这样用？？？既然service默认是umi-request，配置项里面的url，method不是就是配置umi-request参数吗？那为什么不能用prefix

[2020-08-18 10:16] GGCarry commented on #598
我不是很清楚，你们这个useRequest第一个参数,service可以配置点什么，文档也没有写

[2020-08-18 10:18] GGCarry commented on #598
![image](https://user-images.githubusercontent.com/17262032/90501621-35ec5b80-e17f-11ea-85bb-4775c947269b.png)
这里的意思不就是可以配置umi-request里面有的参数吗

[2020-08-18 10:32] GGCarry commented on #598
其实简单点说，我就想配置baseURL，在useRequest里面我要怎么写

难道我要
{
   url: `${baseURL} + /api/v1/xxx`
}
这样？？？？？？？？？？？？

为什么不能增加一个配置项，像axios那样可以配置baseURL呢

[2020-08-18 11:09] brickspert commented on #598
你用的是 ahooks 还是 umi hooks 呢？

ahooks 集成的是 fetch
umi hooks 集成的是 umi-request

[2020-08-18 11:13] GGCarry commented on #598
原来如此，我用的是ahooks，我以为是一样的...我看文档都几乎一样，还以为是同一个东西

[2020-08-19 11:11] awmleer commented on #572
Documentation site has been updated with this bug fixed.

[2020-08-19 11:11] #572 closed, assigned to brickspert

[2020-08-20 03:07] zinianshiluren opened #602 "useClickAway 元素阻止冒泡之后 还是可以触发事件"
<div className="property-name"
             onClick={(e) => {
               e.preventDefault()
               e.stopPropagation()
             }}

某元素阻止事件冒泡之后，还是可以触发useClickAway，原因是useClickAway的事件监听是绑在document上的，不支持阻止事件冒泡，是否可以考虑绑定在document.body上或者增加参数修改默认绑定的元素？

[2020-08-20 13:48] #598 closed, assigned to brickspert

[2020-08-21 02:36] #602 closed, assigned to nobody

[2020-08-21 08:30] MisaGu opened #603 "useScroll - add 'shouldUpdate' fn as a second param"
The idea is to have a way to prevent unnecessary re-render by preventing the call of the `setPosition`.

In [useScroll](https://github.com/alibaba/hooks/blob/master/packages/hooks/src/useScroll/index.ts):
**shouldUpdate** - Return true/false to run/avoid state changing as so re-render the component.
**[#10](https://github.com/alibaba/hooks/blob/master/packages/hooks/src/useScroll/index.ts#L10)** `

[2020-08-21 09:03] gobelief opened #604 "UseRequestProvider formatResult不生效"
关键代码:
[code]

[2020-08-21 09:24] hazeFlame opened #605 "useRequest 可以支持通过location.params来进行数据渲染不"
change的时候修改location 去进行request

[2020-08-23 02:51] mehwww opened #607 "给 useRequest 添加开始请求的钩子函数"
比如我目前有一个需求，希望全局配置在 useRequest 请求发出时使用 nprogress 显示请求进度条，现在除了 patch 一下 useRequest 是不是没有什么别的办法可以实现？

[2020-08-24 01:26] brickspert commented on #607
确实没有办法，你可以基于 useRequest 封装一层就可以。

[2020-08-24 01:30] brickspert commented on #604
useRequest 自己的属性会覆盖全局的设置。

[2020-08-24 01:32] brickspert commented on #604
在线试了下，没问题的。

https://codesandbox.io/s/crazy-germain-o5vkb

[2020-08-24 03:53] mehwww commented on #607
是的，不过那样各种类型处理起来会相对麻烦。。所以还是希望可以内置这个钩子设置

[2020-08-24 07:50] dengfuping opened #609 "[useRequest] 组件卸载后，轮询并没有真正的结束"
- 尤其是页面中有多个轮询组件，而且是卡在下一次轮询请求开始之前卸载，就会出现残留的轮询无法停止的问题。
- 业务上尝试在组件卸载前调用 `cancel` 方法，仍然会有这个问题，怀疑 `fetchesRef` 并不是最新:
https://github.com/alibaba/hooks/blob/49d4dab854d21c93e4bbaa5c09edafa6bdacbbcc/packages/use-request/src/useAsync.ts#L468-L473

[2020-08-24 11:55] brickspert commented on #609
我写了一个在线例子：https://codesandbox.io/s/xenodochial-pine-82pfb?file=/App.tsx

没有复现出来不能卸载的情况。你看下如何复现？

[2020-08-25 12:34] BearDaddy opened #610 "[useAntdTable] - Form 中动态增减嵌套的字段没有识别出来"
使用 useAntdTable 在 Form 中参照 [动态增减嵌套字段](https://ant.design/components/form-cn/#components-form-demo-dynamic-form-items) 这个例子，提交的数据中没有这里面 Item 的数据。

[2020-08-26 01:49] brickspert commented on #610
最好给一个在线复现，好解决问题。

[2020-08-26 03:53] BearDaddy commented on #610
不好意思，没说清楚

前端代码类似这样：

[code]

后端打印 query 的参数用于处理，类似这样

[code]
打印结果类似这样
[code]

打印出来的结果中：
- test1 的值没问题
- 但是没有包含 test2 的值，这里的例子就是引用的 Form 文档中”动态增减嵌套字段“ 这个例子

[2020-08-26 04:06] chj-damon opened #611 "useDebounceFn 不能接收参数"
按照文档描述，useDebounceFn可以接收参数。但是实际上传递了参数在useDebounceFn的fn里面无法接收到。
[code]

[2020-08-26 10:07] jin-benben commented on #605
不是可以设置refreshDeps字段的值吗

[2020-08-26 10:48] monkindey commented on #465
fixed by https://usetable-ahooks.js.org/

[2020-08-26 10:48] #465 closed, assigned to monkindey

[2020-08-26 11:46] lvvlan opened #612 "[useAntdTable]动态设置的默认值在formData里获取不到"
https://codesandbox.io/s/weathered-rain-ftk55?file=/App.tsx:989-997

defaultParams的值是请求后再赋值的，但是请求table的时候在formData却拿不到值

[2020-08-27 01:26] brickspert commented on #611
https://blog.csdn.net/weixin_34146410/article/details/91375110

[2020-08-27 01:26] #611 closed, assigned to awmleer

[2020-08-27 01:29] brickspert commented on #612
![image](https://user-images.githubusercontent.com/12526493/91372971-be39c300-e847-11ea-93db-37b83f99a7f7.png)

你的例子是有的呀？

[2020-08-27 01:30] brickspert commented on #605
需求可以描述清晰点，应该是可以的。

[2020-08-27 01:55] BearDaddy commented on #610
补充：
1. 这这里，通过 form.getFieldsValue 拿到的数据是包含动态添加的字段的
2. 但是 submit 之后给到后端就没有这个字段了

[2020-08-27 02:14] chj-damon commented on #611
非常感谢！

[2020-08-27 03:06] hazeFlame commented on #605
![image](https://user-images.githubusercontent.com/21263459/91379385-27740300-e855-11ea-994d-e4e69e3b700a.png)
![image](https://user-images.githubusercontent.com/21263459/91379413-38247900-e855-11ea-9aaf-e6529d6fd14f.png)

就内置的这个params 可以直接使用location query

[2020-08-27 06:09] lvvlan commented on #612
看【请求参数】里的name字段

[2020-08-27 07:07] jin-benben commented on #610
@brickspert 看了下
![image](https://user-images.githubusercontent.com/27982466/91408372-59e22800-e876-11ea-89d3-78e66dc58998.png)，是这里判断走v3还是v4的逻辑有问题，v4的form.getFieldInstance也为true,然后就进了v3的分支里，Object.keys()中form.getFieldInstance又获取不到动态创建的字段，所以没复制进去。

[2020-08-27 07:42] shiwuqi opened #613 "useAntdTable中，submit重新请求接口怎么设置pageNumber"
在useAntdTable中，submit重新请求接口怎么设置pageNumber

[2020-08-28 01:23] gobelief commented on #604
那我useRequest没有写这个formatResult属性,  他也是会覆盖的吗?可以看见我`Index`组件formatResult那行是是注释掉的,但全局设置`formatResult`那里确实没有生效,`onError`那里却是可以执行,是我哪里写的不对吗?

[2020-08-28 01:31] #604 closed, assigned to nobody

[2020-08-28 06:34] summmmer opened #614 "[useMouse] 监听函数是否应该添加防抖？"

[2020-08-28 08:02] wen-haoming opened #615 "[RFC] useReactive & useMethods"
应用场景:  我们可能在业务组件中写几个useState，还要定义各种类型，触发视图还要手动更新，代码冗余且啰嗦。

借助`vue3`的响应式模块来实现类似vue的属性修改自动触发视图更新的操作，这样就不需要写那么useState或者触发更新的setState了，另外还有一个useMethods，能够很好包裹函数引用，使之不会重复创建，详情可以查看 http://whm.zone/hooks/#/hooks/use-methods

当然不使用`vue3` 而且使用`mobx`也是能实现的

### useReactive

[code]

### useMethods

[code]

[2020-08-29 01:45] wen-haoming commented on #454
useReactive & useMethods #615

[2020-08-29 02:15] brickspert commented on #615
我们看下~

[2020-08-29 05:19] MinJieLiu commented on #614
是非常有必要，它导致的 render 次数太多了

[2020-08-29 06:45] aspirantzhang opened #617 "[useDynamicList]的案例升级改为antd4版本"
初学者看到`Form.Create()`和`getFieldDecorator`会疯的。但是`useDynamicList`中的案例还是基于antd3，不太友好。希望尽快安排改为antd4。

[2020-08-30 12:16] mateja176 opened #620 "Add "set" prop to useBoolean"
[code]

The issue is that if you want to pass toggle as an event handler prop i.e. `<button onClick={toggle}>Toggle</button>`, you can't because this results in a type error, or worse a button which can set the value to true only.

It would be perfectly in line with `setTrue` and `setFalse` to also have a `set` prop which would also alleviate responsibility from the `toggle` prop.

Moreover, the p

[2020-08-31 03:08] hzyhbk opened #621 "[useAntdTable] getActivetFieldValues 方法的问题"
本地项目升级之前用的是 antd 4.3.1 ,getActivetFieldValues 走的是最后一个 return 没问题，但是升级了组件库到4.6.1，就获取不到某个FormItem的值。
调试发现 antd 4.4.0 之后支持 form.getFieldInstance 方法，但是如果子组件是函数式组件的话，就会获取不到实例，然后导致最终 submit 方法获取到的表单值不对。

[2020-08-31 03:15] hzyhbk commented on #621
![image](https://user-images.githubusercontent.com/42671099/91679474-f9573180-eb7a-11ea-8409-ff28ef712f6f.png)
如图，appCode 对应的 FormItem 是自定义的函数式组件，在 tempAllFiledsValue 里是有的，最终在 filterFiledsValue 中却被过滤掉了。

[2020-08-31 03:21] hzyhbk commented on #621
用 React.forwardRef 包一下能解决问题，能解释下 getActivetFieldValues 方法里为什么要过滤一层吗？

[2020-08-31 05:12] awmleer commented on #615
有个小疑问：useMethod 除了让 methods 函数的引用不变之外，还有其他作用么？因为函数引用的问题我们更推荐让用户直接用 `useCallback` 解决

[2020-08-31 05:13] awmleer commented on #615
此外，可以发一下源代码的链接么～文档点进去好像并没有源码的链接

[2020-08-31 05:17] #531 closed, assigned to awmleer

[2020-08-31 05:19] awmleer commented on #581
嗯嗯 +1
Hooks 形态的 `useFavicon` 和组件形态的 React Helmet 的确还是适用场景不太一样的，欢迎 PR～ @linbudu599

[2020-08-31 05:36] brickspert commented on #621
antd 3 需要过滤

[2020-08-31 05:36] #621 closed, assigned to nobody

[2020-08-31 09:26] RedJue opened #622 "[RFC] useError Hooks"
更优雅的发送报错 hook

### 使用方式

[code]
### demo

[code]
[codesandbox](https://codesandbox.io/s/brave-water-ckz3m?file=/App.tsx)

[2020-08-31 13:55] brickspert commented on #622
直接写一个 util 函数就行。

写个 hooks 场景更小了。

[2020-08-31 14:02] brickspert commented on #620
I very much agree with you.
but we can not change toggle behavior , because it's a break change.

i'm very sad.

[2020-08-31 14:03] brickspert commented on #615
https://github.com/wen-haoming/v-reactive-hooks

[2020-08-31 14:24] mateja176 commented on #620
Thanks mate. That's understandable, however the change may be part of the version 3 release.

[2020-08-31 15:41] wen-haoming commented on #615
确实，状态少的话useCallback会比较合适，但是如果state是一个大对象的话使用`useMethods` 这种形式有点类似于面向对象，能够直接增删改查当前的状态，个人感觉就像写redux的reducer那样，而且在函数组件这种过程式的写法上，太多的useCallback可能增加负担和代码量~

[2020-09-01 00:40] RedJue commented on #622
嗯嗯 确实封装成函数更合适 通用性不高

[2020-09-01 02:24] awmleer commented on #615
@wen-haoming  `useMethods` 强制让返回的函数引用不变的话，可能会导致闭包问题：

[code]

所以，最合理的方式还是要让用户自己去 `useCallback`。（其实在大部分场景下，都是不需要用 `useCallback` 的）

[2020-09-01 02:24] awmleer commented on #615
所以我觉得只需要保留一个 `useReactive` 就可以了～

[2020-09-01 04:30] RedJue opened #623 "[RFC] useDefault"
## 适用场景：如果 state 是 `null` 或者 `undefind` 设置 state 的默认值，过滤无效数据。

### 使用方法

[code]
### 例子

[code]
### 实现
[code]
[在线例子](https://codesandbox.io/s/brave-water-ckz3m?file=/App.tsx)

[2020-09-01 04:42] wen-haoming commented on #615
嗯嗯 确实也是，那我现在可以就提`useReactive` 这个pr吗？

[2020-09-01 05:29] awmleer commented on #615
可以的，欢迎PR～

[2020-09-01 05:33] awmleer commented on #623
这个 Hook 的实现是不是没必要这么复杂。。直接 `??` 一下就可以解决问题了？

[code]

这样的话，感觉 `useDefault` 这层封装的意义就不大了

[2020-09-01 05:34] #622 closed, assigned to nobody

[2020-09-01 05:42] WangJM001 opened #624 "使用useRequest loadMore 第一次重复请求了"
第一次发送了2个相同的请求

![image](https://user-images.githubusercontent.com/20501316/91799104-f0d52880-ec58-11ea-99b6-d4249ea4ed22.png)
![image](https://user-images.githubusercontent.com/20501316/91799126-fcc0ea80-ec58-11ea-8b98-047acfdac31f.png)

[2020-09-01 06:22] RedJue commented on #623
是的，我没想到空值合并符=-=，这样就不用写那么复杂了。本来的设想是支持灵活的参数，如果只有一个参数，那这个参数即是初始值也是默认值，按空值合并符的思想，可以写成这样
[code]
这个hook算是一层数据层面的过滤

[2020-09-01 08:36] awmleer commented on #623
这样封装感觉太鸡肋了。。

[2020-09-01 09:43] RedJue commented on #623
好吧，这样感觉那这个还是自己封一个比较快，我是看到其他hook库有这个hook，想在ahook里加一个可以方便用，既然这样那就不需要了。

[2020-09-01 14:40] #623 closed, assigned to awmleer

[2020-09-01 14:47] brickspert commented on #624
因为你的 activeDate 发生了变化呀，refreshDeps 就是在参数发生变化后，重新触发的。

[2020-09-01 14:52] brickspert commented on #614
自己把函数用 useDebounceFn 包一下就可以。

useMouse 自己不会加的。~~

[2020-09-02 00:47] WangJM001 commented on #624
是有变化，undefined => {year:2020,month:9},  undefined时ready是false按说应该不请求，变化后请求一次，不是这个逻辑么？为啥是2次

[2020-09-02 01:35] brickspert commented on #624
ready 和 activeDate 是相互独立的。

[2020-09-02 01:53] WangJM001 commented on #624
什么意思？ready为false不是不发请求么？
或者说像这个情况怎么只发一次请求，activeDate变化时重新请求，activeDate为空时不发出请求

[2020-09-02 02:28] MinJieLiu commented on #614
useMouse 会带来成堆的 setState，自己包一下也仅仅是使用的地方函数防抖，useMouse 带来的 re-render 怎么避免？有例子没 @brickspert ，若有例子建议加在文档中

[2020-09-02 05:31] brickspert commented on #624
activeDate 不适合放到 refreshDeps 里面。

自己用 useEffect 来处理下~

[2020-09-02 05:44] brickspert commented on #614
应该在一个独立的小组件中去使用 useMouse。如果我们加了防抖，那肯定导致实时监听鼠标位置 卡顿。防抖需要业务根据自己的情况去实现。

[2020-09-02 05:54] WangJM001 commented on #624
好吧

[2020-09-02 08:42] BryceHQ commented on #390
大哥们，这个问题还是没有解决啊。gaearon 已经说明了这不是bug，是特性。https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/85#issuecomment-626188070

[2020-09-02 12:01] hellokidder opened #628 "BUG:useVirtualList 使用 scrollTo 的BUG"
使用了动态渲染列表的高度，想做成类似antd 树形控件的效果
![image](https://user-images.githubusercontent.com/23077808/91978367-8d312500-ed56-11ea-82b0-67c40fabceb3.png)
当我使用scrollTo 这个方法的时候有时候会产生1个差值，比如当我输入100，它会跳到101，然后再次调用则会显示正确的结果

[2020-09-02 14:57] brickspert commented on #628
最好给个在线复现

[2020-09-02 15:06] brickspert commented on #390
就是它们的 bug，useRequest 没法兼容~~

[2020-09-03 01:22] BryceHQ commented on #390
为啥呢？我之前也这样觉得，所以也给他们提了bug，但是  Dan 解释之后，我觉得他的说法也有道理。至少目前 react 官方认为这是特性不是bug。

[2020-09-03 03:10] hellokidder commented on #628
尝试复现，无法复现而且原本有问题的代码也好了

[2020-09-03 03:10] #628 closed, assigned to ttys026

[2020-09-03 04:22] XuJin186 opened #629 "配置UseRequestProvider引起的BUG"
配置：
` <UseRequestProvider
      value={{
        manual: true,
        debounceInterval:500
      }}

<App/>
</UseRequestProvider>`
使用:
`
  const { run: loginRun, loading: loginLoading } = useRequest(LoginRequest);
    let response= await loginRun(value.userName, value.password);

`

此时response为null

[2020-09-03 04:26] XuJin186 commented on #629
我想这也许是正确的  是否可以在文档中列出  以防后面的人踩坑

[2020-09-03 05:03] brickspert commented on #629
是正确的，debounce 场景下 run 其实没有立即执行。

[2020-09-03 05:05] brickspert commented on #390
其实就像我前面写的这个 demo，在 react-refresh 里面，明显执行的就有问题。

[2020-09-03 05:12] XuJin186 commented on #629
好的   感谢回复

[2020-09-03 05:12] #629 closed, assigned to nobody

[2020-09-03 08:41] BryceHQ commented on #390
仔细看下我给 react 提的 issue 呗。你的例子和我的例子没有本质区别。
我觉得 Dan 的解释是能说的通的，是现在这种 unmount 的用法和 hooks 本身的设计不一致。

[2020-09-03 09:51] WangJM001 commented on #624
@brickspert useEffect 处理有新问题了，手动run过后，data没变，分页的状态没有重置
![image](https://user-images.githubusercontent.com/20501316/92100042-df814d00-ee0d-11ea-9d11-09cb030e3b38.png)

[2020-09-03 10:03] WangJM001 commented on #624
改用reload好了

[2020-09-03 10:03] #624 closed, assigned to nobody

[2020-09-03 10:21] katteXu opened #630 "useRequest 依赖变化请求两次"
loadMore：true的时候 通过下拉加载多次数据后，改变依赖值的时候，会发起2次请求；
第一次是正常请求即清空列表数据 重新请求第一页
第二次是异常请求  请求了最后一次加载的下一页数据

[2020-09-03 10:22] katteXu commented on #630
而且并不是必显的 只有下拉加载次数多了 才会出现，目前来看是加载了5次以上的数据

[2020-09-04 01:52] brickspert opened #631 "useAntdTable/useFormTable 和 antd@4 的 Form.List 联动时，获取不到 Form.List 属性的值"

[2020-09-04 02:06] brickspert commented on #630
最好能给个复现，谢谢~~

[2020-09-04 02:15] brickspert commented on #631
https://codesandbox.io/s/green-breeze-06ppd?file=/App.tsx

[2020-09-04 02:58] KellenHe commented on #597
@baiDog 兄弟，我是在import { useRequest } from 'umi';
返回的data一直是undefined啊。
请问怎么解决

[2020-09-04 04:22] katteXu commented on #630
经过测试发现，只有当下拉dom里的数据足够多才会出现该问题
这个多还不是数据条数 感觉应该是字节数量 ，如果单条内容很少 要加载好多条数据才会复现

[2020-09-04 04:37] katteXu commented on #630
`import { useRequest } from 'ahooks'; `
`import React, { useState, useRef } from 'react'; `
`import axios from 'axios'; `

`const getData = (currentPage: number) => {`
  `// 请求接口`
  `const request = axios.get(`http://yourapi/list?page=${currentPage + 1}&limit=10`).then(res => res.data);`
  `return request.then(res => {`
  `  if (res.status === 0) {`
     ` return {`
       ` total: res.result.coun

[2020-09-04 04:38] katteXu commented on #630
代码格式化大概就这些吧

[2020-09-04 04:55] brickspert commented on #597
要求返回的数据结构必须有一层 data ： { data: xxx}

或者你设置个 formatResult: x=>x

[2020-09-04 05:42] jin-benben commented on #631
https://github.com/ant-design/ant-design/issues/26434

[2020-09-04 05:43] jin-benben commented on #610
https://github.com/ant-design/ant-design/issues/26434

[2020-09-04 06:04] katteXu commented on #630
[在线地址](https://codesandbox.io/s/dark-platform-yxcdw)

[2020-09-06 03:56] #617 closed, assigned to ttys026

[2020-09-06 04:13] #614 closed, assigned to nobody

[2020-09-07 10:10] masontin commented on #585
@brickspert
[code]
请问，在不用 `run`的场景下，我在哪里 `catch` 被抛出 `error`?

[2020-09-07 12:22] brickspert commented on #585
onError

[2020-09-07 14:46] masontin commented on #585
@brickspert 大佬，这个我测试过的，我后台是一个正常的 状态码 404 ，json格式响应， 控制台是会打印这个 Error，但是我期望是拿到服务器响应的数据...
[code]
[code]
<img width="1280" alt="WX20200907-224507@2x" src="https://user-images.githubusercontent.com/46433259/92398823-d40a8a80-f15b-11ea-8664-5364e705ed3d.png">
<img width="1280" alt="WX20200907-224553@2x" src="https://user-images.githubusercontent.com/46433259/92398892-eedcff00-f15b-11ea-8594-07f661d6951

[2020-09-07 14:52] masontin commented on #585
主要是不知道在哪里 handle 这个 rejection.....， onError处理不了，还是我语法不对？

[2020-09-07 15:12] masontin commented on #585
[code]
根据这段代码，看来我是拿不到了... 我是 404响应，这里 `res.ok() = false`  这里 throw 的 Error我也无法catch...

[2020-09-07 15:19] masontin commented on #585
[https://developer.mozilla.org/zh-CN/docs/Web/API/Fetch_API/Using_Fetch](https://developer.mozilla.org/zh-CN/docs/Web/API/Fetch_API/Using_Fetch)

我认为这里应该继续处理，直接抛Error，有点暴力了... 不然拿不到 非2xx 状态的 response body了...

[2020-09-07 16:42] masontin commented on #585
**曲线救国了** - 我看到别的大佬的 [Pull Requests # 508](https://github.com/alibaba/hooks/pull/508) 了，等你们商量好了，我再重构...
@brickspert 谢谢

[code]

[2020-09-08 13:22] brickspert commented on #630
fix in 2.6.0

[2020-09-08 13:22] #630 closed, assigned to nobody

[2020-09-09 11:35] LPegasus opened #643 "es 构建产物中请删除关于 types 的引用和 reexport"
测试 rollup 代码：
[code]

[code]

不清楚构建产物现在的工具用的什么，是否用了 TS 去正确去除 js 代码中的 type 和 interface。
（由于某些因素，我这里的需求不能使用 `shimMissingExports: true` 这种不安全的配置）

[2020-09-10 03:16] zkamisama commented on #604
我也遇到一样的问题， layout 里面使用了UseRequestProvider  设置了formatResult: response => response  但是子组件还是默认返回response.data

[2020-09-10 05:41] brickspert commented on #604
从 umi 中导出的 useRequest 缺失覆盖不了。

umi 里面的 formatResult 优先级更高

[2020-09-10 05:42] brickspert commented on #643
使用 ahooks 就没问题了，这个之前已经修过一次。

[2020-09-10 06:13] zkamisama commented on #604
是的我引入的是umi的useRequest, 现在换成ahooks的没问题了。谢谢

[2020-09-10 10:36] nanxiaobei commented on #390
这个问题会有后续吗？
我觉得关键是，React 官方认为，`useEffect` 里 return 的函数并不是 `componentWillUnmount`，
而是 `componentWillUpdate`。

[2020-09-10 10:59] brickspert commented on #390
暂时没有好的想法。

* 如果监听不到组件的 unmount，一定会导致异步请求造成的内存泄漏。并没有其它方案能监听组件卸载。
* react-refresh 的行为和 react 行为不一致，难道不是他们的 bug 么~~

[2020-09-10 12:09] LPegasus commented on #643
👌

[2020-09-10 12:09] #643 closed, assigned to nobody

[2020-09-13 01:23] lujjjh commented on #585
#456 这个改动很值得商榷，`useRequest` 的大多数使用场景都是消费 `loading`、`data` 和 `error`，少数场景才会使用 `{ manual: true }` 结合 `run`。

改动导致的问题是，在大多数使用场景下会造成满屏的 uncaught in promise 且无法很容易地捕获（唯一的办法是改用 `{ manual: true }` 结合 `run`）。无论 `throwOnError` 是否为 `true`，错误时都会抛异常，违背了这个属性设计的初衷（至少与这个属性表面上的含义不符）。

另外，在 `Promise#catch` 里 `return Promise.reject` 和 `throw` 理应是等价的，不知为何此处有两种风格共存。

[2020-09-14 01:57] brickspert commented on #585
这个改动确实有问题，也想改回去，但是怕 break change 后会坑很多用户。

目前应该最好的改动就是 非 manual 场景下，不 throw error 了。

[2020-09-16 08:01] zhiyan commented on #631
antd 4.4.0开始在form instance上增加了getFieldInstance方法， useAntdTable之前用这个来判断v3/v4, 导致的该问题

[2020-09-16 16:19] evle opened #649 "Form 与 Table 联动 antd4 例子有问题 嵌套属性识别不了"
Form 与 Table 联动 antd4, name没有显示
(https://github.com/alibaba/hooks/blob/master/packages/hooks/src/useAntdTable/demo/demo3.tsx)。

![Screen Shot 2020-09-17 at 12 19 13 AM](https://user-images.githubusercontent.com/3981092/93364739-7cff6680-f87b-11ea-9eba-8157b4c04cff.png)

[2020-09-17 01:45] #576 closed, assigned to brickspert, awmleer

[2020-09-17 01:45] #581 closed, assigned to brickspert, awmleer

[2020-09-17 01:45] #584 closed, assigned to nobody

[2020-09-18 02:32] RobinYang11 opened #650 "useRequest 怎么 拿 结果 ，什么时候setState ? 文档 能 详细一点吗？"

[2020-09-18 08:33] zjy01 opened #653 "useAntdTable 获取不了 自定义 AutoComplete 下的值"
基于`AutoComplete`简单封装了一个 `MyAutoComplete`;
[code]
useAntdTable 进到了 antd3 的判断分支。
而且对MyAutoComplete的 `form.getFieldInstance(key)`是`undefined`
![image](https://user-images.githubusercontent.com/9987291/93575731-919f4400-f9cc-11ea-974f-9e37597b62a1.png)

[2020-09-18 10:46] brickspert commented on #653
![image](https://user-images.githubusercontent.com/12526493/93589309-388cdb80-f9df-11ea-8515-45931deca8b2.png)

https://ahooks.js.org/zh-CN/hooks/table/use-antd-table

[2020-09-18 10:48] brickspert commented on #650
文档上不是有很多 demo 吗？

https://ahooks.js.org/hooks/async

[2020-09-18 10:48] #650 closed, assigned to nobody

[2020-09-18 11:10] RobinYang11 commented on #650
看到了 ，原来 loading 为false 时，才能拿到结果。 每次 loading 的变化 都会触发 组件重新渲染。useRequest内部管理 这个状态。
所以应该这样 用对吗?
[code]

[2020-09-18 11:14] baranwang opened #654 "[useRequest] 轮训请求可否考虑增加间隔请求，而不是固定时间请求"
可否增加参数，使轮训为保持两次网络请求中间的间隔，而不是固定一个时间请求，可以防止低网速的情况下，出现大量 pending 的情况

[2020-09-18 14:16] RobinYang11 opened #655 "useRequest 当service 为 string 时， data 里面 一直 没有数据 。 实际请求是返回数据了的"
##
[code]
## network 是有结果的
![image](https://user-images.githubusercontent.com/20513480/93607879-7ea46800-f9fc-11ea-86a4-8cc284326342.png)

## loading 已经为false了 ，但是 data 里面什么也没有 ,一直显示 undefined
![image](https://user-images.githubusercontent.com/20513480/93607952-9845af80-f9fc-11ea-821e-ceff8ba2f953.png)

[2020-09-19 12:05] SpiritQAQ commented on #568
我是从umi-hooks迁移过来出现了这个问题...

[2020-09-20 12:05] brickspert commented on #655
你的 useRequest 是从 umi 中导出的吗

[2020-09-20 12:06] brickspert commented on #654
现在就是这样的机制呀，等上一次请求返回之后，才开始计时。

[2020-09-20 16:41] yuxino opened #656 "ahooks 的声明在 vscode里有些奇怪"
这个不是`bug` ... 更有可能是`vscode`或者`tsc`的问题，但是使用的时候感觉有点奇怪，这个问题应该是因为`tsc`生成的给每个文件都生成了`d.ts`，有个解决的办法可能是把这些`d.ts`合并之类的？

首先有些hook在编辑器里面会提示两次。

![image](https://user-images.githubusercontent.com/12481935/93716593-4db26780-fba3-11ea-940b-ab991c601475.png)

![image](https://user-images.githubusercontent.com/12481935/93716590-45f2c300-fba3-11ea-92dd-f7ab5625d959.png)

这个俩次推导感觉是无意义的，如果俩个推导有不同的作用那是可以接受的，比如

- 点第

[2020-09-21 02:07] #654 closed, assigned to nobody

[2020-09-21 09:13] #655 closed, assigned to nobody

[2020-09-23 06:28] liuweiGL opened #659 "useEventListener 的 target 类型声明错误"
代码1：
[code]

  类型“Document”缺少类型“HTMLElement”的以下属性: accessKey, accessKeyLabel, autocapitalize, draggable 及其他 82 项。ts(2322)

代码2：

[code]

  不能将类型“Element”分配给类型“HTMLElement | Window | (() => HTMLElement | Window | null) | MutableRefObject<HTMLElement | Window | null | undefined> | null | undefined”。
    类型“Element”缺少类型“HTMLElement”的以下属性: accessKey, accessKeyLabel, autocapitalize, dir 及其他 107 项。ts(23

[2020-09-23 06:32] liuweiGL commented on #659
发现并不是类型错误，而是不支持 dom ？
尽管传的是 dom，但是绑定到 window 上去了。

[2020-09-23 08:36] Tianfer opened #660 "useAntdTable调用submit时能不能停留在本页而不重置current"
问题: 如果我此时在current=5页中，表单中的某一项数据更新时刷新列表调用submit，current重置为1
期望: submit能支持传参，来决定current的值

[2020-09-23 10:18] PeiTianHuang opened #661 "useRequest的loadMore无效"
[code]

[code]

以上代码在使用ahooks 2.6.0 时，滚动到盒子底部无法触发数据加载，但用@umijs/hooks 1.9.3 则可以，看文档好像两者的使用方法一致，求大神指点

[2020-09-23 14:47] brickspert commented on #661
老哥，你可以提供一个在线复现吗？

[2020-09-24 01:21] feibi opened #662 "loadMore模式，无法通过mutate修改之前页的数据"
mutate的参数只能操作本次请求的数据，之前的数据无法修改

[2020-09-24 03:15] PeiTianHuang commented on #661
在官方示例（https://codesandbox.io/s/wbv6s?file=/App.tsx）中用个Modal包裹一下div即可重现
![image](https://user-images.githubusercontent.com/17986764/94096646-2c79a180-fe57-11ea-8bd2-2eff056fe09e.png)

[2020-09-24 03:21] PeiTianHuang commented on #661
用Modal或Drawer组件包裹后都能重现

[2020-09-24 09:30] dxlyf opened #663 "贡献一个分页查询钩子"
### 示例
[code]
### 钩子代码
[code]

[2020-09-27 05:44] zjy01 opened #666 "[建议] useRequest抛错时不改变data的赋值"
### 现状
useRequest 抛错时会将data设置未`undefined`, 导致页面需要添加很多处理逻辑。

### 需求
希望useRequest 抛错时能可控地保留data的原值。
比如，轮询查询一个东西的进度的时候，即使报错，也希望能使用上一次请求的值。
比如，一个普通的查询接口，即使报错了，也希望能使用默认值。

### 建议
添加一个配置，支持异步抛错任保留data值。
[code]

[2020-09-28 08:46] JayceEvil opened #668 "useAntdTable可不可以加入select多选操作"

[2020-09-28 08:47] JayceEvil commented on #668
查看文档，在使用useAntdTable的时候，好像暂时好像没有看到支持select的多选操作。

[2020-09-28 11:18] brickspert commented on #668
支持的啊，antd 的 form 支持啥，它就支持啥。

[2020-09-28 11:18] #668 closed, assigned to nobody

[2020-09-28 19:51] nhonx opened #669 "RFC: useTrackedEffect"
useTrackedEffect is a customized version of useEffect that allow us to tracking which depedencies have caused the effect to triggered.

**API:**
[code]
**Demo:**
[code]

[2020-09-29 01:36] brickspert commented on #669
it's a good idea~~

[2020-09-29 02:05] marsshen77 commented on #468
+1

[2020-09-29 04:26] nhonx commented on #669
I've updated a bit on API description and already working on PR.

[2020-09-29 05:37] yuxino commented on #656
匿名函数那个是[bug](https://github.com/microsoft/TypeScript/issues/40817)。其他的也算不上bug。能优化的话更好，但是不优化其实也不影响使用，普通用户一般感觉也不是特别在意这件事情。

[2020-09-29 08:11] zhengxs2018 commented on #663
看我提的：[#670 ]

[2020-09-29 08:24] zhengxs2018 opened #670 "[建议] useList"
# useList

可以看下我的代码，主要是为了抽离列表的分页逻辑，同时可以基于这个拓展自己的列表方法

## 适用场景

* 分页表格请求管理
* 新闻等列表请求管理
* 移动端无限滚动请求管理

## 参数

[code]

## 状态

[code]

## 计算属性

[code]

## 方法

[code]

源码：https://github.com/zhengxs2018/snowpack-react-app/blob/master/src/hooks/useList/hook.ts

## 封装示例

可以和 `useRequest` 或 `useAxios` 搭配，管理业务请求

[code]

源码： https://github.com/zhengxs2018/snowpack-react-app/blob/master/src/hooks/useUserList

[2020-09-29 08:46] #663 closed, assigned to nobody

[2020-09-29 08:50] zhengxs2018 commented on #670
ahooks 已经有类似的功能，比如 `useAntdTable `，但 `useList` 更纯粹，可以认为

[code]

[2020-09-29 08:53] s97712 commented on #468
+1

[2020-09-29 16:05] WangJM001 opened #671 "useUrlState在同一个方法中多次setState不同值，结果不符合预期"
## 实际使用中有些参数会分开多次setState, 希往能合并处理
![image](https://user-images.githubusercontent.com/20501316/94583741-65c76c80-02b0-11eb-8d47-eb8031fe632c.png)
点击add后
`search = ?count2=3`

## 期望
`search = ?count=2&count2=3`

[2020-09-30 02:32] brickspert commented on #671
这个是符合预期的，和 useState 的 setState 行为一致的。

setState 是异步的，不是同步的。

[2020-09-30 02:32] #671 closed, assigned to nobody

[2020-09-30 03:03] WangJM001 commented on #671
![image](https://user-images.githubusercontent.com/20501316/94638479-aead0e80-030c-11eb-82a9-a10a13673250.png)

这种情况了，不同组件要取url query不同的部分，设置也希望是各设各的
@brickspert

[2020-10-01 06:55] nhonx commented on #669
@brickspert so can I continue to work on this issue?

[2020-10-02 06:50] imyelo commented on #585
但目前的改动已经是 breaking change, 原本需要在 service 里 throw error 的场景无法平滑升级了

[2020-10-09 11:14] brickspert commented on #669
sure, you can work on this issue~

[2020-10-09 11:21] brickspert commented on #670
ahooks 已经有类似的功能了，比如 useRequest 的 pagination 模式、loadmore 模式等。

暂时感觉不需要 useList，否则会出现选择困难症。

[2020-10-09 11:23] #659 closed, assigned to Straw94

[2020-10-09 11:24] #653 closed, assigned to nobody

[2020-10-10 02:23] masontin opened #674 "状态200空响应`Content-length=0`会导致错误"
* ahooks v2.6.1

[code]

调用后台创建资源，后台是`Void`方法...

建议`Conent-length=0`的时候就别用`.json()`反序列化了？

<img width="1280" alt="图片" src="https://user-images.githubusercontent.com/46433259/95643448-d0af4980-0ae1-11eb-8e39-708e86a24289.png">
<img width="1280" alt="图片" src="https://user-images.githubusercontent.com/46433259/95643477-02c0ab80-0ae2-11eb-98ec-e7f60236eeae.png">

[2020-10-10 03:39] zhengxs2018 commented on #670
@brickspert 我个人感觉 useRequest 加这种东西怪怪的，我还是比较推荐仅和请求本身有关的，loadMore 和 pagination 是分页的东西，应该用专门的列表方法管理， hooks 应该保持其纯粹性。

应该多考虑下场景和平台多样化的因素，比如 web，小程序，react-native 甚至其他

## useRequest

**目标**

一个请求管理的 hooks，通过适配器适应其他平台，同时让请求的使用更加友好

**支持平台**

web，小程序（适配器），react-native（适配器）

**功能点**

* 自动请求/手动请求
* SWR(stale-while-revalidate)
* 缓存/预加载
* 屏幕聚焦重新请求
* 轮询
* 防抖
* 节流
* 并行请求
* 依赖请求
* loading delay
* 授权验证
* 其他

##

[2020-10-10 08:19] linkHe12 opened #677 "[feature request] useRequest 缓存支持复用请求"
## 需求描述
使用 useRequest 多次调用同一个接口且设置了 cacheKey 时，如果请求未返回，会同时发送多个请求，希望可以增加选项，当 cacheKey 和 fetchKey 相同，可以复用处于 pending 状态的请求，不要多次发起请求。

## 使用到的场景
例如一个列表中有一个 RowStatus 组件，这个组件需要从接口获取数据，目前使用 useRequest 不缓存 pending 状态的 promise，列表一次会渲染多个组件，就会造成一次发送多个相同的请求。

[2020-10-10 15:45] WangJM001 commented on #468
+1

[2020-10-13 13:46] 3N26 opened #681 "[建议]useHistoryTravel的ts函数类型"
useHistoryTravel/index.d.ts
原本的
[code]

建议改成
[code]

[2020-10-14 03:49] ClenLu opened #682 "object doesn't support property or method 'finally'"
ie11 报错 object doesn't support property or method 'finally'   项目空白   生产环境了  @brickspert

[2020-10-14 06:14] brickspert commented on #682
https://github.com/alibaba/hooks/issues/426

[2020-10-15 02:44] #681 closed, assigned to nobody

[2020-10-15 07:41] Darkhorse-Fraternity opened #685 "require cycle"
![image](https://user-images.githubusercontent.com/5756752/96092062-ef0baf80-0efc-11eb-96b4-b02b788ba19a.png)

"ahooks": "^2.6.1",

[2020-10-15 07:43] Darkhorse-Fraternity commented on #685
![image](https://user-images.githubusercontent.com/5756752/96092176-19f60380-0efd-11eb-8da7-61eda7444f4c.png)

[2020-10-16 02:51] cc7gs opened #687 "[疑惑] @umijs/hooks 与 ahooks API用法为何有差异?"
## 描述
目前 @umijs/hooks官方github地址已经指向 ahooks了，但是他们有些API用法是完全不同的。

## 案例:
[code]
## 问题

之后通过 umi创建的使用该如何切换？ 还是两个库并存一直发展？

[2020-10-16 03:51] brickspert commented on #687
ahooks 相当于 umi hooks v2.0 版本，1.0 版本不会长期维护了，建议升级到 ahooks。

升级文档：https://ahooks.js.org/zh-CN/docs/umi-hooks-to-ahooks

老的文档可以从这里看：
![image](https://user-images.githubusercontent.com/12526493/96210994-ba076780-0fa5-11eb-838c-c13024047954.png)

[2020-10-16 06:16] cc7gs commented on #687
目前 umi@3.x 会自动引入 @umijs/hooks 包；该如何升级 2.x呢？ 需要手动 引入 ahooks？

[2020-10-16 07:01] brickspert commented on #687
umi@3.x 没有内置 @umijs/hooks 呀，是不是搞错了？

[2020-10-16 07:07] #609 closed, assigned to brickspert

[2020-10-16 07:36] lf-wxp commented on #468
+1

[2020-10-16 07:42] wyl1201 commented on #468
+1

[2020-10-16 10:07] cc7gs commented on #687
umi@3.x 没有内置，但不需要 package.json手动引入该依赖包(@umijs/hooks),会自动引入。
目前也没有途径去选择。所以只能通过手动引入 ahooks@2.x依赖包是这样吗？

[2020-10-16 11:05] brickspert commented on #687
嗯嗯，是的呢。

[2020-10-16 13:14] #687 closed, assigned to nobody

[2020-10-21 08:52] brickspert opened #690 "useDebounceFn ts error"
![image](https://user-images.githubusercontent.com/12526493/96696780-bfa5e880-13bd-11eb-90d0-7fabf877d0b9.png)

[2020-10-21 12:41] #690 closed, assigned to Straw94

[2020-10-21 12:41] brickspert commented on #685
we have fixed in newst version~

[2020-10-22 11:33] linbudu599 opened #692 "Incorrect Type Conversion in useDebounceFn & useThrottleFn"
构建过程中的错误：
![](https://juejin-article-img.oss-cn-hangzhou.aliyuncs.com/image_20201022190440.png)
代码：
[code]

最后的 `as T` 是错误且不必要的，`debounced` 已经是也应该是 `DebouncedFunc<T>`（这个类型别名来自于Lodash），从语义化角度来说，`run`函数是经过防抖处理的函数，所以更没啥问题。
这个问题同样存在于`useThrottleFn`中。
@brickspert @awmleer 需要我开个PR还是你们下次顺便修掉~

[2020-10-22 11:59] brickspert commented on #692
不写 `as T` 是会报错的，见昨天的 issue ：https://github.com/alibaba/hooks/issues/690

[2020-10-22 12:03] brickspert opened #693 "useUrlState 在 codesandbox 中打开是会报错的"
https://ahooks.js.org/zh-CN/hooks/state

[2020-10-22 12:46] linbudu599 commented on #693
需要包一下`Router`:
[code]

但是页面和内嵌iframe的URL不会变化，不确定是不是Sandbox这个虚拟环境导致的

[2020-10-22 13:11] ttys026 commented on #693
This should work

[code]

[2020-10-23 02:55] suiyi8760 opened #694 "配合babel-plugin-import使用按需加载时报错：Module not found: Can't resolve 'ahooks/es/useDrag'"
跳到`node_modules/ahooks`目录里找，useDrag是在useDrop里一起export的，可能被babel-plugin-import后转换的路径不正确？

[2020-10-23 02:57] suiyi8760 commented on #694
临时解决方案，手动引入 `import { useDrop, useDrag } from 'ahooks/es/useDrop'`

[2020-10-23 10:04] xylin123 commented on #660
守一个解决。

[2020-10-23 11:50] #693 closed, assigned to ttys026

[2020-10-23 18:30] nhonx commented on #669
Hi @brickspert ..please check and review my PR.
Btw, I'm current participating Hacktoberfest 2020. So if my PR get approved, can you add "hacktoberfest-accepted" label into it so my PR could be counted towards my progress? Thanks a lot.

[2020-10-24 12:03] bruce965 opened #697 "usePersistFn no useCallback (possible optimization)"
Hi, I think it would be possible to optimize [`usePersistFn`](https://github.com/alibaba/hooks/blob/master/packages/hooks/src/usePersistFn/index.ts) to skip some allocations, and to completely omit using `useCallback`.

According to React [documentation](https://reactjs.org/docs/hooks-reference.html#usecallback), `useCallback(fn, deps)` is equivalent to `useMemo(() => fn, deps)`, and they suggest

[2020-10-25 09:45] linbudu599 commented on #692
有点奇怪,我在mac和win上都遇到了这个错误

[2020-10-25 20:04] codenoobforreal commented on #591
@lodisy
我在codesandbox上写了个使用了graphql和axios的简单例子
[useRequest with graphql and axios](https://codesandbox.io/s/userequest-hook-with-graphql-and-axios-ix57w?file=/src/index.js)

[2020-10-26 02:20] brickspert commented on #692
要不你试试 `as unknow as T` ？如果没有报错的话，可以来个 PR。

[2020-10-26 02:22] brickspert commented on #694
这个确实会有问题，因为两个 Hooks 写到一起了。 @ttys026

[2020-10-26 02:32] awmleer commented on #692
@linbudu599 可以发一下你项目中的 `tsconfig.json` 么

[2020-10-26 03:37] linbudu599 commented on #692
不是我项目中的问题，是`hooks`这个仓库我在`lerna run build`的时候报的错，完整的信息：

[code]

[2020-10-26 03:39] linbudu599 commented on #692
这个应该能解决， 但似乎不太好？我觉得 #690 这个问题应该有其他的解决方式，能否提供下复现？

[2020-10-26 07:09] linbudu599 commented on #603
WIP

[2020-10-26 13:21] brickspert commented on #692
#690 的问题是稳定复现的，因为 lodash 没有导出 Cancelable。

另外就是你报的构建问题，我这边是复现不出来的，是不是 ts 版本问题~

[2020-10-27 03:00] awmleer commented on #697
LGTM and PR welcomed!

I have some questions about the implementation detail and left some comments on this commit.

[2020-10-27 03:54] awmleer commented on #692
@linbudu599 你是用 npm 安装的依赖么，我本地是正常的，可能是我们的环境不完全一样。。npm install 一下再试试？因为有 `package-lock.json` 可以尽可能确保我们环境一致

[2020-10-27 04:35] #685 closed, assigned to brickspert

[2020-10-27 05:13] linbudu599 commented on #692
done  npm是正常的  tnpm 和 cnpm 不行...

[2020-10-27 05:13] #692 closed, assigned to awmleer

[2020-10-27 07:14] #682 closed, assigned to nobody

[2020-10-28 07:38] xiexingen opened #699 "useVirtualList 能否提供一个在配合antd table使用的案例"

[2020-10-29 20:24] bruce965 commented on #697
Sorry for the delay, I replied to your comments on https://github.com/bruce965/hooks/commit/93b0cfe0dce593013dbb44779ffc37d276cbe003.